﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Muzykoteka.Code;
@using Umbraco.Web.Models;
@{    
    string text = (string)Model.MacroParameters["text"];
    string image_path = "";
    string image_alt = "";
    int mediaId;
    if (Int32.TryParse((string)Model.MacroParameters["obraz"], out mediaId))
    {
        var m = Umbraco.TypedMedia(mediaId);
        if (m != null)
        {
            bool isGrayscale = Helper.IsGreyscale();
            //image_path = m.Url;
            image_path = m.GetCropUrl(imageCropMode: ImageCropMode.Max) + (isGrayscale ? "&filter=greyscale" : "");
            image_alt = m.GetPropertyValue<string>("alt");
        }
    }
}              
<div class="article-citation">
    <div class="pic">
        <img src="@image_path" alt="@image_alt" />
        <div class="rb"></div>
        <div class="lb"></div>
    </div>
    <div class="txt">
        <img src="/Images/cit.png" alt="" class="cit top" />
        <blockquote>
            <span>@Html.Raw(text)</span>
        </blockquote>
        <img src="/Images/cit.png" alt="" class="cit bot" />
    </div>
</div>

