﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string plik = (string)Model.MacroParameters["plik"];
    int plikId;
    string embedURL = null;
    if (!String.IsNullOrEmpty(plik) && Int32.TryParse(plik, out plikId))
    {
        var plikMedia = Umbraco.TypedMedia(plikId);
        if (plikMedia != null)
        {
            embedURL = String.Format("{0}://{1}{2}", HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host, plikMedia.Url);
            embedURL = "https://docs.google.com/gview?url=" + Server.UrlEncode(embedURL) + "&embedded=true";
        }
    }

    string wysokosc = (string)Model.MacroParameters["wysokosc"];
    string heightPrc = null;
    int wysokoscInt;
    if (!String.IsNullOrEmpty(wysokosc) && Int32.TryParse(wysokosc, out wysokoscInt))
    {
        heightPrc = wysokosc.ToString() + "%";
    }
}
@if (!String.IsNullOrEmpty(embedURL))
{
<div class="macro-document" style="padding-bottom: @heightPrc">
    <div class="inner">
        <iframe src="@embedURL"></iframe>
    </div>    
</div>
}
