﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models;
@{
    string src = "";
    int width = 360;
    int height = 200;
    int mediaId;
    if (Int32.TryParse((string)Model.MacroParameters["src"], out mediaId))
    {
        var m = Umbraco.TypedMedia(mediaId);
        if (m != null)
        {
            src = m.Url;
        }
    }
    Int32.TryParse((string)Model.MacroParameters["width"], out width);
    Int32.TryParse((string)Model.MacroParameters["height"], out height);
    int padding = 100* height/width;
}

<div class="macro-flash" style="max-width: @Html.Raw(width)px;">
    <div class="macro-document" style="padding-bottom: @padding%">
        <div class="inner">
            <object class="flashobj" type="application/x-shockwave-flash" data="@src">
                <param name="movie" value="@src" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="000000" /> 
            </object>
        </div>
    </div>
</div>