﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using ClientDependency.Core.Mvc
@using Muzykoteka.Code
@using Umbraco.Web.Models;
@{
    Html.RequiresCss("~/Css/gallery.css", 1);
    Html.RequiresJs("~/Modules/jQuery/jquery-ui.min.js", 2);
    Html.RequiresJs("~/Scripts/gallery.js", 3);

    string tytul = (string)Model.MacroParameters["tytul"];
    string zdjecia = (string)Model.MacroParameters["zdjecia"];
    List<IPublishedContent> pictures;
    if (String.IsNullOrEmpty(zdjecia))
    {
        pictures = new List<IPublishedContent>();
    }
    else
    {
        pictures = zdjecia.Split(',').Select<string, IPublishedContent>(x => Umbraco.TypedMedia(x)).ToList();
    }

    bool isGrayscale = Helper.IsGreyscale();    
}
@if (pictures.Count > 0)
{
    <div>
        <div class="gallery js-gallery">
            <div class="overlay">
                <div class="fs-content">
                    <div class="ghead">
                        <span class="title">@tytul</span>
                        <a class="show js-fullscreen">zobacz galerię | <span class="js-counter-total"></span></a>
                        <a class="close js-closefs"><img src="~/Images/close-fs.png" alt="zamknij" /></a>
                    </div>
                    <div class="thumbnails-outer js-thumbnailsOuter">
                        <div class="nav">
                            <a class="prev js-prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                            <a class="next js-next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="counter">
                            <span class="current js-counter-current">1</span><span class="total">/</span><span class="total js-counter-total"></span>
                        </div>
                        <div class="thumbnails js-thumbnails">
                            @foreach (var p in pictures)
                            {
                                if (p != pictures[0])
                                {
                                    <div class="sep">&nbsp;</div>
                                }
                                <a class="thumb js-thumb">
                                    <img src="@Html.Raw(p.GetCropUrl(width: 1920) + (isGrayscale ? "&filter=greyscale":""))" alt="" />
                                    @if (p.HasValue("alt"))
                                    {
                                        <span class="rb">@p.GetPropertyValue("alt")</span>
                                    }
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $('.gallery').Gallery();
</script>