﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Muzykoteka.Code
@{
    string embed = (string)Model.MacroParameters["embed"];

    string tytul = (string)Model.MacroParameters["tytul"];
    tytul = (tytul == "null" ? "" : tytul);

    Dictionary<string, string> metadata = null;
    try
    {
        metadata = Helper.ConvertToDict(Model.MacroParameters["metadata"].ToString());
    }
    catch (Exception ex)
    {
        tytul = ex.Message;
    }
    if (!String.IsNullOrEmpty(embed))
    {
        //the new way: embed is movie <codename>|<title>, e.g.: ninateka_cyrki|Ninateka Cyrk W Miescie
        int idx = embed.IndexOf('|');
        if (idx < 0)
        {
            embed = tytul = "";
        }
        else
        {
            string codename = (idx <= 0 ? embed : embed.Substring(0, idx));
            if (string.IsNullOrEmpty(tytul))
            {
                tytul = (idx <= 0 ? "" : embed.Substring(idx + 1));
            }
            string ninateka_embed_url = System.Configuration.ConfigurationManager.AppSettings["ninateka_embed_url"];
            embed = String.Format("<iframe tabindex=-1 src=\"{0}{1}?width=1920&height=1080&auto=false&logo=false\" scrolling=\"no\" frameborder=\"0\"></iframe>",
                ninateka_embed_url, codename);
        }
    }
    if (!String.IsNullOrEmpty(embed))
    {
        <div class="macro-video">
            <div class="player"><div>@Html.Raw(embed)</div></div>
            <div class="text">@Html.Raw(tytul)</div>
            @if (metadata != null && metadata.Count > 0)
            {
                <div class="metadata">
                    <div class="metadata_l">
                        @for (int i = 0; i < (metadata.Count == 1 ? 1 : metadata.Count / 2); i++)
                        {
                            var rec = metadata.ElementAt(i);
                            var k = rec.Key;
                            var v = rec.Value;
                            v = v.Replace(",", ", ").Replace(",  ", ", ");                            
                            <div class="rec">
                                <span class="k">@k :</span>
                                <span class="v">@v</span>
                            </div>
                        }
                    </div>                    
                    <div class="metadata_r">
                        @for (int i = (metadata.Count == 1 ? 1 : metadata.Count / 2); i < metadata.Count; i++)
                        {
                            var rec = metadata.ElementAt(i);
                            var k = rec.Key;
                            var v = rec.Value;
                            v = v.Replace(",", ", ").Replace(",  ", ", ");
                            <div class="rec">
                                <span class="k">@k :</span>
                                <span class="v">@v</span>
                            </div>
                        }
                    </div>                    
                </div>
            }
        </div>
    }
}
