﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Muzykoteka.Code;
@using Umbraco.Web.Models;
@{
    string src = "";
    int mediaId;
    if (Int32.TryParse((string)Model.MacroParameters["media"], out mediaId))
    {
        var m = Umbraco.TypedMedia(mediaId);
        if (m != null)
        {
            bool isGrayscale = Helper.IsGreyscale();
            //src = m.Url;
            src = m.GetCropUrl(imageCropMode: ImageCropMode.Max) + (isGrayscale ? "&filter=greyscale" : "");
        }
    }
    <div class="macro-picture">
        <img src="@src" alt="@Html.Raw((string)Model.MacroParameters["alt"])" class="article_image" />
        <div class="rb">@Html.Raw((string)Model.MacroParameters["podpis"])</div>
    </div>
}
