﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Muzykoteka.Code;
@using Umbraco.Web.Models;
@{            
    string text = (string)Model.MacroParameters["text"];
    string[] lines = text.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.RemoveEmptyEntries);
    text = "<ul><li>" + String.Join("</li><li>", lines) + "</li></ul>";
}
<div class="podstawowe-pojecia">
    <div class="pp-inner">
        @Html.Raw(text)
    </div>    
</div>

