﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string text = (string)Model.MacroParameters["DescProject"];
}
<div class="film-ludzie Projekt">
    <div class="back-obsada">
            <span>@Html.Raw(text)</span>
    </div>
</div>

