﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Merchello.Web.Models.ContentEditing
@using Muzykoteka.Code
@using Muzykoteka.Code.Models
@using ClientDependency.Core.Mvc
@{    

    Html.RequiresCss("~/Css/popup.css");
    Html.RequiresCss("~/Css/checkout.css");
    Html.RequiresJs("~/Scripts/buyLink.js", 3);
    string vodpaymentolid = Guid.NewGuid().ToString();
    string s_content = (string)Model.MacroParameters["sekcja"];
    int contentId;
    IPublishedContent content = null;
    bool bLogIn = false;
    bool bAccessDenied = false;
    EProductOrderStatus orderStatus = EProductOrderStatus.Unknown;
    string tytul = null,lead = null,opis = null;
    ProductDisplay product = null;
    if (Int32.TryParse(s_content, out contentId))
    {
        content = Umbraco.TypedContent(contentId);
        if (content != null)
        {
            product = content.GetPropertyValue<ProductDisplay>("produkt");
            if (product != null)
            {
                tytul = product.Name;

                var productContent = product.AsProductContent();
                lead = productContent.GetPropertyValue<string>("lead");
                opis = productContent.GetPropertyValue<string>("opis");
            }

            bLogIn = !Umbraco.MemberIsLoggedOn();
            if (!bLogIn)
            {
                bAccessDenied = !Umbraco.MemberHasAccess(content.Path);
                if (!bAccessDenied)
                {
                    orderStatus = StoreSurfaceController.IsProductBought(UmbracoContext, product.Sku);
                }
            }
        }
    }

    var paymentMethods = CheckoutController.GetVODPaymentMethods();
}              
<script>
    //TODO: do pliku js

    var last_payment_method = '';

    function SelectPayment(key) {
        if (last_payment_method.length > 0) {
            $('#pmetod_' + last_payment_method).removeClass('selected');
        }
        $('#pmetod_' + key).toggleClass('selected', true);
        last_payment_method = key;

        $('#paymentKey').val(last_payment_method);

        /*
        var isValid = (last_payment_method.length > 0);
        $('.basket_shipment .head').toggleClass('error', !isValid);
        $('#payment_err').toggleClass('visible_err', !isValid);
        $('.basket_shipment').attr('aria-invalid', !isValid);

        ValidatePMethod();  
        */
    }

    function CheckoutVOD(productKey, paymentKey) {
        $.ajax({
            url: '/VowosAdmin/MerchelloWfdifStore/Checkout/CheckoutVOD/?productKey=' + productKey + '&paymentKey=' + paymentKey,
            cache: false,
            success: function () {
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(status + ' ' + thrownError);
            },
            cache: false
        });
    }

    $(document).ready(function () {
        $('.js-buyvod').on("click", function (e) {

            var ovid = $(this).data('overlayid');
            var overlay = $('#' + ovid);

            overlay.toggleClass('visible', true)
           
            var body = $('body');
            body.addClass('popup-active');
            body.addClass('show-fade');
            body.append(overlay);
        });

        $('.js-buyvod-close').on('click', function () {
            var ovid = $(this).data('overlayid');
            var overlay = $('#' + ovid);
            overlay.toggleClass('visible', false)
            var body = $('body');
            body.removeClass('popup-active');
            body.removeClass('show-fade');            
        });
    });


    function CheckKodRabatowy() {
        $('.kodr-res1').toggleClass('hide', true);
        $('.kodr-res0').toggleClass('hide', true);
        $('.kodr').toggleClass('hide', true);
        $('.kodr-loading').toggleClass('hide', false);
        var rcode = $('#txt_kodr').val();
        $.ajax({
            url: '/VowosAdmin/MerchelloWfdifStore/Checkout/CheckVODDiscount/?p=@product.Key&c=' + rcode,
            cache: false,
            dataType: 'text',
            success: function (data) {
                var isAccepted = (data.length > 0);                
                $('.kodr-loading').toggleClass('hide', true);
                $('.kodr').toggleClass('hide', false);
                $('.kodr-res1').toggleClass('hide', !isAccepted);
                $('.kodr-res0').toggleClass('hide', isAccepted);
                if (isAccepted) {
                    $('#stotal').text(data + ' (brutto)');
                    $('#kodRabatowy').val(rcode);
                }
                else {
                    $('#kodRabatowy').val('');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(status + ' ' + thrownError);
            },
            cache: false
        });
    }

    function SubmitVODPayment() {
        var isValid = (last_payment_method.length > 0);
        $('.sekcja-shipment .head').toggleClass('error', !isValid);
        if (!isValid)
            return false;
        
        isValid = $('#cbxAcc').prop('checked');
        var label = $("label[for='cbxAcc']");
        label.toggleClass('error', !isValid);
        if (!isValid)
            return false;

        return true;
    }
</script>

@if (content != null)
{
<div class="article-section">
    @if (bLogIn)
    {
        <div class="section-login">                        
            <div class="lock-lead">@Html.Raw(lead)</div>                
            <a class="lock-link js-loginFrame" href="#" onclick="return false;">                
                <div class="lock-link-inner">
                    <i class="fa fa-shopping-cart faicon"></i>
                    <span class="lock-info">Musisz być zalogowany, żeby kupić dostęp do tej części. <br />Kliknij, żeby się zalogować.</span>
                </div>
            </a>
        </div>
    }
    else if (bAccessDenied)
    {
        <div class="section-login">         
            <div class="lock-lead">@Html.Raw(lead)</div>
            <div class="lock-link">
                <div class="lock-link-inner">
                    <i class="fa fa-ban faicon"></i>
                    <span class="lock-info">Niestety, nie masz dostępu do tej części.</span>
                </div>
            </div>
        </div>
    }
    else if (orderStatus == EProductOrderStatus.InProcess)
    {
        <div class="section-login">
            <div class="lock-lead">@Html.Raw(lead)</div>
            <div class="lock-link">
                <div class="lock-link-inner">
                    <i class="fa fa-clock-o faicon"></i>
                    <span class="lock-info">Twoje zamówienie jest przetwarzane.</span>
                </div>
            </div>
        </div>
    }
    else if (orderStatus != EProductOrderStatus.Bought)
    {
        <div class="vod-payment-overlay def_popup checkout" id="@vodpaymentolid">
            <a class="close-button js-buyvod-close" href="#" data-overlayid="@vodpaymentolid" onclick="return false;">&#215;</a>       
            @using (Html.BeginUmbracoForm<CheckoutController>("CheckoutVOD", new { area = "MerchelloWfdifStore" }, new { @id = "vod_shipment", role = "form" }))
            {

                <input id="productKey" name="productKey" type="hidden" value="@product.Key">
                <input id="paymentKey" name="paymentKey" type="hidden" value="">                
                <input id="kodRabatowy" name="kodRabatowy" type="hidden">

                <div class="sekcja-shipment">                
                    <div class="head">Metody płatności</div>
                    <div class="methods">
                        @{                                                                       
                            foreach (var s in paymentMethods)
                            {                                                                                                                                    
                                <div class="method">
                                    <a href="#" id="pmetod_@s.Id" onclick="SelectPayment('@s.Id'); return false;">@s.Name</a>
                                </div>
                            }                           
                        }
                    </div>
                    <div class="basket_summary">
                        <div class="kodr-hdr"><label for="txt_kodr">Kod rabatowy</label></div>
                        <div class="kodr-loading hide"><img src="~/Images/loading.gif" /></div>
                        <div class="kodr-res1 hide">Kod rabatowy został zaakceptowany</div>
                        <div class="kodr-res0 hide">Kod jest nieprawidłowy</div>
                        <div class="kodr">
                            <div class="input"><input id="txt_kodr" type="text" /></div>
                            <div class="submit"><a href="#" onclick="CheckKodRabatowy(); return false;" class="link_arrow_right">Zastosuj kod rabatowy</a></div>
                        </div>
                        <div id="basket_total">
                            <div class="stotal" id="stotal">
                                @product.SalePrice.ToAmountString() (brutto)
                            </div>
                        </div>
                        <div class="accept">
                            <div class="aria_error hidden" id="acc_error" role="alert">
                                <span class="req">Pole wymagane</span>
                            </div>
                            <label for="cbxAcc" class="form-label">Akceptuję <a href="@Helper.GetStoreLink(Model.Content, StoreLinkType.Rules)" target="_blank">regulamin sklepu</a></label>
                            <input id="cbxAcc" type="checkbox" name="accept" class="form-checkbox" aria-invalid="false" aria-required="true" aria-describedby="acc_error" />
                        </div>
                        <div class="buy">                                                        
                            <button class="buy_button" onclick="return SubmitVODPayment();">Do kasy</button>
                        </div>                      
                    </div>                   
                </div>            
            }
        </div>
                        
        <div class="section-login">           
            <div class="lock-lead">@Html.Raw(lead)</div>
            <a class="lock-link js-buyvod" data-overlayid="@vodpaymentolid" data-productKey="@product.Key" href="#" onclick="return false;">
                <div class="lock-link-inner">
                    <i class="fa fa-shopping-cart faicon"></i>
                    <span class="lock-info">Kliknij, żeby kupić dostęp do tej części.<br/><span class="smaler">Odśwież stronę za chwilę, jeśli Twoja płatność jest przetwarzana.</span></span>
                </div>
            </a>
        </div>   
    }
    else
    {
        @Html.Raw(opis)
    }
</div>
}
