﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string s_content = (string)Model.MacroParameters["sekcja"];
    int contentId;
    IPublishedContent content = null;
    bool bLogIn = false;
    bool bAccessDenied = false;
    var login = Model.Content.AncestorOrSelf(1).Children(x => x.DocumentTypeAlias == "Account").FirstOrDefault().Children(x => x.DocumentTypeAlias == "Login").FirstOrDefault();


    if (Int32.TryParse(s_content, out contentId))
    {
        content = Umbraco.TypedContent(contentId);
        var Uri = new Uri(Request.Url.AbsoluteUri);
        var code = HttpUtility.ParseQueryString(Uri.Query).Get("code");
        bool isDrmOff = Muzykoteka.Code.Helper.IsDRMOff(code, Model.Content);
        if (content != null && !isDrmOff)
        {
            bAccessDenied = !Umbraco.MemberHasAccess(content.Path);

            if (bAccessDenied)
            {
                bLogIn = (Membership.GetUser() == null);
            }
            else
            {
                bLogIn = false;
            }
        }
    }
}
@if (content != null)
{
    <div class="article-section">
        @if (bLogIn)
        {
            <div class="section-login">
                <div class="lock-title">@content.GetPropertyValue("tytul")</div>
                <div class="lock-lead">@content.GetPropertyValue("lead")</div>
                <a class="lock-link" href="@login.Url?returnurl=@Model.Content.UrlAbsolute()">
                    <div class="lock-link-inner">
                        <i class="fa fa-lock faicon"></i>
                        <span class="lock-info">Ta część jest dostępna tylko dla zalogowanych użytkowników. <br />Kliknij, żeby się zalogować.</span>
                    </div>
                </a>
            </div>
        }
        else if (bAccessDenied) //nic nie pokazac...
        {
            <div class="section-login">
                <div class="lock-title">@content.GetPropertyValue("tytul")</div>
                <div class="lock-lead">@content.GetPropertyValue("lead")</div>
                <div class="lock-link">
                    <div class="lock-link-inner">
                        <i class="fa fa-ban faicon"></i>
                        <span class="lock-info">Niestety, nie masz dostępu do tej części.</span>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="section-title">@content.GetPropertyValue("tytul")</div>
            <div class="section-desc">@content.GetPropertyValue("opis")</div>
        }
    </div>
}
