﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models;
@{    
    string streamDASH = null;
    string streamHLS = null;
    string js_keySystemsDASH = null;

    int idStreamVOD;
    if (Int32.TryParse((string)Model.MacroParameters["streamVOD"], out idStreamVOD))
    {
        var streamVOD = UmbracoContext.Current.ContentCache.GetById(idStreamVOD);
        if (streamVOD != null)
        {
            streamDASH = streamVOD.GetPropertyValue<string>("streamURL_DASH");
            streamHLS = streamVOD.GetPropertyValue<string>("streamURL_HLS");

            var pg_zasoby = UmbracoContext.Current.ContentCache.GetAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "Zasoby");

            string drm_wv_cert = pg_zasoby.GetPropertyValue<string>("widevide_cert_url");
            string drm_wv_lic = pg_zasoby.GetPropertyValue<string>("widevide_license_url");

            string drm_fp_cert = pg_zasoby.GetPropertyValue<string>("fairplay_cert_url");
            string drm_fp_lic = pg_zasoby.GetPropertyValue<string>("fairplay_license_url");

            string drm_pr_cert = pg_zasoby.GetPropertyValue<string>("playready_cert_url");
            string drm_pr_lic = pg_zasoby.GetPropertyValue<string>("playready_license_url");

            string drmjs_fp = null;
            if (!String.IsNullOrEmpty(drm_fp_cert) && !String.IsNullOrEmpty(drm_fp_lic))
            {
                drmjs_fp = String.Format("'{0}': '{1}{2}',", drm_fp_cert, drm_fp_lic, streamVOD.Id);
            }

            string drmjs_wv = null;
            if (!String.IsNullOrEmpty(drm_wv_cert) && !String.IsNullOrEmpty(drm_wv_lic))
            {
                drmjs_wv = String.Format("'{0}': '{1}{2}',", drm_wv_cert, drm_wv_lic, streamVOD.Id);
            }

            string drmjs_pr = null;
            if (!String.IsNullOrEmpty(drm_pr_cert) && !String.IsNullOrEmpty(drm_pr_lic))
            {
                drmjs_pr = String.Format("'{0}': '{1}{2}',", drm_pr_cert, drm_pr_lic, streamVOD.Id);
            }
            
            if (drmjs_wv != null || drmjs_pr != null)
            {
                js_keySystemsDASH = String.Format("keySystems: {{ {0} {1} }}",
                    drmjs_wv,
                    drmjs_pr);
            }

            string js_keySystemsHLS = null;
            if (drmjs_fp != null)
            {
                js_keySystemsHLS = String.Format("keySystems: {{ {0} }}", drmjs_fp);
            }            
        }
    }
}
<script></script>
<div class="macro-video">
    <div class="player"><div>         
        <video id=stream-video class="video-js vjs-default-skin ha-content" preload="auto"></video>
        <script src="~/Modules/videojs/video.js"></script>                
        <script src="~/Modules/videojs/videojs-contrib-eme.js"></script>
        <script>            
            var options = {
                html5: {
                    hls: {
                        overrideNative: true
                    },                   
                }
            };

            var player = videojs('stream-video', options);    
            player.eme();
            player.src([
                    { src: '@streamDASH', type: 'application/dash+xml', @Html.Raw(js_keySystemsDASH)}                
            ]);                
        </script>        
        <a href="#" id="playOverlay" class="play-btn" onclick="player.play().then(function () { player.controls(true); }); $('#playOverlay').hide(); return false;">
                <img src="~/Images/play.png" /></a>
    </div></div>
</div>

