﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models;
@using Muzykoteka.Code;
@{
    string streamDASH = null;
    string streamHLS = null;
    string js_keySystemsDASH = null;
    string js_keySystemsHLS = null;
    string poster = null;
    string playerID = null;
    IPublishedContent streamVOD = null;
    bool bAllowedCountry = Muzykoteka.Code.Helper.IsIPAllowedByCountry();
    bool bSkipAutoplay = false;
    var sub = "";
    if (bAllowedCountry)
    {

        playerID = "redplayer" + Guid.NewGuid().ToString();

        bSkipAutoplay = (Model.MacroParameters.Keys.Contains("skipAutoplay") ? (string)Model.MacroParameters["skipAutoplay"] == "1" : false);

        int idStreamVOD;
        if (Int32.TryParse((string)Model.MacroParameters["streamVOD"], out idStreamVOD))
        {
            streamVOD = UmbracoContext.Current.ContentCache.GetById(idStreamVOD);
            if (streamVOD != null)
            {

                int posterId = streamVOD.GetPropertyValue<int>("poster");
                if (posterId > 0)
                {
                    var posterMedia = Umbraco.TypedMedia(posterId);
                    if (posterMedia != null)
                    {
                        poster = String.Format(" poster: '{0}'", posterMedia.Url());
                    }
                }

                var pg_zasoby = UmbracoContext.Current.ContentCache.GetAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "Zasoby");

                var drm_wv_cert = pg_zasoby.GetPropertyValue<string>("widevide_cert_url");
                var drm_wv_lic = pg_zasoby.GetPropertyValue<string>("widevide_license_url");

                var drm_fp_cert = pg_zasoby.GetPropertyValue<string>("fairplay_localcert_url");
                if (!String.IsNullOrEmpty(drm_fp_cert) && (drm_fp_cert.Length < 8 || String.Compare(drm_fp_cert.Substring(0, 7),
                    "https://", true) != 0))
                {
                    drm_fp_cert = "https://" + HttpContext.Current.Request.Url.Host + drm_fp_cert;
                }
                var drm_fp_lic = pg_zasoby.GetPropertyValue<string>("fairplay_license_url");

                var drm_pr_cert = pg_zasoby.GetPropertyValue<string>("playready_cert_url");
                var drm_pr_lic = pg_zasoby.GetPropertyValue<string>("playready_license_url");
                var subttitles = streamVOD.GetPropertyValue<string>("subttitles");
                if (!string.IsNullOrEmpty(subttitles))
                {
                    var ids = subttitles.Split(',').Select(x => int.Parse(x));
                    sub = Helper.GetSub(Umbraco.Media(ids));
                }

                streamDASH = streamVOD.GetPropertyValue<string>("streamURL_DASH");
                if (!String.IsNullOrEmpty(streamDASH))
                {
                    streamDASH = String.Format("dash: '{0}',", streamDASH);
                }

                string drmjs_wv = null;
                if (!String.IsNullOrEmpty(drm_wv_cert) && !String.IsNullOrEmpty(drm_wv_lic))
                {
                    drmjs_wv = String.Format("widevine: '{0}{1}',", drm_wv_lic, streamVOD.Id);
                }

                string drmjs_pr = null;
                if (!String.IsNullOrEmpty(drm_pr_cert) && !String.IsNullOrEmpty(drm_pr_lic))
                {
                    drmjs_pr = String.Format("playready: '{0}{1}',", drm_pr_lic, streamVOD.Id);
                }

                if (drmjs_wv != null || drmjs_pr != null)
                {
                    js_keySystemsDASH = drmjs_wv + drmjs_pr;
                }
                streamHLS = streamVOD.GetPropertyValue<string>("streamURL_HLS");
                if (!String.IsNullOrEmpty(streamHLS))
                {
                    streamHLS = String.Format("hls: '{0}',", streamHLS);
                }

                if (!String.IsNullOrEmpty(drm_fp_cert) && !String.IsNullOrEmpty(drm_fp_lic))
                {
                    js_keySystemsHLS = String.Format("fairplay: {{ src : '{0}{1}', cert: '{2}'}},", drm_fp_lic, streamVOD.Id, drm_fp_cert);
                }
            }
        }
    }
}

@helper RenderPlayer(string streamDASH, string streamHLS, string js_keySystemsDASH, string js_keySystemsHLS, string poster, string playerID, bool bSkipAutoplay, string subttiltes)
{
    <script type="text/javascript">
        if (!HaveBrowserSupport()) {
            $('.no-support').addClass('show');
        }
        else {
            var player = new redGalaxy.Player("@playerID").setup({
            autoplay: false,
                file: {
                    @Html.Raw(streamDASH)
                    @Html.Raw(streamHLS)
                    //mp4: "/images/GOPR0004.mp4"
                },
                drm: {
                    @Html.Raw(js_keySystemsDASH)
                    @Html.Raw(js_keySystemsHLS)

                },
                subtitles: [@Html.Raw(subttiltes)],
                @Html.Raw(poster)
            });
            player.on("waiting", function (duration) {
                $(".macro-video").css("border", 0);
                $(".MovieLogo").css("display", "block");
                $(".show_play").removeClass("show_play");
                $("#MovieLogo").prependTo(".rgpl-container");
            });
            player.on("ended", function () {
                $(".player").addClass("show_play");
            });

            }
    </script>
}

@helper Render360Player(string streamDASH, string streamHLS, string js_keySystemsDASH, string js_keySystemsHLS, string poster, string playerID)
{
    <script type="text/javascript">
        let player;

        var isWebGLSupported = redcdnplayer.isWebGLSupported();
        if (isWebGLSupported && HaveBrowserSupport()) {
            var config = {
                autoplay: false,
                panorama360: {
                    initFov: 70, //Field of View
                },
                file: {
                @Html.Raw(streamDASH)
                    @Html.Raw(streamHLS)
                },
                drm: {
                @Html.Raw(js_keySystemsDASH)
                    @Html.Raw(js_keySystemsHLS)

                },
            };

            player = redcdnplayer("@playerID").setup(config);

            player.on("waiting", function (duration) {
                $(".macro-video").css("border", 0);
                $(".show_play").removeClass("show_play");
            });
        }
        else {
            $('.no-support').addClass('show');
        }
    </script>
}
<script src="//r.dcs.redcdn.pl/file/o2/web/player/redcdn/2.16.2/js/redgalaxy-player-2.16.2.min.js" type="text/javascript"></script>
@*<script src="~/Modules/redcdnplayer/module.panorama.min.js" type="text/javascript"></script>*@

<script>
    function HaveBrowserSupport() {
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf('MSIE ');
        if (msie > 0) {
            // IE 10 or older
            return false;
        }
        var trident = ua.indexOf('Trident/');
        if (trident > 0) {
            // IE 11
            if (/Windows NT 6.1|Windows NT 6.0/.test(ua)) //Win 7, Win Vista
            {
                return false;
            }
            else {
                return true;
            }
        }
        if (/Firefox/.test(ua) && /Android/.test(ua))
            return false;
        return true;
    }
</script>
<div class="macro-video">
    <div class="player show_play">

        @if (!bAllowedCountry)
        {
            <div class="no-support show">
                <div class="info">
                    <span class="title-txt">The content is not available in your country.</span>
                </div>
            </div>
        }
        else
        {
            <div class="redplayer">
                <div id="MovieLogo" class="MovieLogo">
                    <img src="~/Images/play-logo.png" />
                </div>
                <div id="@playerID" class="video-js vjs-default-skin vjs-big-play-centered ha-content vjs-16-9"></div>
            </div>

            <div class="no-support">
                <div class="info">
                    <span class="title-txt">Twoja przeglądarka już wkrótce będzie wspierana.</span>
                    <span class="info-txt">Teraz skorzystaj z Chrome, Firefox lub Edge.</span>
                </div>
            </div>

            if (streamVOD.DocumentTypeAlias == "StreamVOD360")
            {

                @Render360Player(streamDASH, streamHLS, js_keySystemsDASH, js_keySystemsHLS, poster, playerID)
            }
            else
            {
                @RenderPlayer(streamDASH, streamHLS, js_keySystemsDASH, js_keySystemsHLS, poster, playerID, bSkipAutoplay, sub)
            }
        }

    </div>
</div>