﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models;
@{    
    string src = "";
    int mediaId;
    if (Int32.TryParse((string)Model.MacroParameters["src"], out mediaId))
    {
        var m = Umbraco.TypedMedia(mediaId);
        if (m != null)
        {
            src = m.Url;
        }
    }

    string posterSrc = null;
    int posterMediaId = 0;
    if (Int32.TryParse((string)Model.MacroParameters["poster"], out posterMediaId) && posterMediaId > 0)
    {
        var m = Umbraco.TypedMedia(posterMediaId);
        if (m != null)
        {
            posterSrc = m.Url;
        }
    }

    if (posterSrc == null)
    {
        var pg_homepage = Model.Content.AncestorOrSelf(1);
        posterSrc = pg_homepage.GetCropUrl(propertyAlias: "zdjecieDomyslne", imageCropMode: ImageCropMode.Max);        
    }

}
<div class="macro-video">
    <div class="player"><div>         
        <video poster="@posterSrc" controls >
            <source src="@src">
        </video></div>
    </div>
</div>
