﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string embed = (string)Model.MacroParameters["embed"];    
}
<div class="macro-video">
    <div class="player"><div><iframe src="@Html.Raw(embed)"></iframe></div></div>
</div>
