﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
<script type="text/html" id="filminfo-popup-template">
    @Html.Partial("FilmInfoPopup")
    <a class="close-button" href="#" onclick="return false;">&#215;</a>       
</script>