@inherits Merchello.Web.Mvc.MerchelloViewPage<BothAddressModel>
@using Merchello.Core
@using Muzykoteka.Code.Models
@using Muzykoteka.Code

<script type="text/javascript">
    function ApplyCountry(value, name) {
        $('#hdnCountryCode').val(value);
    }
</script>
<div class="left">
    <div class="section_label">Adres do wysyłki</div>
    <div>@Html.LabelFor(x => x.shipment.Name, "Nazwa odbiorcy")</div>
    <div>
        <div class="aria_error hidden" id="name_error" role="alert">
            <span class="req">Pole wymagane</span>
        </div>
        @Html.TextBoxFor(x => x.shipment.Name, new { /* @maxlength = "200", */ aria_required = true, aria_invalid = false, aria_describedby = "name_error" })
    </div>
    @if (Model.IsDelivery)
    {
        <div class="adrlabel">@Html.LabelFor(x => x.shipment.Address1, "Adres")</div>
        <div>
            <div class="aria_error hidden" id="address1_error" role="alert">
                <span class="req">Pole wymagane</span>
            </div>
            @Html.TextBoxFor(x => x.shipment.Address1, new { /* @maxlength = "100", */ aria_required = true, aria_invalid = false, aria_describedby = "address1_error" })
        </div>

        @Html.HiddenFor(x => x.shipment.CountryCode, new { @Id = "hdnCountryCode" })
  
        <div class="adrlabel">Kod pocztowy/Miasto</div>
        <div>
            <div class="aria_error hidden" id="postalcode_error" role="alert">
                <span class="req">Pole wymagane</span>
            </div>
            @Html.TextBoxFor(x => x.shipment.PostalCode, new { @class = "postalcode", /* @maxlength = "6", */aria_required = true, aria_invalid = false, aria_describedby = "postalcode_error" })
            <div class="aria_error hidden" id="city_error" role="alert">
                <span class="req">Pole wymagane</span>
            </div>
            @Html.TextBoxFor(x => x.shipment.Locality, new { @class = "city", /* @maxlength = "50", */aria_required = true, aria_invalid = false, aria_describedby = "city_error" }) <br />
        </div>

        <div class="adrlabel">@Html.LabelFor(x => x.shipment.Phone, "Nr telefonu")</div>
        <div>
            <div class="aria_error hidden" id="phone_error" role="alert">
                <span class="req">Pole wymagane</span>
            </div>
            @Html.TextBoxFor(x => x.shipment.Phone, new { /* @maxlength = "50", */ aria_required = true, aria_invalid = false, aria_describedby = "phone_error" })
        </div>
        
    }
    <div class="adrlabel">@Html.LabelFor(x => x.shipment.Phone, "E-mail")</div>
    <div>
        <div class="aria_error hidden" id="email_error" role="alert">
            <span class="req">Pole wymagane</span>
            <span class="err">Nieprawidłowy adres e-mail</span>
        </div>
        @Html.TextBoxFor(x => x.shipment.Email, new { @class = "vemail", /* @maxlength = "100", */aria_required = true, aria_invalid = false, aria_describedby = "email_error" })
    </div>
</div>
<div class="right">  
    <div class="section_label">
        <input id="cbxFaktura" type="checkbox" name="ReqVatInvoice" class="form-checkbox" />
        <label for="cbxFaktura" class="form-label">Wystaw fakturę </label>
    </div>
    <div id="billing_address" class="hide">
        <div class="section_label">Adres do faktury</div>

        <div>@Html.LabelFor(x => x.billing.Name, "Nazwa")</div>
        <div>
            <div class="aria_error hidden" id="fname_error" role="alert">
                <span class="req">Pole wymagane</span>
            </div>
            @Html.TextBoxFor(x => x.billing.Name, new { /* @maxlength = "200", */aria_required = true, aria_invalid = false, aria_describedby = "fname_error", @readonly=true })
        </div>

        <div class="adrlabel">@Html.LabelFor(x => x.billing.Address1, "Adres")</div>
        <div>
            <div class="aria_error hidden" id="faddress1_error" role="alert">
                <span class="req">Pole wymagane</span>
            </div>
            @Html.TextBoxFor(x => x.billing.Address1, new { /* @maxlength = "100", */ aria_required = true, aria_invalid = false, aria_describedby = "faddress1_error", @readonly = true })
        </div>

        <div class="adrlabel">Kod pocztowy/miasto</div>
        <div>
            <div class="aria_error hidden" id="fpostalcode_error" role="alert">
                <span class="req">Pole wymagane</span>
            </div>
            @Html.TextBoxFor(x => x.billing.PostalCode, new { @class = "postalcode", /* @maxlength = "6", */aria_required = true, aria_invalid = false, aria_describedby = "fpostalcode_error", @readonly = true })
            <div class="aria_error hidden" id="fcity_error" role="alert">
                <span class="req">Pole wymagane</span>
            </div>
            @Html.TextBoxFor(x => x.billing.Locality, new { @class = "city", /* @maxlength = "50", */ aria_required = true, aria_invalid = false, aria_describedby = "fcity_error", @readonly = true }) <br />
        </div>

        <div class="adrlabel">@Html.LabelFor(x => x.billing.Address2, "NIP")</div>
        <div>
            <div class="aria_error hidden" id="fnip_error" role="alert">
                <span class="req">Pole wymagane</span>
                <span class="err">Nieprawidlowy numer NIP</span>
            </div>
            @Html.TextBoxFor(x => x.billing.Address2, new { /* @maxlength = "50", */ @class = "nip", aria_required = true, aria_invalid = false, aria_describedby = "fnip_error", @readonly = true })
        </div>
    </div>
</div>
<script type="text/javascript">    
    
    $(function () {
        /*
        $(".postalcode").mask("00-000", { placeholder: "__-___" });

        $(".nip").mask("0000000000", { placeholder: "__________" });
        */
        $('#cbxFaktura').change(function () {
            var isChecked = $(this).is(":checked");
            $('#billing_address').toggleClass('hide', !isChecked);
            $('#billing_address input').attr('readonly', !isChecked);
        });
    });
    
</script>