@inherits Merchello.Web.Mvc.MerchelloViewPage<BasketViewModel>
@using Muzykoteka.Code.Models
@using Muzykoteka.Code

<div class="total">Razem: @Html.Raw((Model.TotalPrice + Model.TotalDiscount).ToAmountString()) (brutto)</div>
<div class="total">Wysyłka: @Model.TotalShipment.ToAmountString() (brutto)</div>
@if (Model.TotalDiscount != 0)
{
    <div class="total">Rabat: @Model.TotalDiscount.ToAmountString() brutto</div>
}
<div class="stotal">@Html.Raw((Model.TotalPrice + Model.TotalShipment + 2 * Model.TotalDiscount).ToAmountString()) brutto</div>