﻿@inherits UmbracoTemplatePage
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ul class="breadcrumbs-block">
    @{
        var selection = ((IPublishedContent)CurrentPage).Ancestors();
        if (selection != null)
        {
            var i = 0;
            string name = "";
            foreach (IPublishedContent item in selection.OrderBy("Level"))
            {
                if (item.Level != 1)
                {
                    if (item.TemplateId == 0)
                    {
                        continue;
                    }
                    if (i == 0)
                    {
                        name = "Strona Główna";
                    }
                    else
                    {
                        name = item.Name.ToString();
                        if (item.DocumentTypeAlias == "Users")
                        {
                            name = "Lekcje";
                        }
                        else if (item.DocumentTypeAlias == "Uzytkownicy")
                        {
                            continue;
                        }
                    }
                    if (name.Length > 40)
                    {
                        name = name.Remove(40, name.Length - 40) + "...";
                    }
                    <li class="breadcrumb" title="@name">
                        <a href="@item.Url">
                            <span class="Nav">@name</span>
                        </a>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </li>
                    if (item.Level == 2 && item.DocumentTypeAlias == "Nauka")
                    {
                        int currentReceiver = Muzykoteka.Code.Helper.GetCurrentReceiver();
                        var naukaContent = ((IPublishedContent)CurrentPage).AncestorOrSelf(1).Children.FirstOrDefault(x => x.DocumentTypeAlias == "Nauka");
                        IPublishedContent contentTeacher = naukaContent.Children.Where(x => x.GetPropertyValue<bool>("dlaNauczyciela")).FirstOrDefault();
                        IPublishedContent contentPupil = naukaContent.Children.Where(x => x.GetPropertyValue<bool>("dlaUcznia")).FirstOrDefault();
                        IPublishedContent contentStudent = naukaContent.Children.Where(x => x.GetPropertyValue<bool>("dlaStudenta")).FirstOrDefault();
                        var link_teacher = (contentTeacher == null ? null : contentTeacher.Url);
                        var link_pupil = (contentPupil == null ? null : contentPupil.Url);
                        var link_student = (contentStudent == null ? null : contentStudent.Url);
                        switch (currentReceiver)
                        {
                            case 1:
                                <li class="breadcrumb teacher">
                                    <a href="@link_teacher">
                                        <span role="button" tabindex="0" class="tp_button" title="Dla nauczycieli"></span>
                                        NAUCZYCIEL
                                        <span class="wcag_hide">
                                            Dla nauczycieli -
                                            <span class="wcag-selected">wybrane</span>
                                            <span class="wcag-pick">wybierz</span>
                                        </span>
                                    </a>
                                    <ion-icon name="chevron-forward-outline"></ion-icon>
                                </li>
                                break;
                            case 2:
                                <li class="breadcrumb">
                                    <a href="@link_pupil">
                                        <span role="button" tabindex="0" class="tp_button" title="Dla uczniów"></span>
                                        UCZEŃ
                                        <span class="wcag_hide">
                                            Dla uczniów -
                                            <span class="wcag-selected">wybrane</span>
                                            <span class="wcag-pick">wybierz</span>
                                        </span>
                                    </a>
                                    <ion-icon name="chevron-forward-outline"></ion-icon>
                                </li>
                                break;
                            case 3:
                                <li class="breadcrumb">
                                    <a href="@link_student">
                                        <span role="button" tabindex="0" class="tp_button" title="Dla studentów"></span>
                                        STUDENT
                                        <span class="wcag_hide">
                                            Dla studentów -
                                            <span class="wcag-selected">wybrane</span>
                                            <span class="wcag-pick">wybierz</span>
                                        </span>
                                    </a>
                                    <ion-icon name="chevron-forward-outline"></ion-icon>
                                </li>
                                break;
                        }
                    }
                }
                i++;
            }
            if (CurrentPage.DocumentTypeAlias != "Pozycja")
            {
                name = CurrentPage.Name.ToString();
                if (CurrentPage.DocumentTypeAlias == "Users")
                {
                    name = "Lekcje";
                }
                if (i < 3)
                {
                    <li class="breadcrumb" title="@name">
                        <div class="Nav">@name</div>
                    </li>
                }
                else
                {
                    <li class="breadcrumb LastItem" title="@name">
                        <div class="Left"></div>
                        @if (name.Length > 40)
                        {
                            name = name.Substring(0, 40) + "...";
                        }
                        <div class="Nav">@name</div>
                    </li>
                }
            }
        }
    }
</ul>