@inherits Merchello.Web.Mvc.MerchelloViewPage<Muzykoteka.Code.Models.AddItemModel>
@using ClientDependency.Core.Mvc
@{
    Html.RequiresJs("~/Scripts/addToBasket.js", 3);
    string form_id = "form_" + Model.ProductKey;
}              
<script type="text/javascript">
    $(function () {
        $('#@form_id').submit(function () {             
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {                                                  
                    $('.js-basket-status').html(result);
                    $('.js-basket-status').effect("slide", 500);
                    
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log('Ajax error: ' + thrownError);
                },
                beforeSend: function () {
                   // StartLoading();
                },
                complete: function () {
                   // EndLoading();
                }
            });


            return false;
        })
    });    
</script>

@using (Html.BeginForm("AddToBasket", "Checkout", FormMethod.Post, new { id = form_id } ))
{    
    @Html.HiddenFor(x => x.ProductKey, new { @id = form_id + "_ProductKey" })    
    <button class="js-add-to-basket" data-animtype="1" title="Dodaj do koszyka"></button>
}
