﻿@model Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    IPublishedContent Contnent = (IPublishedContent)ViewBag.MasterContent;
    IEnumerable<IPublishedContent> value = ViewBag.value;
    string DefaultImage = ViewBag.DefaultImage;
    string name = Contnent.Name.Replace(' ', '-');
    string url = Contnent.Url;

}
@if (value!=null &&value.Any())
{
    <div class="CategoryContainer">
        <p class="logo" href="@url"><span class="fancy-cat-name size_4 white correct-strefa"><span class="black">Najpopularniejsze</span><span class="red">@ViewBag.Name</span></span></p>
        <div class="Movies">
            <a href="#" class="btn prev Disabled" id="prev_@name" onclick="Slide($('#Slider-container_@name'), true);return false;">
                <div class="button"><i class="fa fa-angle-left" aria-hidden="true"></i>@*<span class="sr-only">Przewiń w lewo</span>*@</div>
            </a>
            <div class="slider-frame" id="slider-frame_@name">
                <ul class="slider-container" id="Slider-container_@name">
                    @foreach (var page in value)
                    {
                        string tytul = page.GetPropertyValue<string>("tytul");
                        string lb_text = page.AncestorOrSelf(3).Name;
                        string r = page.GetPropertyValue<string>("rezyser");
                        string desc_line = r;
                        string rok_produkcji = page.GetPropertyValue<string>("rok_produkcji");
                        var image = page.GetCropUrl("Zdjecie", "Pastylka");
                        if (!String.IsNullOrEmpty(rok_produkcji))
                        {
                            if (desc_line.Length > 0)
                            {
                                desc_line += " / ";
                            }
                            desc_line += rok_produkcji;
                        }
                        if (String.IsNullOrEmpty(desc_line))
                        {
                            desc_line = "&nbsp;";
                        }
                        if (string.IsNullOrEmpty(image))
                        {
                            image = DefaultImage;
                        }
                        <li class="slide" style="background-image:url('@image')">
                            <a href="@page.Url" class="Under">
                                <div class="Description">
                                    <div class="title">@Html.Raw(tytul)</div>
                                    <div class="desc">@Html.Raw(desc_line)</div>
                                    <div class="title-top">@lb_text</div>
                                </div>
                            </a>
                        </li>
                    }
                    <li class="slide" style="background-image: url('@DefaultImage')">
                        <a href="@url" class="Under">
                            <div class="Description">
                                <div class="desc">&nbsp;</div>
                                <div class="title">Przejdź do STREFY VOD</div>
                                <div class="title-top">&nbsp;</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn next" id="next_@name" onclick="Slide($('#Slider-container_@name'), false);return false;">
                <div class="button"><i class="fa fa-angle-right " aria-hidden="true"></i>@*<span class="sr-only">Przewiń w prawo</span>*@</div>
            </a>
        </div>

    </div>
}