﻿<div class="form-horizontal">
    <h4> Masz nie zapisane zmiany </h4>
    <h3>chcesz je zapisać?</h3>
    <div class="form">
        <div class="buttons ">
            <div class="button send">
                <a href="#" onclick="ShowPop('SaveChanges', false);AddLesson(true); return false;" class=""><i class="fa fa-check" title="Tak"></i><span class="wcag_hide">Tak</span>Tak</a>
            </div>
            <div></div>
            <div class="button">
                <a href="#" onclick="testy(); return false;" class=""><i class="fa fa-times" title="Nie"></i><span class="wcag_hide">Nie</span>Nie</a>
            </div>
        </div>
    </div>
</div>
<div class="background"></div>