@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code;
@using ClientDependency.Core.Mvc
@{
    var nodes = ((IEnumerable<IPublishedContent>)ViewBag.nodes).ToList();
    int totalPages = ViewBag.TotalPages;
    int totalItems = ViewBag.TotalItems;
    var Uri = new Uri(Request.Url.AbsoluteUri);
    var code = HttpUtility.ParseQueryString(Uri.Query).Get("code");
    bool DrmOff = !string.IsNullOrEmpty(code);
    int total_books = ViewBag.TotalBooks;
    int current_book = ViewBag.CurrentBook;
    bool Ulubione = !DrmOff;
    int page_num = ViewBag.PageNum;
    bool bSchowek = ViewBag.IsClipboard;
    if (bSchowek)
    {
        Html.RequiresJs("~/Scripts/delFromClipboard.js", 3);
    }
    bool bAddNextPageLink = ViewBag.AddNextPageLink ?? false;
    bool bAddPrevPageLink = ViewBag.AddPrevPageLink ?? false;
    bool bAddLoader = ViewBag.AddLoader ?? false;

    bool isGrayscale = Helper.IsGreyscale();



    int col_b = 0;
    int col_c = 0;
    int col_d = 0;
    if (nodes.Count() == 4 && (!bSchowek) && nodes[0].Level == 3 && nodes[0].AncestorOrSelf(2).DocumentTypeAlias == "Kolekcja")
    {
        <li class="fake"></li>
    }
    foreach (var page in nodes)
    {
        string tytul;
        string lead;
        string lb_text;
        string rt_text;
        IPublishedContent artykul;


        var articles = "";
        artykul = page;
        tytul = page.GetPropertyValue<string>("tytul");
        lead = page.GetPropertyValue<string>("lead");


        rt_text = artykul.AncestorOrSelf(2).Name;
        if (rt_text == "Wiecej o muzyce")
        {
            rt_text = "Więcej o muzyce";
        }
        bool bLinkPicture;
        bool bAddToFavorites;
        if (artykul.DocumentTypeAlias == "NaukaKategoria")
        {
            lb_text = "Seria";
            bAddToFavorites = false;
            bLinkPicture = true;
        }
        else if (artykul.AncestorOrSelf(2).DocumentTypeAlias == "Kolekcja")
        {
            bLinkPicture = false;
            bAddToFavorites = false;
            lb_text = artykul.AncestorOrSelf(3).Name;
        }
        else
        {
            bLinkPicture = false;
            bAddToFavorites = true;
            lb_text = artykul.AncestorOrSelf(3).Name;
        }
        string picture = null;
        string col_class = "cb" + ((col_b++ % 2) + 1) + " cc" + ((col_c++ % 3) + 1) + " cd" + ((col_d++ % 4) + 1);
        try
        {
            if (artykul.DocumentTypeAlias == "Lekcja" && artykul.HasValue("Artykuly"))
            {
                articles = artykul.GetPropertyValue<string>("Artykuly");
                var tmp = artykul.AncestorOrSelf(1);
                tmp = tmp.Descendants().First(x => x.Id == int.Parse(articles.Split(',').First()));
                picture = tmp.GetBWCropUrl("zdjecie", "Pastylka", isGrayscale);
            }
            else
            {
                picture = artykul.GetBWCropUrl("zdjecie", "Pastylka", isGrayscale);
            }
        }
        catch
        {

        }

        if (String.IsNullOrEmpty(picture))
        {
            var pg_homepage = artykul.AncestorOrSelf(1);
            picture = pg_homepage.GetCropUrl(propertyAlias: "zdjecieDomyslne", cropAlias: "Pastylka");
        }

        string desc_line1 = null, desc_line2 = null;
        if (page.DocumentTypeAlias == "Film")
        {
            string r = page.GetPropertyValue<string>("rezyser");
            string kraj = page.GetPropertyValue<string>("kraj");
            string rok_produkcji = page.GetPropertyValue<string>("rok_produkcji");
            string duration = page.GetPropertyValue<string>("duration");
            if (!String.IsNullOrEmpty(duration))
            {
                duration += " min";
            }
            desc_line1 = (String.IsNullOrEmpty(r) ? "&nbsp;" : String.Format("Reżyseria: {0}", r));
            desc_line2 = kraj;
            if (!String.IsNullOrEmpty(rok_produkcji))
            {
                if (desc_line2.Length > 0)
                {
                    desc_line2 += " / ";
                }
                desc_line2 += rok_produkcji;
            }
            if (!String.IsNullOrEmpty(duration))
            {
                if (desc_line2.Length > 0)
                {
                    desc_line2 += " / ";
                }
                desc_line2 += duration;
            }
            if (String.IsNullOrEmpty(desc_line2))
            {
                desc_line2 = "&nbsp;";
            }

            //desc_line2 = String.Join(" / ", new string[] { kraj, rok_produkcji, duration });
        }
        else if (page.DocumentTypeAlias == "NaukaArtykul")
        {
            string[] klasy = page.GetPropertyValue<string[]>("klasy");
            if (page.HasProperty("rodzajSzkoly"))
            {
                if (!String.IsNullOrEmpty(desc_line1))
                {
                    desc_line1 += ", ";
                }
                var names = Helper.GetSlownikEntries("Szkola", page.GetPropertyValue<string>("rodzajSzkoly")).ToList();
                if (names != null && names.Count > 0 && klasy != null)
                {
                    for (int i = 0; i < names.Count; i++)
                    {
                        if (klasy.Length > i)
                        {
                            names[i] += " " + klasy[i] + "<br />";
                        }
                    }
                }
                desc_line1 = string.Join(",", names);
            }
        }
        else if (page.DocumentTypeAlias == "Lekcja")
        {
            tytul = page.GetPropertyValue<string>("nazwaLekcji");
            desc_line1 = "Przypisanych uczniów: " + page.Children.Count();
            var ArticlesString = articles.Split(',');
            desc_line2 = "Liczba artykułów: " + (ArticlesString.Count() == 1 ? (string.IsNullOrEmpty(ArticlesString[0]) ? 0 : 1) : ArticlesString.Count());
            Ulubione = false;
            var memberservices = ApplicationContext.Services.MemberService;
            var name = memberservices.GetById(int.Parse(page.Parent.Name)).Name;
            lb_text = name;
        }
        if (page.DocumentTypeAlias != "Okladka" && page.DocumentTypeAlias != "Kolekcje")
        {
            var IsProtected = Umbraco.IsProtected(page.Path);
            bool bLogIn = (IsProtected && !Umbraco.MemberIsLoggedOn());
            var Url = "";
            string urlTarget = "_self";
            string playTitle = "Przejdź do materiału";
            if (page.DocumentTypeAlias == "NaukaGra")
            {
                urlTarget = "_blank";
                playTitle = "Uruchom grę";
            }
            else
            {
                if (IsProtected && DrmOff)
                {
                    try
                    {
                        if (page.DocumentTypeAlias == "NaukaArtykul")
                        {
                            Url = page.AncestorOrSelf(1).Children.FirstOrDefault(x => x.DocumentTypeAlias == "Uzytkownicy").Children.FirstOrDefault(x => x.DocumentTypeAlias == "NaukaArtykul").Url;
                        }
                        else if (page.DocumentTypeAlias == "Film")
                        {
                            Url = page.AncestorOrSelf(1).Children.FirstOrDefault(x => x.DocumentTypeAlias == "Uzytkownicy").Children.FirstOrDefault(x => x.DocumentTypeAlias == "Film").Url;
                        }
                        if (!string.IsNullOrEmpty(Url))
                        {
                            Url += "?Id=" + page.Id + (DrmOff ? "&code=" + code : "");
                        }
                    }
                    catch { }
                }
            }
            if (string.IsNullOrEmpty(Url))
            {
                Url = page.Url + (DrmOff ? "?code=" + code : "");
            }
            <li style="background:url('@picture')" id="@page.Id">
                <div class="Icon">
                    @if (Ulubione)
                    {
                        if (bSchowek)
                        {
                            <a href="#" onclick="return false;" class="del-from-clpb js-delFromClbp" title="Usuń z ulubionych" data-contentid="@page.Id"><span class="wcag_hide">usuń z ulubionych</span></a>
                        }
                        else if (bAddToFavorites)
                        {
                            var lst = Muzykoteka.Code.ClipboardSurfaceController.GetCurrentClpbList();
                            <a href="#" onclick="return false;" title="Dodaj do ulubionych"
                               class="add-to-clpb js-add2clbp @Html.Raw((lst != null && lst.Contains(page.Id)) ? "added" : "")" data-animtype="1" data-contentid="@page.Id"><span class="wcag_hide">dodaj do ulubionych</span></a>
                        }

                        if (bLogIn)
                        {
                            <img src="~/Images/k_odka.png" class="ContentLock" title="Zaloguj się">
                        }
                    }
                    else if (!DrmOff)
                    {
                        <a href="#" class="deleteLesson" onclick="PopDeleteIdShow(@page.Id, '@page.Name')" title="Usuń"><span class="wcag_hide">Usuń</span><i class="fa fa-trash"></i></a>
                    }
                </div>
                <div class="Buttons">
                    <a class="ovlay-play" href="@Url" target="@urlTarget" title="@playTitle"><img src="/Images/@Html.Raw(page.DocumentTypeAlias == "Film" || page.DocumentTypeAlias == "NaukaGra" ? "video.png" : "show.png")" alt="" /></a>
                    @if (Ulubione)
                    {
                        <a href="#" onclick="return false;" title="Opis materiału" class="js-filminfo ovlay-info" data-title="@tytul" data-lead="@lead"><img class="" src="/Images/info.png" alt="" /></a>
                    }
                </div>
                <a class="Under @Html.Raw(bLogIn ? "js-loginFrame":"")" href="@Url" target="@urlTarget">
                    <div class="Description">
                        <div class="title" title="@tytul">@Html.Raw(tytul)</div>
                        <div class="desc" title="@desc_line1">@Html.Raw(desc_line1)</div>
                        <div class="desc" title="@desc_line2">@Html.Raw(desc_line2)</div>
                        <div class="title-top" title="@lb_text">@lb_text</div>
                    </div>
                </a>
            </li>
        }
        else
        {
            IPublishedContent item = page;
            bool isKolekcja = page.AncestorOrSelf(2).DocumentTypeAlias == "Kolekcja";
            string Class = "Okladka";
            if (isKolekcja)
            {

                var tmp = page.FirstChild(x => x.DocumentTypeAlias == "Okladka");
                if (tmp != null)
                {
                    item = tmp;
                    Class += " Okladka2";
                    var temp = item.GetBWCropUrl("zdjecie", "Pastylka", isGrayscale);
                    if (!string.IsNullOrEmpty(temp))
                    {
                        picture = temp;
                    }
                }
            }
            var pirce = item.GetPropertyValue("cena");
            var disc = item.GetPropertyValue<string>("cenaPromocyjna");
            tytul = item.GetPropertyValue<string>("tytul");
            lead = item.GetPropertyValue<string>("lead");
            var desc = (item.HasValue("produkcja") ? "Produkcja: " + item.GetPropertyValue<string>("produkcja") : "");
            <li style="background:url('@picture')" id="@page.Id" class="@Class ">
                <div class="UperName">@item.Parent.Name</div>
                <a class="Under" href="@page.Url@Html.Raw(DrmOff?"?code="+code:"")">
                    <div class="Description">
                        <div class="title" title="@tytul">@Html.Raw(tytul)</div>
                        <div class="desc" title="@lead">@Html.Raw(lead)</div>
                        <div class="desc" title="@desc">@desc</div>
                        @if (!string.IsNullOrEmpty(disc))
                        {
                            <div class="priceDisc">@disc</div>
                            <div class="price" style="text-decoration:line-through;">@pirce</div>
                        }
                        else
                        {
                            <div class="price">@pirce</div>
                        }
                    </div>
                </a>
            </li>
        }
    }
    if (bAddLoader)
    {
        <script type="text/javascript">
            AttachScrollHandlerDelayed();
        </script>
    }
    if (bAddNextPageLink || bAddPrevPageLink)
    {
        <script type="text/javascript">
            CHLShowPageNav();
        @if (bAddNextPageLink)
    {
                @:CHLShowNextPage();
                        }
            @if (total_books > 2)
            {
                @:CHLShowPages(@total_books, @current_book);
            }
            @if (bAddPrevPageLink)
            {
                @:CHLShowPrevPage();
                        }
            RestoreScrollTop();
        </script>
    }
    if (bSchowek)
    {
        Html.RequiresJs("~/Scripts/delFromClipboard.js", 3);
        <script type="text/javascript">
            $('.js-delFromClbp').DelFromClipboard({
                DataChanged: function (event, data) { ReloadChildList(); }
            });
        </script>
    }
    <script type="text/javascript">
        if (typeof UpdateTotalRecCounter !== 'undefined') {
            UpdateTotalRecCounter(@totalItems);
        }
    </script>
}