﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code;
@using ClientDependency.Core.Mvc
@{
    int pagesToReload = 3;
    string app_s = System.Configuration.ConfigurationManager.AppSettings["list_pages_to_reload"];
    bool All = Model.Content.GetPropertyValue<bool>("pokazWszystkie", false);
    if (app_s != null && Int32.TryParse(app_s, out pagesToReload))
    {
        if (pagesToReload < 1)
        {
            pagesToReload = 1;
        }
    }
    var query = HttpContext.Current.Request.QueryString["ids"];

    var ref_page = CurrentPage;
    if (Model.Content.DocumentTypeAlias == "Element")
    {
        ref_page = Model.Content.AncestorOrSelf(2);
    }

    string sort = (string)ViewData["sort"] ?? (Model.Content.DocumentTypeAlias == "Aktualne" ? "dd" : "ds");

    string filter = (string)ViewData["filter"];

    //search:
    string epoka = (string)ViewData["epoka"];
    string kategoria = (string)ViewData["kategoria"];
    List<IPublishedContent> list = (List<IPublishedContent>)ViewData["list"];

    //0=children,
    //1=homepage
    //2=artykuly w podkategoriach
    int type = (int?)ViewData["type"] ?? 0;
    if (Model.Content.DocumentTypeAlias == "Kolekcje")
    {
        type = 5;
    }
    string list_class = (type == 2 ? "subcat" : (type == 1 ? "home" : "children"));
}
<script type="text/javascript">

    var current_list_scroll_top = 0;
    var current_list_page = 1;
    var current_filter = '@filter';
    var current_sort = '@sort';
    var current_epoka = '@Server.UrlEncode(epoka)';
    var current_kategoria = '@Server.UrlEncode(kategoria)';
    var skipListLoading = false;

    function FilterChildList (_filter, _sort) {
        current_filter = encodeURIComponent (_filter);
        current_sort = (_sort.length ? _sort : '@sort');
        ReloadChildList();
    }

    function FilterByEK (kategorie,epoki) {
        if (epoki == null)
            current_epoka = '';
        else
            current_epoka = encodeURIComponent (epoki);
        if (kategorie == null)
            current_kategoria = '';
        else
            current_kategoria = encodeURIComponent (kategorie);
        ReloadChildList();
    }

    function ReloadChildList() {
        GetChildListPage (1, true);
    }

    function GetNextChildListPage () {
        GetChildListPage (current_list_page + 1, false);
    }

    function GetChildListPage(pageNumber, resetContent) {
        // console.log('get page ' + pageNumber);
        current_list_page = pageNumber;
        var parendNodeId = @ref_page.Id;
        var _url = '/vowosadmin/surface/ChildViewSurface/GetPage/?p=' + pageNumber +
            '&parentNodeId=' + parendNodeId +
            '&filter=' + current_filter +
            '&sort=' + current_sort +
            '&t=@type' +
            '&e=' + current_epoka +
            '&k=' + current_kategoria +
            '&All=@All.ToString().ToLower()';
        $.ajax({
            url: _url,
            cache: false,
            dataType: "text",
            success: function (result) {
                DetachScrollHandler ();
                var child_list = $('.Lasted .items');
                if (resetContent) {
                    child_list.html(result);
                }
                else {
                    var prev_html = child_list.html().replace('AttachScrollHandlerDelayed();', '')
                    child_list.html(prev_html + result);
                }
                skipListLoading = false;
                $('.js-add2clbp').AddToClipboard();
                MoviePopupAdd();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log("Ajax error: " + thrownError);
            },
            beforeSend: function() {
                if (resetContent) {
                    CHLHideNextPage ();
                    CHLHidePrevPage ();
                    CHLHidePages();
                    CHLHidePageNav();
                    $('body, html').scrollTop(0);
                    current_list_scroll_top = 0;
                    $('body').addClass('loading');
                }
            },
            complete: function() {
                if (resetContent) {
                    setTimeout(() => $('body').removeClass('loading'), 1000);
                    
                }
            }
        });
    }


    function RestoreScrollTop () {
        if (current_list_scroll_top > 0) {
            //ff przewija na dół strony - odtwórz poprzednią pozycje
            setTimeout ( function () { $(window).scrollTop(current_list_scroll_top); }, 1);
        }
    }

    function AttachScrollHandlerDelayed() {
        RestoreScrollTop ();
        setTimeout(AttachScrollHandler, 500);
    }

    function AttachScrollHandler() {
        var child_list_panel = $('.child-list-panel');
        if (!child_list_panel.hasClass('loading')) { //&& !child_list_panel.hasClass('prevent-loading')) {
            child_list_panel.addClass('loading');
            $(window).scroll(ListScrollHandler);
        }
    }
    function DetachScrollHandler() {
        var child_list_panel = $('.child-list-panel');
        //child_list_panel.addClass('prevent-loading');
        if (child_list_panel.hasClass('loading')) {
            child_list_panel.removeClass('loading');
            $(window).off("scroll", ListScrollHandler);
        }
    }
    function ListScrollHandler() {
        var child_list = $('.Lasted .items');
        var offset = child_list.offset();
        var spinner_y = Math.round(child_list.outerHeight() + offset.top);
        var wnd_top = $(window).scrollTop();
        var wnd_height = $(window).height();
        if (wnd_top >= spinner_y -  wnd_height) {
            if (!skipListLoading) {
                skipListLoading = true;
                current_list_scroll_top = wnd_top;
                GetNextChildListPage();
                $(window).scrollTop(wnd_top);
            }
        }
    }

    function ReloadToNextPage() {
        GetChildListPage (current_list_page + 1, true);
    }

    function ReloadToPrevPage() {
        var pageChange=current_list_page%2;
        if (pageChange == 0) {
            pageChange =3;
        }
        else {
            pageChange+=1;
        }
        GetChildListPage (current_list_page - pageChange, true);
    }

    function ReloadToBookNum(book_num) {
        GetChildListPage ((book_num - 1)*@pagesToReload + 1, true);
    }

    function CHLShowPageNav(){
        $('.page-nav').css("display", "table");
    }

    function CHLShowNextPage() {
        $('.next-page').toggleClass('visible', true);
    }

    function CHLShowPrevPage() {
        $('.prev-page').toggleClass('visible', true);
    }

    function CHLHideNextPage() {
        $('.next-page').toggleClass('visible', false);
    }

    function CHLHidePrevPage() {
        $('.prev-page').toggleClass('visible', false);
    }

    function CHLHidePages() {
        var page_block = $('.page-nav .pages');
        page_block.toggleClass('visible', false);
    }
    function CHLHidePageNav() {
        $('.page-nav').css("display", "none");
    }

    function CHLShowPages(total, current) {
        var page_block = $('.page-nav .pages');
        if (!page_block.hasClass('visible'))
            page_block.addClass('visible');
        var page_list = page_block.find('ul');
        page_list.find('li').remove();
        var addpos = 0;
        if (current < 4)
            addpos = 4-current;
        var subpos = 0;
        if (current > total - 4)
            subpos = current - total + 3;
        var bDotsOn = false;
        for (var i=1; i <= total; i++) {
            if (i <= 1 || i >= total || (i>= current - 1 - subpos && i<= current + 1 + addpos)) {
                bDotsOn = false;
                page_list.append((current == i ? '<li class="selected">' : '<li>') + '<a href="#" onclick="ReloadToBookNum(' + i + '); return false;">' + i + '</li>');
            }
            else {
                if (!bDotsOn) {
                    bDotsOn = true;
                    page_list.append('<li class="dots">...</li>');
                }
            }
        }
    }
</script>
<div class="child-list-panel">
    <div class="Lasted">
        <ul class="items @(Model.Content.AncestorOrSelf(2).DocumentTypeAlias=="Kolekcja"?"Col":"")">
            @Html.Action("GetPage", "ChildViewSurface", new
            {
           p = 1,
           parentNodeId = ref_page.Id,
           filter = filter,
           sort = sort,
           t = type,
           e = epoka,
           k = kategoria,
           q = query,
           All = All
       })
        </ul>
    </div>
    <div class="page-nav">
        <div class="prev-page"><a href="#" onclick="ReloadToPrevPage(); return false;" class="">Poprzednia strona</a></div>
        <div class="pages invisible"><ul></ul></div>
        <div class="next-page"><a href="#" onclick="ReloadToNextPage(); return false;">Następna strona</a></div>
    </div>
</div>
