﻿@model Muzykoteka.Code.Models.EmailInfo


@*<div class="form-horizontal">
    <h4> Formularz kontaktowy </h4>
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <span id="Error" class="text-danger">@Model.Error</span>
    }
    else if (Model.Ok)
    {
        <span class="Ok">Wysłano Pomyślnie</span>
    }
    @Html.ValidationSummary(true, "", new
    {
        @class = "text-danger"
    })
    <div id="ContactUs1" class="form-group">
        <div class="">
            <label for="search_sf" class="wcag_hide">twój adres e-mail</label>
            @Html.EditorFor(model => model.sender, new { htmlAttributes = new { @class = "form-control", placeholder = "Twój adres e-mail" } })
            @Html.ValidationMessageFor(model => model.sender, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <label for="search_sf" class="wcag_hide">Co chcesz nam powiedzieć?</label>
            @Html.TextAreaFor(model => model.Emails, new { @class = "form-control", placeholder = "Co chcesz nam powiedzieć?" })
            @Html.ValidationMessageFor(model => model.Emails, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="button">
        <a href="#" onclick="SendMail(); return false;" class=""><i class="fa fa-send" title="Wyślij"></i><span class="Name">Wyślij</span><span class="wcag_hide">Wyślij</span></a>
    </div>
</div>
<script>
function SendMail() {
    var url = '@Url.Action("ContactUs", "EmailSurface")' +
        '?sender=' + document.getElementById("sender").value +
            '&Emails=' + document.getElementById("Emails").value;
        $.ajax({
                url: url,
                cache: false,
            dataType: "text",
            method:"post",
                success: function (result) {
                    document.getElementById("ContactUs").innerHTML = result;
                },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log("Ajax error: " + thrownError);
                var el = document.getElementById("ContactUs1"),
                    html = "<span id='Error' class='text-danger'>Coś poszło nie tak spróbuj ponownie później</span>";
                var err = document.getElementById("Error");
                // Internet Explorer, Opera, Google Chrome and Safari
                if (err) {
                    err.innerText = "Coś poszło nie tak spróbuj ponownie później";
                }
                else {
                    if (el.insertAdjacentHTML)
                        el.insertAdjacentHTML("beforeBegin", html);
                    else {
                        var range = document.createRange();
                        var frag = range.createContextualFragment(html);
                        el.parentNode.insertBefore(frag, el);
                    }
                }
            },
                beforeSend: function () {
                        $('body').addClass('loading');
                },
                complete: function () {
                        $('body').removeClass('loading');
                }
            });
    }
</script>*@