﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var item = Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias == "Regulamin").SingleOrDefault();
    var value = " polityki prywatności.";
}
<div class="CookiePopup" id="CookiePopup" onload="">
    Ta strona używa cookies. Korzystając ze strony wyrażasz zgodę na ich używanie, zgodnie z bieżącymi ustawieniami przeglądarki. Aby uzyskać więcej informacji na temat celu używania cookies i możliwości zmiany ustawień dotyczących cookies przejdź do
    @if (item != null)
    {<a class="MoreCookie" href="@item.Url">@item.Name</a>}
else
{ @value}
    <a href="#" class="Close" onclick="CloseCookie(); return false;"><span class="Btn"> </span></a>
</div>
<script>
    var CookiePop = document.getElementById('CookiePopup');
    CheckCookiePop();
</script>