@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Html.RequiresJs("~/Scripts/jquery-ui.theme.min.js", 3);
    Html.RequiresJs("~/Scripts/dtpicker.js", 4);
    Html.RequiresCss("~/Css/combo.css", 1);
    Html.RequiresCss("~/Css/dtpicker.css", 2);

    string ClientID = (string)ViewData["ClientID"];
    string PickText = (string)ViewData["Text"];
    string JSSelectionChanged = (string)ViewData["JSSelectionChanged"];        
    string FilterField = (string)ViewData["FilterField"];    
}
<div id="@ClientID" class="combo dtpicker js-dtpicker up">
    <a href="#" onclick="return false;" class="drop js-drop"><span class="js-cmbtext">@PickText</span><span class="dropimg"></span></a>
    <div class="list js-list">
        <div class="inner">
            <div><label for="lblod_@ClientID" class="dtlabel">od:</label><input id="lblod_@ClientID" readonly type="text" class="dtOd" placeholder="YYYY-MM-DD" /></div>
            <div><label for="lbldo_@ClientID" class="dtlabel">do:</label><input id="lbldo_@ClientID" readonly type="text" class="dtDo" placeholder="YYYY-MM-DD" /></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#@ClientID').MZDatePicker(
        {FilterField: '@FilterField'},
        {DateFromChanged: function (event, data) {
            @if (!String.IsNullOrEmpty(JSSelectionChanged))
            {
                @Html.Raw(JSSelectionChanged + "();");
            }
        }},
        {DateToChanged: function (event, data) {
            @if (!String.IsNullOrEmpty(JSSelectionChanged))
            {
                @Html.Raw(JSSelectionChanged + "();");
            }
        }    
    });
</script>