﻿@model Muzykoteka.Code.Models.AddLesson
@using Umbraco.Web.Models;
@{
    IPublishedContent Main = Model.CurrentContent.AncestorOrSelf(1);
    string classes = "hide";
    bool isEdit = Model.id != 0;
}
<link href="~/Css/TreeView.css" rel="stylesheet" />
<div class="form-horizontal">
    <a href="#" onclick="ShowPop('LessonAddPop', true); return false;" style="float:right;"><i class="fa fa-times" title="Zamknij"></i><span class="wcag_hide">Zamknij</span></a>
    @if (!isEdit)
    {
        <h4> Tworzenie lekcji </h4>
    }
    else
    {
        <h4>Edycja lekcji</h4>
    }
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <span class="text-danger">@Model.Error</span>
    }
    @if (Model.Ok)
    {
        if (Model.SendEmail && !string.IsNullOrEmpty(Model.Emails) && string.IsNullOrEmpty(Model.Error))
        {
            <span class="Ok">Wysłana pomyślnie</span>
        }
        else
        {
            <span class="Ok">Zapisano Pomyślnie</span>
        }
    }
    @{
        var boolHelper = false;
        if (Model.SaveChecked)
        {
            Model.Ok = false;
        }
    }
    <div class="form @Html.Raw(Model.Ok||(Model.Ok&&(Model.SaveChecked||!isEdit))?"hide":"")">
        @Html.ValidationSummary(true, "", new
        {
            @class = "text-danger"
        })
        <div class="form-group">
            <label for="search_sf" class="wcag_hide">LessonName</label>
            @Html.EditorFor(model => model.LessonName, new { htmlAttributes = new { @class = "form-control", placeholder = "Nazwa lekcji" } })
            @Html.ValidationMessageFor(model => model.LessonName, "", new { @class = "text-danger", })
        </div>
        <div class="form-group @Html.Raw(isEdit ? classes : "")">
            <label for="search_sf" class="wcag_hide">Adresy E-mail uczniów</label>
            @Html.TextAreaFor(model => model.Emails, new { @class = "form-control", placeholder = "Adresy E-mail uczniów", id = "Students" })
            <span class="hint">By dodać więcej niż jeden email oddziel adresy za pomocą przecinka lub średnika</span>
            @Html.ValidationMessageFor(model => model.Emails, "", new { @class = "text-danger" })
        </div>
        <div class="form-group @Html.Raw(isEdit ? classes : "")">
            <label for="search_sf" class="wcag_hide">Data ważności</label>
            <label class="altColor">Termin zakończenia lekcji:</label>
            <input class="text-box single-line" id="LifeTime" name="LifeTime" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddDays(21).ToString("yyyy-MM-dd")" value="@Model.LifeTime.Date.ToString("yyyy-MM-dd")">
            @Html.ValidationMessageFor(model => model.LifeTime, "", new { @class = "text-danger" })
        </div>
        <div class="form-group @Html.Raw(isEdit ? classes : "")">
            <label for="search_sf" class="wcag_hide">Wiadomość</label>
            @Html.TextAreaFor(model => model.EmailText, new { @class = "form-control", placeholder = "Treść wiadomości dla uczniów" })
            @Html.ValidationMessageFor(model => model.EmailText, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <label for="search_sf" class="wcag_hide">Artykuły</label>
            @Html.HiddenFor(model => model.Articles)
            <div class="tree-view">
                @renderTreeView(Main)
            </div>
            @Html.ValidationMessageFor(model => model.Articles, "", new { @class = "text-danger" })
        </div>
        <div class="form-group @Html.Raw(isEdit ? classes : "")">
            <label for="search_sf" class="wcag_hide">Załącznik</label>
            @*<input type="file" id="file" name="file" />*@
        </div>

        <div class="buttons ">
            <div class="button send @Html.Raw(isEdit ? classes : "")">
                <a href="#" onclick="AddLesson(true); return false;" class=""><i class="fa fa-send" title="Zapisz i wyślij"></i><span class="wcag_hide">Zapisz i wyślij</span>Zapisz i wyślij</a>
            </div>
            <div class="button send">
                <a href="#" onclick="AddLesson(false); return false;" class=""><i class="fa fa-save" title="Zapisz"></i><span class="wcag_hide">Zapisz</span>Zapisz</a>
            </div>
            @if (isEdit)
            {
                <div class="button">
                    <a href="#" onclick="CheckChanges('UczEditPop', false);return false;"><i class="fa fa-pencil"></i>Panel uczniów</a>
                </div>
            }
            <div class="button">
                <a href="#" onclick="ShowPop('LessonAddPop', true); return false;" class=""><i class="fa fa-times" title="Zamknij"></i><span class="wcag_hide">Zamknij</span>Zamknij</a>
            </div>
        </div>
    </div>
    <div class="button close @Html.Raw(!Model.Ok?"hide":"")">
        <a href="#" onclick="ShowPop('LessonAddPop', true); return false;" class=""><i class="fa fa-times" title="Zamknij"></i><span class="wcag_hide">Zamknij</span>Zamknij</a>
    </div>
</div>
<div class="background"></div>
@helper renderTreeView(IPublishedContent Parent)
{
    @Html.HiddenFor(model => model.Articles, new { htmlAttributes = new { @class = "form-control", placeholder = "Twój Adres E-mail" } })
    <ul class="lekcje">
        @foreach (var item in Parent.Children)
        {
            if (Muzykoteka.Code.Helper.MemberHaveAccess(item.Path))
            {
                if ((item.DocumentTypeAlias == "Multimedia" && item.Children.Count() > 0)
                    || (item.DocumentTypeAlias == "Nauka" && item.Children.Count() > 0)
                    || (item.DocumentTypeAlias == "Utwory" && item.Children.Count() > 0)
                    || (item.DocumentTypeAlias == "Nauka" && item.Children.Count() > 0)
                    || (item.DocumentTypeAlias == "NaukaKategoria" && item.Children.Count() > 0 && item.GetPropertyValue<bool>("pokazLekcji"))
                    )
                {

                    <li class="@Html.Raw(item.DocumentTypeAlias == "Nauka" || item.Name == "ZADANIA" ? "" : "hidden")">
                        <a href="#" onclick="ShowItems(this);return false"><i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i><span>@item.Name</span></a>
                        @renderTreeView(item)
                    </li>

                }
                else if (item.DocumentTypeAlias == "NaukaArtykul" || item.DocumentTypeAlias == "Film" || item.DocumentTypeAlias == "NaukaGra")
                {
                    var clases = "";
                    if (Model.Articles != null)
                    {
                        clases = Model.Articles.Contains(item.Id.ToString()) ? "active" : "";
                    }
                    var szkola = item.GetPropertyValue<string>("tytul"); ;
                    string[] klasy = item.GetPropertyValue<string[]>("klasy");
                    if (item.HasProperty("rodzajSzkoly"))
                    {
                        var names = Muzykoteka.Code.Helper.GetSlownikEntries("Szkola", item.GetPropertyValue<string>("rodzajSzkoly")).ToList();
                        if (names != null && names.Count > 0 && klasy != null)
                        {
                            for (int i = 0; i < names.Count; i++)
                            {
                                if (klasy.Length > i)
                                {
                                    names[i] += klasy[i];
                                }
                            }
                        }
                        szkola = string.Join(", ", names);
                        if (!string.IsNullOrEmpty(szkola))
                        {
                            szkola = item.GetPropertyValue<string>("tytul") + " (" + szkola + ")";
                        }
                        else
                        {
                            szkola = item.GetPropertyValue<string>("tytul");
                        }
                    }
                    <li>
                        <a href="#" onclick="Active(this,@item.Id);return false" name="@item.Id" class="lekcja @clases"><span class="box" id="@item.Id">@Html.Raw(szkola)</span></a>
                    </li>
                }
            }
        }
    </ul>
}
<script>
    @*@if (!Model.SaveChecked)
    {
        @Html.Raw("ShowPop('UczEditPop', false); ");
    }*@
    saveditem = '@Model.Articles';
        var SaveChecked = false;
        function ShowItems(s) {
            s.parentNode.classList.toggle("hidden");
            SaveChecked = false;
        }
        function Active(s, id) {
            var Articles = getIds();
            var temp = []
            temp = Array.from(new Set(Articles.split(',')));
            temp.push(id);
            document.getElementById(id).classList.toggle("check-box");
            if (s.classList.toggle("active")) {
                var text = "";
                for (var i = 0; i < temp.length; i++) {
                    if (text != "" && temp[i] != null) {
                        text += ",";
                    }
                    text += temp[i];
                $("#" + id).prop("checked", true);
                }
                Articles.value = text;
            }
            else {
                var Articles = getIds();
                var temp = Articles.value.split(',');
                var text = "";
                for (var i = 0; i < temp.length; i++) {
                    if (temp[i] != id) {
                        if (text != "" && temp[i] != null) {
                            text += ",";
                        }
                        text += temp[i];
                    $("#" + id).prop("checked", false);
                    }
                }
                Articles.value = text;
            }
            WaitingSave = Articles.value;
        }
        function AddLesson(SendEmail) {@*@Url.Action("SharePage", "EmailSurface")*@
        var url = '@Url.Action("CreateLesson", "Lesson")?LessonName=' + LessonName.value +
            '&Articles=' + getIds() +
            '&Emails=' + document.getElementById("Students").value +
            '&LifeTime=' + document.getElementById("LifeTime").value +
            '&EmailText=' + document.getElementById("EmailText").value +
            '&parentId=@Model.CurrentContent.Id' +
            '&SendEmail=' + SendEmail +
            '&id=@Model.id' +
            '&SaveChecked=' + SaveChecked;
        //var fd = new FormData();
        //var files = $('#file')[0].files[0];
        //fd.append('file', files);
        $.ajax({
                url: url,
            cache: false,
            processData: false,
            contentType: false,
            dataType: "text",
            //data:fd,
            method:"post",
            success: function (result) {
                saveditem = getIds();
                document.getElementById("LessonAddPop").innerHTML = result;
                if (SaveChecked) {
                    ShowPop("UczEditPop", false);
                }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log("Ajax error: " + thrownError);
                },
                beforeSend: function () {
                        $('body').addClass('loading');
                },
                complete: function () {
                        $('body').removeClass('loading');
                }
            });
    }
    function CheckChanges(name, FooterChanges) {
        var temp = [];
        if (saveditem) {
            temp = Array.from(new Set(saveditem.split(',')));
        }
        var active = getActive();
        if (active.length != temp.length) {
            ShowPop("SaveChanges", FooterChanges);
            return;
        }
        var temp2 = [];
        for (var i = 0; i < active.length; i++) {
            temp2.push(active[i].id);
        }
        var difference = [];
        jQuery.grep(temp2, function (el) {
            if (jQuery.inArray(el, temp) == -1) difference.push(el);
        });
        if (difference.length == 0) {
            ShowPop(name, FooterChanges);
            SaveChecked = true;
            return;
        }
        ShowPop("SaveChanges", FooterChanges);
    }
    function testy() {
        var temp = [];
        temp = Array.from(new Set(saveditem.split(',')));
        var items = $(".lekcje .lekcja");
        items.removeClass("active");
        for (var i = 0; i < temp.length; i++) {
            var item = document.getElementsByName(temp[i])[0];
            if (item)
                item.classList.add("active");
        }
        ShowPop('SaveChanges', false);
    }
    function getActive() {
       return $(".active > span")
    }
    function getIds() {
        var active = getActive();
        var temp = [];
        for (var i=0; i<active.length;i++) {
            temp.push(active[i].id);
        }
        return temp.join(",");
    }
</script>
