﻿@model Muzykoteka.Code.Models.EdytujUczniow
@{
}
<link href="~/Css/TreeView.css" rel="stylesheet" />
<div class="form-horizontal">
    <a href="#" onclick="ClosePupil(); return false;" style="float: right; z-index: 1; position: relative;"><i class="fa fa-times" title="Zamknij"></i><span class="wcag_hide">Zamknij</span></a>
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <span class="text-danger">@Model.Error</span>
    }
    else if (Model.Ok)
    {
        <span class="Ok">@Html.Raw(ViewBag.Ok != null ? ViewBag.Ok : "Wykonano pomyślnie")</span>
    }
    @Html.ValidationSummary(true, "", new
    {
        @class = "text-danger"
    })
    <a href="#" onclick="Split('first', 'secoond'); return false;"><h4 style="margin-top:10px">Przypisani uczniowie</h4></a>
    <div id="first">
        <div class="">
            @Html.HiddenFor(model => model.UczniowieIstniejący)
            <div class="tree-view">
                @renderTreeView()
            </div>
            @Html.ValidationMessageFor(model => model.UczniowieIstniejący, "", new { @class = "text-danger" })
        </div>
        @if (Model.UczniowieIstniejący != null && Model.UczniowieIstniejący.Count() > 0)
        {
            <div class="buttons ">
                <div class="button send">
                    <a href="#" onclick="SendAgin(@Model.id); return false;" class=""><i class="fa fa-send" title="Wyślij ponownie"></i><span class="wcag_hide">Wyślij ponownie</span>Wyślij ponownie</a>
                </div>
                <div class="button">
                    <a href="#" onclick="DeadLine(@Model.id); return false;" class=""><i class="fa fa-times" title="Nowy termin"></i><span class="wcag_hide">Nowy termin</span>Nowy termin</a>
                </div>
                <div class="button">
                    <a href="#" onclick="Delete(@Model.id); return false;" class=""><i class="fa fa-times" title="Usuń"></i><span class="wcag_hide">Usuń</span>Usuń</a>
                </div>
            </div>
        }
    </div>
    <a href="#" onclick="Split('secoond', 'first'); return false;">
        <h4> Nowi uczniowie </h4>
    </a>
    <div id="secoond" class="Hidden">

        <div class="form-group ">
            <label for="search_sf" class="wcag_hide">Adresy E-mail uczniów</label>
            @Html.TextAreaFor(model => model.NowiUczniowie, new { @class = "form-control", placeholder = "dodaj nowych uczniów", id = "Students2" })
            <span class="hint">By dodać więcej niż jeden email oddziel adresy za pomocą przecinka lub średnika</span>
            @Html.ValidationMessageFor(model => model.NowiUczniowie, "", new { @class = "text-danger" })
        </div>
        <div class="form-group ">
            <label for="search_sf" class="wcag_hide">Data ważności</label>
            <label class="altColor">Termin zakończenia lekcji:</label>
            <input class="text-box single-line" id="LifeTime2" name="LifeTime2" type="date" value="@Model.LeftTime.Date.ToString("yyyy-MM-dd")"
                   max="@DateTime.Now.AddDays(21).ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")">
            @Html.ValidationMessageFor(model => model.LeftTime, "", new { @class = "text-danger" })
        </div>
        <div class="form-group ">
            <label for="search_sf" class="wcag_hide">Wiadomość</label>
            @Html.TextAreaFor(model => model.EmailText, new { @class = "form-control", placeholder = "Treść wiadomości dla nowych uczniów", id = "EmailText2", name = "EmailText2" })
            @Html.ValidationMessageFor(model => model.EmailText, "", new { @class = "text-danger" })
        </div>


        @*<div class="form-group">
                <label for="search_sf" class="wcag_hide">Załącznik</label>
                <input type="file" id="file2" name="file2" />
            </div>*@

        <div class="buttons ">
            <div class="button send">
                <a href="#" onclick="DodajUczniow(); return false;" class=""><i class="fa fa-send" title="Zapisz i wyślij"></i><span class="wcag_hide">Zapisz i wyślij</span>Zapisz i wyślij</a>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div></div>
        <div></div>
        <div class="button">
        </div>
    </div>
</div>
<div class="background"></div>

@helper renderTreeView()
{
    <ul>
        @foreach (var item in Model.UczniowieIstniejący)
        {
            string statuses = item.GetPropertyValue<string>("status");
            string date = item.GetPropertyValue<DateTime>("dataWaznosc").ToString("dd.MM.yyyy");
            <li>
                <span class="Name">@item.Name</span> <span class="data">(@date)</span>
                <div class="PupilButtons">
                    <a href="#" onclick="SendAgin(@item.Id); return false"><i class="fa fa-send"></i>Wyślij ponownie</a>
                    <a class="" href="#" onclick="DeadLine(@item.Id);return false"><i class="fa fa-clock-o"></i>Nowy termin</a>
                    <a class="" href="#" onclick="Delete(@item.Id);return false"><i class="fa fa-times"></i>Usuń</a>
                </div>
                @if (!string.IsNullOrEmpty(statuses))
                {
                    <ul class="status">
                        @foreach (var status in statuses.Split(','))
                        {
                            var tmp = status.Split(':');
                            if (tmp.Length > 0 && tmp.Length > 2)
                            {
                                <li>@tmp[1] @tmp[2]</li>
                            }
                            else
                            {
                                <li>@tmp[1]</li>
                            }

                        }
                    </ul>
                }
            </li>
        }
    </ul>
}
<script>
    var tmpId;
    function Show(s) {
        console.log(s);
        s.parentNode.classList.toggle("hidden");
    }
    function DodajUczniow() {
        var url = '@Url.Action("DodajUczniow", "Lesson")?NowiUczniowie=' + document.getElementById("Students2").value +
            '&LeftTime=' + document.getElementById("LifeTime2").value +
            '&EmailText=' + document.getElementById("EmailText2").value+
            '&id=@Model.id';
            //var fd = new FormData();
            //var files = $('#file2')[0].files[0];
            //fd.append('file', files);
            $.ajax({
                url: url,
                cache: false,
                processData: false,
                contentType: false,
                dataType: "text",
                //data:fd,
                method:"post",
                success: function (result) {
                    document.getElementById("UczEditPop").innerHTML = result;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log("Ajax error: " + thrownError);
                },
                beforeSend: function () {
                        $('body').addClass('loading');
                },
                complete: function () {
                        $('body').removeClass('loading');
                }
            });
    }
    function SendAgin(id) {
        var url = '@Url.Action("SendAgin", "Lesson")?id=' + id;
        $.ajax({
            url: url,
            cache: false,
            processData: false,
            contentType: false,
            dataType: "text",
            method: "post",
            success: function (result) {
                document.getElementById("UczEditPop").innerHTML = result;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log("Ajax error: " + thrownError);
            },
            beforeSend: function () {
                $('body').addClass('loading');
            },
                complete: function () {
                    $('body').removeClass('loading');
            }
        });
    }
    function Delete(id) {
        var url = '@Url.Action("Delete", "Lesson")?id=' + id;
        $.ajax({
            url: url,
            cache: false,
            processData: false,
            contentType: false,
            dataType: "text",
            method: "post",
            success: function (result) {
                document.getElementById("UczEditPop").innerHTML = result;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log("Ajax error: " + thrownError);
            },
            beforeSend: function () {
                $('body').addClass('loading');
            },
                complete: function () {
                    $('body').removeClass('loading');
            }
        });

    }
    function DeadLine(id) {
        tmpId = id;
        ShowPop('NewDedline', false);
        document.getElementById("LifeTime3").value = addDays(new Date(), 14);
    }
    function NewDeadLine() {
        var url = '@Url.Action("UpdateDeadLine", "Lesson")?id=' + tmpId +
            '&LifeTime=' + document.getElementById("LifeTime3").value;
            //var fd = new FormData();
            //var files = $('#file2')[0].files[0];
            //fd.append('file', files);
            $.ajax({
                url: url,
                cache: false,
                processData: false,
                contentType: false,
                dataType: "text",
                //data:fd,
                method:"post",
                success: function (result) {
                    //document.getElementById("NewDedline").classList.toggle("PopupDeadLineShow");
                    document.getElementById("UczEditPop").innerHTML = result;
                    ShowPop("NewDedline", false);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log("Ajax error: " + thrownError);
                },
                beforeSend: function () {
                        $('body').addClass('loading');
                },
                complete: function () {
                        $('body').removeClass('loading');
                }
            });
    }
    function Split(show, hide) {
        var item1 = $("#" + show)
        var item = $("#" + hide);
        item1.toggleClass("Hidden");
        item.toggleClass("Hidden");
    }
    function ClosePupil() {
        ShowPop('UczEditPop', false);
        document.getElementById("Students2").value = "";
        document.getElementById("LifeTime2").value = addDays(new Date(), 14);
        document.getElementById("EmailText2").value = "";
    }
    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result.toISOString().substring(0, 10);
    }
</script>

