﻿@model Muzykoteka.Code.Models.EmailInfo
<div class="form-horizontal">
    <h4> Udostępnij przez e-mail </h4>
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <span class="text-danger">@Model.Error</span>
    }
    else if (Model.Ok)
    {
        <span class="Ok">Wysłana pomyślnie</span>
    }
    @Html.ValidationSummary(true, "", new
    {
        @class = "text-danger"
    })
    <div class="form-group">
        <div class="">
            <label for="search_sf" class="wcag_hide">Imię</label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Imię" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", })
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <label for="search_sf" class="wcag_hide">Twój adres e-mail</label>
            @Html.EditorFor(model => model.sender, new { htmlAttributes = new { @class = "form-control", placeholder = "Twój adres e-mail" } })
            @Html.ValidationMessageFor(model => model.sender, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <label for="search_sf" class="wcag_hide">Adresy e-mail odbiorców</label>
            @Html.TextAreaFor(model => model.Emails, new { @class = "form-control", placeholder = "Adresy e-mail odbiorców" })
            @Html.ValidationMessageFor(model => model.Emails, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="buttons">
        <div class="button send">
            <a href="#" onclick="SendMail(); return false;" class=""><i class="fa fa-send" title="Wyślij"></i><span class="wcag_hide">Wyślij</span></a>
        </div>
        <div class="button">
            <a href="#" onclick="HideShare(); return false;" class=""><i class="fa fa-times" title="Anuluj"></i><span class="wcag_hide">Anuluj</span></a>
        </div>
    </div>
</div>