@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{                         
}
<div class="filminfo-popup">        
    <div class="fi-lead-container">
        <div class="fi-title"></div> 
        <div class="fi-lead"></div>
    </div> 
    <img class="footer-logo" src="~/Images/wlogo.png" />
</div>
