@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code
@using ClientDependency.Core.Mvc
@{
    var listPrzedmioty = Helper.GetSlownik("Przedmiot");
    var listSzkola = Helper.GetSlownik("Szkola");
}
<div class="field total2">
    @Html.Partial("ComboBox", Model, new ViewDataDictionary {
    {"ClientID", "fltPrzedmiot" },
                  {"Text", "przedmiot"},
                  {"JSSelectionChanged", "OnSelectionChanged"},
                  {"FilterField","przedmiot"},
                  {"IsMultiselect", true},
                  {"DataSource", listPrzedmioty }})
</div>
<div class="field total2">
    @Html.Partial("ComboBox", Model, new ViewDataDictionary {
    {"ClientID", "fltSzkola" },
                  {"Text", "szkoła"},
                  {"JSSelectionChanged", "OnSelectionChanged"},
                  {"FilterField","rodzajSzkoly"},
                  {"IsMultiselect", false},
                  {"DataSource", listSzkola }})
</div>
@*<div class="field total2">

    <label class="filterAll"><input type="checkbox" id="SearchAll" onclick="OnSelectionChanged()" />Szukaj wszędzie</label>
</div>*@
<script type="text/javascript">
    function GetFilterExpr() {
        return BuildFilterExpr($('#fltPrzedmiot, #fltSzkola'));
    }
    function GetSortExpr() {
        return '';
    }
</script>
