@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code
@{
    var listAutorzy = Helper.GetSlownik("RodzajInstrumentu");
    var listTematy = Helper.GetSlownik("TematOMuzyce");
}
<div class="field total2">
    @Html.Partial("ComboBox", Model, new ViewDataDictionary {
                  {"ClientID", "fltTemat" },
                  {"Text", "wybierz temat"},
                  {"JSSelectionChanged", "OnSelectionChanged"},
                  {"FilterField","temat"},
                  {"IsMultiselect", true},
                  {"DataSource", listTematy}})
</div>
<script type="text/javascript">
    function GetFilterExpr() {
        return BuildFilterExpr($('.js-combo'));
    }
    function GetSortExpr() {
        return "";
    }
</script>