@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code
@{
    var listCykl= Helper.GetSlownik("CyklScenariuszy");
    var listPoziom = Helper.GetSlownik("PoziomNauczania");
}
<div class="field total2">
    @Html.Partial("ComboBox", Model, new ViewDataDictionary {
                  {"ClientID", "fltCykl" },
                  {"Text", "wybierz cykl"},
                  {"JSSelectionChanged", "OnSelectionChanged"},
                  {"FilterField","cykl"},
                  {"IsMultiselect", true},
                  {"DataSource", listCykl}})
</div>
<div class="field total2">
    @Html.Partial("ComboBox", Model, new ViewDataDictionary {
                  {"ClientID", "fltPoziom" },
                  {"Text", "wybierz poziom nauczania"},
                  {"JSSelectionChanged", "OnSelectionChanged"},
                  {"FilterField","poziom"},
                  {"IsMultiselect", true},
                  {"DataSource", listPoziom}})
</div>
<script type="text/javascript">
    function GetFilterExpr() {
        return BuildFilterExpr($('.js-combo'));
    }
    function GetSortExpr() {
        return "";
    }
</script>