@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code
@{
    var listRodzaj = Helper.GetSlownik("RodzajAktualne");
}

<div class="field total2">
    @Html.Partial("ComboBox", Model, new ViewDataDictionary {
                  {"ClientID", "filter2" },
                  {"Text", "rodzaj"},
                  {"JSSelectionChanged", "OnSelectionChanged"},
                  {"FilterField", "rodzaj"},
                  {"IsMultiselect", true},
                  {"DataSource", listRodzaj}})
</div>
<div class="field total2">
    @Html.Partial("DatePicker", Model, new ViewDataDictionary {
                  {"ClientID", "filterDT" },
                  {"Text", "data od-do"},
                  {"JSSelectionChanged", "OnSelectionChanged"},
                  {"FilterField", "dt"},
                  {"IsMultiselect", true}})
</div>
<script type="text/javascript">
    function GetFilterExpr() {
        return BuildFilterExpr($('.js-combo'), $('.js-dtpicker'));
    }
    function GetSortExpr() {
        return "";
    }
</script>