@inherits Merchello.Web.Mvc.MerchelloViewPage<BasketViewModel>
@using Muzykoteka.Code
@using Muzykoteka.Code.Models
@using Merchello.Web.Models.ContentEditing
@{    
    var CurrentContent = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

<div class="basket">
    @if (!Model.Items.Any())
    {
        @RenderEmpty(CurrentContent);
    }
    else
    {
        @RenderBasket(CurrentContent);
    }
</div>

@helper RenderEmpty(IPublishedContent CurrentContent)
{
    <div class="basket-empty">
        <p>Koszyk jest pusty</p>        
    </div>
}

@helper RenderBasket(IPublishedContent CurrentContent)
{
        <div class="basket_table">
            <div class="basket_row">
                <div class="c1 hdr">Produkt</div>
                <div class="c2 hdr">Ilość</div>
                <div class="c3 hdr">Cena</div>
            </div>

            @for (var i = 0; i < Model.Items.Count(); i++)
            {
                var product = Merchello.Query.Product.GetByKey(Model.Items[i].ProductKey);
                var productContent = product.AsProductContent();
                string img = null;
                try
                {
                    img = productContent.GetCropUrl("zdjecie", "miniatura");
                }
                catch
                {
                    img = productContent.GetCropUrl(propertyAlias: "zdjecie", cropAlias: "miniatura", cacheBuster: false);
                }

                string url=null;
                if (productContent.DocumentTypeAlias == "SubskrypcjaVOD")
                {
                    int? contentId = productContent.GetPropertyValue<int?>("artykul");
                    var content = (contentId == null ? null : Umbraco.TypedContent(contentId));
                    if (content != null)
                    {
                        url = content.Url;
                    }

                }
                if (url == null)
                {
                    url = CurrentContent.Parent.Url + "/pozycja?id=" + Url.Encode(Model.Items[i].ProductKey.ToString());
                }

                var key = Model.Items[i].Key;
            <div class="basket_row">
                <div class="c1">
                    <a href="@url"><img src="@img" /><span class="desc">@Model.Items[i].Name</span></a>
                </div>
                <div class="c2">
                    <div class="q">
                        <a href="#" onclick="IncrQ('@key', true); return false;" class="qp">+</a>
                        <div class="qt">
                            @Html.TextBoxFor(model => model.Items[i].Quantity, new { @Id = "input_q_" + key, onblur = "OnQuantityBlur(this,'" + key + "')" })
                        </div>
                        <a href="#" onclick="IncrQ('@key', false); return false;" class="qp">&#8211;</a>
                    </div>
                    @Html.HiddenFor(model => model.Items[i].Quantity, new { @Id = "hdn_q_" + key })
                </div>
                <div class="c3">
                    <div class="del">
                        @Html.ActionLink("×", "RemoveItemFromBasket", "Checkout"
                                , new { lineItemKey = Model.Items[i].Key, parentId = CurrentContent.Id }
                                , new { title = "Usuń", aria_describedby = "del_item_desc"})
                    </div>
                    <div>
                        <span id="price_@key">@((Model.Items[i].TotalPrice).ToAmountString()) </span>
                    </div>
                </div>
            </div>
            <div class="basket_row">
                <div class="c5">                    
                    @Model.Items[i].Name
                </div>
            </div>
            }
            <div class="basket_row">
                <div class="c1"></div>
                <div class="c2"></div>
                <div class="c3">
                    <div class="del red">
                        @Html.ActionLink("×", "RemoveAllFromBasket", "Checkout", new { parentId = CurrentContent.Id }, new { aria_describedby = "del_all_desc" })
                    </div>
                    <div id="del_all_desc" class="all">Usuń wszystko</div>
                </div>
            </div>
        </div>

        <div id="shipment-container">
            @Html.Action("RenderShipmentMethods", "Checkout", new { area = "MerchelloWfdifStore" })
        </div>

        <div class="basket_summary">
            <div class="kodr-hdr"><label for="txt_kodr">Kod rabatowy</label></div>
            <div class="kodr-loading hide"><img src="~/Images/loading.gif" /></div>
            <div class="kodr-res1 @Html.Raw(Model.TotalDiscount != 0 ? "" : "hide")">Kod rabatowy został zaakceptowany</div>
            <div class="kodr-res0 hide">Kod jest nieprawidłowy</div>
            <div class="kodr">
                <div class="input"><input id="txt_kodr" type="text" value="@Model.DiscountCode" /></div>                
            </div>
            <div id="basket_total">
                @Html.Action("DisplayBasketTotal", "Checkout", new { area = "MerchelloWfdifStore" })
            </div>
            <div class="buy">
                <a href="@CurrentContent.Parent.Children.Skip(1).FirstOrDefault().Url" onclick="return ValidateData();" class="buy_button">Dalej</a>
            </div>
        </div>
}

<script type="text/javascript">

    function ReloadShipments() {        
        $.ajax({
            url: '/VowosAdmin/MerchelloWfdifStore/Checkout/RenderShipmentMethods',
            cache: false,
            dataType: 'text',
            success: function (data) {
                $('#shipment-container').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(status + ' ' + thrownError);
            },
            cache: false
        });
    }

    function ValidateData() {
        var isValid = true;
        var hdnShipment = $('#hdnShipment');
        if (hdnShipment.length) {                
            var isValid = ($('#hdnShipment').val().length > 0);
            $('.basket_shipment .head').toggleClass('error', !isValid);
            $('#shipment_err').toggleClass('visible_err', !isValid);
            $('.basket_shipment').attr('aria-invalid', !isValid);
        }   
        var rcode = $('#txt_kodr').val();
        if (isValid && rcode.length > 0) {
            $('.kodr-res1').toggleClass('hide', true);
            $('.kodr-res0').toggleClass('hide', true);
            $('.kodr').toggleClass('hide', true);
            $('.kodr-loading').toggleClass('hide', false);
            var rcode = $('#txt_kodr').val();
            $.ajax({
                url: '/VowosAdmin/MerchelloWfdifStore/Checkout/SetDiscount/?c=' + rcode,
                type: 'GET',
                cache: false,
                async: false,
                timeout: 30000,
                dataType: 'text',                
                success: function (data) {
                    isValid = (data == '1');
                    $('.kodr-loading').toggleClass('hide', true);
                    $('.kodr').toggleClass('hide', false);
                    $('.kodr-res1').toggleClass('hide', data != '1');
                    $('.kodr-res0').toggleClass('hide', data == '1');
                    UpdateBasketTotal();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(status + ' ' + thrownError);
                },
                cache: false
            });
        }        
        return isValid;
    }

    function SubmitChanges() {
        $('#basket_form').submit();
    }

    function SelectShipment(key) {
        var last_method = $('#hdnShipment').val();
        if (last_method.length > 0) {
            $('#smetod_' + last_method).removeClass('selected');
        }
        else {
            $('.basket_shipment .head').toggleClass('error', false);
        }
        $('#hdnShipment').val(key);
        $('#smetod_' + key).toggleClass('selected', true);

        $.ajax({
            url: '/VowosAdmin/MerchelloWfdifStore/Checkout/SaveShipment/?key=' + key,
            cache: false,
            dataType: 'text',
            success: function (data) {
                $('#basket_total').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(status + ' ' + thrownError);
            },
            cache: false
        });
    }

    function IncrQ(key, isIncr) {
        $inp = $('#input_q_' + key);
        $inp_m = $('#input_q_m_' + key);
        var v = parseInt($inp.val());
        if ((v < 99 && isIncr) || (v > 1 && !isIncr)) {
            var nv = parseInt(v) + (isIncr ? 1 : -1);
            $inp.val(nv);
            $inp_m.val(nv);
            UpdateProductPrice(key, nv);
        }
    }

    function OnQuantityBlur(el, key) {
        var val = parseInt($(el).val());
        var nval = val;
        if (isNaN(val) || val <= 0) {
            nval = 1;
        }
        else if (val > 99) {
            nval = 99;
        }
        if (nval != val) {
            $(el).val(nval);
        }

        if ($(el).attr('Id') == 'input_q_' + key) {
            $('#input_q_m_' + key).val(nval);
        }
        else {
            $('#input_q_' + key).val(nval);
        }

        UpdateProductPrice(key, nval);
    }

    var updp_timer;
    function UpdateProductPrice(key, q) {
        if (updp_timer) {
            clearTimeout(updp_timer);
        }
        updp_timer = setTimeout(function () { _UpdateProductPrice(key, q); }, 1000);
    }

    function UpdateBasketTotal() {      
        $.ajax({
            url: '/VowosAdmin/MerchelloWfdifStore/Checkout/DisplayBasketTotal',
            cache: false,
            dataType: 'text',
            success: function (data) {
                $('#basket_total').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(status + ' ' + thrownError);
            },
            cache: false
        });
    }

    function _UpdateProductPrice(key, q) {
        $hdn = $('#hdn_q_' + key);
        if ($hdn.val() != q) {
            $hdn.val(q);
            $.ajax({
                url: '/VowosAdmin/MerchelloWfdifStore/Checkout/UpdateQuantity/?key=' + key + '&q=' + q,
                cache: false,
                dataType: 'text',
                success: function (data) {
                    $('#price_' + key).html(data);
                    $('#price_m_' + key).html(data);
                    UpdateBasketTotal();
                    ReloadShipments();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(status + ' ' + thrownError);
                },
                cache: false
            });
        }
    }
</script>