﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Muzykoteka.Code.Surface
@using Muzykoteka.Code.Models.SSO

@{
    var model = new Token();
    model.CurrentPage = Request.Url.PathAndQuery;
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@*@using (Html.BeginUmbracoForm<SSOAccountController>("Token", null, new { @class = "login" }, FormMethod.Post))
    {
        <fieldset>
            <h1>Logowanie</h1>

            @Html.ValidationSummary("loginModel", true)
            <div class="form-item">
                @Html.Label("Login:")
                @Html.TextBoxFor(m => model.username)
            </div>
            <div class="form-item">
                @Html.Label("Hasło:")
                @Html.PasswordFor(m => model.password)
                @Html.ValidationMessageFor(m => model.password)
            </div>
            @Html.HiddenFor(m => model.CurrentPage)

            <button>Zaloguj</button>
        </fieldset>
    }*@
<div class="loginPage">
    <div class="wrapper">
        @using (Html.BeginUmbracoForm<SSOAccountController>("Token", null, new { @class = "login" }, FormMethod.Post))
        {
            <p class="title">Zaloguj się dupa</p>

            @Html.TextBoxFor(m => model.username, new { placeholder = "Login" })
            @*<input type="text" placeholder="Login" autofocus />*@
            <i class="fa fa-user"></i>
            @Html.ValidationMessageFor(m => model.username)
            @Html.PasswordFor(m => model.password, new { placeholder = "Hasło" })
            <i class="fa fa-key"></i>
            @Html.ValidationMessageFor(m => model.password)
            <a href="#" class="block">Zapomniałeś swoje hasło?</a>
            <button>
                <i class="spinner"></i>
                <span class="state">Zaloguj się</span>
            </button>
        }
    </div>
</div>
<script></script>