﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code
@{
    var typedMultiMediaPicker = new List<int>();
    var ids = Model.Content.GetPropertyValue<string>("wyrozniony");
    var count = 0;
    if (!string.IsNullOrEmpty(ids))
    {
        typedMultiMediaPicker.AddRange(ids.Split(',').Select(x => Convert.ToInt32(x)));
    }
}
<div class="MainSLider">
    <div id="sliderMain" class="slides">
        @if (typedMultiMediaPicker != null)
        {
            int i = 0;
            var category = CurrentPage.Site().FirstChild(true ? "Multimedia" : "Nauka").Children.Where("Visible");
            List<IPublishedContent> items = new List<IPublishedContent>();
            var DefaultImage = Model.Content.GetCropUrl(propertyAlias: "zdjecieDomyslne", cropAlias: "slider");
            items.AddRange(Umbraco.Content(typedMultiMediaPicker));
            count = items.Count();
            foreach (var page in items)
            {
                var IsProtected = Umbraco.IsProtected(page.Path);
                bool bLogIn = (IsProtected && !Umbraco.MemberIsLoggedOn());
                string tytul = page.GetPropertyValue<string>("tytul");
                string lb_text = page.AncestorOrSelf(3).Name;
                string r = page.GetPropertyValue<string>("rezyser");
                string desc_line = r;
                string rok_produkcji = page.GetPropertyValue<string>("rok_produkcji");
                var image = page.GetBWCropUrl("Zdjecie", "slider", false);

                if (string.IsNullOrEmpty(image))
                {
                    image = DefaultImage;
                }

                string Url = page.Url, urlTarget = "_self", playTitle;
                if (page.DocumentTypeAlias == "NaukaGra")
                {
                    if (bLogIn)
                    {
                        Url = "#";
                    }
                    else
                    {
                        urlTarget = "_blank";
                    }
                    playTitle = "Uruchom grę";
                }
                else
                {
                    urlTarget = "_self";
                    playTitle = "Przejdź do materiału";
                }

                if (!String.IsNullOrEmpty(rok_produkcji))
                {
                    if (desc_line.Length > 0)
                    {
                        desc_line += " / ";
                    }
                    desc_line += rok_produkcji;
                }
                if (String.IsNullOrEmpty(desc_line))
                {
                    desc_line = "&nbsp;";
                }
                <a href="@Url" class="slide @Html.Raw(bLogIn ? "js-loginFrame":"")" target="@urlTarget" title="@playTitle">
                    <figure>
                        <img class="hidden" src="@image">
                    </figure>
                    <div class="Description">
                        <div class="title">@Html.Raw(tytul)</div>
                        <div class="desc">@Html.Raw(desc_line)</div>
                        <div class="title-top">@lb_text</div>
                    </div>
                </a>
                i++;
            }
        }
        @*<nav role="pagination" class="dots">
                @while (count == 0)
                {
                    <span class="dot"></span>
                    count-=1;
                }
            </nav>*@
        <nav role="pagination" class="arrows">
            <button class="arrow-prev"><i class="fa fa-angle-left " aria-hidden="true"></i></button>
        </nav>
        <nav role="pagination" class="arrows">
            <button class="arrow-next"><i class="fa fa-angle-right " aria-hidden="true"></i></button>
        </nav>
    </div>
</div>
<script>
    window.addEventListener('load', function () {
        var mainslider = new Slider("#sliderMain .slide").options({
            prev: "#sliderMain nav button.arrow-prev",
            next: "#sliderMain nav button.arrow-next",
            //nav: "#slider nav.dots span",
            animation: "tape",
            auto: false,
            first: 1
        });
        mainslider.init();
    });
</script>