﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div id="NoRole">
    <div class="Text">
        @Umbraco.Field("powitanie", recursive: true)
    </div>
    <div class="Lead">
        <span>Zaloguj się i wybierz profil w swoim panelu użytkownika, by mieć dostęp do materiałów WFDIF.ONLNE.</span>
        <span>Jeśli wykonałeś tą akcję spróbuj wylogować i zalogować jeszcze raz</span>
    </div>
    <div class="buttons">

        <a target="wfdifssoprofile" href="@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["sso_host"])">Przejdź do panelu użytkownika</a>
    </div>
</div>
<script>

</script>