@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Text.RegularExpressions;
@{
    string og_desc = null;
    string og_image = null;
    int og_image_width = 0;
    int og_image_height = 0;

    if (Model.Content.HasProperty("zdjecie"))
    {
        og_image = Model.Content.GetCropUrl("zdjecie","pastylka");
        if (!String.IsNullOrEmpty(og_image))
        {
            var match = Regex.Match(og_image, "&width=(\\d+)&");
            if (match.Success && match.Groups.Count > 1)
            {
                Int32.TryParse(match.Groups[1].Value, out og_image_width);
            }
            match = Regex.Match(og_image, "&height=(\\d+)&");
            if (match.Success && match.Groups.Count > 1)
            {
                Int32.TryParse(match.Groups[1].Value, out og_image_height);
            }
        }
    }
    if (og_image == null)
    {
        og_image = "/Images/logo-fb1.png";
        og_image_height = 370;
        og_image_width = 370;
    }


    if (og_image != null)
    {
        if (Model.Content.HasProperty("lead"))
        {
            og_desc = Model.Content.GetPropertyValue<string>("lead");
            if (!string.IsNullOrEmpty(og_desc))
            {
                og_desc = Regex.Replace(og_desc, "<[^>]*(>|$)", string.Empty);
            }
        }
        if (String.IsNullOrEmpty(og_desc) && Model.Content.HasProperty("MetaDescription"))
        {
            og_desc = Model.Content.GetPropertyValue<string>("MetaDescription");
        }
        if (String.IsNullOrEmpty(og_desc))
        {        
            var pg_homepage = Model.Content.AncestorOrSelf(1);
            og_desc = pg_homepage.GetPropertyValue<string>("MetaDescription");
        }
    }

    //fix: proper encoding for facebook og:image    
    if (!String.IsNullOrEmpty(og_image)) {
        var filename_math = Regex.Match(og_image, "/([^/]*)\\?");
        if (filename_math.Success && filename_math.Groups.Count > 1)
        {
            string enc = Server.UrlEncode(filename_math.Groups[1].Value);
            og_image = og_image.Replace ("/" + filename_math.Groups[1].Value + "?", "/" + enc + "?");
        }
    }
    string og_url = "https://" + Request.Url.Host + Model.Content.Url;
    if (Request.QueryString.Count > 0) {
        og_url += "?" + Request.QueryString.ToString();
    }
}
@if (!String.IsNullOrEmpty(og_image)) {  
    <meta property="og:url" content="@Html.Raw(og_url)" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@(Model.Content.HasProperty("tytul") ? Model.Content.GetPropertyValue("tytul"):Model.Content.Name)" />
    if (og_desc != null) { 
    <meta property="og:description" content="@og_desc" />
    }
    <meta property="og:image"  content="@("https://" + Request.Url.Host + og_image)" />
    if (og_image_width > 0 && og_image_height > 0)
    {
    <meta property="og:image:width" content="@og_image_width" />
    <meta property="og:image:height" content="@og_image_height" />
    }
}