@inherits Merchello.Web.Mvc.MerchelloViewPage<Muzykoteka.Code.Models.ViewModels.InvoiceSummary>
@using Muzykoteka.Code
@{
    var node = UmbracoContext.PublishedContentRequest.PublishedContent;
    string pattern = "";
    if (Model.PaymentMethod == CheckoutController.GetPaymentKey(CheckoutController.WfdifPaymentMethod.Dotpay))
    {
        if (String.Compare(Model.Status, "OK") == 0)
        {
            pattern = node.GetPropertyValue<string>("dotpay_ok");
        }
        else { 
            pattern = node.GetPropertyValue<string>("dotpay_err");
        }
    }
    else if (Model.PaymentMethod == CheckoutController.GetPaymentKey(CheckoutController.WfdifPaymentMethod.Osobisty))
    {
        pattern = node.GetPropertyValue<string>("odbior");
    }
    else if (Model.PaymentMethod == CheckoutController.GetPaymentKey(CheckoutController.WfdifPaymentMethod.Przelew))
    {
        pattern = node.GetPropertyValue<string>("przelew");
    }
    else if (Model.PaymentMethod == CheckoutController.GetPaymentKey(CheckoutController.WfdifPaymentMethod.Pobranie))
    {
        pattern = node.GetPropertyValue<string>("pobranie");
    }
    pattern = pattern.Replace("{{number}}", Model.Number.ToString())
        .Replace("{{total}}", Model.Total.ToAmountString());    
}
@Html.Raw(pattern)