﻿@model Muzykoteka.Code.Models.EdytujUczniow
<div class="form-horizontal">
    <a href="#" onclick="DeadLine(); return false;" style="float:right;"><i class="fa fa-times" title="Zamknij"></i><span class="wcag_hide">Zamknij</span></a>
    <h4> Nowy Termin </h4>
    <div class="form-group ">
        <label for="search_sf" class="wcag_hide">Data ważności</label>
        <input class="text-box single-line" id="LifeTime3" name="LifeTime3" type="date" value="@Model.LeftTime.Date.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddDays(21).ToString("yyyy-MM-dd")">
        @Html.ValidationMessageFor(model => model.LeftTime, "", new { @class = "text-danger" })
    </div>
    <div class="buttons ">
        <div class="button send">
            <a href="#" onclick="NewDeadLine(); return false;" class=""><i class="fa fa-send" title="Zatwierdź"></i><span class="wcag_hide">Zatwierdź</span>Zatwierdź</a>
        </div>
        <div></div>
        <div class="button">
            <a href="#" onclick="DeadLine(); return false;" class=""><i class="fa fa-times" title="Zamknij"></i><span class="wcag_hide">Zamknij</span>Zamknij</a>
        </div>
    </div>
</div>
<div class="background"></div>