@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code
@using Muzykoteka.Code.Models
@using Merchello.Web.Models.ContentEditing
@{
    long totalPages = ViewBag.TotalPages;
    int page_num = ViewBag.PageNum;
    var parent = Umbraco.TypedContent(ViewBag.ParentNodeId);
    bool bMemberLoggedIn = (Membership.GetUser() != null);

    <div class="Lasted">
        <ul class="items">

            @foreach (Merchello.Web.Models.ContentEditing.ProductDisplay productDisplay in ViewBag.nodes)
            {
                var productitemmodel = new AddItemModel()
                {
                    ProductKey = productDisplay.Key
                };

                var productContent = productDisplay.AsProductContent();

                string picture;
                try
                {
                    picture = productContent.GetCropUrl("zdjecie", "miniatura");
                }
                catch
                {
                    picture = productContent.GetCropUrl(propertyAlias: "zdjecie", cropAlias: "miniatura", cacheBuster: false);
                }

                bool bLogIn = false;
                string url = null;
                if (productContent.DocumentTypeAlias == "SubskrypcjaVOD")
                {
                    bLogIn = !bMemberLoggedIn;
                    int? contentId = productContent.GetPropertyValue<int?>("artykul");                                                                
                    var content = (contentId == null ? null : Umbraco.TypedContent(contentId));
                    if (content != null)
                    {
                        url = content.Url;
                    }
                                
                }
                if (url == null)
                {
                    url = "/sklep/pozycja?id=" + Url.Encode(productDisplay.Key.ToString());
                }
                string name = productDisplay.Name;
                string lead = productContent.GetPropertyValue<string>("lead");
                string desc_line1 = Helper.GetProductCategory(productContent);
                string desc_line2 = "";
                string price = productDisplay.SalePrice.ToAmountString();
                if (productDisplay.Price != productDisplay.SalePrice)
                {
                    price = "<span class='price-discount'>" + productDisplay.Price.ToAmountString() + "</span>" + price;
                }

                <li style="background:url('@picture')" id="@productContent.Id">
                    <div class="Icon">
                        <div class="add-to-clpb buy_button @Html.Raw(bLogIn ? "js-loginFrame" : "")">
                            @if (!bLogIn) {
                        @Html.Action("DisplayBuyButton", "Checkout", new { area = "MerchelloWfdifStore", product = productitemmodel });
                    }
                            else
                            {
                                <button class="" title="Dodaj do koszyka"></button>
                            }
                        </div>
                    </div>
                    <div class="Buttons">
                        <a class="ovlay-play" href="@url" title="Przejdź do produktu"><img src="/Images/show.png" alt="" /></a>
                        <a href="#" onclick="return false;" title="Opis produktu" class="js-filminfo ovlay-info" data-title="@name" data-lead="@lead"><img class="" src="/Images/info.png" alt="" /></a>
                    </div>
                    <a class="Under" href="@url">
                        <div class="Description">
                            <div class="title" title="@name">@Html.Raw(name)</div>
                            <div class="desc" title="@desc_line1">@Html.Raw(desc_line1)</div>
                            <div class="desc" title="@desc_line2">@Html.Raw(desc_line2)</div>
                            <div class="title-top">@Html.Raw(price)</div>
                        </div>
                    </a>                   
                </li>

            }

        </ul>
    </div>

    <div class="sklep-rules">
        <a href="@Helper.GetStoreLink(parent, StoreLinkType.Rules)">Regulamin sklepu</a>
        <a href="@Helper.GetStoreLink(parent, StoreLinkType.Shipments)">Dostawy</a>
    </div>   
}