﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Controllers

@{
    @*
        You can specify a custom member type alias in the constructor, the default is 'Member'
        for example, to use 'Custom Member' you'd use this syntax:

        var registerModel = Members.CreateRegistrationModel("Custom Member");
    *@

    var registerModel = Members.CreateRegistrationModel();
    registerModel.RedirectUrl = HttpContext.Current.Request.Path;
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    var success = TempData["FormSuccess"] != null;
}
@Html.RenderJsHere()

@if (success)
{
    @* This message will show if RedirectOnSucces is set to false (default) *@
    <p>Registration succeeeded.</p>
}
else
{
    using (Html.BeginUmbracoForm<UmbRegisterController>("HandleRegisterMember", FormMethod.Post, new { @class = "form-check-input", id = "test" }))
    {
        <fieldset>
            <legend>Register Member</legend>

            @Html.ValidationSummary("registerModel", true)

            @Html.LabelFor(m => registerModel.Name)
            @Html.TextBoxFor(m => registerModel.Name)
            @Html.ValidationMessageFor(m => registerModel.Name)
            <br />

            @Html.LabelFor(m => registerModel.Email)
            @Html.TextBoxFor(m => registerModel.Email)
            @Html.ValidationMessageFor(m => registerModel.Email)
            <br />

            @Html.LabelFor(m => registerModel.Password)
            @Html.PasswordFor(m => registerModel.Password)
            @Html.ValidationMessageFor(m => registerModel.Password)
            <br />

            @if (registerModel.MemberProperties != null)
            {
                @*
                    It will only displays properties marked as "Member can edit" on the "Info" tab of the Member Type.
                *@
                for (var i = 0; i < registerModel.MemberProperties.Count; i++)
                {
                    @Html.LabelFor(m => registerModel.MemberProperties[i].Value, registerModel.MemberProperties[i].Name)
                    @*
                        By default this will render a textbox but if you want to change the editor template for this property you can
                        easily change it. For example, if you wanted to render a custom editor for this field called "MyEditor" you would
                        create a file at ~/Views/Shared/EditorTemplates/MyEditor.cshtml", then you will change the next line of code to
                        render your specific editor template like:
                        @Html.EditorFor(m => profileModel.MemberProperties[i].Value, "MyEditor")
                    *@
                    switch (registerModel.MemberProperties[i].Alias)
                    {
                        case "zgodaIAkceptacjaRegulaminu":
                            <input id="chkagree-@registerModel.MemberProperties[i].Alias" class="form-check-input" type="checkbox" value="">
                            @Html.EditorFor(m => registerModel.MemberProperties[i].Value,
                           new { htmlAttributes = new { @class = " " + registerModel.MemberProperties[i].Alias + " form-control " } });
                            <script>
                                $("#@registerModel.MemberProperties[i].Alias").on('change', function () {
                                    var consentReceived = "true";
                                    var consentDeclined = "false";
                                    if ($(this).is(':checked')) {
                                        $('.chkagree-@registerModel.MemberProperties[i].Alias').val(1);
                                    }
                                    else {
                                        $('.chkagree-@registerModel.MemberProperties[i].Alias').val(0);
                                    }
                                });
                            </script>
                            break;
                        default:
                            @Html.EditorFor(m => registerModel.MemberProperties[i].Value);
                            break;

                    }
                    @Html.HiddenFor(m => registerModel.MemberProperties[i].Alias)
                    <br />
                }
            }

            @Html.HiddenFor(m => registerModel.MemberTypeAlias)
            @Html.HiddenFor(m => registerModel.RedirectUrl)
            @Html.HiddenFor(m => registerModel.UsernameIsEmail)

            <button>Register</button>
        </fieldset>
    }
}
