@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{   
    Html.RequiresCss("~/Css/popup.css");
    Html.RequiresJs("~/Scripts/ScenariuszePopup.js");
}
<div class="scenariusze-popup">    
    <div class="scinner">
        <div class="sctitle">W przygotowaniu.</div>
        <div class="scinfo">Zapraszamy na stronę <a href="https://ws.wfdif.pl/">https://ws.wfdif.pl/</a></div>        
    </div>    
</div>
