@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code;
@{

    bool isGrayscale = Helper.IsGreyscale();
    
    List<IPublishedContent> links = null;
    IPublishedContent ref_content = null;
    if (Model.Content.DocumentTypeAlias == "ArtykulGlowna")
    {
        var contentId = Model.Content.GetPropertyValue<int?>("artykul");
        if (contentId != null) {
            ref_content = Umbraco.TypedContent((int)contentId);
        }        
    }
    if (ref_content == null) { 
        ref_content = Model.Content;
    }
    if (ref_content.HasValue("zobaczRowniez"))
    {
        var sids = ref_content.GetPropertyValue<string>("zobaczRowniez");        
        var ids = sids.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
        links = Umbraco.TypedContent(ids).Where(x => x != null).ToList();
    }
    if (links == null || links.Count == 0)
    {
        links = Helper.GetRandomSeeAlso(ref_content).ToList();
    }


    if (links != null) { 
        foreach (var l in links)
        {
            if (l != null) {
                string rt_text = l.AncestorOrSelf(2).Name;
                string lb_text = (l.Level >= 4 ? l.AncestorOrSelf(3).Name : "");
                string thumb = "";
                try
                {
                    thumb = l.GetBWCropUrl("zdjecie", "kafel", isGrayscale);
                }
                catch
                {
                }
                <div class="seealso-list-rec">
                    <a class="title" href="@l.Url">@Html.Raw(l.GetPropertyValue("tytul"))</a>
                    <a class="add-to-clpb js-add2clbp @Html.Raw((Muzykoteka.Code.ClipboardSurfaceController.GetCurrentClpbList().Contains(l.Id))?"added":"") " onclick="return false;" href="#" title="Dodaj do ulubionych" data-contentid="@l.Id"><span class="wcag_hide">
                        dodaj do ulubionych</span>
                    </a>
                    <div class="pic" style="background-image: url('@thumb')">
                        <div class="rt">@rt_text</div>
                        <div class="bl">@lb_text</div>
                        @if (l.HasValue("lead"))
                        {
                            <div class="lead">
                                @l.GetPropertyValue("lead")
                            </div>
                        }
                    </div>
                </div>
            }
        }
    }
}