﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<SmartBlog.Comment>
@using System.Web.Mvc.Html;
@using Umbraco.Web;
@using Umbraco.Core.Security;
@using Umbraco.Core.Models.Membership;
@{
    var authenticationTicket = new HttpContextWrapper(HttpContext.Current).GetUmbracoAuthTicket();

    var member = Membership.GetUser();
    IMember user = null;
    if (member!=null)
    {
        ApplicationContext.Services.MemberService.GetByEmail(member.Email);
    }
    // Client validation enabled
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;

    // Master blog settings
    Boolean blnMasterDisableComments = Boolean.Parse(SmartBlogLibraries.Global.GetConfig().GetElementsByTagName("masterDisableComments")[0].InnerText);
    Boolean blnDisableFacebookIntegration = Boolean.Parse(SmartBlogLibraries.Global.GetConfig().GetElementsByTagName("disableFacebookIntegration")[0].InnerText);

    // Get the current page
    IPublishedContent objModel = Umbraco.TypedContent(UmbracoContext.Current.PageId);

    // Tells the controller what page to add a comment under.
    Model.intId = objModel.Id;

    // Comments
    IEnumerable<IPublishedContent> colComments = objModel.Descendants("SmartBlogComment");

    // If comments have not been disabled then don't show them
    if (!blnMasterDisableComments
        && objModel.GetPropertyValue<Boolean>("disableComments") != true
        && objModel.AncestorOrSelf("SmartBlogBlog").GetPropertyValue<Boolean>("disableGlobalComments") != true)
    {
        <div class="CommentHeader">Komentarze<span class="comentsCount">Liczba komentarzy: @colComments.Count()</span></div>

        // Div for comments to be loaded into
        <div id="commentsContainer">
            @foreach (IPublishedContent objComment in colComments)
            {
                <div class="comment" id="c-@objComment.Id">
                    <div class="commentTop">
                        <div class="commentName">@objComment.GetPropertyValue("smartBlogName")</div>
                        <div class="commentDate">@objComment.CreateDate.ToString("g")</div>
                    </div>
                    <div class="commentComment">@Html.Raw(objComment.GetPropertyValue("smartBlogComment"))</div>
                </div>
            }
        </div>

        if (user != null)
        {
            <h3>Dodaj Komentarz</h3>

            // Render comment form
            using (Html.BeginUmbracoForm("SubmitComment", "SmartSurface", null, new Dictionary<String, Object> { { "id", "commentForm" } }))
            {
                <input type="hidden" id="strName" name="strName" value="@user.Name" />
                @*@Html.EditorFor(x => x.strName)*@
                @*@Html.ValidationSummary(false, "Wypełnij poprawnie pola");*@
                <input type="hidden" id="strEmail" name="strEmail" value="@user.Email" />
                <input type="hidden" id="strWebsite" name="strWebsite" value=" " />
                <input type="hidden" id="strSecurity" name="strSecurity" value="4" />
                <div class="form-group">
                    @Html.TextAreaFor(x => x.strComment, new Dictionary<String, Object> { { "placeholder", "Komentarz" }, { "row", "5" } })
                    <script>
                        ClassicEditor.create(document.getElementById('strComment'), {
                        })
                            .then(editor => {
                                //theEditor = editor; // Save editor for usage later
                                console.log(editor);
                            })
                            .catch(error => {
                                console.error(error);
                            });
                    </script>
                </div>
                @Html.HiddenFor(x => x.intId)
                <div class="form-group">
                    <button name="Submit" id="submitButton">Wyślij</button>
                </div>
            }
        }
        else
        {
            <text>Aby mieć możliwość pisania komentarzy <a href="#" class="sign_in js-loginFrame" onclick="return false;">ZALOGUJ SIĘ</a></text>
        }

    }
}
