﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using Umbraco.Web;
@{
    <form id="smartBlogSearchForm">
        <input type="text" id="smartSearchInput" value="@Request.QueryString["q"]" placeholder="Szukaj" />
        <input type="submit" id="smartSearchButton" value="Szukaj" />
    </form>
}