﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using Umbraco.Web;
@using Muzykoteka.Code;
@using umbraco.MacroEngines;
@{
    var Blogmain = Model.Content.AncestorOrSelf(2).Id;
    //IPublishedContent objNextPage = SmartBlogLibraries.Helpers.Listing.GetNextNode(Model.Content);
    //IPublishedContent obPreviousPage = SmartBlogLibraries.Helpers.Listing.GetPreviousNode(Model.Content);

    String strAuthor = !String.IsNullOrEmpty(Model.Content.GetPropertyValue<String>("smartBlogAuthor"))
        ? Model.Content.GetPropertyValue<String>("smartBlogAuthor")
        : SmartBlogLibraries.Global.GetConfig().GetElementsByTagName("defaultAuthor")[0].InnerText;
    List<string> tags = new List<string>();
    if (Model.Content.HasValue("smartBlogTags"))
    {
        tags = Model.Content.GetPropertyValue<String>("smartBlogTags").Split(',').ToList();
    }
    var Author = Model.Content.CreatorName;
    var item = UmbracoContext.Current.ContentCache.GetAtRoot()
.Where(x => x.DocumentTypeAlias == "Zasoby")
.FirstOrDefault()
.Children
.Where(x => x.DocumentTypeAlias == "Autorzy")
.FirstOrDefault()
.Children.Where(x => x.Name == Author)
.FirstOrDefault();
    string img = "";
    string imie = "";
    string Nazwisko = "";
    string FaceBook = "";
    string Twitter = "";
    if (item != null)
    {
        img = item.GetBWCropUrl("authorImage", "miniatura", false).ToString();
        imie = item.GetPropertyValue<string>("imie");
        Nazwisko = item.GetPropertyValue<string>("Nazwisko");
        FaceBook = item.GetPropertyValue<string>("facebook");
        Twitter = item.GetPropertyValue<string>("twitter");
    }
    else
    {
        imie = Model.Content.CreatorName;
    }
    if (string.IsNullOrEmpty(img))
    {
        IPublishedContent pg_master = Model.Content.AncestorOrSelf(1);
        img = pg_master.GetCropUrl(propertyAlias: "zdjecieDomyslne", cropAlias: "Pastylka");
    }
    @*if (objNextPage != null)
        {
            <a href="@Umbraco.NiceUrl(objNextPage.Id)">Next Post</a>
        }
        if (obPreviousPage != null)
        {
            <a href="@Umbraco.NiceUrl(obPreviousPage.Id)">Previous Post</a>
        }*@
    <div class="herader"><h1>@Model.Content.Name</h1></div>

    <div class="AuthorInfo">
        <div class="AuthorImg"><img src="@img" /></div>
        <div class="AuthorName"><a href="@Umbraco.NiceUrl(Model.Content.AncestorOrSelf("SmartBlogBlog").Id)?author=@Model.Content.CreatorId">@imie @Nazwisko</a></div>
        @if (!string.IsNullOrEmpty(FaceBook) || !string.IsNullOrEmpty(Twitter))
        {
            <div class="AuthorSocial">
                @if (!string.IsNullOrEmpty(FaceBook))
                {
                    <a href="@FaceBook" class="btn btn-block btn-social btn-lg btn-facebook"><i class="fa fa-facebook" ></i>Facebook</a>
                }
                @if (!string.IsNullOrEmpty(Twitter))
                {
                    <a href="@Twitter" class="btn btn-block btn-social btn-lg btn-twitter"><i class="fa fa-twitter"></i>  Twitter</a>
                }
            </div>
        }
    </div>
    <div class="PostInfo">
        @*<a href="@Umbraco.NiceUrl(Model.Content.AncestorOrSelf("SmartBlogBlog").Id)?author=@strAuthor">@strAuthor</a>*@
        <div class="Date">@(Model.Content.GetPropertyValue<DateTime>("smartBlogDate").ToString("g"))</div>
        <div class="Category">
            <a href="@Umbraco.NiceUrl(Blogmain)?category=@Model.Content.GetPropertyValue("smartBlogCategory")">@Model.Content.GetPropertyValue("smartBlogCategory")</a>
        </div>
    </div>
    <div id="postPageBody">
        @Html.Raw(Model.Content.GetPropertyValue<String>("smartBlogBody"))<br />
    </div>
    <div class="PostInfo">
        TAGI:
        @foreach (var tag in tags)
        {
            <a class="smartTag tag-@tag" href="@Umbraco.NiceUrl(Blogmain)?tag=tags">@tag.ToUpper()</a>if (tags.IndexOf(tag) != tags.Count() - 1)
            {@Html.Raw(",")}
    }
    </div>
}