﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using Umbraco.Web;
@using umbraco.NodeFactory;
@using Umbraco.Core.Models;
@using Muzykoteka.Code;
@using Umbraco.Core.Dynamics;
@{
    IPublishedContent pg_master = Model.Content.AncestorOrSelf(1);
    var DefaultImage = pg_master.GetCropUrl(propertyAlias: "zdjecieDomyslne", cropAlias: "Pastylka");
    IPublishedContent objBlogRoot = Model.Content.AncestorOrSelf("SmartBlogBlog");
    IEnumerable<IPublishedContent> colResults = null;
    IPublishedContent item = null;
    string name = "";
    // Get posts by search query if specified, else just get all the posts.
    if (!String.IsNullOrEmpty(Request.QueryString["q"]))
    {
        colResults = SmartBlogLibraries.Helpers.Search.SearchSite()
            .Select(x => Umbraco.TypedContent(x.Id))
            .Where(x =>
                x != null
                && x.Path.Split(',').Contains(objBlogRoot.Id.ToString())
                && x.DocumentTypeAlias == "SmartBlogPost");
    }
    else
    {
        colResults = Model.Content.DescendantsOrSelf("SmartBlogPost");
    }

    if (colResults != null && colResults.Count() > 0)
    {
        // Refine posts by tag
        if (!String.IsNullOrEmpty(Request.QueryString["tag"]))
        {
            colResults = colResults.Where(x => x.GetPropertyValue<String>("smartBlogTags") != null && x.GetPropertyValue<String>("smartBlogTags").Split(',').Contains(Request.QueryString["tag"]));
        }

        // Refine posts by author
        if (!String.IsNullOrEmpty(Request.QueryString["author"]))
        {
            var id = 0;
            if (int.TryParse(Request.QueryString["author"], out id))
            {
                colResults = colResults.Where(x => x.CreatorId == id);
                var Author = ApplicationContext.Current.Services.UserService.GetUserById(id);
                if (Author != null)
                {
                    name = Author.Name;
                    item = UmbracoContext.Current.ContentCache.GetAtRoot()
                        .Where(x => x.DocumentTypeAlias == "Zasoby")
                        .FirstOrDefault()
                        .Children
                        .Where(x => x.DocumentTypeAlias == "Autorzy")
                        .FirstOrDefault()
                        .Children.Where(x => x.Name == Author.Name).FirstOrDefault();
                }
            }
        }

        // Refine posts by category
        if (!String.IsNullOrEmpty(Request.QueryString["category"]))
        {
            colResults = colResults.Where(x => !String.IsNullOrEmpty(x.GetPropertyValue<String>("smartBlogCategory"))
                && x.GetPropertyValue<String>("smartBlogCategory").Split(',').Contains(Request.QueryString["category"]));
        }

        // If there aren't any results, we notify the client.
        if (colResults.Count() > 0)
        {
            // Calculate paging
            Int32 intPage = 1;
            if (!Int32.TryParse(Request.QueryString["p"], out intPage))
            {
                intPage = 1;
            }
            UInt16 intItemsPerPage = 10;
            Int32 intSkip = (intPage - 1) * intItemsPerPage;
            Int32 intResultCount = colResults.Count();

            // Render paging
            @*@Html.Raw((SmartBlogLibraries.Helpers.Listing.RenderPaging(intPage, intResultCount, intItemsPerPage)).ToString().Replace("There are", "Są")
                .Replace("items on", "elementy na").Replace("pages", "stronach").Replace(">First<", ">Pierwsza<").Replace(">Last<", ">Ostatnia<"))*@
            // Render posts
            <div class="postList">
                @if (!String.IsNullOrEmpty(Request.QueryString["author"]))
                {
                    string img = "";
                    string imie = "";
                    string Nazwisko = "";
                    string FaceBook = "";
                    string Twitter = "";

                    if (item != null)
                    {
                        img = item.GetBWCropUrl("authorImage", "miniatura", false).ToString();
                        imie = item.GetPropertyValue<string>("imie");
                        Nazwisko = item.GetPropertyValue<string>("Nazwisko");
                        FaceBook = item.GetPropertyValue<string>("facebook");
                        Twitter = item.GetPropertyValue<string>("twitter");
                    }
                    else
                    {
                        imie = name;
                    }
                <div class="AuthorInfo">
                    <div class="AuthorImg">
                        <img src="@Html.Raw(string.IsNullOrEmpty(img) ? DefaultImage : img)" />
                    </div>
                    <div class="AuthorName"><h2>@imie @Nazwisko</h2></div>
                    @if (!string.IsNullOrEmpty(FaceBook) || !string.IsNullOrEmpty(Twitter))
                    {
                        <div class="AuthorSocial">
                            @if (!string.IsNullOrEmpty(FaceBook))
                            {
                                <a href="@FaceBook" class="btn btn-block btn-social btn-lg btn-facebook"><i class="fa fa-facebook"></i>Facebook</a>
                            }
                            @if (!string.IsNullOrEmpty(Twitter))
                            {
                                <a href="@Twitter" class="btn btn-block btn-social btn-lg btn-twitter"><i class="fa fa-twitter"></i>  Twitter</a>
                            }
                        </div>
                    }
                    @if (item != null && item.HasValue("aboutAuthor"))
                    {
                        <div class="AuthorAbout">
                            @item.GetPropertyValue("aboutAuthor")
                        </div>
                    }
                </div>
                }
                @foreach (IPublishedContent objPost in colResults
                    .OrderByDescending(x => x.GetPropertyValue<DateTime>("smartBlogDate"))
                    .Skip(intSkip)
                    .Take(intItemsPerPage))
                {
                    string Author = objPost.CreatorName;

                    item = UmbracoContext.Current.ContentCache.GetAtRoot()
                    .Where(x => x.DocumentTypeAlias == "Zasoby")
                    .FirstOrDefault()
                    .Children
                    .Where(x => x.DocumentTypeAlias == "Autorzy")
                    .FirstOrDefault()
                    .Children.Where(x => x.Name == Author).FirstOrDefault();
                    string imie = "";
                    string Nazwisko = "";
                    if (item != null)
                    {
                        imie = item.GetPropertyValue<string>("imie");
                        Nazwisko = item.GetPropertyValue<string>("Nazwisko");
                    }
                    else
                    {
                        imie = objPost.CreatorName;
                    }
                    try
                    {
                        var image = Url.GetCropUrl(objPost, "PostImage", "logo").ToString();
                        <div class="post">
                            <h3><a href="@Umbraco.NiceUrl(objPost.Id)" title="@objPost.Name">@objPost.Name</a></h3>
                            <div class="grid">
                                <img class="PostImage" src="@Html.Raw(string.IsNullOrEmpty(image)?DefaultImage:image)" />
                                <div class="PostContent">
                                    <div class="PostInfo">
                                        <p>@Html.Raw(objPost.GetPropertyValue<String>("smartBlogSummary"))</p>
                                    </div>
                                    <div class="footerPost">
                                        <div class="Info">
                                            <a class="authorLink" href="?author=@objPost.CreatorId">@imie @Nazwisko </a> @(objPost.GetPropertyValue<DateTime>("smartBlogDate").ToString(SmartBlogLibraries.Helpers.DateTime.DateFormatNormal))
                                        </div>
                                        <div class="commentsInfo">
                                            Komentarzy: @objPost.Children.Count()
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                    catch (Exception) { }
                }
            </div>

            // Render paging
            @Html.Raw((SmartBlogLibraries.Helpers.Listing.RenderPaging(intPage, intResultCount, intItemsPerPage)).ToString().Replace(">&lt;<", ">Poprzednia strona<").Replace(">&gt;<", ">Następna strona<"))

            return;
        }
    }

    <text>Nie znaleziono wyników przy użyciu parametrów określonych w @Model.Content.Name, spróbuj ponownie wyszukać.</text>
}