﻿<span class="socials">
    <span>Znajdź Edukację WFDiF na: </span>
    <a href="https://www.facebook.com/PlanFilmowy"  target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://vimeo.com/edukacjawfdif"  target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
    <a href="https://www.instagram.com/planfilmowy/"  target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
</span>



