@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Muzykoteka.Code
@{
    string link = "https://" + HttpContext.Current.Request.Url.Authority + Model.Content.Url;
    if (Model.Content.DocumentTypeAlias == "Schowek")
    {
        link = link.Remove(link.Count() - 1);
        link = link.Replace("mój-schowek", "udostępniony-schowek");
        if (Model.Content.Name == "Udostępniony schowek")
        {
            link += "?ids=" + HttpContext.Current.Request.QueryString["ids"];
        }
        else if (Model.Content.Name == "Moje ulubione")
        {
            link += "?ids=" + ClipboardSurfaceController.GetShareContent().Replace('|', 'a');
        }
    }
    link = HttpUtility.UrlEncode(link);
}
<div class="share">
    <a href="#" class="showShare" onclick="return false;"><ion-icon name="share-social-outline"></ion-icon></a>
    <ul>
        <li>
            <a href="https://twitter.com/share?url=@link" target="_blank" title="Tweeter"><i class="fa fa-twitter"></i><span class="wcag_hide">Tweeter</span></a>
        </li>
        <li>
            <a href="https://pinterest.com/pin/create/button/?url=@link&media=&description=" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i><span class="wcag_hide">Pinterest</span></a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=@link" target="_blank" title="Facebook"><i class="fa fa-facebook"></i><span class="wcag_hide">Facebook</span></a>
        </li>
        <li>
            <a href="#" title="Email" onclick="HideShare();return false;"><i class="fa fa-envelope"></i><span class="wcag_hide">Email</span></a>
        </li>
    </ul>
</div>
<script>
    function SendMail() {
        var url = '@Url.Action("SharePage", "EmailSurface")?url=@link' +
            '&Name=' + document.getElementById("Name").value +
            '&sender=' + document.getElementById("sender").value +
            '&Emails=' + document.getElementById("Emails").value;
        $.ajax({
                url: url,
            cache: false,
            method:"post",
                dataType: "text",
                success: function (result) {
                    document.getElementById("EmailShare").innerHTML = result;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log("Ajax error: " + thrownError);
                },
                beforeSend: function () {
                        $('body').addClass('loading');
                },
                complete: function () {
                        $('body').removeClass('loading');
                }
            });
    }
    function HideShare() {
        document.getElementById("Name").value = "";
        document.getElementById("sender").value = "";
        document.getElementById("Emails").value = "";
        document.getElementById('EmailShare').classList.toggle('EmailShareDisplay');
    }
</script>