﻿@model Muzykoteka.Code.Models.EdytujUczniow
@{
    var helper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent main = helper.TypedContent(Model.id);
}
<div class="form-horizontal">
    <a href="#" onclick="ShowPop('DeleteLesson',true); return false; " style="float:right;"><i class="fa fa-times" title="Zamknij"></i><span class="wcag_hide">Zamknij</span></a>
    <h4> Usunąć lekcję <span id="LessonDeleteName">@main.Name</span>?</h4>
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <span class="text-danger">@Model.Error</span>
    }
    else if (Model.Ok)
    {
        <span class="Ok">Lekcja został usunięta</span>
    }
    <div class="buttons">
        <a href="#" onclick="DeleteLesson(); return false;"><i class="fa fa-trash" title="Tak"></i><span class="wcag_hide">Tak</span>Tak</a>
        <div></div>
        <a href="#" onclick="ShowPop('DeleteLesson',true); return false;"><i class="fa fa-times" title="Nie"></i><span class="wcag_hide">Nie</span>Nie</a>
    </div>
</div>
<div class="background"></div>
<script>
        var DeleteId =@Model.id;
    function DeleteLesson() {
    var url = '@Url.Action("DeleteLesson", "Lesson")?id='+ DeleteId;
            $.ajax({
                url: url,
                cache: false,
                processData: false,
                contentType: false,
                dataType: "text",
                method:"post",
                success: function (result) {
                    //document.getElementById("NewDedline").classList.toggle("PopupDeadLineShow");
                    if (result == "Ok") {
                        location.href = "@main.Parent.Url";
                    }
                    else {
                        document.getElementById("DeleteLesson").innerHTML = result;
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log("Ajax error: " + thrownError);
                },
                beforeSend: function () {
                        $('body').addClass('loading');
                },
                complete: function () {
                        $('body').removeClass('loading');
                }
            });
    }
    function PopDeleteIdShow(id, name) {
        DeleteId = id;
        document.getElementById("LessonDeleteName").innerHTML = name;
        ShowPop('DeleteLesson', true);
    }
</script>