﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div id="Welcome">
    <a href="#" class="Close" onclick="CloseWelcome(); return false;"><span class="Btn"></span></a>
    <div class="Text">
        @Umbraco.Field("powitanie", recursive: true)
    </div>
    <div class="Lead">
        @Umbraco.Field("opisPowitanie", recursive: true)
    </div>
    <div class="buttons">
        <a href="#" class="Button" onclick="CloseWelcome(); return false;">Przejdź do serwisu</a>
    </div>
</div>
<script>
    function CloseWelcome() {
        document.getElementById('Welcome').style.display = 'none';
        SetCookie("Welcome=true", 365 * 24 * 60 * 60 * 1000);
        $("body").removeClass("waiting");
    }
</script>