@inherits Merchello.Web.Mvc.MerchelloViewPage<Muzykoteka.Code.Models.ViewModels.Shipments>
@using Muzykoteka.Code
@{
    var count = Model.methods.Count();
    var counter = -1;
    if (count > 0)
    {    
        <input type="hidden" id="hdnShipment" value="@Html.Raw(Model.CurrentShipmentMethod == Guid.Empty ? "" : Model.CurrentShipmentMethod.ToString())" />
        <div class="basket_shipment" aria-describedby="shipment_err" aria-invalid="false">
            <div class="aria_error hidden" id="shipment_err" role="alert">
                <span class="err">Wybierz metodę wysyłki</span>
            </div>
            <h2 class="head">Wysyłka</h2>
            <div class="methods">

                @foreach (MKeyVal s in Model.methods)
                {
                    counter++;
                    string selected = (Model.CurrentShipmentMethod.ToString() == s.Id.ToString() ? "selected" : "");
                    string mclass = (count >= 3 ? "w3 " : "w" + count);
                    if (counter == count - 1 || counter % 3 == 2)
                    {
                        mclass += " c_L";
                    }
                    else if (counter % 3 == 0)
                    {
                        mclass += " c_F";
                    }

                    <div class="method @mclass">
                        <a href="#" class="@selected" id="smetod_@s.Id" onclick="SelectShipment('@s.Id'); return false;">@Html.Raw(s.Name)</a>
                    </div>
                }

            </div>
        </div>
    }
}
