@inherits Merchello.Web.Mvc.MerchelloViewPage<OrdersViewModel>
@using Muzykoteka.Code
@using Muzykoteka.Code.Models
@using Merchello.Core
@using Merchello.Web.Models.ContentEditing
@{    
    
}

<div class="zamowienia">
    @if (!Model.Items.Any())
    {
        @RenderEmpty();
    }
    else
    {
        @RenderOrders();
    }
</div>

@helper RenderEmpty()
{
    <div class="basket-empty">
        <p>Nic jeszcze nie zamówiłeś.</p>        
    </div>
}

@helper GetStatusName(Guid key) {
    string name;
    int id;    
    if (key == Helper.GetMerchelloConstant_Status_Cancelled())    
    {
        name = "Anulowane";
        id = 1;
    }
    else if (key == Helper.GetMerchelloConstant_Status_Unpaid()
            || key == Helper.GetMerchelloConstant_Status_Fraud()
            || key == Helper.GetMerchelloConstant_Status_Partial())    
    {
        name = "Oczekujące";
        id = 2;
    }
    else if (key == Helper.GetMerchelloConstant_Status_Paid())    
    {
        name = "Opłacone";
        id = 3;
    }
    else
    {
        id = 0;
        name = "";
    }
    <div class="z_invstatus_@id">@name</div>
}

@helper RenderOrders()
{
    foreach (InvoiceDisplay inv in Model.Items)
    {        
        <div class="z_item">
            <div class="z_num">#@inv.InvoiceNumber</div>
            <div class="z_status">@GetStatusName(inv.InvoiceStatusKey)</div>
            <div class="z_dt">@inv.InvoiceDate.ToString("yyyy-MM-dd")</div>
            <div class="z_product">
                @foreach (InvoiceLineItemDisplay p in inv.Items)
                {
                    if (p.LineItemType == 0)
                    {
                        var x = p.ExtendedData.Where(f => f.Key == "merchProductKey").FirstOrDefault();
                        string url = null;
                        if (!String.IsNullOrEmpty(x.Value))
                        {
                            var productDisplay = Merchello.Query.Product.GetByKey(new Guid(x.Value));
                            var productContent = productDisplay.AsProductContent();

                            if (productContent.DocumentTypeAlias == "SubskrypcjaVOD")
                            {
                                var content = Umbraco.TypedContent(productContent.GetPropertyValue<int?>("artykul"));
                                if (content != null)
                                {
                                    url = content.Url;
                                }
                            }
                            if (url == null)
                            {
                                url = "/sklep/pozycja?id=" + Url.Encode(productDisplay.Key.ToString());
                            }
                        }
                        <a class="zp_item" href="@Html.Raw(url == null ? "#":url)">@p.Name </a>
                    }
                }
            </div>
        </div>
    }
}

