﻿.video-js .vjs-control-bar {
  flex-wrap: wrap;
  height: unset;
  background-color: rgba(64, 64, 64, 0.7);
}
.video-js .vjs-control {
  height: 3.4em;
}
.video-js .vjs-progress-control {
  flex-basis: 100%;
  height: 28px;
}
.video-js .vjs-icon-placeholder {
  width: inherit;
  height: inherit;
  display: block;
}
.video-js .vjs-button > .vjs-icon-placeholder:before {
  line-height: 1.8em;
}
.video-js .vjs-fullscreen-control .vjs-icon-placeholder::before,
.video-js .vjs-edit .vjs-icon-placeholder::before {
  box-shadow: none !important;
  text-shadow: none !important;
  opacity: 1;
}
.video-js .vjs-fullscreen-control .vjs-icon-placeholder::before {
  font-size: 3em !important;
  line-height: 1.1em !important;
}
.video-js .vjs-fullscreen-control {
  text-shadow: none !important;
}
.video-js .vjs-picture-in-picture-control {
  margin-left: auto;
}
.video-js .vjs-edit .vjs-icon-placeholder {
  display: inline;
}
.video-js .vjs-edit .vjs-icon-placeholder::before {
  font-size: 2.5em !important;
  line-height: 1.22em !important;
}
.video-js .vjs-slider {
  background-color: rgba(30, 30, 30, 0.5);
}
.video-js .vjs-load-progress {
  background: rgba(130, 130, 130, 0.8);
}
.video-js .vjs-load-progress div {
  background: rgba(130, 130, 130, 0.8);
}
.video-js .vjs-progress-holder {
  height: 0.5em;
}
.video-js .vjs-play-progress::before {
  content: ' ';
  width: 10px;
  height: 18px;
  border-radius: 5px;
  background-color: #ea2929;
}
.video-js .vjs-play-control.vjs-paused .vjs-icon-placeholder:before,
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before,
.video-js .vjs-control.vjs-vol-0 .vjs-icon-placeholder:before,
.video-js .vjs-control.vjs-vol-1 .vjs-icon-placeholder:before,
.video-js .vjs-control.vjs-vol-2 .vjs-icon-placeholder:before,
.video-js .vjs-control.vjs-vol-3 .vjs-icon-placeholder:before,
.video-js .vjs-rwd-frame:before,
.video-js .vjs-rwd-block:before,
.video-js .vjs-rwd-start:before,
.video-js .vjs-fwd-end:before,
.video-js .vjs-fwd-block:before,
.video-js .vjs-fwd-frame:before {
  content: '' !important;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50% 50%;
  border: none !important;
  box-shadow: none !important;
}
.video-js .vjs-button:hover {
  background-color: #393939;
  transition: 0.3s;
}
.video-js .vjs-play-control.vjs-paused .vjs-icon-placeholder:before {
  background-image: url('icons/play.svg');
}
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
  background-image: url('icons/pause.svg');
  background-color: #ea2929;
}
.video-js .vjs-rwd-frame:before {
  background-image: url('icons/rf1.svg');
}
.video-js .vjs-rwd-start:before {
  background-image: url('icons/ff.svg');
}
.video-js .vjs-fwd-end:before {
  background-image: url('icons/lf.svg');
}
.video-js .vjs-fwd-frame:before {
  background-image: url('icons/ff1.svg');
}
.video-js .vjs-time-control {
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.video-js .vjs-remaining-time {
  display: none;
}
.video-js .vjs-big-play-button {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 1em;
  /*        margin-top: -35px !important;
        margin-left: -35px !important;*/
  background-color: rgba(55, 55, 55, 0.5);
  border-radius: 0;
  border-width: 1px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  left: -0.05em;
}
.video-js .vjs-time-control {
  font-size: 1.5em;
  line-height: 2.2em;
}
.video-js .vjs-time-divider {
  padding-left: 0;
  padding-right: 0;
  min-width: unset;
}
.video-js .vjs-control.vjs-vol-0 .vjs-icon-placeholder:before {
  background-image: url('icons/mute_0.svg');
}
.video-js .vjs-control.vjs-vol-1 .vjs-icon-placeholder:before {
  background-image: url('icons/mute_1.svg');
}
.video-js .vjs-control.vjs-vol-2 .vjs-icon-placeholder:before {
  background-image: url('icons/mute_2.svg');
}
.video-js .vjs-control.vjs-vol-3 .vjs-icon-placeholder:before {
  background-image: url('icons/mute_2.svg');
}
.video-js .vjs-fullscreen-control {
  order: 1;
}
.video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: inherit;
}
.video-js .vjs-progress-control {
  font-size: 1.6em;
}
.video-js .vjs-volume-vertical {
  bottom: 8em;
  background-color: rgba(68, 68, 68, 0.7);
}
.video-js .vjs-caption-settings {
  display: none;
}
.video-js .vjs-live-control {
  line-height: 3.4em;
}