﻿.video-js {
    .vjs-control-bar {
        //position: static;
        flex-wrap: wrap;
        height: unset;
        background-color: rgba(64,64,64,0.7);
    }

    .vjs-control {
        height: 3.4em;
    }

    .vjs-progress-control {
        flex-basis: 100%;
        height: 28px;
    }

    .vjs-icon-placeholder {
        width: inherit;
        height: inherit;
        display: block;
    }

    .vjs-button > .vjs-icon-placeholder:before {
        line-height: 1.8em;
    }

    .vjs-fullscreen-control .vjs-icon-placeholder::before,
    .vjs-edit .vjs-icon-placeholder::before {
        box-shadow: none !important;
        text-shadow: none !important;
        opacity: 1;
    }

    .vjs-fullscreen-control .vjs-icon-placeholder::before {
        font-size: 3em !important;
        line-height: 1.1em !important;
    }

    .vjs-fullscreen-control {
        text-shadow: none !important;
    }

    .vjs-picture-in-picture-control {
        margin-left: auto;
    }

    .vjs-edit {
        .vjs-icon-placeholder {
            display: inline;

            &::before {
                font-size: 2.5em !important;
                line-height: 1.22em !important;
            }
        }
    }

    .vjs-slider {
        //top: -2px;
        background-color: rgba(30,30,30,0.5);
    }

    .vjs-load-progress {
        background: rgba(130,130,130,0.8);

        div {
            background: rgba(130,130,130,0.8);
        }
    }

    .vjs-progress-holder {
        height: 0.5em;
    }


    .vjs-play-progress::before {
        content: ' ';
        width: 10px;
        height: 18px;
        border-radius: 5px;
        background-color: #ea2929;
    }


    .vjs-play-control.vjs-paused .vjs-icon-placeholder:before,
    .vjs-play-control.vjs-playing .vjs-icon-placeholder:before,
    .vjs-control.vjs-vol-0 .vjs-icon-placeholder:before,
    .vjs-control.vjs-vol-1 .vjs-icon-placeholder:before,
    .vjs-control.vjs-vol-2 .vjs-icon-placeholder:before,
    .vjs-control.vjs-vol-3 .vjs-icon-placeholder:before,
    .vjs-rwd-frame:before,
    .vjs-rwd-block:before,
    .vjs-rwd-start:before,
    .vjs-fwd-end:before,
    .vjs-fwd-block:before,
    .vjs-fwd-frame:before {
        content: '' !important;
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: 50% 50%;
        border: none !important;
        box-shadow: none !important;
    }

    .vjs-button:hover {
        background-color: #393939;
        transition: 0.3s;
    }

    .vjs-play-control.vjs-paused .vjs-icon-placeholder:hover,
    .vjs-play-control.vjs-playing .vjs-icon-placeholder:hover,
    .vjs-rwd-frame:hover,
    .vjs-rwd-start:hover,
    .vjs-fwd-end:hover,
    .vjs-fwd-frame:hover {
        // opacity: 0.5;
        // transition: 0.3s;
    }

    .vjs-play-control.vjs-paused .vjs-icon-placeholder:before {
        background-image: url('./icons/play.svg');
    }

    .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
        background-image: url('./icons/pause.svg');
        background-color: #ea2929;
    }

    .vjs-rwd-frame:before {
        background-image: url('./icons/rf1.svg');
    }

    .vjs-rwd-start:before {
        background-image: url('./icons/ff.svg');
    }

    .vjs-fwd-end:before {
        background-image: url('./icons/lf.svg');
    }

    .vjs-fwd-frame:before {
        background-image: url('./icons/ff1.svg');
    }

    .vjs-time-control {
        padding-right: 0.5em;
        padding-left: 0.5em;
    }

    .vjs-remaining-time {
        display: none;
    }

    .vjs-big-play-button {
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 1em;
        /*        margin-top: -35px !important;
        margin-left: -35px !important;*/
        background-color: rgba(55,55,55,0.5);
        border-radius: 0;
        border-width: 1px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        .vjs-icon-placeholder:before {
            left: -0.05em;
        }
    }

    .vjs-time-control {
        font-size: 1.5em;
        line-height: 2.2em;
    }

    .vjs-time-divider {
        padding-left: 0;
        padding-right: 0;
        min-width: unset;
    }

    .vjs-control.vjs-vol-0 .vjs-icon-placeholder:before {
        background-image: url('./icons/mute_0.svg');
    }

    .vjs-control.vjs-vol-1 .vjs-icon-placeholder:before {
        background-image: url('./icons/mute_1.svg');
    }

    .vjs-control.vjs-vol-2 .vjs-icon-placeholder:before {
        background-image: url('./icons/mute_2.svg');
    }

    .vjs-control.vjs-vol-3 .vjs-icon-placeholder:before {
        background-image: url('./icons/mute_2.svg');
    }

    .vjs-fullscreen-control {
        order: 1;
    }

    .vjs-progress-control:hover .vjs-progress-holder {
        font-size: inherit;
    }

    .vjs-progress-control {
        font-size: 1.6em;
    }

    .vjs-volume-vertical {
        bottom: 8em;
        background-color: rgba(68,68,68,0.7);
    }

    .vjs-volume-bar {
        //        margin: 1.09em 0.45em;
        .vjs-volume-level {
            &::before {
                //    top: -0.5em;
            }
        }
    }

    .vjs-caption-settings {
        display: none;
    }

    .vjs-live-control {
        line-height: 3.4em;
    }
}
