﻿<div class="umb-pane" ng-controller="uioMatic.ObjectDeleteController">
    <p>
        Are you sure you want to delete {{currentNode.name}} ?
    </p>
     

    <div>


        <div class="umb-pane btn-toolbar umb-btn-toolbar">
            <div class="control-group umb-control-group">
                <a href="" class="btn btn-link" ng-click="cancelDelete()"><localize key="general_cancel">Cancel</localize></a>
                <a href="" class="btn btn-primary" ng-click="delete(currentNode.parentId, currentNode.id.split('?')[0])"><localize key="general_ok">OK</localize></a>
            </div>
        </div>
    </div>
</div>
