﻿<div ng-controller="uioMatic.ObjectListController" class="uiomatic">

    <umb-panel>
        <umb-header>

            <div class="span7">
                <h1>{{title}}</h1>
            </div>

            <div class="uiomatic__action-menu-container">
                <div class="btn-group pull-right" >
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Actions
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu umb-actions">
                        <li class="action" ng-repeat="action in listViewActions">
                            <a ng-click="openAction(action)">
                                <i class="icon {{action.icon}}" ng-show="action.icon"></i>
                                <span class="menu-label">{{action.name}}</span>
                            </a>
                        </li>

                        <li class="action" ng-show="!readOnly">
                            <a ng-disabled="actionInProgress && !isAnythingSelected()  && !(IsActive()===1)"
                               ng-click="Active(true)">
                                <span class="menu-label">Aktywuj</span>
                            </a>
                        </li>

                        <li class="action" ng-show="!readOnly">
                            <a ng-disabled="actionInProgress && !isAnythingSelected() && !(IsActive()===2)"
                               ng-click="Active(false)">
                                <span class="menu-label">Dezyktywuj</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </umb-header>

        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal">
                <div class="umb-pane">

                    <div class="umb-sub-header">
                        <!--<div class="btn-group" ng-hide="readOnly">
                            <a class="btn" ng-click="navigate('/uiomatic/uiomatic/edit/' + typeAlias)">
                                <localize key="actions_create" class="ng-isolate-scope ng-scope">Create</localize>
                            </a>
                        </div>-->          
                        
                        <div class="btn-group" >
                            <a class="btn" ng-click="toggleRevers()">Zamień zaznaczenie</a>
                        </div>



                        <!--<div class="btn-group" ng-show="!readonly && isAnythingSelected()">
                            <a class="btn btn-danger" ng-disabled="actionInProgress" ng-click="delete()" prevent-default="">
                                <localize key="actions_delete">Delete</localize>
                            </a>
                        </div>-->

                        <div class="btn-group uiomatic__filter-label" ng-class="{ readonly:readOnly }" ng-if="filterProperties">
                            Filter by:
                        </div>

                        <div class="btn-group" ng-repeat="property in filterProperties">
                            <span ng-include="property.view"></span>
                        </div>

                        <form class="form-search pull-right ng-pristine ng-valid" novalidate="">
                            <div class="inner-addon left-addon">
                                <i class="icon icon-search"></i>
                                <input type="text" class="form-control ng-pristine ng-valid" localize="placeholder" placeholder="@placeholders_search" ng-model="searchFilter" prevent-enter-submit="" no-dirty-check="" ng-change="search(searchFilter)">
                            </div>
                        </form>

                    </div>
                    <div class="umb-listview">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td class="checkbox-column" ng-hide="readOnly">
                                        <input type="checkbox" ng-click="toggleSelectAll($event)">
                                    </td>
                                    <td ng-repeat="prop in properties">
                                        <a href="" class="sortable" ng-click="order(prop.columnName)">{{prop.name}}</a>
                                        <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == prop.columnName"></i>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in rows" ng-class="{selected: isRowSelected(row)}">
                                    <td class="checkbox-column" ng-hide="readOnly">
                                        <i class="icon icon-edit"></i>
                                        <input type="checkbox" name="selectedItems[]" value="{{getObjectKey(row)}}" ng-checked="isRowSelected(row)" ng-click="toggleSelection(getObjectKey(row))" />
                                    </td>
                                    <td ng-repeat="prop in properties">
                                        <div ng-switch="isColumnLinkable(prop, $index)" ng-init="property = {value:row[prop.key], view:prop.view, config:prop.config}">
                                            <!-- Fake property object so we can reuse views -->
                                            <a class="table__link" ng-click="navigate('/uiomatic/uiomatic/edit/' + getObjectKey(row) + '%3Fta=' + typeAlias)" ng-switch-when="true">
                                                <span ng-include="prop.view"></span>
                                            </a>
                                            <span ng-switch-when="false">
                                                <span ng-include="prop.view"></span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="legacyPagination && totalPages > 1">
                                <tr>
                                    <th colspan="{{properties.length + 1}}">
                                        <div class="pagination-right">
                                            <uiomatic-pagination page-number="currentPage"
                                                                 total-pages="totalPages"
                                                                 on-next="nextPage"
                                                                 on-prev="prevPage"
                                                                 on-go-to-page="setPage">
                                            </uiomatic-pagination>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="text-center">
                            Total items: {{totalItems}}
                        </div>
                        <div ng-if="!legacyPagination && totalPages > 1" class="text-center">
                            <umb-pagination page-number="currentPage"
                                            total-pages="totalPages"
                                            on-next="nextPage"
                                            on-prev="prevPage"
                                            on-go-to-page="setPage">
                            </umb-pagination>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </umb-panel>
</div>
