<div class="umb-editor umb-mediapicker"
     ng-controller="Umbraco.PropertyEditors.ImageCropperController">

    <a href style="margin-bottom: 20px; text-align: center; font-size: 11px;" class="btn red" ng-click="pickMedia()">
        Wybierz plik z Media
    </a>

    <span class="fileinput-button umb-upload-button-big"
          style="margin-bottom: 5px;"
          ng-hide="imageSrc">
        <i class="icon icon-page-up"></i>
        <p><localize key="media_clickToUpload">Click to upload</localize></p>
        <umb-single-file-upload></umb-single-file-upload>
    </span>


    <div ng-if="imageSrc">


        <div class="imagecropper clearfix">

            <div ng-if="currentCrop" style="float:left; max-width: 100%;" class="clearfix">
                <div class="umb-cropper__container">

                    <i ng-click="done()" class="icon icon-delete btn-round umb-close-cropper"></i>

                    <div>
                        <umb-image-crop height="{{currentCrop.height}}"
                                        width="{{currentCrop.width}}"
                                        crop="currentCrop.coordinates"
                                        center="model.value.focalPoint"
                                        max-size="450"
                                        src="imageSrc">
                        </umb-image-crop>
                    </div>

                    <a href style="margin:auto; text-align: center; font-size: 11px;" class="btn btn-link red"
                       ng-click="currentCrop.coordinates = undefined; done()">
                        <localize key="imagecropper_reset">Reset</localize>
                    </a>
                </div>
            </div>

            <div ng-if="!currentCrop" class="umb-cropper-imageholder clearfix">
                <umb-image-gravity
                    src="imageSrc"
                    center="model.value.focalPoint"
                    on-image-loaded="imageLoaded">
                </umb-image-gravity>
                <a href class="btn btn-link btn-crop-delete" ng-show="imageIsLoaded" ng-click="clear()"><i class="icon-delete red"></i> <localize key="content_uploadClear">Remove file</localize></a>
            </div>

            <ul class="umb-sortable-thumbnails cropList clearfix">
                <li ng-repeat=" (key,value) in model.value.crops" ng-class="{'current':currentCrop.alias === value.alias}" ng-click="crop(value)">

                    <umb-image-thumbnail center="model.value.focalPoint"
                                         crop="value.coordinates"
                                         src="imageSrc"
                                         height="{{value.height}}"
                                         width="{{value.width}}"
                                         max-size="75">
                     </umb-image-thumbnail>

                    <div class="crop-information">
                        <span class="crop-name crop-text">{{value.alias}}</span>
                        <span class="crop-size crop-text">{{value.width}}px x {{value.height}}px</span>
                    </div>
                </li>
            </ul>


        </div>

    </div>
</div>
