@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Muzykoteka.Code;
@using Umbraco.Web.Models;
@functions {
    public void AddArticleField(IPublishedContent content, string propertyName, string propertyLabel, string slName, List<KeyValuePair<string, string>> lstOut)
    {
        string s = content.GetPropertyValue<string>(propertyName);
        if (propertyName == "kompozytor")
        {
            s = (content.GetPropertyValue<string>("kompozytorImie") + " " + s).Trim();
        }
        if (slName != null)
        {
            var names = Helper.GetSlownikEntries(slName, content.GetPropertyValue<string>(propertyName));
            var joined = String.Join(", ", names);
            if (!String.IsNullOrEmpty(joined))
            {
                lstOut.Add(new KeyValuePair<string, string>(propertyLabel, joined.ToLower()));
            }
        }
        else
        {
            if (!String.IsNullOrEmpty(s))
            {
                if (propertyName == "czasTrwania")
                {
                    s = s + " min";
                }
                lstOut.Add(new KeyValuePair<string, string>(propertyLabel, s));
            }
        }
    }
}
@helper RenderScenariuszePPT()
{
    if (Model.Content.DocumentTypeAlias == "NaukaScenariusz")
    {
        string ppt_url = null;
        string ppt_size = null;
        int? ppt_media = Model.Content.GetPropertyValue<int?>("doPobraniaPPT");
        if (ppt_media != null)
        {
            var media = Umbraco.TypedMedia(ppt_media);
            if (media != null)
            {
                ppt_url = media.Url;
                long dataSize = 0;
                Int64.TryParse(media.GetPropertyValue<string>("umbracoBytes"), out dataSize);
                ppt_size = Helper.FormatBytes(dataSize);
            }
        }
        <div class="ppt-belt">
            @if (ppt_url != null)
            {
                <a href="@ppt_url" class="ppt"><img src="~/Images/ppt.png" alt="" /><span>pobierz prezentację<br />(ppt, @ppt_size)</span></a>
            }
        </div>
    }
}
@helper RenderDownloads()
{
    if (Model.Content.HasValue("doPobrania"))
    {
        string sids = Model.Content.GetPropertyValue<string>("doPobrania");
        if (!String.IsNullOrWhiteSpace(sids))
        {
            int[] ids = sids.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).Select<string, int>(x => Convert.ToInt32(x)).ToArray();
            if (ids.Length > 0)
            {
                <div class="article-downloads">
                    <h2 class="dtitle">pobierz pliki</h2>
                    <div class="ditems">
                        @foreach (int id in ids)
                        {
                            var media = Umbraco.TypedMedia(id);
                            if (media != null)
                            {
                                string title = media.Name;
                                string alt = media.GetPropertyValue<string>("alt");
                                string ext = media.GetPropertyValue<string>("umbracoExtension");
                                long dataSize = 0;
                                Int64.TryParse(media.GetPropertyValue<string>("umbracoBytes"), out dataSize);
                                string desc = "(" + (String.IsNullOrEmpty(alt) ? "" : alt + ", ")
                                    + (String.IsNullOrEmpty(ext) ? "" : ext + ", ")
                                    + Helper.FormatBytes(dataSize)
                                    + ")";
                                string file_icon = "file.png";
                                <a href="@media.Url" class="ditem"><img src="/Images/@file_icon" alt="" /><span class="dititle">@title<span class="didesc">@desc</span></span></a>
                            }
                        }
                    </div>
                    <a href="/dopobraniahandler.aspx?id=@Model.Content.Id" class="download-all">pobierz pliki<span class="wcag_hide">pobierz wszystkie pliki</span></a>
                </div>
            }
        }
    }
}
@helper RenderLinks()
{
    if (Model.Content.DocumentTypeAlias == "NaukaScenariusz" && Model.Content.HasValue("linkiUzupelniajace"))
    {
        string linkiUzupelniajace = Model.Content.GetPropertyValue<string>("linkiUzupelniajace");
        if (!String.IsNullOrEmpty(linkiUzupelniajace))
        {
            int[] ids = linkiUzupelniajace.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).Select<string, int>(x => Convert.ToInt32(x)).ToArray();
            <div class="links-ad">
                <span class="lahead">linki uzupełniające</span>
                <ul>
                    @foreach (int id in ids)
                    {
                        var c = Umbraco.TypedContent(id);
                        if (c != null)
                        {
                            string tytul = (c.HasValue("tytul") ? c.GetPropertyValue<string>("tytul") : c.Name);
                            <li><a href="@c.Url">@tytul</a></li>
                        }
                    }
                </ul>
            </div>
        }
    }
}
@{
    Html.RequiresCss("~/Css/artykul.css", 1);
    Html.RequiresCss("~/Css/gallery.css", 1);
    Html.RequiresJs("~/Modules/jQuery/jquery-ui.min.js", 2);
    Html.RequiresJs("~/Scripts/gallery.js", 3);

    if (Model.Content.DocumentTypeAlias == "Gra")
    {
        Html.RequiresJs("~/Scripts/gameContainer.js", 3);
    }

    Layout = "Podstrona.cshtml";

    bool isGrayscale = Helper.IsGreyscale();

    IPublishedContent content = (Model.Content.DocumentTypeAlias == "ArtykulGlowna" ? Umbraco.TypedContent(Model.Content.GetPropertyValue<int>("artykul")) : Model.Content);
    IPublishedContent level2 = Model.Content.AncestorOrSelf(2);
    if (Model.Content.DocumentTypeAlias == "ArtykulGlowna")
    {
        Helper.IncrVisitCounter(Model.Content.Id);
    }

    string[] tags = content.HasValue("tagi") ? content.GetPropertyValue<string>("tagi").Split(',') : null;

    string tresc = Model.Content.GetPropertyValue<string>("tresc");
    string lead = (Model.Content.DocumentTypeAlias == "NaukaScenariusz" ? Model.Content.GetPropertyValue<string>("celLekcji") : Model.Content.GetPropertyValue<string>("lead"));
    if (String.IsNullOrEmpty(tresc) && Model.Content.DocumentTypeAlias == "ArtykulGlowna")
    {
        tresc = content.GetPropertyValue<string>("tresc");
    }
    if (String.IsNullOrEmpty(lead) && Model.Content.DocumentTypeAlias == "ArtykulGlowna")
    {
        lead = content.GetPropertyValue<string>("lead");
    }

    bool bGry = false;
    var lstHeaderFields = new List<KeyValuePair<string, string>>();
    switch (content.Parent.DocumentTypeAlias)
    {
        case "WiedzaGatunki":
            AddArticleField(content, "gatunek", "gatunek", "Gatunek", lstHeaderFields);
            break;
        case "WiedzaTerminy":
            AddArticleField(content, "rodzajTerminu", "rodzaj terminu", "RodzajTerminu", lstHeaderFields);
            break;
        case "WiedzaInstrumenty":
            AddArticleField(content, "rodzajInstrumentu", "rodzaj instrumentu", "RodzajInstrumentu", lstHeaderFields);
            break;
        case "WiedzaKompozytorzy":
            AddArticleField(content, "epoka", "epoka", "Epoka", lstHeaderFields);
            break;
        case "NaukaCwiczenia":
            AddArticleField(content, "rodzaj", "rodzaj", "RodzajCwiczenia", lstHeaderFields);
            AddArticleField(content, "poziom", "poziom", "PoziomNauczania", lstHeaderFields);
            break;
        case "NaukaScenariusze":
            AddArticleField(content, "poziom", "poziom", "PoziomNauczania", lstHeaderFields);
            AddArticleField(content, "czasTrwania", "czas trwania", null, lstHeaderFields);
            break;
        case "OMuzyceLista":
            AddArticleField(content, "autor", "autor", null, lstHeaderFields);
            AddArticleField(content, "temat", "temat", "TematOMuzyce", lstHeaderFields);
            break;
        case "Utwory":
            AddArticleField(content, "rodzaj", "rodzaj", "RodzajUtworu", lstHeaderFields);
            AddArticleField(content, "kompozytor", "kompozytor", null, lstHeaderFields);
            break;
        case "Rozmowy":
            AddArticleField(content, "rodzaj", "rodzaj", "RodzajMultimedia", lstHeaderFields);
            AddArticleField(content, "rozmowca", "rozmowca", null, lstHeaderFields);
            break;
        case "Gry":
            bGry = true;
            AddArticleField(content, "kategoria", "kategoria wiekowa", "KategoriaWiekowa", lstHeaderFields);
            AddArticleField(content, "poziom", "poziom trudności", "PoziomTrudnosci", lstHeaderFields);
            break;
        case "FilmyOInstrumencie":
            AddArticleField(content, "rodzaj", "rodzaj", "RodzajMultimedia", lstHeaderFields);
            AddArticleField(content, "instrument", "instrument", null, lstHeaderFields);
            break;
        case "FilmyOMuzyce":
            AddArticleField(content, "rodzaj", "rodzaj", "RodzajMultimedia", lstHeaderFields);
            AddArticleField(content, "autor", "autor", null, lstHeaderFields);
            break;
        case "Kanon":
            AddArticleField(content, "kompozytor", "kompozytor", null, lstHeaderFields);
            AddArticleField(content, "rodzaj", "rodzaj", "RodzajUtworu", lstHeaderFields);
            break;
        case "Regulamin":
            AddArticleField(content, "tresc", "Treść", null, lstHeaderFields);
            break;
        default:
            {
                DateTime dtPublikacji = Model.Content.HasValue("dataPublikacji") ? Model.Content.GetPropertyValue<DateTime>("dataPublikacji") : Model.Content.CreateDate;
                lstHeaderFields.Add(new KeyValuePair<string, string>("data publikacji", dtPublikacji.ToString("dd.MM.yyyy")));
            }
            break;
    }

    bool bShowArticlePicture = false;
    string ap_title = null, ap_src = null, ap_alt = null;
    if (content.GetPropertyValue<bool?>("pokazZdjecie") == true)
    {
        if (content.HasValue("zdjecieArtykulowe"))
        {
            int mediaId = content.GetPropertyValue<int>("zdjecieArtykulowe");
            var media = Umbraco.TypedMedia(mediaId);
            if (media != null)
            {
                //ap_src = media.Url;
                ap_src = media.GetCropUrl(imageCropMode: ImageCropMode.Max) + (isGrayscale ? "&filter=greyscale" : "");
                bShowArticlePicture = true;
            }
        }
        if (!bShowArticlePicture && content.HasValue("zdjecie"))
        {
            ap_src = content.GetCropUrl(propertyAlias: "zdjecie", imageCropMode: ImageCropMode.Max) + (isGrayscale ? "&filter=greyscale" : "");
            if (!String.IsNullOrEmpty(ap_src))
            {
                bShowArticlePicture = true;
            }
        }
        if (bShowArticlePicture)
        {
            ap_title = content.GetPropertyValue<string>("podpisZdjeciaArtykulowego");
        }
        if (bShowArticlePicture)
        {
            ap_alt = content.GetPropertyValue<string>("altZdjeciaArtykulowego");
        }
    }
}
<script type="text/javascript">
    var isToggleReceiverResponse = 1;
</script>
<div class="header-line"></div>
@*@if (
    (level2.HasProperty("pokazSocialMedia")
    && level2.GetPropertyValue<bool>("pokazSocialMedia")))
{
@Html.Partial("SocialsMedia")
}*@
<div class="article rotate_nauka">
    <div class="article-body">
        <div class="article-belt">
            <div class="left">
                @foreach (var f in lstHeaderFields)
                {
                    <div class="field">
                        <span class="lbl">@f.Key:</span>
                        <span class="val">@f.Value</span>
                    </div>
                }
            </div>
        </div>
        @if (content.HasValue("videoLead"))
        {
            <div class="article-video-lead">
                @content.GetPropertyValue("videoLead")
            </div>
        }
        @if (!String.IsNullOrEmpty(lead))
        {
            <div class="article-lead">
                @Html.Raw(lead)
            </div>
        }
        @if (bShowArticlePicture)
        {
            <div class="main-umb-photo">
                <img src="@ap_src" alt="@ap_alt" />
                @if (!String.IsNullOrEmpty(ap_title))
                {
                    <div class="mp-title">@Html.Raw(ap_title)</div>
                }
            </div>
        }
        @Html.Raw(tresc)
        @RenderScenariuszePPT()
        @RenderDownloads()
        @RenderLinks()
        <div class="article-belt bottom">
            <div class="left">
                @if (tags != null && tags.Length > 0)
                {
                    <div class="field">
                        <span class="lbl">tagi:</span>
                        <ul class="val">
                            @foreach (var tagItem in tags)
                            {
                                <li><a href="/szukaj/?s=@Server.UrlEncode(tagItem)">@tagItem</a>@(tagItem == tags[tags.Length - 1] ? "" : ",")</li>
                            }
                        </ul>
                    </div>
                }
            </div>
            <div class="right">
                @if (!bGry)
                {
                    <a href="/ArticleExportHandler.aspx?t=print&id=@Model.Content.Id" title="Drukuj"><img src="~/Images/printer.png" alt="drukuj" /></a>
                    <a href="/ArticleExportHandler.aspx?t=pdf&id=@Model.Content.Id" title="PDF"><img src="~/Images/pdf.png" alt="pdf" /></a>
                }
            </div>
        </div>
        @*@Html.Partial("SocialMedia", Model, new ViewDataDictionary { { "showEmail", false } })*@
    </div>
</div>
