﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Muzykoteka.Code.Surface
@using Muzykoteka.Code.Models.SSO
@using System.Web.Configuration
@{
    Html.RequiresCss("~/css/Login.css");
    Layout = "Master.cshtml";
    var model = new ChangePassword();
    var message = (string)TempData["Message"];
    bool Ok = false;
    if (TempData.ContainsKey("Ok"))
    {
        Ok = (bool)TempData["Ok"];
    }
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
    var rootPageChild = Model.Content.Parent;
    //model.token = rootPageChild.FirstOrDefault(x => x.DocumentTypeAlias == "");
}


<div class="loginPage">
    <div class="wrapper">
        @if (Ok)
        {
            <div class="login">
                <p class="title">Zmień hasło</p>
                <p class="ok">Hasło zostało zmienione.</p>
                <a href="/" class="button">
                    Przejdź na stronę główną
                </a>
            </div>
        }
        else
        {
            using (Html.BeginUmbracoForm<SSOAccountController>("ChangePassword", null, new { @class = "login" }, FormMethod.Post))
            {
                <p class="title">Zmień hasło</p>
                if (!string.IsNullOrEmpty(message))
                {
                    <p class="error">@message</p>
                }
                <div>
                    @Html.PasswordFor(m => model.OldPassword, new { placeholder = "Aktualne hasło" })
                    <i class="fa fa-key"></i>
                    @Html.ValidationMessageFor(m => model.OldPassword)
                </div>
                <div>
                    @Html.PasswordFor(m => model.NewPassword, new { placeholder = "Nowe hasło" })
                    <i class="fa fa-key"></i>
                    @Html.ValidationMessageFor(m => model.NewPassword)
                </div>
                <div>
                    @Html.PasswordFor(m => model.RepPassword, new { placeholder = "Powtórz nowe hasło" })
                    <i class="fa fa-key"></i>
                    @Html.ValidationMessageFor(m => model.RepPassword)
                </div>
                <button>
                    <i class="spinner"></i>
                    <span class="state">Zmień hasło</span>
                </button>
            }
        }
    </div>
</div>