@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Merchello.Core
@using Merchello.Web
@using Muzykoteka.Code
@{
    Html.RequiresJs("~/Modules/jQuery/jquery.mask.min.js", 2);
    Layout = "CheckoutMaster.cshtml";
    var customer = new CustomerContext(UmbracoContext).CurrentCustomer;
    var paymentMethods = CheckoutController.GetPaymentMethods(customer.Basket());
    var current_payment = CheckoutController.GetCurrentPaymentMethod(customer.Basket());    
}
<div class="checkout">


    @if (!customer.Basket().Items.Any())
    {
        <div class="basket-empty">
            <p>Koszyk jest pusty</p>            
        </div>
    }
    else
    {
        <div class="basket_checkout">
            @using (Html.BeginUmbracoForm<CheckoutController>("SaveAddress", new { area = "MerchelloWfdifStore" }, new { @id = "form_shipment", role = "form" }))
            {
                <div class="basket_address">
                    @Html.Action("RenderAddressForm", "Checkout", new { area = "MerchelloWfdifStore" })                       
                </div>
            }
            <div style="clear: both"></div>
            @if (paymentMethods.Any())
            {
                <div class="basket_shipment" aria-describedby="payment_err" aria-invalid="false">
                    <div class="aria_error hidden" id="payment_err" role="alert">
                        <span class="err">sklep-payment-req wymagana platnosc err</span>
                    </div>
                    <div class="head">Metody płatności</div>
                    <div class="methods">
                        @{
                          
                            bool bFoundAny = false;                           
                            foreach (var s in paymentMethods)
                            {
                                string selected = "";
                                if (String.Compare(current_payment.ToString(), (string)s.Id, true) == 0)
                                {
                                    bFoundAny = true;
                                    selected = "selected";
                                }                                                                        

                                <div class="method">
                                    <a href="#" class="@selected" id="pmetod_@s.Id" onclick="SelectPayment('@s.Id'); return false;">@s.Name</a>
                                </div>
                            }
                            if (!bFoundAny)
                            {
                                current_payment = Guid.Empty;
                            }
                        }
                    </div>
                </div>
            }

            <div class="basket_summary">               
                <div id="basket_total">
                    @Html.Action("DisplayBasketTotal", "Checkout", new { area = "MerchelloWfdifStore" })
                </div>
                <div class="accept">
                    <div class="aria_error hidden" id="acc_error" role="alert">
                        <span class="req">Pole wymagane</span>
                    </div>
                    <label for="cbxAcc" class="form-label">Akceptuję <a href="@Helper.GetStoreLink(Model.Content, StoreLinkType.Rules)" target="_blank">regulamin sklepu</a></label>
                    <input id="cbxAcc" type="checkbox" name="accept" class="form-checkbox" aria-invalid="false" aria-required="true" aria-describedby="acc_error" />                    
                </div>                    
                <div class="buy">
                    <a href="#" onclick="SubmitAddress(); return false;" class="buy_button">Do kasy</a>
                </div>
            </div>
        </div>
    }

</div>
<script type="text/javascript">

    var last_payment_method = '@Html.Raw(current_payment != Guid.Empty ? current_payment.ToString() : "")';

    function SelectPayment(key) {
        if (last_payment_method.length > 0) {
            $('#pmetod_' + last_payment_method).removeClass('selected');
        }
        $('#pmetod_' + key).toggleClass('selected', true);
        last_payment_method = key;

        ValidatePMethod();

        $.ajax({
            url: '/VowosAdmin/MerchelloWfdifStore/Checkout/SavePayment/?key=' + key,
            cache: false,
            success: function () {                
            },
            error: function (xhr, ajaxOptions, thrownError) {                
                alert(status + ' ' + thrownError);
            },
            cache: false
        });

    }

    function SubmitAddress() {        
        if (ValidateInputs()) {
            if (!$('#cbxFaktura').prop('checked')) {
                $('#billing_address input').each(function () {
                    $(this).val('');
                })                
            }
            $('#form_shipment').submit();
        }
    }

    function ValidateAddress(el) {   
        var isValid;
        var format_err = false;        
        if (el.attr('id') == 'cbxAcc') {           
            isValid = el.prop('checked');
            var label = $("label[for='" + el.attr('id') + "']");            
            label.toggleClass('error', !isValid);
        }
        else if (el.is(':text')) {            
            if (el.parent().parent().attr('id') == 'billing_address' && !$('#cbxFaktura').prop('checked')) {
                isValid = true;
            }
            else {
                isValid = el.val().length > 0;

                if (isValid && el.hasClass('vemail')) {
                    var re = /[a-z0-9!#$%&'*+/=?^_{|}~-]+(?:.[a-z0-9!#$%&'*+/=?^_{|}~-]+)*@@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/i; // RFC 2822
                    var email = el.val();
                    isValid = re.test(email);
                    format_err = true;
                }

                if (isValid && el.hasClass('nip')) {
                    var re = /[0-9]{10}/i;
                    var nip = el.val();
                    isValid = re.test(nip);
                    format_err = true;
                }
            }                                    
        }
        else {
            return true;
        }

        el.toggleClass('error', !isValid);

        var err_elem_id = el.attr('aria-describedby');
        if (err_elem_id) {
            var err_elem = $('#' + err_elem_id);
            if (err_elem) {
                el.attr('aria-invalid', !isValid);
                err_elem.toggleClass('visible_req', !isValid && !format_err);
                err_elem.toggleClass('visible_err', !isValid && format_err);
            }
        }
        return isValid;
    }

    function ValidatePMethod() {
        var isValid = (last_payment_method.length > 0);
        $('.basket_shipment .head').toggleClass('error', !isValid);
        $('#payment_err').toggleClass('visible_err', !isValid);
        $('.basket_shipment').attr('aria-invalid', !isValid);
        return isValid;
    }

    function ValidateInputs() {
        var res = true;                
        $('.basket_checkout input').each(function () {
            if (!ValidateAddress($(this)))
                res = false;
        })        
        if (!ValidatePMethod()) {
            res = false;
        }
        return res;
    }

    $(function () {
        $('.basket input[type="text"]').on('blur', function () {
            ValidateAddress($(this));
        });
    })   
</script>


