@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Muzykoteka.Code;
@{
    Layout = "Master.cshtml";
    Html.RequiresCss("~/css/checkout.css", 2);

    var koszyk = Model.Content.Parent.Children.FirstOrDefault(x => x.DocumentTypeAlias == "SklepKoszyk");    
}

<div class="checkout">       
    @RenderBody()
    <ul class="checkout-footer">
        <li><a href="@Model.Content.Parent.Url">Powrót do sklepu</a></li>
        <li><a href="@Helper.GetStoreLink(Model.Content, StoreLinkType.Rules)">Regulamin sklepu</a></li>
        <li><a href="@Helper.GetStoreLink(Model.Content, StoreLinkType.Shipments)">Dostawy</a></li>
    </ul>
</div>