﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Muzykoteka.Code.Surface
@using Muzykoteka.Code.Models.SSO
@using System.Web.Configuration
@{
    Html.RequiresCss("~/css/Login.css");
    Layout = "Master.cshtml";
    var model = new ChangePassword();
    var message = (string)TempData["Message"];
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
    var rootPageChild = Model.Content.Parent;
    //model.token = rootPageChild.FirstOrDefault(x => x.DocumentTypeAlias == "");
}


<div class="loginPage">
    <div class="wrapper">
        @using (Html.BeginUmbracoForm<SSOAccountController>("DeleteAccount", null, new { @class = "login" }, FormMethod.Post))
        {
            <p class="title">Usuń konto</p>
            if (!string.IsNullOrEmpty(message))
            {
                <p class="error">@message</p>
            }
            <div class="error">
                @Html.Raw(Model.Content.GetPropertyValue<string>("tresc"))
        </div>
        <button>
            <i class="spinner"></i>
            <span class="state">Usuń konto</span>
        </button>
    }
    </div>
</div>