@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<header class="header" style="padding-bottom: 20px; border-bottom: 2px solid black">
    <div class="left">
        <a href="#" onclick="window.history.back(); return false;" class="back">&lt; powrót</a>
        <h1 class="title">@Html.Raw(Model.Content.GetPropertyValue<string>("ertytul"))</h1>
    </div>
    <div style="clear: both"></div>
</header>
@Model.Content.GetPropertyValue("ertresc")