@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Muzykoteka.Code;
@using Umbraco.Web.Models;
@using System.Text.RegularExpressions;
@using System.Linq;

@helper RenderDownloads()
{
string doPobrania = "";
var Uri = new Uri(Request.Url.AbsoluteUri);
var code = HttpUtility.ParseQueryString(Uri.Query).Get("code");
bool isDrmOff = Muzykoteka.Code.Helper.IsDRMOff(code, Model.Content);
if (Model.Content.HasValue("doPobrania"))
{
    doPobrania = Model.Content.GetPropertyValue<string>("doPobrania");
}

var d_nodes = Model.Content.Children.Where(x => x.DocumentTypeAlias == "DoPobraniaChroniony");
foreach (var content in d_nodes)
{
    if (Umbraco.MemberHasAccess(content.Path) && content.HasValue("doPobrania"))
    {
        doPobrania += "," + content.GetPropertyValue<string>("doPobrania");
    }
}

if (!String.IsNullOrEmpty(doPobrania))
{
    int[] ids = doPobrania.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).Select<string, int>(x => Convert.ToInt32(x)).ToArray();
    if (ids.Length > 0)
    {
            <div class="article-downloads">
                <a name="materialy_edukacyjne"></a>
                <h2 class="dtitle">Materiały edukacyjne</h2>
                <div class="ditems">
                    @foreach (int id in ids)
                    {
                        var media = Umbraco.TypedMedia(id);
                        if (media != null)
                        {
                            string title = media.Name;
                            string alt = media.GetPropertyValue<string>("alt");
                            string ext = media.GetPropertyValue<string>("umbracoExtension");
                            long dataSize = 0;
                            Int64.TryParse(media.GetPropertyValue<string>("umbracoBytes"), out dataSize);
                            string desc = "(" + (String.IsNullOrEmpty(alt) ? "" : alt + ", ")
                                + (String.IsNullOrEmpty(ext) ? "" : ext + ", ")
                                + Helper.FormatBytes(dataSize)
                                + ")";
                            string file_icon = "file.png";
                            <a href="@media.Url" class="ditem"><img src="/Images/@file_icon" alt="" /><span class="dititle">@title<span class="didesc">@desc</span></span> <span class="downlink"><i class="fa fa-download"></i> Pobierz</span></a>
                        }
                    }
                </div>
                <a href="/dopobraniahandler.aspx?id=@Model.Content.Id" class="download-all">pobierz pliki<span class="wcag_hide">pobierz wszystkie pliki</span></a>
            </div>
        }
    }
}


@{
    Html.RequiresCss("~/Css/artykul.css", 1);
    Html.RequiresCss("~/Css/gallery.css", 1);
    Html.RequiresJs("~/Modules/jQuery/jquery-ui.min.js", 2);
    Html.RequiresJs("~/Scripts/gallery.js", 3);
    //Html.RequiresCss("~/Css/video-js.css", 1);
    if (Model.Content.AncestorOrSelf(2).DocumentTypeAlias == "Kolekcja")
    {
        Layout = "Podstrona.cshtml";
    }
    else
    {
        Layout = "PodstronaFilm.cshtml";
    }
    bool isGrayscale = Helper.IsGreyscale();
    string title = Model.Content.GetPropertyValue<string>("Tytul");
    string tresc = Model.Content.GetPropertyValue<string>
        ("opis");
    string tresc2 = Model.Content.GetPropertyValue<string>
        ("opis2");


    string ap_src = null;
    string zwiastun = null;
    string videoEmbed = Model.Content.GetPropertyValue<string>("videoEmbed");
    if (String.IsNullOrEmpty(videoEmbed))
    {
        int zwiastunId = Model.Content.GetPropertyValue<int>
            ("videoFile");
        if (zwiastunId > 0)
        {
            var mediaZ = Umbraco.TypedMedia(zwiastunId);
            if (mediaZ != null)
            {
                zwiastun = mediaZ.Url();
            }
        }
        if (zwiastun != null)
        {
            ap_src = Model.Content.GetCropUrl(propertyAlias: "zdjecie", imageCropMode: ImageCropMode.Max);
        }
    }

    //Dictionary<string, string> dictEkipa = (Model.Content.HasValue("ekipa") ? Model.Content.GetPropertyValue<Dictionary<string, string>>("ekipa") : null);
    Dictionary<string, string> dictEkipa = Helper.SafeParseDictionaryKV(Model.Content, "ekipa");

    //Dictionary<string, string> dictObsada = (Model.Content.HasValue("obsada") ? Model.Content.GetPropertyValue<Dictionary<string, string>>("obsada") : null);
    Dictionary<string, string> dictObsada = Helper.SafeParseDictionaryKV(Model.Content, "obsada");

    string rezyser_value = Model.Content.GetPropertyValue<string>("rezyser");
    bool bAddRezyserToEkipa = (!String.IsNullOrEmpty(rezyser_value) && (dictEkipa == null || !dictEkipa.ContainsKey("Reżyseria")));
    string rezyser_key = null;
    if (bAddRezyserToEkipa)
    {
        rezyser_key = "Reżyseria";
        while (dictEkipa != null && !String.IsNullOrEmpty(rezyser_value) && dictEkipa.ContainsKey(rezyser_key))
        {
            rezyser_key += " ";
        }
    }

    string podpisVideo = Model.Content.GetPropertyValue<string>("podpisVideo");
    string kategoriaWiekowaPic = Model.Content.GetPropertyValue<string>("kategoriaWiekowa");
    if (!String.IsNullOrEmpty(kategoriaWiekowaPic))
    {
        if (kategoriaWiekowaPic.Contains("12"))
        {
            kategoriaWiekowaPic = "kw_12.png";
        }
        else if (kategoriaWiekowaPic.Contains("16"))
        {
            kategoriaWiekowaPic = "kw_16.png";
        }
        else if (kategoriaWiekowaPic.Contains("18"))
        {
            kategoriaWiekowaPic = "kw_18.png";
        }
        else
        {
            kategoriaWiekowaPic = null;
        }
    }
    IPublishedContent level2 = Model.Content.AncestorOrSelf(2);
}
<script type="text/javascript">
    var TitleMovie = '@title';
    var isToggleReceiverResponse = 1;
    var VideoPoster = "";
</script>
<!-- <div class="header-line film-body-size"></div> -->

@*@if (level2.HasProperty("pokazSocialMedia")
    && level2.GetPropertyValue<bool>("pokazSocialMedia"))
{
    @Html.Partial("SocialsMedia")
}*@
<div class="article rotate_nauka">
    <div class="article-body">
        <div class="main-umb-photo film-body-size">
            @if (!String.IsNullOrEmpty(videoEmbed))
            {
                @Html.Raw(videoEmbed);
            }
            else if (@zwiastun != null)
            {
                <video poster="@ap_src" controls class="video-js vjs-default-skin ha-content">
                    <source src="@zwiastun" />
                </video>
            }
        </div>
        @if (Model.Content.AncestorOrSelf(2).DocumentTypeAlias == "Kolekcja")
        {
            string items = Model.Content.Parent.GetPropertyValue<string>("polecaneKolekcje");
            <div class="Lasted">
                <ul>
                    @if (!string.IsNullOrEmpty(items))
                    {
                        foreach (var id in items.Split(','))
                        {
                            var item = (IPublishedContent)Umbraco.Content(id);
                            var tytul = item.GetPropertyValue<string>("tytul");
                            var lead = item.GetPropertyValue<string>("leadArtykul");
                            string picture;
                            var pirce = item.GetPropertyValue("cena");
                            var disc = item.GetPropertyValue<string>("cenaPromocyjna");
                            picture = item.GetBWCropUrl("zdjecie", "Pastylka", isGrayscale);
                            <li style="background:url('@picture')" id="@item.Id" class="Okladka">
                                <div class="UperName">@item.Parent.Name</div>
                                <a class="Under" href="@item.Url">
                                    <div class="Description">
                                        <div class="title" title="@tytul">@Html.Raw(tytul)</div>
                                        <div class="desc" title="@lead">@Html.Raw(lead)</div>
                                        @if (!string.IsNullOrEmpty(disc))
                                        {
                                            <div class="priceDisc">@disc</div>
                                            <div class="price" style="text-decoration:line-through;">@pirce</div>
                                        }
                                        else
                                        {
                                            <div class="price">@pirce</div>
                                        }
                                    </div>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        }

        <div class="film-body-size film-opis">
            @if (!String.IsNullOrEmpty(podpisVideo) || !String.IsNullOrEmpty(kategoriaWiekowaPic))
            {
                <div class="vpodpis">
                    <div class="vptext">@podpisVideo</div>
                    @if (!String.IsNullOrEmpty(kategoriaWiekowaPic))
                    {
                        <div class="vpkategoria">
                            <img src="~/Images/@kategoriaWiekowaPic" />
                        </div>
                    }
                </div>
            }
            @Html.Raw(tresc)
            @if (!String.IsNullOrEmpty(rezyser_key) || (dictEkipa != null && dictEkipa.Count > 0))
            {
                string lastKey = null;
                Regex re = new Regex(@"^#\d+$");
                Regex re1 = new Regex(@"^[\s#]*\d+[\s#]*$");
                <div class="film-ludzie ekipa">
                    <div class="back-obsada">
                        @{
                            if (!String.IsNullOrEmpty(rezyser_key))
                            {
                                <div class="fe-item section">
                                    <span class="fe-key">@rezyser_key</span>
                                    <span class="fe-value">@rezyser_value</span>
                                </div>
                            }
                            if (dictEkipa != null)
                            {
                                foreach (var k in dictEkipa)
                                {
                                    string key = k.Key;
                                    key = key.TrimEnd(" 1");
                                    if (re.IsMatch(key))
                                    {
                                        key = "";
                                    }
                                    else if (lastKey != null && key.Length >= lastKey.Length && (lastKey.CompareTo(key) == 0 || re1.IsMatch(key.Substring(lastKey.Length))))
                                    {
                                        key = "";
                                    }
                                    else
                                    {
                                        lastKey = key;
                                    }
                                    string sInSectionClass = !String.IsNullOrEmpty(key) ? " section" : "";
                                    string value = re.IsMatch(k.Value) ? "" : k.Value;
                                    <div class="fe-item @sInSectionClass">
                                        <span class="fe-key">@key</span>
                                        <span class="fe-value">@value</span>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            }
            @if (dictObsada != null && dictObsada.Count > 0)
            {
                <div class="film-ludzie obsada ">
                    <div class="back-obsada">
                        @{
                            Regex re_old = new Regex(@"^#\d+$");
                            Regex re_v2 = new Regex(@"^.*#\d+#$");
                            foreach (var k in dictObsada)
                            {
                                string key = re_old.IsMatch(k.Key) || re_v2.IsMatch(k.Key) ? "" : k.Key;
                                string value = re_old.IsMatch(k.Value) ? "" : k.Value;
                                <div class="fe-item section">
                                    <span class="fe-key">@key</span>
                                    <span class="fe-value">@value</span>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
            <div class="film-opis2">
                @Html.Raw(tresc2)
            </div>
        </div>



        <!-- <div class="img-separator" style="background-image: url('@ap_src');"></div>         -->
        <div class="film-body-size">
            @RenderDownloads()
            @*@Html.Partial("SocialMedia", Model, new ViewDataDictionary { { "showEmail", false } })*@
        </div>
    </div>
</div>
