﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Muzykoteka.Code.Surface
@using Muzykoteka.Code.Models.SSO
@using System.Web.Configuration
@{
    Html.RequiresCss("~/css/Login.css");
    Layout = "Master.cshtml";
    var model = new ForgotEmail();
    var message = (string)TempData["Message"];
    bool Ok = false;
    if (TempData.ContainsKey("Ok"))
    {
        Ok = (bool)TempData["Ok"];
    }
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
    var rootPageChild = Model.Content.Parent;
    //model.token = rootPageChild.FirstOrDefault(x => x.DocumentTypeAlias == "");
    model.token = rootPageChild.Children().FirstOrDefault(x => x.DocumentTypeAlias == "RestPassword").UrlAbsolute();
}


<div class="loginPage">
    <div class="wrapper">
        @if (Ok)
        {
            <div class="login">
                <p class="title">Zapomniałeś hasła?</p>
                <p class="ok">E-mail resetujący hasło został wysłany na podany adres e-mail.</p>
                <a href="/" class="button">
                    Przejdź na stronę główną
                </a>
            </div>
        }
        else
        {
            using (Html.BeginUmbracoForm<SSOAccountController>("ForgotPassword", null, new { @class = "login" }, FormMethod.Post))
            {
                <p class="title">Zapomniałeś hasła?</p>
                if (!string.IsNullOrEmpty(message))
                {
                    <p class="error">@message</p>
                }
                <div>
                    @Html.TextBoxFor(m => model.email, new { placeholder = "E-mail" })
                    <i class="fa fa-envelope"></i>
                    @Html.ValidationMessageFor(m => model.email)
                </div>
                @Html.HiddenFor(m => model.token)
                <button>
                    <i class="spinner"></i>
                    <span class="state">Zresetuj hasło</span>
                </button>
            }
        }
    </div>
</div>