﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";
    Html.RequiresCss("~/Css/home.css", 1);
    Html.RequiresCss("~/Css/Slider.css");
    Html.RequiresJs("~/Scripts/homeFilterToggle.js", 3);

    bool isGrayscale = Helper.IsGreyscale();

    //var listEpoki = Helper.GetSlownik("Epoka");
    var listTypes = Helper.GetMainCategories();

    IPublishedContent artykul = null;

    int main_id = 0;
    string main_title = "",
        main_link = "",
        main_lead = "",
        artykul_rt = "",
        artykul_lb = "&nbsp;",
        transmisjaEmbed = "",
        transmisjaOpis = "",
        transmisjaLink = "",
        transmisjaZdjecie = "";

    IPublishedContent banerMedia = null;
    bool isTransmisja = Model.Content.GetPropertyValue<bool?>("transmisjaOn") ?? false;
    if (isTransmisja)
    {
        if (Model.Content.HasValue("transmisjaZdjecie"))
        {
            transmisjaZdjecie = Model.Content.GetBWCropUrl("transmisjaZdjecie", "pic", isGrayscale);
        }
        else
        {
            transmisjaEmbed = Model.Content.GetPropertyValue<string>("transmisjaEmbed");
        }
        if (String.IsNullOrEmpty(transmisjaZdjecie) && String.IsNullOrEmpty(transmisjaEmbed))
        {
            isTransmisja = false;
        }
        else
        {
            main_title = Model.Content.GetPropertyValue<string>("transmisjaTytul");
            transmisjaOpis = Model.Content.GetPropertyValue<string>("transmisjaOpis");
            transmisjaLink = Model.Content.GetPropertyValue<string>("transmisjaLink");
        }


        int banerMediaId = Model.Content.GetPropertyValue<int>("baner");
        banerMedia = Umbraco.TypedMedia(banerMediaId);
    }

    if (!isTransmisja)
    {
        int? id = Model.Content.GetPropertyValue<int?>("artykul");
        if (id != null)
        {
            artykul = Umbraco.TypedContent(id);
            if (artykul != null)
            {
                main_title = artykul.GetPropertyValue<string>("tytul");
                main_link = artykul.Url;
                main_lead = artykul.GetPropertyValue<string>("lead");
                main_id = artykul.Id;
                artykul_rt = artykul.AncestorOrSelf(2).Name;
                if (artykul.Level >= 4)
                {
                    artykul_lb = artykul.AncestorOrSelf(3).Name;
                }
            }
        }
    }
}
<script src="~/Scripts/comp.js"></script>
<script src="~/Scripts/MainSlider.js"></script>
<link href="~/Css/MainSlider.min.css" rel="stylesheet" />
<script src="~/Scripts/Carousel.js"></script>
@helper Pastylki(bool isGrayscale, bool isVOD)
{
    var category = CurrentPage.Site().FirstChild(isVOD ? "Multimedia" : "Nauka").Children.Where("Visible");
    List<IPublishedContent> items = Helper.Pastylki(category);
    var DefaultImage = Model.Content.GetCropUrl(propertyAlias: "zdjecieDomyslne", cropAlias: "Pastylka");
    if (items.Count > 0)
    {
        <div class="Lasted @(isVOD ? "VOD" : "EDU")">
            @if (isVOD)
            {
                <a class="logo" href="@CurrentPage.Site().FirstChild("Multimedia").Url"><span class="fancy-cat-name size_4 white correct-strefa"><span class="black">Nowe w</span><span class="black">STREFIE</span><span class="red">VOD</span></span></a>
            }
            else
            {
                <a class="logo" href="@CurrentPage.Site().FirstChild("Nauka").Url"><span class="fancy-cat-name size_4 white"><span class="black" style="padding:3px;">Nowe w</span><span class="red">EDU</span><span class="black">KACJI</span></span></a>
            }
            <ul>
                @foreach (var page in items.Take(6))
                {
                    var IsProtected = Umbraco.IsProtected(page.Path);
                    bool bLogIn = (IsProtected && !Umbraco.MemberIsLoggedOn());
                    string tytul = page.GetPropertyValue<string>("tytul");
                    string lb_text = page.AncestorOrSelf(3).Name;
                    string r = page.GetPropertyValue<string>("rezyser");
                    string desc_line = r;
                    string rok_produkcji = page.GetPropertyValue<string>("rok_produkcji");
                    var image = page.GetBWCropUrl("Zdjecie", "Pastylka", isGrayscale);

                    if (string.IsNullOrEmpty(image))
                    {
                        image = DefaultImage;
                    }

                    string Url = page.Url, urlTarget = "_self", playTitle;
                    if (page.DocumentTypeAlias == "NaukaGra")
                    {
                        urlTarget = "_blank";
                        playTitle = "Uruchom grę";
                    }
                    else
                    {
                        urlTarget = "_self";
                        playTitle = "Przejdź do materiału";
                    }

                    if (!String.IsNullOrEmpty(rok_produkcji))
                    {
                        if (desc_line.Length > 0)
                        {
                            desc_line += " / ";
                        }
                        desc_line += rok_produkcji;
                    }
                    if (String.IsNullOrEmpty(desc_line))
                    {
                        desc_line = "&nbsp;";
                    }
                    <li style="background:url('@image')">
                        <a href="@Url" class="Under" target="@urlTarget" title="@playTitle">
                            <div class="Description">
                                <div class="title">@Html.Raw(tytul)</div>
                                <div class="desc">@Html.Raw(desc_line)</div>
                                <div class="title-top">@lb_text</div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
}
@helper Projekty(bool isGrayscale)
{
    var projekty_top = Model.Content.Children.Where(x => x.DocumentTypeAlias == "Projekty").FirstOrDefault();
    if (projekty_top != null)
    {
        var projects = projekty_top.Children.OrderBy(x => x.SortOrder);
        if (projects.Count() > 0)
        {<div id="projects_list_outer">
                <div class="Projekty">
                    <span class="PRO">PRO</span>JEKTY
                </div>
                <div id="projects_list">
                    <script type="text/javascript">
                            project_count = @projects.Count();
                    </script>
                    @for (int i = 0; i < 3; i++)
                    {
                        if (i < projects.Count())
                        {
                            var project = projects.ElementAt(i);
                            var link = (project.HasValue("link") ? (project.GetPropertyValue<string>
                                ("link")) : null);
                            var title = (project.HasValue("link") ? (project.GetPropertyValue<string>
                                ("title")) : null);
                            bool bEmpty = (!project.HasValue("title") && !project.HasValue("logo") && !project.HasValue("lead"));
                            if (!bEmpty)
                            {
                                <a href="@link" class="intproject_cell" style="background:url(@project.GetBWCropUrl("tlo", "obraz", isGrayscale))">
                                    <div class="Under">
                                        @{
                                            string logo_img = project.GetBWCropUrl("logo", "logo", isGrayscale);
                                            if (!project.HasValue("logo"))
                                            {
                                                <h3>@Html.Raw(project.Name)</h3>;
                                            }
                                            else
                                            {
                                                <img src="@logo_img" alt="?" />
                                            }
                                        }
                                        <div class="appla_border"></div>
                                        <div class="project_lead">@Html.Raw(project.GetPropertyValue("lead"))</div>
                                    </div>
                                </a>
                            }
                        }
                    }
                </div>
            </div>
        }
    }

}
<script type="text/javascript">
    var isToggleReceiverResponse = 2;
    function OnSelectionChanged() {
    }
    if (window.innerWidth > 1200) {
    }
    function UpdateVSize() {

        $(".play-animation").show();
    }
    $(window).resize(function () {
        UpdateVSize();
    });
</script>
<div>
    <div class="home-top">
        @Html.Partial("MainSlider")
    </div>
</div>
@{
    var Multimedia = Model.Content.AncestorOrSelf(1).Children(x => x.DocumentTypeAlias == "Multimedia").FirstOrDefault();
}
@*@Html.Partial("Carousel", new ViewDataDictionary { { "MasterContent", Multimedia }, { "value", Helper.GetAnalytics(Multimedia.Url) }, { "DefaultImage", Model.Content.GetCropUrl(propertyAlias: "zdjecieDomyslne", cropAlias: "Pastylka") }, { "Name", "VOD" } })*@
@if (Model.Content.GetPropertyValue<bool>("ostatnio_Dodane") && Model.Content.GetPropertyValue<bool>("nadBanerem"))
{
    @*@Pastylki(isGrayscale, true);*@
    @Pastylki(isGrayscale, false);
}
@Projekty(isGrayscale)
@if (banerMedia != null)
{
    <div class="baner" id="baner">
        <img class="" src="@banerMedia.Url" alt="" />

    </div>
}
@if (Model.Content.GetPropertyValue<bool>("ostatnio_Dodane") && !Model.Content.GetPropertyValue<bool>("nadBanerem"))
{
    @*@Pastylki(isGrayscale, true);*@
    @Pastylki(isGrayscale, false);
}
@*@Pastylki(isGrayscale, true, Model.Content.AncestorOrSelf(1).Children.FirstOrDefault(x => x.DocumentTypeAlias == "Multimedia"))*@
