﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Muzykoteka.Code;
@{
    Layout = "Podstrona.cshtml";
    Html.RequiresCss("~/Css/kategoria.css", 1);
    int current_receiver = Helper.GetCurrentReceiver();
}
<script type="text/javascript">
    var isToggleReceiverResponse = 2;
</script>
<div class="category-top">
    @if (Model.Content.DocumentTypeAlias == "Nauka")
    {
        var embed = Model.Content.GetPropertyValue("videoEmbed");
        string transmisjaOpis = Model.Content.GetPropertyValue<string>("box");



    <div class="eduvideo">
        @if (!string.IsNullOrEmpty((string)embed))
        {
            <div class="eduvleft">
                @Html.Raw(embed)
            </div>
        }
        else
        {
            <div class="eduvleft">
                <img src="@Model.Content.GetPropertyValue("plakat")" />
            </div>
        }
        @if (!String.IsNullOrWhiteSpace(transmisjaOpis))
        {
            <div class="eduvright">
                <div class="inside">
                    @Html.Raw(transmisjaOpis)
                </div>
            </div>
        }
    </div>
        @Html.Raw(Model.Content.GetPropertyValue<string>("opis"))
        var items = Model.Content.FirstChild(x => x.Name == "PROJEKTY" && x.IsVisible());
        if (items != null)
        {
            @Html.CachedPartial("ChildView", items, 86400, true, false, new ViewDataDictionary {
            {"type", 0}
        })
        }
    }
    else if (Model.Content.DocumentTypeAlias == "Kolekcja")
    {
        @*<div class="Animacja">
            <video height="100%" width="100%" loop="true" src="~/Images/Comp.mp4" autoplay="true" muted="true" id="test"></video>
        </div>*@
        @Html.CachedPartial("ChildView", Model, 86400, true, false, new ViewDataDictionary {
        {"type", (Model.Content.DocumentTypeAlias=="Multimedia"? 4: 0)}
    })
        <div class="Opis">
            @Html.Raw(Model.Content.GetPropertyValue<string>("opis"))
        </div>
    }
    else if (Model.Content.DocumentTypeAlias == "Users")
    {
        var user = Membership.GetUser();
        if (user != null)
        {

            var id = 0;
            var member = ApplicationContext.Services.MemberService.GetByUsername(user.UserName);
            if (member != null && int.TryParse(Model.Content.Name, out id) && member.Id == id)
            {
                @Html.CachedPartial("ChildView", Model, 86400, true, false, new ViewDataDictionary {
                {"type", 0} })

                <div id="LessonAddPop" class="Pop">
                    @Html.Partial("DodajLekcje", new Muzykoteka.Code.Models.AddLesson() { CurrentContent = Model.Content, LifeTime = DateTime.Now.AddDays(14), id = 0 })
                </div>
                <div id="DeleteLesson" class="Pop">
                    @Html.Partial("UsuwanieLekcji", new Muzykoteka.Code.Models.EdytujUczniow()
                {
                   id = Model.Content.Id
                })
                </div>
                <div id="SaveChanges" class="Pop">
                    @Html.Partial("CheckSavePopup")
                </div>
                <script>
                    var queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    var CreateLesson = urlParams.get('ShowLesson');
                    if (CreateLesson)
                        ShowPop('LessonAddPop', true);
                </script>
            }
            else
            {
                var root = Model.Content.AncestorOrSelf(1);
                Response.Redirect(root.Children.FirstOrDefault(x => x.DocumentTypeAlias == "Error").UrlAbsolute());
            }
        }
        else
        {
            var root = Model.Content.AncestorOrSelf(1);
            Response.Redirect(root.Children.FirstOrDefault(x => x.DocumentTypeAlias == "Error").UrlAbsolute());
        }
    }
    else if (Model.Content.DocumentTypeAlias == "Uczniowie")
    {
        var Uri = new Uri(Request.Url.AbsoluteUri);
        var code = HttpUtility.ParseQueryString(Uri.Query).Get("code");
        if (!string.IsNullOrEmpty(code) && Model.Content.GetKey().ToString() == code)
        {
            var date = Model.Content.GetPropertyValue<DateTime>("dataWaznosc");
            if (date > DateTime.Now)
            {
                Muzykoteka.Code.Helper.UpdateStudent(Model.Content.Id, Model.Content.Parent);
                @Html.CachedPartial("ChildView", Model, 86400, true, false, new ViewDataDictionary {
               {"type", 7} })
            }
            else
            {
                <div class="empty-list">Lekcja straciła ważność</div>
            }
        }
        else
        {
            var root = Model.Content.AncestorOrSelf(1);
            Response.Redirect(root.Children.FirstOrDefault(x => x.DocumentTypeAlias == "Error").UrlAbsolute());
        }
    }
    else if (Model.Content.DocumentTypeAlias == "Lekcja")
    {
        var user = Membership.GetUser();
        if (user != null)
        {

            var id = 0;
            var member = ApplicationContext.Services.MemberService.GetByUsername(user.UserName);
            if (member != null && int.TryParse(Model.Content.Parent.Name, out id) && member.Id == id)
            {

                @Html.CachedPartial("ChildView", Model, 86400, true, false, new ViewDataDictionary {
            {"type", 8} })
                var current = Model.Content;
                string emails = "";
                emails = string.Join(",", current.Children.Select(x => x.Name).ToList());
                <div id="LessonAddPop" class="Pop">
                    @Html.Partial("DodajLekcje", new Muzykoteka.Code.Models.AddLesson()
               {
                   CurrentContent = current.Parent,
                   Articles = current.GetPropertyValue<string>("Artykuly"),
                   Emails = emails,
                   LessonName = current.GetPropertyValue<string>("nazwaLekcji"),
                   parentId = current.Parent.Id,
                   id = current.Id
               })
                </div>
                <div id="SaveChanges" class="Pop">
                    @Html.Partial("CheckSavePopup")
                </div>
                <div id="UczEditPop" class="Pop">
                    @Html.Partial("EdytujUczniow", new Muzykoteka.Code.Models.EdytujUczniow()
               {
                   id = current.Id,
                   LeftTime = DateTime.Now.AddDays(14),
                   UczniowieIstniejący = current.Children.ToList()
               })
                </div>
                <div id="NewDedline" class="Pop">
                    @Html.Partial("PopupDateTime", new Muzykoteka.Code.Models.EdytujUczniow()
               {
                   id = current.Id,
                   LeftTime = DateTime.Now.AddDays(14),
                   UczniowieIstniejący = current.Children.ToList()
               })
                </div>
                <div id="DeleteLesson" class="Pop">
                    @Html.Partial("UsuwanieLekcji", new Muzykoteka.Code.Models.EdytujUczniow()
               {
                   id = current.Id,
                   LeftTime = DateTime.Now.AddDays(14),
                   UczniowieIstniejący = current.Children.ToList()
               })
                </div>
            }
            else
            {
                var root = Model.Content.AncestorOrSelf(1);
                Response.Redirect(root.Children.FirstOrDefault(x => x.DocumentTypeAlias == "Error").UrlAbsolute());
            }
        }
        else
        {
            var root = Model.Content.AncestorOrSelf(1);
            Response.Redirect(root.Children.FirstOrDefault(x => x.DocumentTypeAlias == "Error").UrlAbsolute());
        }
    }
    else
    {
        @Html.CachedPartial("ChildView", Model, 86400, true, false, new ViewDataDictionary {
        {"type", (Model.Content.DocumentTypeAlias=="Multimedia"? 4: 0)}
    })
    }

</div>
