﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using System.Collections
@using Muzykoteka.Code;
@{
    Layout = "Podstrona.cshtml";

    string hlineclass = hlineclass = "category-border-clr_" + Model.Content.Name.Substring(0, 2).ToLower();
    bool isGrayscale = false;
    string filter_partial = null;

    var current_receiver = Helper.GetCurrentReceiver();
    if (Model.Content.Parent != null && Model.Content.Parent.DocumentTypeAlias == "Nauka")
    {
        filter_partial = "FilterLekcje";
    }
}
@if (filter_partial != null)
{
    <script type="text/javascript">

        var isToggleReceiverResponse = 2;

        $(window).resize(function () {
            $('.js-combo').ComboBox('ResizeWidth');
        });
        $(window).load(function () {
            $('.js-combo').ComboBox('ResizeWidth');
        })
        function BuildFilterExpr(combos, datepickers, apickers) {
            var filter = '';
            var savedFilterValues = '';
            combos.each(function () {
                var f = $(this).ComboBox('GetFilterExpr');
                if (f.length) {
                    savedFilterValues = SaveFilterField(savedFilterValues, $(this).attr('id'), $(this).ComboBox("GetSelectedValues"));
                    if (filter.length)
                        filter += '|';
                    filter = filter + f;
                }
            });

            if (typeof apickers !== 'undefined' && apickers != null) {
                apickers.each(function () {
                    var f = $(this).AlphabetPicker('GetFilterExpr');
                    savedFilterValues = SaveFilterField(savedFilterValues, $(this).attr('id'), $(this).AlphabetPicker("GetSelectedValues"));
                    if (f.length) {
                        if (filter.length)
                            filter += '|';
                        filter = filter + f;
                    }
                });
            }

            if (typeof datepickers !== 'undefined' && datepickers != null) {
                datepickers.each(function () {
                    var f = $(this).MZDatePicker('GetFilterExpr');
                    if (f.length) {
                        savedFilterValues = SaveFilterField(savedFilterValues, $(this).attr('id'), $(this).MZDatePicker("GetSelectedValues"));
                        if (filter.length)
                            filter += '|';
                        filter = filter + f;
                    }
                });
            }

            $('#hdnSavedFilter').val(savedFilterValues);

            return filter;
        }

        function OnSelectionChanged() {
            FilterChildList(GetFilterExpr(), GetSortExpr());
        }

        function ClearFilter() {
            @if (new string[] { "Nauka", "NaukaKategoria" }.Contains(Model.Content.DocumentTypeAlias))
            {
                @:location.href ='@Model.Content.Parent.FirstChild().Url';
            }
            else {
                @:$('.js-combo').ComboBox('ClearSelection');
                @:$('.js-dtpicker').MZDatePicker('ClearSelection');
                @:$('.js-alphapicker').AlphabetPicker('ClearSelection');
                @:OnSelectionChanged();
            }
            }

        function SaveFilterField(current_v, filterID, filterValue) {
            if (current_v.length > 0)
                current_v += '|';
            current_v += filterID + ':' + filterValue;
            return current_v;
        }

        function RestoreFilters() {
            var v = $('#hdnSavedFilter').val();
            if (v.length > 0) {
                var fchanged = false;
                var a = v.split('|');
                $.each(a, function (i, v) {
                    var fa = v.split(':');
                    if (fa.length >= 1) {
                        var filterID = fa[0];
                        var filterValue = fa[1];
                        if (filterValue.length > 0) {
                            if ($('#' + filterID).hasClass('js-dtpicker')) {
                                $('#' + filterID).MZDatePicker("SetSelection", filterValue);
                            }
                            else if ($('#' + filterID).hasClass('js-alphapicker')) {
                                $('#' + filterID).AlphabetPicker("SetSelection", filterValue);
                            }
                            else {
                                $('#' + filterID).ComboBox("SetSelection", filterValue);
                            }
                            fchanged = true;
                        }
                    }
                });
                if (fchanged) {
                    OnSelectionChanged();
                }
            }
        }

        function UpdateTotalRecCounter(total) {
            $('.hcounter').html('(' + total + ')');
        }

    </script>
    <div class="filterV2 @(isGrayscale ? "grayscale":"")">

        <div class="inner">
            @if (filter_partial == "FilterLekcje")
            {
                var cat_top_node = Model.Content.AncestorOrSelf(2);
                List<IPublishedContent> children = new List<IPublishedContent>();
                switch (current_receiver)
                {
                    case 3:
                        children.AddRange(cat_top_node.Children.Where(x => x.GetPropertyValue<bool>("dlaStudenta") == true).ToList());
                        break;
                    case 2:
                        children.AddRange(cat_top_node.Children.Where(x => x.GetPropertyValue<bool>("dlaUcznia") == true).ToList());
                        break;
                    case 1:
                        children.AddRange(cat_top_node.Children.Where(x => x.GetPropertyValue<bool>("dlaNauczyciela") == true).ToList());
                        break;
                    default:
                        children = new List<IPublishedContent>();
                        break;
                }
                List<KeyValuePair<object, object>> listKategorie = children.Select<IPublishedContent, KeyValuePair<object, object>>(x => new KeyValuePair<object, object>(x, null)).ToList();
                <div style="display: inline-block;position: relative;padding-right: 30px;">
                    @*<ion-icon name="albums-outline" style="font-size:30px; position:absolute;left:-4px;top:-3px;"></ion-icon>*@
                    <div id="EduCat" class="field total2" style="display: inline-block;">
                        @Html.Partial("ComboBox", Model, new ViewDataDictionary {
                        {"ClientID", "fltKategoria" },
                        {"Text", "Kategoria"},
                        {"JSSelectionChanged", "OnSelectionChanged"},
                        {"FilterField","Kategoria"},
                        {"IsMultiselect", false},
                        {"DataSource", listKategorie },
                        { "Clicked",true } })
                    </div>
                </div>
            }
            @if (current_receiver != 3)
            {
                <span class="label">FILTRUJ:</span>
                <span class="wcag_hide">Po wybraniu wartości w filtrze wyniki przeładowują się automatycznie</span>
                <input type="hidden" id="hdnSavedFilter" />
                <div class="filter-fields">@Html.CachedPartial(filter_partial, null, 86400)</div>
                <a href="#" class="col clear-filter" onclick="ClearFilter(); return false;">wyczyść filtr</a>
            }
        </div>
    </div>
    <div style="clear: both"></div>
}
@Html.Partial("ChildView")