﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Muzykoteka.Code.Surface
@using Muzykoteka.Code.Models.SSO
@using Muzykoteka.Code


@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
    Response.Redirect("/");
}
else
{
    var query = ValueHelper.QueryToString(Request.Url.Query);
    Layout = "Master.cshtml";
    Html.RequiresCss("~/css/Login.css");


    var model = new Token();
    var message = (string)TempData["Message"];
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
    var rootPageChild = Model.Content.Parent.Children();
    var forgotPass = rootPageChild.FirstOrDefault(x => x.DocumentTypeAlias == "ForgotPassword");
    var register = rootPageChild.FirstOrDefault(x => x.DocumentTypeAlias == "Register");
    var registerALt = rootPageChild.FirstOrDefault(x => x.DocumentTypeAlias == "RegisterExternal");
    string regAltUrl = "";
    if (registerALt != null)
    {
        regAltUrl = registerALt.UrlAbsolute();
    }
    if (query.ContainsKey("returnurl"))
    {
        Response.Cookies.Add(new HttpCookie("ReturnCookie", query["returnurl"])
        {
            Expires = DateTime.Now.AddMinutes(30)
        });
        model.CurrentPage = Request.Url.PathAndQuery;
    }
    else if (!Model.Content.UrlAbsolute().EqualsOIC(Request.Url.AbsoluteUri))
    {
        Response.Cookies.Add(new HttpCookie("ReturnCookie", Request.Url.AbsoluteUri)
        {
            Expires = DateTime.Now.AddMinutes(30)
        });
        model.CurrentPage = Request.Url.PathAndQuery;
    }
    else
    {
        Response.Cookies.Set(new HttpCookie("ReturnCookie", Request.Url.AbsoluteUri) { Expires = DateTime.Now });
    }
    <link href="~/Fonts/font-awesome5/css/all.css" rel="stylesheet" />
    <div class="loginPage">
        <div class="wrapper">
            @using (Html.BeginUmbracoForm<SSOAccountController>("Token", null, new { @class = "login" }, FormMethod.Post))
            {


                <p class="title">Zaloguj się</p>
                if (!string.IsNullOrEmpty(message))
                {
                    <p class="error">@message</p>
                }
                <div>
                    @Html.TextBoxFor(m => model.username, new { placeholder = "Login" })
                    <i class="fa fa-user"></i>
                    @Html.ValidationMessageFor(m => model.username)
                </div>
                <div>
                    @Html.PasswordFor(m => model.password, new { placeholder = "Hasło" })
                    <i class="fa fa-key"></i>
                    @Html.ValidationMessageFor(m => model.password)
                </div>
                @Html.HiddenFor(m => model.CurrentPage)
                <div>
                    <a href="@forgotPass.Url">Zapomniałeś swoje hasło?</a>
                </div>

                <div class="external">
                    <a class="btn btn-block btn-social btn-google" href="@Html.MakeSSOUrl("google", regAltUrl)">
                        <i class="fab fa-google"></i> Google
                    </a>
                    <a class="btn btn-block btn-social btn-facebook" href="@Html.MakeSSOUrl("facebook", regAltUrl)">
                        <i class="fab fa-facebook-f"></i> Facebook
                    </a>
                </div>
                <button>
                    <i class="spinner"></i>
                    <span class="state">Zaloguj się</span>
                </button>
            }
            <div class="login-footer">
                <p>Nie masz konta zarejestruje się <a href="@register.Url">Tutaj!</a></p>
            </div>
        </div>
    </div>
}