﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;


}
<html>
<head>
    <script type="text/javascript">        
        if (parent.ReloadAfterLogin)
            parent.ReloadAfterLogin();
        else
            document.location = "/";
    </script>
</head>
<body>
</body>
</html>