﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Muzykoteka.Code;
@using Umbraco.Web.Models;
@using System.Text.RegularExpressions;
@{
    var Uri = new Uri(Request.Url.AbsoluteUri);
    IPublishedContent Page = null;
    var Id = HttpUtility.ParseQueryString(Uri.Query).Get("id");
    if (string.IsNullOrEmpty(Id))
    {
        Page = Model.Content;
    }
    else
    {
        Page = Umbraco.TypedContent(Id);
    }
}
@helper RenderDownloads(IPublishedContent Page, Uri Uri)
{

    string doPobrania = "";

    if (Page.HasValue("doPobrania"))
    {
        doPobrania = Page.GetPropertyValue<string>("doPobrania");
    }

    var d_nodes = Page.Children.Where(x => x.DocumentTypeAlias == "DoPobraniaChroniony");
    var code = HttpUtility.ParseQueryString(Uri.Query).Get("code");
    bool isDrmOff = Muzykoteka.Code.Helper.IsDRMOff(code, Page);
    foreach (var content in d_nodes)
    {
        if ((Umbraco.MemberHasAccess(content.Path) || isDrmOff) && content.HasValue("doPobrania"))
        {
            doPobrania += "," + content.GetPropertyValue<string>("doPobrania");
        }
    }

    if (!String.IsNullOrEmpty(doPobrania))
    {
        int[] ids = doPobrania.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).Select<string, int>(x => Convert.ToInt32(x)).ToArray();
        if (ids.Length > 0)
        {
            <div class="article-downloads">
                <a name="materialy_edukacyjne"></a>
                <h2 class="dtitle">Materiały edukacyjne</h2>
                <div class="ditems">
                    @foreach (int id in ids)
                    {
                        var media = Umbraco.TypedMedia(id);
                        if (media != null)
                        {
                            string title = media.Name;
                            string alt = media.GetPropertyValue<string>("alt");
                            string ext = media.GetPropertyValue<string>("umbracoExtension");
                            long dataSize = 0;
                            Int64.TryParse(media.GetPropertyValue<string>("umbracoBytes"), out dataSize);
                            string desc = "(" + (String.IsNullOrEmpty(alt) ? "" : alt + ", ")
                                + (String.IsNullOrEmpty(ext) ? "" : ext + ", ")
                                + Helper.FormatBytes(dataSize)
                                + ")";
                            string file_icon = "file.png";
                            <a href="@media.Url" class="ditem"><img src="/Images/@file_icon" alt="" /><span class="dititle">@title<span class="didesc">@desc</span></span> <span class="downlink"><i class="fa fa-download"></i> Pobierz</span></a>
                        }
                    }
                </div>
                <a href="/dopobraniahandler.aspx?id=@Page.Id" class="download-all">pobierz pliki<span class="wcag_hide">pobierz wszystkie pliki</span></a>
            </div>
        }
    }
}

@functions {
    string PrepareTables(string s)
    {
        return (String.IsNullOrEmpty(s) ? s : s.Replace("<table ", "<table class='intext-table'"));
    }
}

@{
    Html.RequiresCss("~/Css/artykul.css", 1);
    Html.RequiresCss("~/Css/gallery.css", 1);
    Html.RequiresJs("~/Modules/jQuery/jquery-ui.min.js", 2);
    Html.RequiresJs("~/Scripts/gallery.js", 3);
    //Html.RequiresCss("~/Css/video-js.css", 1);

    Layout = "PodstronaFilm.cshtml";

    bool isGrayscale = Helper.IsGreyscale();

    string tresc = PrepareTables(Page.GetPropertyValue<string>("opis"));
    string tresc2 = PrepareTables(Page.GetPropertyValue<string>("opis2"));

    string lead = PrepareTables(Page.GetPropertyValue<string>("leadArtykul"));

    string zdjecie = null;
    string naglowek = PrepareTables(Page.GetPropertyValue<string>("naglowek"));
    if (String.IsNullOrEmpty(naglowek))
    {
        zdjecie = Page.GetCropUrl(propertyAlias: "zdjecie", imageCropMode: ImageCropMode.Max);
    }
    var level2 = Page.AncestorOrSelf(2);
}
<script type="text/javascript">
    var isToggleReceiverResponse = 1;
</script>
<div class="header-line category"></div>
<!-- <div class="header-line film-body-size"></div> -->
@*@if (level2.HasProperty("pokazSocialMedia")
    && level2.GetPropertyValue<bool>("pokazSocialMedia"))
{
    @Html.Partial("SocialsMedia")
}*@
<div class="article rotate_nauka">
    <div class="article-body">
        <div class="main-umb-photo film-body-size">
            @if (!String.IsNullOrEmpty(naglowek))
            {
                @Html.Raw(naglowek);
            }
            else if (zdjecie != null)
            {
                <img src="@zdjecie" />
            }
        </div>
        <div class="film-body-size">
            @RenderDownloads(Page, Uri)
            @*@Html.Partial("SocialMedia", Model, new ViewDataDictionary { { "showEmail", false } })*@
        </div>
        @if (!String.IsNullOrEmpty(lead))
        {
            <div class="article-lead film-body-size">
                @Html.Raw(lead)
            </div>
        }
        <div class="film-body-size film-opis">
            @Html.Raw(tresc)
            <div class="film-opis2">
                @Html.Raw(tresc2)
            </div>
        </div>
    </div>
</div>
