﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Layout = "Podstrona.cshtml";
    string picture = null;
    Html.RequiresCss("~/Css/Okladka.css");
    try
    {
        picture = Model.Content.GetCropUrl("zdjecie", "Pastylka");
    }
    catch
    {
        var pg_homepage = Model.Content.AncestorOrSelf(1);
        picture = pg_homepage.GetCropUrl(propertyAlias: "zdjecieDomyslne", cropAlias: "Pastylka");
    }
    string pirce = Model.Content.GetPropertyValue<string>("cena");
    string disc = Model.Content.GetPropertyValue<string>("cenaPromocyjna");
}
<div class="Collection">
    <div class="left">
        <div class="UpperName">@(Model.Content.Parent.Name)</div>
        <img src="@picture" />
        @if (!string.IsNullOrEmpty(pirce))
        {
            <div class="priceLabel">
                @if (!string.IsNullOrEmpty(disc))
                {
                <div class="priceDisc">@disc</div>
                <div class="price" style="text-decoration:line-through;">@pirce</div>
                }
                else
                {
                <div class="price">@pirce</div>
                }
            </div>
        }
    </div>
    <div class="center">
        <div class="Title">
            <h2>@Model.Content.GetPropertyValue("tytul")</h2>
        </div>
        <div class="Lead">
            @Model.Content.GetPropertyValue("lead")
        </div>
        <div class="Playlist">
            @foreach (var item in Model.Content.Parent.Children(x => x.DocumentTypeAlias == "Film"))
            {
                <a href="@item.Url" class="name">@item.Name</a>
                if (!string.IsNullOrEmpty(item.GetPropertyValue<string>("duration")))
                {
                    <div class="time">@item.GetPropertyValue("duration") min</div>
                }
                else
                {
                    <div></div>
                }
            }
        </div>
        <div class="Production">
            @Model.Content.GetPropertyValue("Production")
        </div>
        <div class="PublishDate">
            @Model.Content.GetPropertyValue("PublishDate")
        </div>
    </div>
    <div class="Right">
        <div class="Description">
            @Model.Content.GetPropertyValue("Opis")
        </div>
        <div class="Polecane">
            @{
                string items = Model.Content.Parent.GetPropertyValue<string>("polecaneKolekcje");
                <div class="Lasted">
                    <ul>
                        @if (!string.IsNullOrEmpty(items))
                        {
                            foreach (var id in items.Split(',').Take(2))
                            {
                                var item = (IPublishedContent)Umbraco.Content(id);
                                string photo;
                                photo = item.GetCropUrl("zdjecie", "Pastylka");
                                <li style="background:url('@photo')" id="@item.Id" class="Okladka">
                                    <div class="UperName">@item.Parent.Name</div>
                                    <a class="Under" href="@item.Url"></a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            }
        </div>

    </div>
</div>