@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Html.RequiresCss("~/css/checkout.css", 2);
    bool bVODSummary = (Request.QueryString["t"] == "v");
    if (bVODSummary)
    {
        Layout = "Podstrona.cshtml";
    }
    else
    {
        Layout = "CheckoutMaster.cshtml";
    }
    var koszyk = Model.Content.Parent.Children.FirstOrDefault(x => x.DocumentTypeAlias == "Koszyk");
    var adres = Model.Content.Parent.Children.FirstOrDefault(x => x.DocumentTypeAlias == "Checkout");
}
<div class="checkout">        
    <div class="podsumowanie">
        @Html.Action("RenderInvoiceSummary", "Checkout", new { area = "MerchelloWfdifStore", invoiceNumber = Request.QueryString["inv"], status = Request.QueryString["status"] })
        @if (bVODSummary)
        {
            <a href="javascript:history.back()" class="podsumowanie-powrot">Powrót</a>
        }
    </div>    
</div>

