﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";
    Html.RequiresJs("~/Scripts/backButton.js", 3);
    bool isGrayscale = Helper.IsGreyscale();
    string title = null;

    var Uri = new Uri(Request.Url.AbsoluteUri);
    IPublishedContent Page = null;
    var Id = HttpUtility.ParseQueryString(Uri.Query).Get("id");
    if (string.IsNullOrEmpty(Id))
    {
        Page = Model.Content;
    }
    else
    {
        Page = Umbraco.TypedContent(Id);
    }

    if (!Page.HasProperty("tytul"))
    {
        title = Page.Name;
    }
    else
    {
        title = Page.GetPropertyValue<string>("tytul");
        if (String.IsNullOrEmpty(title) && Page.DocumentTypeAlias == "ArtykulGlowna")
        {
            IPublishedContent content = Umbraco.TypedContent(Page.GetPropertyValue<int>("artykul"));
            title = content.GetPropertyValue<string>("tytul");
        }
    }

    if (title.ToLower() == "wiecej o muzyce")
    {
        title = "Więcej o muzyce";
    }

    if (Page.DocumentTypeAlias == "Schowek")
    {
        title += "<a href=\"#\" onclick=\"return false;\"  class=\"js-clear-clipboard\" title=\"Wyczyść schowek\"></a>";
        Html.RequiresJs("~/Scripts/clearClipboard.js", 4);
    }

    int current_receiver = Helper.GetCurrentReceiver();
    List<KeyValuePair<object, object>> listSubpages = null;
    IPublishedContent cat_top_node = null;
    if (Page.Level > 1)
    {
        cat_top_node = Page.AncestorOrSelf(2);
        if (cat_top_node.DocumentTypeAlias == "Wiedza" || cat_top_node.DocumentTypeAlias == "Nauka" || cat_top_node.DocumentTypeAlias == "Multimedia")
        {
            if (current_receiver == 2)
            {
                listSubpages = cat_top_node.Children.Where(x => x.DocumentTypeAlias != "NaukaScenariusze").Select<IPublishedContent, KeyValuePair<object, object>>(x => new KeyValuePair<object, object>(x.Url, x.Name)).ToList();
            }
            else
            {
                listSubpages = cat_top_node.Children.Select<IPublishedContent, KeyValuePair<object, object>>(x => new KeyValuePair<object, object>(x.Url, x.Name)).ToList();
            }
        }
    }


    string head_counter = "";
    if (Page.DocumentTypeAlias == "Aktualne"
        || Page.DocumentTypeAlias == "Wiedza"
        || Page.DocumentTypeAlias == "Nauka"
        || Page.DocumentTypeAlias == "OMuzyceLista"
        || Page.DocumentTypeAlias == "Multimedia"
        || Page.DocumentTypeAlias == "Kanon"
        || (Page.Level > 1 &&
            (Page.Parent.DocumentTypeAlias == "Wiedza"
            || Page.Parent.DocumentTypeAlias == "Nauka"
            || Page.Parent.DocumentTypeAlias == "Multimedia")))
    {
        int article_count = Page.Descendants().Count();
        head_counter = "<span class=\"hcounter\">(" + article_count + ")</span><span class=\"wcag_hide\">" + article_count + " elementów w tej kategorii</span>";
    }


    string titleHeader = null;
    if (Page.HasProperty("rezyser"))
    {
        string rezyser = Page.GetPropertyValue<string>("rezyser");
        string kraj = (Page.GetPropertyValue<string>("kraj") + " " + Page.GetPropertyValue<string>("rok_produkcji")).Trim();
        string duration = Page.GetPropertyValue<string>("duration");
        if (!String.IsNullOrEmpty(duration))
        {
            duration += " min";
        }
        titleHeader = rezyser;
        if (!String.IsNullOrEmpty(kraj))
        {
            if (!String.IsNullOrEmpty(titleHeader))
            {
                titleHeader += ", ";
            }
            titleHeader += kraj;
        }
        if (!String.IsNullOrEmpty(duration))
        {
            if (!String.IsNullOrEmpty(titleHeader))
            {
                titleHeader += ", ";
            }
            titleHeader += duration;
        }
    }
    else
    {
        if (Page.HasProperty("przedmiot"))
        {
            var names = Helper.GetSlownikEntries("Przedmiot", Page.GetPropertyValue<string>("przedmiot"));
            var joined = String.Join(" ", names);
            titleHeader = joined;
        }
        string[] klasy = Page.GetPropertyValue<string[]>("klasy");
        if (Page.HasProperty("rodzajSzkoly"))
        {
            if (!String.IsNullOrEmpty(titleHeader))
            {
                titleHeader += ", ";
            }
            var names = Helper.GetSlownikEntries("Szkola", Page.GetPropertyValue<string>("rodzajSzkoly")).ToList();
            if (names != null && names.Count > 0 && klasy != null)
            {
                for (int i = 0; i < names.Count; i++)
                {
                    if (klasy.Length > i)
                    {
                        names[i] += " " + klasy[i];
                    }
                }
            }

            var joined = String.Join(", ", names);
            titleHeader += joined;
        }
        if (!String.IsNullOrEmpty(titleHeader))
        {
            titleHeader = titleHeader.Substring(0, 1).ToUpper() + titleHeader.Substring(1);
        }
    }

    var lstClipboard = Muzykoteka.Code.ClipboardSurfaceController.GetCurrentClpbList();
    bool bIsInClipboard = (lstClipboard != null && lstClipboard.Contains(Page.Id));
}

@helper RenderMobileSubcat(List<KeyValuePair<object, object>> listSubpages, bool isGrayscale)
{
    if (listSubpages != null)
    {
        <script>
            function OnSumenuSelectionChanged(event, data) {
                document.location = data.sender.GetSelectedValues();
            }

        </script>
        <div class="submenu-mobile @(isGrayscale ? "grayscale":"")">
            @Html.Partial("ComboBox", Model, new ViewDataDictionary {
                      {"ClientID", "submenu" },
                      {"Text", "wybierz kategorię"},
                      {"JSSelectionChanged", "OnSumenuSelectionChanged"},
                      {"IsMultiselect", false},
                      {"DataSource", listSubpages}})
        </div>
    }
}

@if (Page.Level == 3)
{
    @RenderMobileSubcat(listSubpages, isGrayscale)
}
<header class="header film-body-size">

    <div class="left">

        <div class="topheader">
            <div class="topheader-line"></div>
            @titleHeader

        </div>
        <div class="title">
            <h1 class="title">
                @Html.Raw(title + head_counter)

                <a class="add-to-clpb js-add2clbp @Html.Raw(bIsInClipboard?"added":"") " onclick="return false;" href="#" title="Dodaj do ulubionych" data-contentid="@Page.Id">
                    <span class="wcag_hide">
                        dodaj do ulubionych
                    </span>
                </a>
            </h1>
        </div>
    </div>
    <div style="clear: both"></div>
</header>
@if (Page.Level == 2)
{
    @RenderMobileSubcat(listSubpages, isGrayscale)
}
@RenderBody()