﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";
    List<KeyValuePair<object, object>> listSubpages = new List<KeyValuePair<object, object>>();
    int selectedIdx = 0;
    bool bRenderMobileSubcategories = false;
    if (Model.Content.Level <= 2)
    {
        bRenderMobileSubcategories = true;
        listSubpages = new List<KeyValuePair<object, object>>()
{
            new KeyValuePair<object, object>("/sklep?c=1", "DVD"),
            new KeyValuePair<object, object>("/sklep?c=2", "Książki"),
            new KeyValuePair<object, object>("/sklep?c=3", "Koszulki"),
};
        if (Request.QueryString["c"] != null)
        {
            Int32.TryParse(Request.QueryString["c"], out selectedIdx);
            if (selectedIdx < 0 || selectedIdx > 3)
            {
                selectedIdx = 0;
            }
        }
    }
    else
    {
        var koszyk = Model.Content.Parent.Children.FirstOrDefault(x => x.DocumentTypeAlias == "SklepKoszyk");
        var dostawa = Model.Content.Parent.Children.FirstOrDefault(x => x.DocumentTypeAlias == "Checkout");
        var podsumowanie = Model.Content.Parent.Children.FirstOrDefault(x => x.DocumentTypeAlias == "Podsumowanie");

        listSubpages.Add(new KeyValuePair<object, object>(koszyk.Url, koszyk.Name));
        listSubpages.Add(new KeyValuePair<object, object>(null, dostawa.Name));
        listSubpages.Add(new KeyValuePair<object, object>(null, podsumowanie.Name));

        if (Model.Content.Id == koszyk.Id)
        {
            selectedIdx = 1;
        }
        else if (Model.Content.Id == dostawa.Id)
        {
            selectedIdx = 2;
        }
        else if (Model.Content.Id == podsumowanie.Id)
        {
            selectedIdx = 3;
        }
    }
}

@*@helper RenderMobileSubcat(bool bRenderMobileSubcategories, List<KeyValuePair<object, object>> listSubpages)
{    
    <script>
        function OnSumenuSelectionChanged(event, data) {
            document.location = data.sender.GetSelectedValues();
        }
    </script>
    <div class="submenu-mobile">
        <div class="sm-inner">
            <div class="current">                                     
                @Model.Content.Name
            </div>
            @if (bRenderMobileSubcategories && listSubpages.Count > 0)
            {
                <div class="category">
                    @Html.Partial("ComboBox", Model, new ViewDataDictionary {
                                    {"ClientID", "submenu" },
                                    {"Text", "wybierz kategorię"},
                                    {"JSSelectionChanged", "OnSumenuSelectionChanged"},
                                    {"IsMultiselect", false},
                                    {"DataSource", listSubpages}})
                </div>
            }
        </div>           
    </div>            
}*@
<!--<header class="header">
    <div class="left">        
        <div class="title">
            <div class="Beta">BETA</div>
            <img src="~/Images/prostokat.png" />
        </div>
    </div>
    <div class="right">-->
        @*@Html.Partial("SocialMedia", Model, new ViewDataDictionary { { "showEmail", true } })*@
    <!--</div>
    <div style="clear: both"></div>
</header>-->

@*@RenderMobileSubcat(bRenderMobileSubcategories, listSubpages)*@

@*@if (listSubpages != null)
{
    <nav class="submenu">
        <ul class="smleft">           
            <li class="Image selected">
                <a href="/sklep">  
                    <span class="fancy-cat-name"><span class="red">SKLEP</span><span class="black"></span></span>                    
                </a>
            </li>               
            @for (int i=0; i < listSubpages.Count; i++) {
                var c = listSubpages[i];                                        
                string classSelected = (selectedIdx == i + 1 ? "selected":"");              
                <li class="@classSelected">
                    @if (c.Key == null)
                    {
                        @c.Value
                    }
                    else
                    {
                        <a href="@c.Key">@c.Value</a>
                    }
                </li>                
            }                   
        </ul>

       
        <ul class="smright receiver-toggle js-receiver-toggle">
            <li class="Logo"><img src="~/Images/wlogo.png" /></li>
        </ul>
    </nav>
}*@
@RenderBody()