﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";
    Html.RequiresJs("~/Scripts/backButton.js", 3);
    bool isGrayscale = Helper.IsGreyscale();
    string title = null;

    if (!Model.Content.HasProperty("tytul"))
    {
        if (Model.Content.DocumentTypeAlias != "Nauka")
        {
            title = Model.Content.Parent.Name;
        }
        else if (Model.Content.DocumentTypeAlias == "Users")
        {
            title = "Lekcje";
        }
        else
        {
            title = Model.Content.Name;
        }

    }
    else
    {
        title = Model.Content.GetPropertyValue<string>("tytul");
        if (String.IsNullOrEmpty(title) && Model.Content.DocumentTypeAlias == "ArtykulGlowna")
        {
            IPublishedContent content = Umbraco.TypedContent(Model.Content.GetPropertyValue<int>("artykul"));
            title = content.GetPropertyValue<string>("tytul");
        }
    }

    if (Model.Content.DocumentTypeAlias == "Schowek")
    {
        title += "<a href=\"#\" onclick=\"return false;\"  class=\"js-clear-clipboard\" title=\"Wyczyść schowek\"></a>";
        Html.RequiresJs("~/Scripts/clearClipboard.js", 4);
    }
    int current_receiver;
    if (Model.Content.DocumentTypeAlias == "Nauka")
    {
        current_receiver = 0;
    }
    else
    {
        current_receiver = Helper.GetCurrentReceiver();
        if (current_receiver == 0
            || (current_receiver == 1 && !Model.Content.GetPropertyValue<bool>("dlaNauczyciela"))
            || (current_receiver == 2 && !Model.Content.GetPropertyValue<bool>("dlaUcznia"))
            || (current_receiver == 3 && !Model.Content.GetPropertyValue<bool>("dlaStudenta")))
        {
            if (Model.Content.GetPropertyValue<bool>("dlaNauczyciela"))
            {
                current_receiver = 1;
            }
            else if (Model.Content.GetPropertyValue<bool>("dlaUcznia"))
            {
                current_receiver = 2;
            }
            else if (Model.Content.GetPropertyValue<bool>("dlaStudenta"))
            {
                current_receiver = 3;
            }
        }
    }





    IPublishedContent firstElement = null;
    if (Model.Content.Level > 1)
    {
        firstElement = Model.Content.AncestorOrSelf(2);
    }
    if (firstElement.DocumentTypeAlias == "Pozostale")
    {
        firstElement = Model.Content;
    }
    bool bIsNauka = (firstElement.DocumentTypeAlias == "Nauka");
    bool bIsVOD = (firstElement.DocumentTypeAlias == "Multimedia");
    bool bIsKolekcja = (firstElement.DocumentTypeAlias == "Kolekcja");
    bool bIsBlog = (firstElement.DocumentTypeAlias == "SmartBlogBlog");
    bool bIsLekcja = (Model.Content.DocumentTypeAlias == "Lekcja");
    bool bIsUsers = Model.Content.DocumentTypeAlias == "Users";
    bool bIsUczen = Model.Content.DocumentTypeAlias == "Uczniowie";
    if (bIsUczen)
    {
        firstElement = Model.Content;
    }

    string head_counter = "";
    if (Model.Content.DocumentTypeAlias == "Nauka"
        || Model.Content.DocumentTypeAlias == "Multimedia"
        || (Model.Content.Level > 1 &&
            (Model.Content.Parent.DocumentTypeAlias == "Nauka"
            || Model.Content.Parent.DocumentTypeAlias == "Multimedia")))
    {
        int article_count = Model.Content.Children().Count();
        head_counter = "<span class=\"hcounter\">(" + article_count + ")</span><span class=\"wcag_hide\">" + article_count + " elementów w tej kategorii</span>";
    }
    IPublishedContent level2 = Model.Content.AncestorOrSelf(2);
    string link_teacher = null;
    string link_pupil = null;
    string link_student = null;
    bool bShowToggle_student = true;
    bool bShowToggle_teacher = true;
    bool bShowToggle_pupil = true;
    bool bShowReceiverToggle = (Model.Content.DocumentTypeAlias == "Nauka" || (Model.Content.Parent != null && Model.Content.Parent.DocumentTypeAlias == "Nauka"));
    if (bShowReceiverToggle)
    {
        var naukaContent = (Model.Content.DocumentTypeAlias == "Nauka" ? Model.Content : Model.Content.Parent);
        IPublishedContent contentTeacher = null;
        IPublishedContent contentPupil = null;
        IPublishedContent contentStudent = null;
        if (Model.Content.DocumentTypeAlias == "NaukaKategoria")
        {
            if (Model.Content.GetPropertyValue<bool>("dlaNauczyciela"))
            {
                contentTeacher = Model.Content;
            }
            if (Model.Content.GetPropertyValue<bool>("dlaUcznia"))
            {
                contentPupil = Model.Content;
            }
            if (Model.Content.GetPropertyValue<bool>("dlaStudenta"))
            {
                contentStudent = Model.Content;
            }
        }
        if (contentTeacher == null)
        {
            contentTeacher = naukaContent.Children.Where(x => x.GetPropertyValue<bool>("dlaNauczyciela")).FirstOrDefault();
        }
        if (contentPupil == null)
        {
            contentPupil = naukaContent.Children.Where(x => x.GetPropertyValue<bool>("dlaUcznia")).FirstOrDefault();
        }
        if (contentStudent == null)
        {
            contentStudent = naukaContent.Children.Where(x => x.GetPropertyValue<bool>("dlaStudenta")).FirstOrDefault();
        }

        link_teacher = (contentTeacher == null ? null : contentTeacher.Url);
        link_pupil = (contentPupil == null ? null : contentPupil.Url);
        link_student = (contentStudent == null ? null : contentStudent.Url);
    }
}

@{
    // Get this blogs root, does not use an id because there may be more thanone blog
    IPublishedContent objBlogRoot = null;
    // Get the posts in this blog
    IEnumerable<IPublishedContent> colPosts = null;
    Dictionary<String, Int32> colTagList = new Dictionary<String, Int32>();
    if (bIsBlog)
    {
        objBlogRoot = Model.Content.AncestorOrSelf(2);
        colPosts = objBlogRoot.Descendants("SmartBlogPost").OrderBy("updateDate");

        String[] colCategoryNames;


        // Loop through all the posts then loop through their tags to add to the tag dictionary
        foreach (IPublishedContent objPost in colPosts)
        {

            if (!String.IsNullOrEmpty(objPost.GetPropertyValue<String>("smartBlogCategory")))
            {
                colCategoryNames = objPost.GetPropertyValue<String>("smartBlogCategory").Split(',');
            }
            else
            {
                colCategoryNames = new String[0];
            }

        }
        foreach (IPublishedContent objPost in colPosts.Where(x => !String.IsNullOrEmpty(x.GetPropertyValue<String>("smartBlogTags"))))
        {
            foreach (String strTag in objPost.GetPropertyValue<String>("smartBlogTags").Split(','))
            {
                if (!String.IsNullOrEmpty(strTag))
                {
                    if (colTagList.ContainsKey(strTag))
                    {
                        colTagList[strTag]++;
                    }
                    else
                    {
                        colTagList.Add(strTag, 1);
                    }
                }
            }
        }

    }
    if (bIsUsers)
    {
        <div class="LessonOption">
            <a href="#" onclick="ShowPop('LessonAddPop', true);return false;" title="Dodaj lekcję"><i class="fa fa-plus"></i><span>Dodaj</span></a>
        </div>
    }
    if (bIsLekcja)
    {
        <div class="LessonOption">
            <a href="#" onclick="ShowPop('LessonAddPop', true);return false;" title="Edytuj lekcję"><i class='fa fa-pencil'></i><span>Edytuj</span></a>
            <a href="#" onclick="ShowPop('DeleteLesson', true);return false;" title="Usuń lekcję"><i class="fa fa-trash"></i><span>Usuń</span></a>
        </div>
    }
    }

    <header class="header">
        <div class="left">
            @{
                var haveImg = false;
            }
            @*<div class="title">
                    <div class="Beta">BETA</div>
                    <img src="~/Images/prostokat.png" />
                </div>*@
        </div>
        <div class="right">
            @*@Html.Partial("SocialMedia", Model, new ViewDataDictionary { { "showEmail", true } })*@
        </div>
        <div style="clear: both"></div>

    </header>
    @if (bIsBlog)
    {
        var i = 0;
        <div class="Tags">
            <span class="smartSubTitle">TAGI:</span>
            @foreach (KeyValuePair<String, Int32> objTag in colTagList.OrderByDescending(x => x.Value).Take(15))
            {
                <a class="smartTag tag-@objTag.Value @Html.Raw(Request.Url.AbsoluteUri.Contains(objTag.Key.ToString()) ? "selected" : "")" href="@Umbraco.NiceUrl(objBlogRoot.Id)?tag=@objTag.Key">@objTag.Key.ToUpper()<span style="color: #666;">&#40;@objTag.Value&#41;</span></a>if (i != colTagList.Count() - 1)
                {@Html.Raw(",")}
            i++;
        }
        </div>
    }
    @RenderBody()
    @Html.Partial("_ScenariuszePopup")