﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Layout = "Podstrona.cshtml";
    Html.RequiresJs("~/Scripts/faqToggle.js", 3);

    string[] tags = (Model.Content.HasValue("tagi") ? Model.Content.GetPropertyValue<string>("tagi").Split(',') : null);
}
<script type="text/javascript">
    var isToggleReceiverResponse = 1;
</script>
<div class="pozostale">
    <div class="lead">
        @Model.Content.GetPropertyValue("lead")
    </div>
    <div class="content">
        @Model.Content.GetPropertyValue("tresc")
    </div>
    @if (Model.Content.Name == "Kontakt")
    {
        Html.RequiresCss("~/Css/Contact.css");
        <div id="ContactUs">
            @Html.Partial("ContactUs", new Muzykoteka.Code.Models.EmailInfo())
        </div>
    }
    <div class="bottom-belt">

        <div class="tags">
            @if (tags != null && tags.Length > 0)
            {
                <div class="field">
                    <span class="lbl">tagi:</span>
                    <ul class="val">
                        @foreach (var tagItem in tags)
                        {
                            <li><a href="/szukaj/?s=@Server.UrlEncode(tagItem)">@tagItem</a>@(tagItem == tags[tags.Length - 1] ? "" : ",")</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>

    @*@Html.Partial("SocialMedia", Model, new ViewDataDictionary { { "showEmail", false } })*@

    @{
        var faqs = Model.Content.Children.Where(x => x.DocumentTypeAlias == "FAQ").ToList();
        if (faqs.Count > 0)
        {
            <div class="faqNns">
                <div class="faq js-faq">
                    <span class="fhead">FAQ:</span>
                    <div>
                        @foreach (var page in faqs)
                        {
                            <div class="faq-single">
                                <a href="#" onclick="return false;" tabindex="0" class="question js-question" aria-expanded="false">
                                    <span>@page.GetPropertyValue("pytanie")</span><span class="img"></span>
                                </a>
                                <div class="answer">@page.GetPropertyValue("odpowiedz")</div>
                            </div>
                        }
                    </div>
                </div>
                <script type="text/javascript">
                    $('.js-faq').FaqToggle();
                </script>
            </div>
        }
    }
</div>