﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Muzykoteka.Code.Surface
@using Muzykoteka.Code.Models.SSO
@using Muzykoteka.Code
@using umbraco.cms.businesslogic.member
@using System.Web
@using System.Web.Security
@using Muzykoteka.Code
@{
    Layout = "Master.cshtml";
    var waiting = false;
    Html.RequiresCss("~/css/Login.css");
}
@{
    Profile model;
    string method;
    var disabled = true;
    var isError = (bool?)TempData["Error"];
    var errorMessage = (string)TempData["Message"];
    var testy = (string)TempData["Provider"];
    if (!HttpContext.Current.Profile.IsAnonymous)
    {
        var member = ApplicationContext.Current.Services.MemberService.GetByUsername(HttpContext.Current.Profile.UserName);
        var token = member.GetValue<string>("token");
        var decoded = token.Split('.')[1].DecodeBase64().Deserialize<SsoUserInfo>();
        model = new Profile
        {
            Email = decoded.email,
            UserName = decoded.name,
            InstitutionAdress = decoded.institution_address,
            InstitutionName = decoded.institution_name,
            InstitutionPhone = decoded.institution_phone,
            InstitutionType = decoded.institution_type,
            Province = decoded.province,
            District = decoded.district,
            IsPupil = System.Web.Security.Roles.IsUserInRole("Uczeń"),
            IsStudent = System.Web.Security.Roles.IsUserInRole("Student"),
            IsTeacher = System.Web.Security.Roles.IsUserInRole("Nauczyciel") || member.GetValue<bool>("teacherWait"),
            Agreement = true
        };
        method = "ProfileItem";
        waiting = member.GetValue<bool>("teacherWait");
    }
    else
    {
        var newUser = ValueHelper.QueryToString(Request.Url.Query);
        model = new Profile();
        disabled = false;
        method = "ExternalRegister";
    }
    var parentChild = Model.Content.Parent.Children();
    var changePassword = parentChild.FirstOrDefault(x => x.DocumentTypeAlias == "ChangePassword");
    var delete = parentChild.FirstOrDefault(x => x.DocumentTypeAlias == "DeleteAccount");
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    //Html.RequiresJs("/umbraco_client/ui/jquery.js",5);
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js", 5);
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js", 5);
}

@*@using (Html.BeginUmbracoForm<SSOAccountController>("Token", null, new { @class = "login" }, FormMethod.Post))
    {
        <fieldset>
            <h1>Logowanie</h1>

            @Html.ValidationSummary("loginModel", true)
            <div class="form-item">
                @Html.Label("Login:")
                @Html.TextBoxFor(m => model.username)
                @Html.ValidationMessageFor(m => model.username)
            </div>
            <div class="form-item">
                @Html.Label("Hasło:")
                @Html.PasswordFor(m => model.password)
                @Html.ValidationMessageFor(m => model.password)
            </div>
            @Html.HiddenFor(m => model.CurrentPage)

            <button>Zaloguj</button>
        </fieldset>
    }*@
<div class="loginPage">
    <div class="wrapper">
        @using (Html.BeginUmbracoForm<SSOAccountController>("UpdateProfile", null, new { @class = "login" }, FormMethod.Post))
        {
            <p class="title">Profil</p>
            if (!string.IsNullOrEmpty(errorMessage))
            {
                if (isError == true)
                {
                    <p class="error">@errorMessage</p>
                }
                else
                {
                    <p class="ok">@errorMessage</p>
                }
            }
            <div>
                <div class="important">
                    @if (changePassword != null)
                    {
                        <p>
                            <a href="@changePassword.Url" class="important">Zmień hasło</a>
                        </p>
                    }
                    @if (delete != null)
                    {
                        <p>
                            <a href="@delete.Url">Usuń konto</a>
                        </p>
                    }
                </div>
                @if (disabled)
                {
                    @Html.TextBoxFor(m => model.UserName, new { placeholder = "Login", disabled = "disabled" })
                }
                else
                {
                    @Html.TextBoxFor(m => model.UserName, new { placeholder = "Login" })
                }
                @*<input type="text" placeholder="Login" autofocus />*@
                <i class="fa fa-user"></i>
                @Html.ValidationMessageFor(m => model.UserName)
            </div>
            <div>
                @Html.TextBoxFor(m => model.Email, new { placeholder = "E-mail", disabled = "disabled" })
                <i class="fa fa-envelope"></i>
                @Html.ValidationMessageFor(m => model.Email)
            </div>
            <div>
                @Html.TextBoxFor(m => model.FirstName, new { placeholder = "Imię" })
                <i class="fa fa-user"></i>
                @Html.ValidationMessageFor(m => model.FirstName)
            </div>
            <div>
                @Html.TextBoxFor(m => model.LastName, new { placeholder = "Nazwisko" })
                <i class="fa fa-user"></i>
                @Html.ValidationMessageFor(m => model.LastName)
            </div>
            <label>
                @Html.CheckBoxFor(m => model.IsPupil) Jestem uczniem
            </label>
            <label>
                @Html.CheckBoxFor(m => model.IsStudent) Jestem studentem
            </label>
            <label>
                @Html.CheckBoxFor(m => model.IsTeacher) Jestem nauczycielem
            </label>
            if (waiting)
            {
                <span class="TeacherInfo"><span>Twoje konto jest w trakcie weryfikacji</span></span>
            }
            else if (!model.IsTeacher)
            {
                <span class="TeacherInfo"><span>Rola Nauczyciel wymaga weryfikacji przez administrację portalu</span></span>
            }
            @Html.ValidationMessageFor(m => model.IsTeacher)

            <div class="more @(model.IsTeacher?"":"hidden")" id="teacher">
                <div>
                    @Html.TextBoxFor(m => model.InstitutionName, new { placeholder = "Nazwa instytucji" })
                    <i class="fa fa-map-marker"></i>
                    @Html.ValidationMessageFor(m => model.InstitutionName)
                </div>
                <div class="custom-select">
                    @Html.DropDownListFor(m => model.InstitutionType, ValueHelper.GetSelectInstitutionTypeName(model.InstitutionType))
                    @Html.ValidationMessageFor(m => model.InstitutionType)
                </div>
                <div>
                    @Html.TextBoxFor(m => model.InstitutionAdress, new { placeholder = "Adres instytucji" })
                    <i class="fa fa-map-marker"></i>
                    @Html.ValidationMessageFor(m => model.InstitutionAdress)
                </div>
                <div>
                    @Html.TextBoxFor(m => model.InstitutionPhone, new { placeholder = "Telefon do instytucji" })
                    <i class="fa fa-map-marker"></i>
                    @Html.ValidationMessageFor(m => model.InstitutionPhone)
                </div>
                <div class="custom-select up">
                    @Html.DropDownListFor(m => model.Province, ValueHelper.GetSelectProvince(model.Province))
                    @Html.ValidationMessageFor(m => model.Province)
                </div>
                <div>
                    @Html.TextBoxFor(m => model.District, new { placeholder = "Powiat" })
                    <i class="fa fa-map-marker"></i>
                    @Html.ValidationMessageFor(m => model.District)
                </div>
                @Html.HiddenFor(m => model.Agreement)
            </div>
            <button>
                <i class="spinner"></i>
                <span class="state">Zapisz</span>
            </button>
        }
    </div>
</div>
