﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Muzykoteka.Code.Surface
@using Muzykoteka.Code.Models.SSO
@using Muzykoteka.Code
@using umbraco.cms.businesslogic.member
@using System.Web
@using System.Web.Security
@using Muzykoteka.Code
@{
    Layout = "Master.cshtml";
    Html.RequiresCss("~/css/Login.css");
}
@{
    ExternalProfile model;
    string method;
    var disabled = true;
    var isError = (bool?)TempData["Error"];
    var errorMessage = (string)TempData["Message"];
    var testy = (string)TempData["Provider"];
    if (!HttpContext.Current.Profile.IsAnonymous)
    {
        var member = ApplicationContext.Current.Services.MemberService.GetByUsername(HttpContext.Current.Profile.UserName);
        var token = member.GetValue<string>("token");
        var decoded = token.Split('.')[1].DecodeBase64().Deserialize<SsoUserInfo>();
        model = new ExternalProfile
        {
            Email = decoded.email,
            UserName = decoded.name,
            InstitutionAdress = decoded.institution_address,
            InstitutionName = decoded.institution_name,
            InstitutionPhone = decoded.institution_phone,
            InstitutionType = decoded.institution_type,
            Province = decoded.province,
            District = decoded.district,
            IsPupil = System.Web.Security.Roles.IsUserInRole("Uczeń"),
            IsStudent = System.Web.Security.Roles.IsUserInRole("Student"),
            IsTeacher = System.Web.Security.Roles.IsUserInRole("Nauczyciel") || member.GetValue<bool>("teacherWait")
        };
        method = "ProfileItem";
    }
    else
    {
        var newUser = ValueHelper.QueryToString(Request.Url.Query);
        model = new ExternalProfile()
        {
            Email = newUser["email"],
            FirstName = newUser["firstname"],
            LastName = newUser["lastname"],
            Provider = newUser["provider"],
            ProviderKey = newUser["providerKey"]
        };
        disabled = false;
        method = "ExternalRegister";
    }
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    //Html.RequiresJs("/umbraco_client/ui/jquery.js",5);
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js", 5);
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js", 5);
    var cookies = Umbraco.Content(Model.Content.GetPropertyValue<int>("polityka"));
    var regulamin = Umbraco.Content(Model.Content.GetPropertyValue<int>("regulamin"));
    var rootPageChild = Model.Content.Parent.Children();
    var registerALt = rootPageChild.FirstOrDefault(x => x.DocumentTypeAlias == "RegisterExternal");
    string regAltUrl = "";
    if (registerALt != null)
    {
        regAltUrl = registerALt.UrlAbsolute();
    }
}

@*@using (Html.BeginUmbracoForm<SSOAccountController>("Token", null, new { @class = "login" }, FormMethod.Post))
    {
        <fieldset>
            <h1>Logowanie</h1>

            @Html.ValidationSummary("loginModel", true)
            <div class="form-item">
                @Html.Label("Login:")
                @Html.TextBoxFor(m => model.username)
                @Html.ValidationMessageFor(m => model.username)
            </div>
            <div class="form-item">
                @Html.Label("Hasło:")
                @Html.PasswordFor(m => model.password)
                @Html.ValidationMessageFor(m => model.password)
            </div>
            @Html.HiddenFor(m => model.CurrentPage)

            <button>Zaloguj</button>
        </fieldset>
    }*@
@switch (isError)
{
    case null:
    case true:
        {
            <div class="loginPage">
                <div class="wrapper">
                    @using (Html.BeginUmbracoForm<SSOAccountController>(method, null, new { @class = "login" }, FormMethod.Post))
                    {
                        <p class="title">Zarejestruj się</p>
                        if (!string.IsNullOrEmpty(errorMessage))
                        {
                            <p class="error">@errorMessage</p>
                        }<div>
                            @if (disabled)
                            {
                                @Html.TextBoxFor(m => model.UserName, new { placeholder = "Login", disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => model.UserName, new { placeholder = "Login" })
                            }
                            @*<input type="text" placeholder="Login" autofocus />*@
                            <i class="fa fa-user"></i>
                            @Html.ValidationMessageFor(m => model.UserName)
                        </div>
                        <div>
                            @Html.TextBoxFor(m => model.Email, new { placeholder = "E-mail", disabled = "disabled" })
                            <i class="fa fa-envelope"></i>
                            @Html.ValidationMessageFor(m => model.Email)
                        </div>
                        <div>
                            @Html.TextBoxFor(m => model.FirstName, new { placeholder = "Imię" })
                            <i class="fa fa-user"></i>
                            @Html.ValidationMessageFor(m => model.FirstName)
                        </div>
                        <div>
                            @Html.TextBoxFor(m => model.LastName, new { placeholder = "Nazwisko" })
                            <i class="fa fa-user"></i>
                            @Html.ValidationMessageFor(m => model.LastName)
                        </div>
                        <label>
                            @Html.CheckBoxFor(m => model.IsPupil) Jestem uczniem
                        </label>
                        <label>
                            @Html.CheckBoxFor(m => model.IsStudent) Jestem studentem
                        </label>
                        <label>
                            @Html.CheckBoxFor(m => model.IsTeacher) Jestem nauczycielem
                        </label>
                        @Html.ValidationMessageFor(m => model.IsTeacher)
                        if (!model.IsTeacher)
                        {
                            <span class="TeacherInfo"><span>Rola Nauczyciel wymaga weryfikacji przez administrację portalu</span></span>
                        }

                        <div class="more @(model.IsTeacher?"":"hidden")" id="teacher">
                            <div>
                                @Html.TextBoxFor(m => model.InstitutionName, new { placeholder = "Nazwa instytucji" })
                                <i class="fa fa-map-marker"></i>
                                @Html.ValidationMessageFor(m => model.InstitutionName)
                            </div>
                            <div class="custom-select">
                                @Html.DropDownListFor(m => model.InstitutionType, ValueHelper.GetSelectInstitutionTypeName(model.InstitutionType))
                                @Html.ValidationMessageFor(m => model.InstitutionType)
                            </div>
                            <div>
                                @Html.TextBoxFor(m => model.InstitutionAdress, new { placeholder = "Adres instytucji" })
                                <i class="fa fa-map-marker"></i>
                                @Html.ValidationMessageFor(m => model.InstitutionAdress)
                            </div>
                            <div>
                                @Html.TextBoxFor(m => model.InstitutionPhone, new { placeholder = "Telefon do instytucji" })
                                <i class="fa fa-map-marker"></i>
                                @Html.ValidationMessageFor(m => model.InstitutionPhone)
                            </div>
                            <div class="custom-select up">
                                @Html.DropDownListFor(m => model.Province, ValueHelper.GetSelectProvince(model.Province))
                                @Html.ValidationMessageFor(m => model.Province)
                            </div>
                            <div>
                                @Html.TextBoxFor(m => model.District, new { placeholder = "Powiat" })
                                <i class="fa fa-map-marker"></i>
                                @Html.ValidationMessageFor(m => model.District)
                            </div>
                            @Html.HiddenFor(m => model.Provider)
                            @Html.HiddenFor(m => model.ProviderKey)
                        </div>
                        <label>@Html.CheckBoxFor(m => model.Agreement) <span>akceptuje <a href="@regulamin.Url">Regulamin</a> oraz <a href="@cookies.Url">Politykę Prywatności</a></span></label>
                        @Html.ValidationMessageFor(m => model.Agreement)
                        <button>
                            <i class="spinner"></i>
                            <span class="state">Zarejestruj się</span>
                        </button>
                    }
                </div>
                <script>
                    // extend jquery range validator to work for required checkboxes
                    var defaultRangeValidator = $.validator.methods.range;
                    $.validator.methods.range = function (value, element, param) {
                        if (element.type === 'checkbox') {
                            // if it's a checkbox return true if it is checked
                            return element.checked;
                        } else {
                            // otherwise run the default validation function
                            return defaultRangeValidator.call(this, value, element, param);
                        }
                    }
                </script>
            </div>
        }
        break;
    case false:
        {


            <div class="loginPage">
                <div class="wrapper">
                    <div class="login">
                        <p class="title">Zarejestruj się</p>
                        @if (string.IsNullOrEmpty(testy))
                        {
                            var member = ApplicationContext.Current.Services.MemberService.GetByUsername(HttpContext.Current.Profile.UserName);
                            <p class="ok">
                                <span>Rejestracja zakończona pomyślnie. </span>
                                @if (member.GetValue<bool>("teacherWait"))
                                {
                                    <p>Trwa weryfikacja wprowadzonych danych, do czasu jej zakończenia możesz mieć ograniczony dostęp do zasobów portalu. O aktywacji konta poinformujemy Cię w osobnym e-mailu.</p>
                                }
                            </p>
                            <a href="/" class="button">
                                Przejdź na stronę główną
                            </a>
                        }
                        else
                        {
                            <p class="ok">Rejestracja zakończona pomyślnie, możesz się zalogować.</p>
                            <a href="@Html.MakeSSOUrl(testy,regAltUrl)" class="button">
                                Zaloguj się
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
        break;
}
