﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Muzykoteka.Code.Surface
@using Muzykoteka.Code.Models.SSO
@using Muzykoteka.Code
@{
    Layout = "Master.cshtml";
    Html.RequiresCss("~/css/Login.css");
}
@{
    var model = new Register();
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    //Html.RequiresJs("/umbraco_client/ui/jquery.js",5);
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js", 5);
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js", 5);
    var isError = (bool?)TempData["Error"];
    var errorMessage = (string)TempData["Message"];
    var cookies = Umbraco.Content(Model.Content.GetPropertyValue<int>("polityka"));
    var regulamin = Umbraco.Content(Model.Content.GetPropertyValue<int>("regulamin"));
    var rootPageChild = Model.Content.Parent.Children();
    var loginPage = rootPageChild.FirstOrDefault(x => x.DocumentTypeAlias == "Login");
}
@switch (isError)
{
    case null:
    case true:
        {
            <div class="loginPage">
                <div class="wrapper">
                    @using (Html.BeginUmbracoForm<SSOAccountController>("RegisterItem", null, new { @class = "login" }, FormMethod.Post))
                    {
                        <p class="title">Zarejestruj się</p>
                        if (!string.IsNullOrEmpty(errorMessage))
                        {
                            <p class="error">@errorMessage</p>
                        }
                        <div>
                            @Html.TextBoxFor(m => model.userName, new { placeholder = "Login" })
                            @*<input type="text" placeholder="Login" autofocus />*@
                            <i class="fa fa-user"></i>
                            @Html.ValidationMessageFor(m => model.userName)
                        </div>
                        <div>
                            @Html.TextBoxFor(m => model.email, new { placeholder = "E-mail" })
                            <i class="fa fa-envelope"></i>
                            @Html.ValidationMessageFor(m => model.email)
                        </div>
                        <div>
                            @Html.PasswordFor(m => model.password, new { placeholder = "Hasło" })
                            <i class="fa fa-key"></i>
                            @Html.ValidationMessageFor(m => model.password)
                        </div>
                        <div>
                            @Html.PasswordFor(m => model.confirmPassword, new { placeholder = "Powtórz Hasło" })
                            <i class="fa fa-key"></i>
                            @Html.ValidationMessageFor(m => model.confirmPassword)
                        </div>
                        <div>
                            @Html.TextBoxFor(m => model.firstName, new { placeholder = "Imię" })
                            <i class="fa fa-user"></i>
                            @Html.ValidationMessageFor(m => model.firstName)
                        </div>
                        <div>
                            @Html.TextBoxFor(m => model.lastName, new { placeholder = "Nazwisko" })
                            <i class="fa fa-user"></i>
                            @Html.ValidationMessageFor(m => model.lastName)
                        </div>
                        <label>
                            @Html.CheckBoxFor(m => model.IsPupil) Jestem uczniem
                        </label>
                        <label>
                            @Html.CheckBoxFor(m => model.IsStudent) Jestem studentem
                        </label>
                        <label>
                            @Html.CheckBoxFor(m => model.IsTeacher) Jestem nauczycielem
                        </label>
                        @Html.ValidationMessageFor(m => model.IsTeacher)
                        <div class="more hidden" id="teacher">
                            <div>
                                @Html.TextBoxFor(m => model.InstitutionName, new { placeholder = "Nazwa instytucji" })
                                <i class="fa fa-map-marker"></i>
                                @Html.ValidationMessageFor(m => model.InstitutionName)
                            </div>
                            <div class="custom-select">
                                @Html.DropDownListFor(m => model.InstitutionType, ValueHelper.InstitutionTypeName)
                                @Html.ValidationMessageFor(m => model.InstitutionType)
                            </div>
                            <div>
                                @Html.TextBoxFor(m => model.InstitutionAdress, new { placeholder = "Adres instytucji" })
                                <i class="fa fa-map-marker"></i>
                                @Html.ValidationMessageFor(m => model.InstitutionAdress)
                            </div>
                            <div>
                                @Html.TextBoxFor(m => model.InstitutionPhone, new { placeholder = "Telefon do instytucji" })
                                <i class="fa fa-map-marker"></i>
                                @Html.ValidationMessageFor(m => model.InstitutionPhone)
                            </div>
                            <div class="custom-select up">
                                @Html.DropDownListFor(m => model.Province, ValueHelper.provinceName)
                                @Html.ValidationMessageFor(m => model.Province)
                            </div>
                            <div>
                                @Html.TextBoxFor(m => model.District, new { placeholder = "Powiat" })
                                <i class="fa fa-map-marker"></i>
                                @Html.ValidationMessageFor(m => model.District)
                            </div>
                        </div>
                        <label>@Html.CheckBoxFor(m => model.regulamin) <span>akceptuje <a href="@regulamin.Url">Regulamin</a> oraz <a href="@cookies.Url">Politykę Prywatności</a></span></label>
                        @Html.ValidationMessageFor(m => model.regulamin)
                        <button>
                            <i class="spinner"></i>
                            <span class="state">Zarejestruj się</span>
                        </button>
                    }
                    <div class="login-footer">
                        <p>Masz już konta zaloguj się <a href="@loginPage.Url">Tutaj!</a></p>
                    </div>
                </div>
            </div>
        }
        break;
    case false:
        {
            <div class="loginPage">
                <div class="wrapper">
                    <div class="login">
                        <p class="title">Zarejestruj się</p>
                        <p class="ok">Rejestracja zakończona pomyślnie na podany przez ciebie adres E-mail.</p>
                        <a href="/" class="button">
                            Przejdź na stronę główną
                        </a>
                    </div>
                </div>
            </div>
        }
        break;
}
