﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Muzykoteka.Code.Surface
@using Muzykoteka.Code.Models.SSO
@using System.Web.Configuration
@{
    Html.RequiresCss("~/css/Login.css");
    Layout = "Master.cshtml";
    var model = new FrontReset();
    var message = (string)TempData["Message"];
    bool Ok = false;
    if (TempData.ContainsKey("Ok"))
    {
        Ok = (bool)TempData["Ok"];
    }
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
    Uri myUri = new Uri(Request.Url.AbsoluteUri);
    model.code2 = HttpUtility.ParseQueryString(myUri.Query).Get("code");
    var rootPageChild = Model.Content.Parent.Children();
    var loginPage = rootPageChild.FirstOrDefault(x => x.DocumentTypeAlias == "Login");
}


<div class="loginPage">
    <div class="wrapper">
        @if (Ok)
        {
            <div class="login">
                <p class="title">Zapomniałeś hasła?</p>
                <p class="ok">Hasło zostało zmienione, możesz się już zalogować</p>
                <a href="@loginPage.Url" class="button">
                    Przejdź na stronę logowania
                </a>
            </div>
        }
        else
        {
            using (Html.BeginUmbracoForm<SSOAccountController>("ResetPassword", null, new { @class = "login", autocomplete = "off" }, FormMethod.Post))
            {
                <p class="title">Zapomniałeś hasła?</p>
                if (!string.IsNullOrEmpty(message))
                {
                    <p class="error">@message</p>
                }
                <div>
                    @Html.TextBoxFor(m => model.Prop1, new { placeholder = "E-mail", autocomplete = "off" })
                    <i class="fa fa-envelope"></i>
                    @Html.ValidationMessageFor(m => model.Prop1)
                </div>
                <div>
                    @Html.PasswordFor(m => model.Prop2, new { placeholder = "Nowe hasło", autocomplete = "off" })
                    <i class="fa fa-key"></i>
                    @Html.ValidationMessageFor(m => model.Prop2)
                </div>
                <div>
                    @Html.PasswordFor(m => model.RePassword2, new { placeholder = "Powtórz hasło" })
                    <i class="fa fa-key"></i>
                    @Html.ValidationMessageFor(m => model.RePassword2)
                </div>
                <div>
                    @Html.TextBoxFor(m => model.code2, new { placeholder = "Kod" })
                    <i class="fa fa-key"></i>
                    @Html.ValidationMessageFor(m => model.code2)
                </div>
                <button>
                    <i class="spinner"></i>
                    <span class="state">Zmień hasło</span>
                </button>
            }
        }
    </div>
</div>