﻿﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;

@{
    Layout = "SimpilyForums.cshtml";
    Html.RequiresCss("/css/simpilyforums.css");


}
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("SimpilyForums/DisplayThread")
    </div>
</div>

    <!--
        <script src="/Scripts/JumooSimpily/Forums.js"></script>
    -->