﻿﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;

@{
    Layout = "Master.cshtml";
    Html.RequiresCss("/css/simpilyforums.css");
    Html.RequiresJs("/Scripts/cke/ckeditor.js");
    Html.RequiresJs("/Scripts/cke/translations/pl.js");
}
    <div class="forum">
        @if (Model.Content.Level != 2)
        {
            <a href="@Model.Content.Parent.Url" class="Create" style="width:160px;"><i class="fa fa-arrow-left"></i></a>
        }
        <div class="row">
        </div>
        <div class="row">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
    </div>
<!-- scripts -->
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@
@*<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>*@