﻿﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;

@{
    Layout = "SimpilyForums.cshtml";
    Html.RequiresCss("/css/simpilyforums.css");
}
<div class="row">    
    @Html.Partial("SimpilyForums/DisplayForumInfo")
</div>
<div class="row">
    @if (Model.Content.Children.Any(x=>x.DocumentTypeAlias== "Simpilyforum"))
    {
        <div class="SubForumHeader">PODFORA</div>
    }
    @Html.Partial("SimpilyForums/ListForums")
</div>
<div class="row">
    @if (Model.Content.Children.Any(x=>x.DocumentTypeAlias== "Simpilypost"))
    {
        <div class="SubForumHeader">POSTY</div>
    }
    @Html.Partial("SimpilyForums/ListPosts")
</div>
<div class="row">
    @Html.Partial("SimpilyForums/CreateNewPost")
</div>
