@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
@using Muzykoteka.Code
@using Muzykoteka.Code.Models
@using Merchello.Web.Models.ContentEditing
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";

    Html.RequiresCss("~/Css/artykul.css", 1);
    Html.RequiresCss("~/Css/gallery.css", 1);
    Html.RequiresJs("~/Modules/jQuery/jquery-ui.min.js", 2);
    Html.RequiresJs("~/Scripts/gallery.js", 3);
    Html.RequiresJs("~/Scripts/buyLink.js", 3);
    //Html.RequiresCss("~/Css/video-js.css", 1);
    Html.RequiresCss("~/Css/sklep.css", 4);

    var productKey = Request.QueryString["id"];
    var merchello = new Merchello.Web.MerchelloHelper();
    var productKeyGuid = Guid.Parse(productKey);
    var product = merchello.Query.Product.GetByKey(productKeyGuid);
    var productContent = product.AsProductContent();

    if (productContent.DocumentTypeAlias == "SubskrypcjaVOD")
    {
        Response.End();
        return;
    }

    string discount_price = (product.Price == product.SalePrice ? "" : product.Price.ToAmountString());
    string product_name = product.Name;
    string kategoria = Helper.GetProductCategory(productContent);
    string lead = productContent.GetPropertyValue<string>("lead");
    string opis = productContent.GetPropertyValue<string>("opis");
    string naglowek = productContent.GetPropertyValue<string>("naglowek");
    string img;
    try
    {
        img = productContent.GetCropUrl(propertyAlias: "zdjecie", imageCropMode: ImageCropMode.Max);
    }
    catch
    {
        img = productContent.GetCropUrl(propertyAlias: "zdjecie", imageCropMode: ImageCropMode.Max, cacheBuster: false);
    }

    string priceInfo = product.SalePrice.ToAmountString();
    if (product.SalePrice != product.Price)
    {
        priceInfo = "<span class='price-discount'>" + product.Price.ToAmountString() + "</span>" + priceInfo;
    }
    Dictionary<string, string> wlasciwosci = Helper.SafeParseDictionaryKV(productContent, "wlasciwosci");
}

@helper RenderWlasciwosci(Dictionary<string, string> wlasciwosci)
{
if (wlasciwosci != null && wlasciwosci.Count > 0)
{
        <div class="props">
            <div class="props-left">
                @for (int i = 0; i < (wlasciwosci.Count + 1) / 2; i++)
                {
                    string k = wlasciwosci.Keys.ElementAt(i);
                    string v = wlasciwosci[wlasciwosci.Keys.ElementAt(i)];
                    <div class="prop-it">
                        <div class="prop-it-key">@k</div>
                        <div class="prop-it-val">@v</div>
                    </div>
                }
            </div>
            <div class="props-right">
                @for (int i = (wlasciwosci.Count + 1) / 2; i < wlasciwosci.Count; i++)
                {
                    string k = wlasciwosci.Keys.ElementAt(i);
                    string v = wlasciwosci[wlasciwosci.Keys.ElementAt(i)];
                    <div class="prop-it">
                        <div class="prop-it-key">@k</div>
                        <div class="prop-it-val">@v</div>
                    </div>
                }
            </div>
            <div class="clear"></div>
        </div>
}
}

<header class="header film-body-size">
    <div class="left">
        <div class="topheader">
            <div class="topheader-line"></div>
            @kategoria, cena @Html.Raw(priceInfo)
        </div>
        <div class="title">
            <h1 class="title">
                @Html.Raw(product_name)     
            </h1>
        </div>
    </div>
    <div class="right">
        @*@Html.Partial("SocialMedia", Model, new ViewDataDictionary { { "showEmail", true } })*@        
    </div>
    <div style="clear: both"></div>
</header>
<div class="header-line category"></div>
<a href="#" class="pozycja-buy-button js-buy-link" data-productkey="@product.Key">DODAJ DO KOSZYKA</a>
<div class="article rotate_nauka">
    <div class="article-body">
        <div class="main-umb-photo film-body-size">         
            <div class="main-umb-photo film-body-size">
                @if (img != null)
                {
                <img class="head-img-orig-size" src="@img" />
                }
                @if (!String.IsNullOrEmpty(naglowek))
                {
                    @Html.Raw(naglowek);
                }                
            </div>
        </div>
        @if (!String.IsNullOrEmpty(lead) || (wlasciwosci != null && wlasciwosci.Count > 0))
        {
            <div class="article-lead film-body-size">                
                @RenderWlasciwosci(wlasciwosci)
                @Html.Raw(lead)
            </div>
        }
        <div class="film-body-size film-opis">
            @Html.Raw(opis)
        </div>
        <div class="film-body-size">            
            @*@Html.Partial("SocialMedia", Model, new ViewDataDictionary { { "showEmail", false } })*@
        </div>
    </div>
</div>
<a href="#" class="pozycja-buy-button js-buy-link" data-productkey="@product.Key">DODAJ DO KOSZYKA</a>



