@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";
    Html.RequiresCss("~/css/sklep.css", 2);
    int category = 0;
    if (Request.QueryString["c"] != null)
    {
        Int32.TryParse(Request.QueryString["c"], out category);
    }
}

<div class="sklep">    

    <div id="store_panel" class="child-list-panel">
        @Html.Action("GetPage", "StoreSurface", new
        {
            page = 1,
            parentNodeId = CurrentPage.Id,
            category = category
        })
    </div>
</div>