﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@{
    Layout = null;

    /* Only enable the below  if your web server has integrated pipeline mode enabled */
    // Content type in header, browser prefers it.
    // HttpContext.Current.Response.Headers.Add("Content-Type", "text/html; charset=utf-8");
    // Parse 'X-UA-Compatible' in header because page won't validate with it as meta tag
    // HttpContext.Current.Response.Headers.Add("X-UA-Compatible", "IE=edge");
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@Umbraco.Field("smartBlogTitle", altFieldAlias: "pageName") - Smart Blog</title>
        <!-- Meta Data -->
        <!--meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /-->
        <meta charset="UTF-8" />
        @*<meta name="keywords" content="@Umbraco.Field("smartBlogSeoKeywords", altText: CurrentPage.AncestorOrSelf(1).GetPropertyValue("smartBlogSeoKeywords"))" />
        <meta name="description" content="@Umbraco.Field("smartBlogSeoDescription", altText: CurrentPage.AncestorOrSelf(1).GetPropertyValue("smartBlogSeoDescription"))" />*@
        <meta name="dcterms.audience" content="Global" />
        <meta name="dcterms.rightsHolder" content="Smart Blog. Copyright (c) 2013-2015" />
        <meta name="Author" content="Luke Alderton" />
        <!-- CSS -->  
        <link href="/css/Main.SmartBlog.css" rel="stylesheet" type="text/css" />
        <!-- JS - All scripts aside from shiv scripts are deffered to the bottom of this document -->
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <!-- Favicon -->
        <link type="image/x-icon" rel="icon" href="/favicon.ico" /> 
		<!-- Extras -->
		@RenderSection("head", false)
    </head>
    <body id="page">
        <header>
            <div class="banner">
                <a href="/" title="SmartBlog">
                    <span style="color: #ff8d00;">Smart</span> Blog
                </a>
            </div>
        </header>
        <section class="content">
            <div class="payload">
                @RenderBody()
            </div>
        </section>
        <footer class="footer noPrint">
            <div style="float: left; width: 600px; height: 30px;">
                <a href="/en/terms">Terms</a> | <a href="/en/privacy">Privacy</a> | &copy; Copyright - Website
            </div>
        </footer>
        <!-- Deffered scripts -->
        <script type="text/javascript" src="/scripts/Main.SmartBlog.js" async></script>
    </body>
</html>