﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@{ Layout = "Podstrona.cshtml"; }
<link href="/css/Main.SmartBlog.css" rel="stylesheet" type="text/css" />
<link href="~/Css/bootstrap-social.css" rel="stylesheet" />
<!-- JS - All scripts aside from shiv scripts are deffered to the bottom of this document -->
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<div class="blog">
    @RenderBody()
    @*<div class="smartBlogLeft">
            @RenderBody()
        </div>*@
    @*<div class="smartBlogRight">
            @Html.Partial("SmartSearch")
            @Html.Partial("SmartListLatestComments")
            @Html.Partial("SmartListAuthors")
            @Html.Partial("SmartArchive")
        </div>*@
</div>