﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@{
    Layout = "SmartBlogContent.cshtml";
}

<header>
	@Umbraco.Field("summary", insertBefore: "&lt;h2&gt;", insertAfter: "&lt;/h2&gt;")
</header><br />
<article>
	@RenderBody()
</article>