﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Muzykoteka.Code
@{
    Layout = null;
    string streamDASH = null;
    string streamHLS = null;
    string js_keySystemsDASH = null;
    string js_keySystemsHLS = null;
    string poster = null;

    string playerID = "redplayer" + Guid.NewGuid().ToString();


    var streamVOD = Model.Content;
    if (streamVOD != null)
    {

        int posterId = streamVOD.GetPropertyValue<int>("poster");
        if (posterId > 0)
        {
            var posterMedia = Umbraco.TypedMedia(posterId);
            if (posterMedia != null)
            {
                poster = String.Format(" poster: '{0}'", posterMedia.Url());
            }
        }

        var pg_zasoby = UmbracoContext.Current.ContentCache.GetAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "Zasoby");

        string drm_wv_cert = pg_zasoby.GetPropertyValue<string>("widevide_cert_url");
        string drm_wv_lic = pg_zasoby.GetPropertyValue<string>("widevide_license_url");

        string drm_fp_cert = pg_zasoby.GetPropertyValue<string>("fairplay_localcert_url");
        if (!String.IsNullOrEmpty(drm_fp_cert) && (drm_fp_cert.Length < 8 || String.Compare(drm_fp_cert.Substring(0, 7), "https://", true) != 0))
        {
            drm_fp_cert = "https://" + HttpContext.Current.Request.Url.Host + drm_fp_cert;
        }

        string drm_fp_lic = pg_zasoby.GetPropertyValue<string>("fairplay_license_url");

        string drm_pr_cert = pg_zasoby.GetPropertyValue<string>("playready_cert_url");
        string drm_pr_lic = pg_zasoby.GetPropertyValue<string>("playready_license_url");

        streamDASH = streamVOD.GetPropertyValue<string>("streamURL_DASH");
        if (!String.IsNullOrEmpty(streamDASH))
        {
            streamDASH = String.Format("dash: '{0}',", streamDASH);
        }

        string drmjs_wv = null;
        if (!String.IsNullOrEmpty(drm_wv_cert) && !String.IsNullOrEmpty(drm_wv_lic))
        {
            drmjs_wv = String.Format("widevine: '{0}{1}',", drm_wv_lic, streamVOD.Id);
        }

        string drmjs_pr = null;
        if (!String.IsNullOrEmpty(drm_pr_cert) && !String.IsNullOrEmpty(drm_pr_lic))
        {
            drmjs_pr = String.Format("playready: '{0}{1}',", drm_pr_lic, streamVOD.Id);
        }

        if (drmjs_wv != null || drmjs_pr != null)
        {
            js_keySystemsDASH = drmjs_wv + drmjs_pr;
        }

        streamHLS = streamVOD.GetPropertyValue<string>("streamURL_HLS");
        if (!String.IsNullOrEmpty(streamHLS))
        {
            streamHLS = String.Format("hls: '{0}',", streamHLS);
        }

        if (!String.IsNullOrEmpty(drm_fp_cert) && !String.IsNullOrEmpty(drm_fp_lic))
        {
            js_keySystemsHLS = String.Format("fairplay: {{ src : '{0}{1}', cert: '{2}'}},", drm_fp_lic, streamVOD.Id, drm_fp_cert);
        }
    }
}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    @Html.Raw(Html.RenderCssHere())
    @Html.Raw(Html.RenderJsHere())
</head>
<body>

    <div class="redplayer" id="@playerID"></div>
    <script src="~/Modules/redcdnplayer/redcdnplayer.min.js" type="text/javascript"></script>
    <script type="text/javascript">

    var player = new redGalaxy.Player("@playerID").setup({
        autoplay : false,
        file: {
            @Html.Raw(streamDASH)
            @Html.Raw(streamHLS)
        },
        drm: {
            @Html.Raw(js_keySystemsDASH)
            @Html.Raw(js_keySystemsHLS)
        },
        @Html.Raw(poster)
    });

    </script>


</body>
</html>
