﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Muzykoteka.Code;
@{
    Layout = "Master.cshtml";
    var listKategorie = Helper.GetSlownik("Kategoria");
    var listTypes = Helper.GetMainCategories();

    string filter1, filter2;
    string kategorie = null, epoki = null;



    if (String.IsNullOrEmpty(Request.QueryString["t"]))
    {
        filter1 = "null";
    }
    else
    {
        filter1 = "[" + Request.QueryString["t"].Replace('|', ',') + "]";
        int[] cat_ids = null;
        try
        {
            cat_ids = Request.QueryString["t"]
                        .Split(new char[] { '|' }, StringSplitOptions.RemoveEmptyEntries)
                        .Select<string, int>(x => Convert.ToInt32(x))
                        .ToArray();

            kategorie = String.Join(",",
                listTypes
                .Where(x => cat_ids.Contains((int)x.Key))
                .Select<KeyValuePair<object, object>, string>(x => (string)x.Value)
                .ToArray());
        }
        catch { }
    }





    if (String.IsNullOrEmpty(Request.QueryString["e"]))
    {
        filter2 = "null";
    }
    else
    {
        filter2 = "[" + Request.QueryString["e"].Replace('|', ',') + "]";
        int[] eids = null;
        try
        {
            eids = Request.QueryString["e"]
                        .Split(new char[] { '|' }, StringSplitOptions.RemoveEmptyEntries)
                        .Select<string, int>(x => Convert.ToInt32(x))
                        .ToArray();

            epoki = String.Join(",",
                listKategorie
                .Where(x => eids.Contains((int)x.Key))
                .Select<KeyValuePair<object, object>, string>(x => (string)x.Value)
                .ToArray());
        }
        catch
        {
        }
    }

    string searchTerm = Request.QueryString["s"];
    if (String.IsNullOrWhiteSpace(searchTerm))
    {
        searchTerm = "";
    }
    else
    {
        searchTerm = Server.UrlDecode(searchTerm);
    }
}

<script type="text/javascript">

    var isToggleReceiverResponse = 2;
    function ClearFilter() {
        $('.js-combo').ComboBox('ClearSelection');
    }
</script>
<div class="search-head">
    <form id="search-form" action="/szukaj/" method="get">
        <script>
            $(window).resize(function () {
                $('.js-combo').ComboBox('ResizeWidth');
            });
            function OnSearchFilter1Changed(event, data) {
                $('#search-form').MasterSearch("Filter1Changed", data.sender);
                $('#search-form').MasterSearch("Refresh", $('#fltSearchType').ComboBox("GetSelectedTexts"), $('#fltSearchEpoka').ComboBox("GetSelectedTexts"));
            }
            function OnSearchFilter2Changed(event, data) {
                $('#search-form').MasterSearch("Filter2Changed", data.sender);
                $('#search-form').MasterSearch("Refresh", $('#fltSearchType').ComboBox("GetSelectedTexts"), $('#fltSearchEpoka').ComboBox("GetSelectedTexts"));
            }
        </script>
        <div class="enter">
            <div class="res">
                <h1 class="res-label">wyników:<span class="res-val">0</span></h1>
            </div>
            <label for="search_pg" class="wcag_hide">wpisz czego szukasz</label>
            <input type="text" class="writer" placeholder="wyszukiwana fraza" value="@searchTerm" />
            <input type="text" name="s" id="search_pg" placeholder="wyszukiwana fraza" value="@searchTerm" style="display:none;" />
            <a href="#" class="submit-msearch desktop" onclick="return false;"><img src="/Images/search-big.png" alt="szukaj" /></a>
            <a href="#" class="submit-msearch smart" onclick="return false;">szukaj</a>
        </div>
        <div class="filter">
            @*<img class="label-img" src="/Images/filter.png" alt="" />*@
            <span class="label">filtruj:</span>
            <div class="field total2">
                <input type="hidden" id="t" name="t" />
                @Html.Partial("ComboBox", Model, new ViewDataDictionary {
                    {"ClientID", "fltSearchType" },
                    {"Text", "po typie materiału"},
                    {"IsMultiselect", true},
                    {"JSSelectionChanged", "OnSearchFilter1Changed"},
                    {"DataSource", listTypes}})
            </div>
            <div class="field total2">
                <input type="hidden" id="e" name="e" />
                @Html.Partial("ComboBox", Model, new ViewDataDictionary {
                    {"ClientID", "fltSearchEpoka" },
                    {"Text", "po kategorii"},
                    {"IsMultiselect", true},
                    {"JSSelectionChanged", "OnSearchFilter2Changed"},
                    {"DataSource", listKategorie}})
            </div>
            <a href="#" class="col clear-filter" onclick="ClearFilter(); return false;">wyczyść filtr</a>

        </div>
    </form>
    <script>
        $('#search-form').MasterSearch(
            {filter1: @filter1 },
            {filter2: @filter2 }
        );
        function UpdateTotalRecCounter(total) {
            $('.res-val').html(total);
        }
    </script>
</div>
<div class="searchWindow">
    @Html.Partial("ChildView", Model, new ViewDataDictionary() {
        {"type", 3},
        {"filter", searchTerm},
        {"epoka", epoki},
        {"kategoria", kategorie},
    })
</div>
