﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Muzykoteka.Code
@{

    Layout = null;
    Html.RequiresJs("~/Modules/jQuery/jquery-2.2.4.min.js", 1);
    //Html.RequiresCss("~/Css/video-js.css", 1);
    string streamURL = Request.QueryString["s"];
}<!DOCTYPE html>
<html>
<head>   
    <meta charset="utf-8">    
    @Html.Raw(Html.RenderCssHere())
    @Html.Raw(Html.RenderJsHere())

    <script>
        function InitPlayer() {                      
            _homePlayer = videojs('home-video');
            if ('@streamURL'.length > 0) {
                _homePlayer.src("@streamURL");
                _homePlayer.controls(true);
                _homePlayer.play().then(function () {
                });
            }
        }

        $(document).ready(function () {
            InitPlayer();
        });    
    </script>
</head>
<body style="background-color: white">
    <form action="" method="get">
        <input type="text" name="s" style="width: 888px" value="@streamURL" />
        <button type="submit">Załaduj</button>
    </form>
    <br />
    <video id=home-video width=960 height=540 class="video-js vjs-default-skin ha-content" preload="none"></video>
    <script src="/Modules/videojs/video.min.js"></script>
    <style>
        .vjs-big-play-button {
            height: 30px;
            width: 40px;
            top: 50%;
            left: 50%;
            position: absolute;
            background: white !important;
        }

        .vjs-icon-placeholder {
            filter: invert(1);
            position: absolute !important;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
</body>
</html>              
