@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Muzykoteka.Code;
@{
    Layout = "Podstrona.cshtml";
    Html.RequiresCss("~/Css/epoki.css", 1);
    Html.RequiresCss("~/Modules/jQuery/jquery-ui.structure.min.css", 1);
    Html.RequiresCss("~/Modules/jQuery/jquery-ui.theme.min.css", 1);

    Html.RequiresJs("~/Modules/jQuery/jquery.ui.touch-punch.min.js", 3);
    Html.RequiresJs("~/Scripts/epokiScroller.js", 4);

    var epoki = Model.Content.Children;

    bool isGrayscale = Helper.IsGreyscale();
}
<script type="text/javascript">
    var isToggleReceiverResponse = 2;
</script>
<div class="epoki-outer">
    <div class="epoki">
        <div class="epoki-inner">
            @foreach (var e in epoki)
            {
                string img = "";
                try
                {
                    img = e.GetBWCropUrl("zdjecieEpoka", "kafel", isGrayscale);
                }
                catch { }
                <a href="@e.Url" class="epoka" style="background-image: url('@img')">
                    <div class="lt">@Html.Raw(e.GetPropertyValue("tytul"))</div>
                    <div class="rb">@Html.Raw(e.GetPropertyValue("okres"))</div>
                </a>
            }
        </div>
    </div>
    <div id="slider"></div>
    <div id="slider-mobile">
        <span class="nav-prev">&lt;</span>
        <span class="nav-next">&gt;</span>
    </div>
</div>
<script type="text/javascript">
    $('.epoki-outer').EpokiScroller();
</script>

