﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code.SimpilyForums

@*
    lists all the child forums of this one.
    (uses the cache, to get post count and latest post - without having to
        recurse everytime)
*@

@{

    var forums = Model.Content.Children().Where(x => x.IsVisible() && x.DocumentTypeAlias == "Simpilyforum");

    if (forums.Any())
    {
        <div class="forum-list">
            <div class="table">
                @foreach (var forum in forums)
                {
                    var cacheInfo = forum.GetForumInfo();
                    var member = Umbraco.TypedMember(cacheInfo.latestPost.MemberId);
                    <div class="subForum">
                        <div class="iconForum">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="subForumName">
                            <strong>
                                <a href="@forum.Url">
                                    @forum.GetPropertyValue("forumName", forum.Name)
                                </a>
                            </strong>
                            <small>
                                @forum.GetPropertyValue("forumIntro")
                            </small>
                        </div>
                        <div class="subForumCount">
                            <div>
                                <div class="PostCount">@cacheInfo.Count</div><div> @Html.Raw(cacheInfo.Count == 1 ? "Odpowiedź" : "Odpowiedzi")</div>
                            </div>
                        </div>
                        @if (member != null)
                        {
                            System.Drawing.Color color = Muzykoteka.Code.Helper.GenerateColor(member.Name);
                            <div class="subForumLast">
                                <div>
                                    @Html.Partial("Awatar", new ViewDataDictionary { { "member", member } })
                                    <div class="date">@ForumHelper.GetRelativeDate(cacheInfo.latestPost.Date)</div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="subForumLast">
                                <div>
                                    @Html.Partial("Awatar", new ViewDataDictionary { { "name", cacheInfo.latestPost.Name } })
                                    <div class="date">@ForumHelper.GetRelativeDate(cacheInfo.latestPost.Date)</div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
}