﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Muzykoteka.Code.SimpilyForums

@{
    var posts = Model.Content.Children()
        .Where(x => x.IsVisible() && x.DocumentTypeAlias == "Simpilypost").ToContentSet();

    if (posts.Any())
    {
        <div class="forum-posts">
            <div class="table">
                @*<div class="PostsHeader">
                        <div>Nazwa</div>
                        <div>Postów</div>
                        <div>Ostatni</div>
                    </div>*@

                @foreach (var post in posts
                    .OrderByDescending(x => x.GetForumInfo().latestPost.Date)
                    .OrderByDescending(x => x.GetPropertyValue<int>("stickyness", 0)))
                {
                    var cacheInfo = post.GetForumInfo();
                    var member = Umbraco.TypedMember(cacheInfo.latestPost.MemberId);
                    System.Drawing.Color color = (member == null ? System.Drawing.Color.Black : Muzykoteka.Code.Helper.GenerateColor(member.Name));
                    <div class="post-summay">
                        <div class="post-title">
                            @if (post.GetPropertyValue<int>("stickyness", 0) > 0)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                            }
                            <a href="@post.Url">@post.GetPropertyValue("postTitle")</a>
                            <div class="post-summay-meta">
                                dodany przez @Html.Raw(member == null ? "" : member.Name)
                                @ForumHelper.GetRelativeDate(post.CreateDate)
                            </div>
                        </div>
                        <div class="post-count">
                            <div>
                                <div class="PostCount">@(cacheInfo.Count-1)</div><div> @Html.Raw(cacheInfo.Count == 1 ? "Odpowiedź" : "Odpowiedzi")</div>
                            </div>
                        </div>
                        @if (member != null)
                        {
                            <div class="post-last">
                                <div>
                                    @Html.Partial("Awatar", new ViewDataDictionary { { "member", member } })
                                    <div class="date">
                                        @ForumHelper.GetRelativeDate(cacheInfo.latestPost.Date)
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="post-last">
                                <div>
                                    @Html.Partial("Awatar", new ViewDataDictionary { { "name", cacheInfo.latestPost.Name } })
                                    <div class="date">
                                        @ForumHelper.GetRelativeDate(cacheInfo.latestPost.Date)
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
}
