﻿<div class="umb-editor umb-listview" ng-controller="vw.NinatekaVideoPicker.Controller">           
    <table class="table" style="border: none">
        <tr>
            <td style="border: none">
                <ul class="unstyled">
                    <li ng-repeat="item in categories" style="display: inline-block; min-width: 100px">
                        <label class="checkbox">
                            <input type="checkbox" name="checkboxlist"
                                   value="{{item.Id}}"
                                   ng-model="item.checked" ng-change="onCategoryChange()" />
                            {{item.Name}}
                        </label>
                    </li>
                </ul>
                <form class="pull-left" novalidate style="margin-left: -10px !important; width: 99%">
                    <i class="icon-search" ng-click="enterSearch($event)"></i>
                    <input type="text" ng-model="options.filter" on-keyup="search()" prevent-enter-submit no-dirty-check style="width: 100%">
                </form>
                <a class="btn pull-right" ng-disabled="actionInProgress" ng-click="refresh()" prevent-default style="margin-right: -9px !important">
                    <localize key="general_show">Show</localize>
                </a>
            </td>          
        </tr>
    </table>
    <table class="table" style="border-top: none">
        <tbody ng-show="listViewResultSet.totalItems === 0">
            <tr>
                <td colspan="5">
                    <p><localize key="content_listViewNoItems">There are no items show in the list.</localize></p>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="listViewResultSet.totalItems > 0" style="border-top: none">
            <tr ng-repeat="result in listViewResultSet.items" ng-class="{selected:result.selected}">
                <td>
                    <input type="checkbox" ng-model="result.selected" ng-change="selectCheck(result)" no-dirty-check>
                </td>
                <td>
                    <a href="#" prevent-default ng-click="select(result)">
                        <img style="max-width: 80px" src="{{result['ImageUrl']}}" alt=""></img>
                    </a>
                </td>
                <td>
                    <a href="#" prevent-default ng-click="select(result)">{{result['Title']}}</a>
                </td>
            </tr>
        </tbody>

        <tfoot ng-show="pagination.length > 1">
            <tr>
                <th colspan="3">
                    <div class="pull-left">
                    </div>
                    <div class="pagination pagination-right">
                        <ul>
                            <li ng-class="{disabled:options.pageNumber <= 1}">
                                <a href="#" ng-click="prev()" prevent-default>
                                    <localize key="general_previous">Previous</localize>
                                </a>
                            </li>

                            <li ng-repeat="pgn in pagination"
                                ng-class="{active:pgn.isActive}">

                                <a href="#" ng-click="goToPage(pgn.val - 1)" prevent-default
                                   ng-bind="pgn.name ? pgn.name : pgn.val"
                                   ng-if="pgn.val != '...'"></a>
                                <span ng-bind="pgn.val" ng-if="pgn.val == '...'"></span>
                            </li>

                            <li ng-class="{disabled:options.pageNumber >= listViewResultSet.totalPages}">
                                <a href="#" ng-click="next()" prevent-default>
                                    <localize key="general_next">Next</localize>
                                </a>
                            </li>
                        </ul>
                    </div>

                </th>
            </tr>
        </tfoot>
    </table>
</div>