@import "mixins.less";

.alphabetPicker {   
    .list {
        li {
            text-transform: none !important;
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align:center;
            line-height: 30px;
            border: 1px solid #aaa;
            margin: 1px 0;        
            &.selected { 
                font-weight: normal !important;
                background-color: black;
                color: white;
            }  
        }
    }
    .buttons {
        display: table;
        width: 100%;
        .asc,.desc {
            cursor: pointer;
            display: table-cell;
            text-align: center;
            width: 50%;
            padding: 5px 0;
            color: black;
            border: 1px solid #aaa;
            &.selected {
                color: white;
                background-color: black;
            }            
        }
    }
}
