﻿.alphabetPicker .list li {
  text-transform: none !important;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #aaa;
  margin: 1px 0;
}
.alphabetPicker .list li.selected {
  font-weight: normal !important;
  background-color: black;
  color: white;
}
.alphabetPicker .buttons {
  display: table;
  width: 100%;
}
.alphabetPicker .buttons .asc,
.alphabetPicker .buttons .desc {
  cursor: pointer;
  display: table-cell;
  text-align: center;
  width: 50%;
  padding: 5px 0;
  color: black;
  border: 1px solid #aaa;
}
.alphabetPicker .buttons .asc.selected,
.alphabetPicker .buttons .desc.selected {
  color: white;
  background-color: black;
}