@import "mixins.less";
@import "settings.less";


.article {
    width: 100%;
    display: table;
    margin-bottom: 76px;
    margin-top: 10px;
    color: white;

    @media (min-width: 1366px) {
        .article-body {
            font-size: 24px;

            .opis {
                margin-top: 40px;
            }

            .article-lead,
            > p,
            > ul,
            > ol,
            > div {
                font-size: 20px;
            }

            .article-belt .field {
                font-size: 16px !important;
            }

            .macro-picture .rb,
            .mp-title {
                font-size: 16px !important;
            }

            .metadata {
                font-size: 16px !important;
            }
        }
    }


    @media (max-width: (@mediabreak_smart - 1)) {
        display: block;

        .article-body {
            > p,
            > ul,
            > ol,
            .article-belt {
                padding-left: 20px;
                padding-right: 20px;
            }

            .article-lead {
                padding: 48px 20px;

                table {
                    td {
                        @media(max-width:768px) {
                            display: block;
                        }
                    }
                }
            }

            .article-citation {
                .txt {
                    padding-right: 20px;
                }
            }

            a {
                word-break: break-all;
            }
        }

        .seealso {
            width: 100%;
        }
    }

    @media (min-width: @mediabreak_smart) {
        .article-body {
            > p {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .article-lead {
            padding: 48px 20px;
        }
    }


    @media (min-width: @mediabreak_desktop) {
        .article-body {
            display: table-cell;
        }

        .seealso {
            display: table-cell;
            width: 409px;
            max-width: 409px;
            padding-left: 23px;
        }
    }

    .article-body {
        font-size: 16px;

        ul li {
            position: relative;
            left: 20px;
            list-style: disc;
        }

        ol {
            margin-left: 1em;
        }

        iframe {
            max-width: 100%;
        }

        a {
            text-decoration: underline;

            &:hover {
                opacity: 0.8;
                text-decoration: none;
            }
        }

        .main-photo img {
            width: 100%;
        }

        .main-umb-photo {
            position: relative;
            margin-bottom: 20px;

            > img {
                width: 100%;
            }

            .head-img-orig-size {
                width: auto;
                display: block;
                margin: 0 auto 20px auto;
            }

            video {
                width: 100%;
            }

            .mp-title {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 13px 28px;
                background-color: white;
                font-size: 12px;
                font-weight: lighter;
            }
        }

        .curiosities:before {
            content: "Ciekawostki";
            font-weight: bold;
            margin-top: 20px;
        }
    }

    .seealso {
        > .head {
            @media (max-width: (@mediabreak_smart - 1)) {
                padding: 7px 0 0 20px;
            }

            @media (min-width: @mediabreak_smart) and (max-width: (@mediabreak_desktop - 1)) {
                padding: 7px 0 0 0;
            }

            @media (min-width: @mediabreak_desktop) {
                padding: 7px 0 0 23px;
            }

            font-weight: lighter;
            font-size: 36px;
            margin-bottom: 22px;
            line-height: 120%;
        }
    }
}

.Lasted {
    ul {
        li {
            grid-column-start: auto !important;
            grid-column-end: auto !important;
            grid-row-start: auto !important;
            grid-row-end: auto !important;
        }
    }
}

.article-belt {
    @media (min-width: @mediabreak_desktop) {
        margin-top: 12px;
    }

    @media (max-width: (@mediabreak_desktop - 1)) {
    }

    margin-bottom: 25px;
    display: block;

    &.bottom {
        a {
            text-decoration: none !important;
        }

        display: inline-block;
        width: 100%;
        border-bottom: 2px solid black;
        margin: 12px 0 30px 0;
        padding-bottom: 10px;

        .right {
            filter: invert(1) brightness(100) contrast(1);
        }
    }

    ul li {
        position: static;
        left: 0 !important;

        &:before {
            display: none;
        }
    }

    .left {
        display: inline-block;

        .field {
            float: left;
            font-size: 14px;
            margin-right: 30px;

            .lbl {
                font-weight: bold;
            }

            .val {
            }

            ul {
                display: inline-block;

                li {
                    display: inline-block;
                    padding-left: 4px;
                }
            }
        }
    }

    .right {
        @media (min-width: @mediabreak_desktop) {
            float: right;

            a {
                vertical-align: top;
                display: inline-block;
                margin-left: 28px;
                height: 38px;
            }
        }

        @media (max-width: (@mediabreak_desktop - 1)) {
            display: none;
        }
    }
}


.header .clpb {
    // display: table-cell !important;
    //float: right;
    //width: 70px;
    //height: 45px;
    //text-align: right;
    position: absolute;
    margin-left: 10px;

    .add2clbp {
        display: inline-block;
        text-decoration: none !important;
        background: url('/Images/ulu_30px.png') center center no-repeat;
        width: 30px;
        font-size: 20px;
        //line-height: 42px;
        text-align: center;
        font-weight: normal;
        transition: all 0.3s;
        filter: brightness(200%);

        &:hover {
            color: red;
            text-decoration: none;
        }
    }
}


.article-lead {
    margin: 0 0 25px 0;
    clear: both;
    background-color: #171717;
    position: relative;
    font-size: 16px;

    > p {
        margin: 0;
    }

    ul li {
        position: relative;
        left: 20px;

        &:before {
            content: "\25aa";
            position: absolute;
            left: -20px;
        }
    }

    .tr, .bl {
        display: block;
        background-color: white;
        position: absolute;
        z-index: 1;
    }

    .tr {
        top: 0;
        right: 0;
        width: 310px;
        height: 14px;
    }

    .bl {
        bottom: 0;
        left: 0;
        width: 71px;
        height: 11px;
    }

    ol {
        margin-left: 1em;
    }
}


.article-video-lead {
    margin: 0 0 25px 0;
}


.seealso-list-rec {
    @media (min-width: @mediabreak_smart) {
        width: 386px;
        display: inline-block;

        .title {
            max-width: 310px;
        }
    }

    @media (max-width: (@mediabreak_smart - 1)) {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        display: block;

        .title {
            max-width: 250px;
        }
    }

    @media (min-width:@mediabreak_smart) and (max-width: 1365px) {
        margin-right: 20px;
    }

    margin-bottom: 54px;

    .title {
        float: left;
        margin-left: 20px;
        font-size: 28px;
        font-weight: lighter;
        line-height: 115%;
        margin-bottom: 15px;
    }

    .add-to-clpb {
        text-decoration: none !important;
        display: block;
        float: right;
        font-size: 30px;
        line-height: 38px;
        width: 50px;
        height: 38px;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: red;
            background: url('/Images/ulu_30px.png') no-repeat;
        }
    }

    .pic {
        overflow: hidden;
        display: block;
        clear: both;
        width: 100%;
        min-height: 200px;
        position: relative;

        .rt, .bl {
            position: absolute;
            background-color: white;
            padding: 10px 15px;
            font-weight: lighter;
            font-size: 18px;
        }

        .rt {
            top: 0;
            right: 0;
        }

        .bl {
            bottom: 0;
            left: 0;
        }

        .lead {
            overflow: hidden;
            position: absolute;
            width: 100%;
            left: -100%;
            bottom: -100%;
            background-color: rgba(255,255,255, 1);
            color: black;
            font-size: 14px;
            .transition-general(all 300ms);
            padding: 10px 20px;
            max-height: 210px;
        }

        &:hover {
            .lead {
                left: 0;
                bottom: 0;
            }
        }
    }
}


.old-iframe {
    width: 100%;
    margin-bottom: 20px;

    .player {
        height: 0;
        padding-bottom: 56.6%;
        position: relative;
        width: 100%;
        display: block;

        > div:nth-child(1) {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }

    > span {
        color: #777;
        font-size: 12px !important;
        padding: 12px 28px;
        text-align: right;
        width: 100%;
        display: block;
    }
}

.lekcja-iframe {
    @media (max-width: 480px) {
        border: 1px solid red;
        position: relative;

        &:after {
            content: "dddddddddddddddddddddd";
            background-image: url('/Images/nauka-rotate.png');
            background-position: top center;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0, 0.7);
            z-index: 100000;
            height: 100px;
            width: 100px;
        }
    }

    width: 100%;
    height: 750px;
    overflow: hidden;
}




.article-citation {
    display: table;
    width: 100%;

    @media (max-width: (@mediabreak_desktop - 1)) {
        .rb {
            position: absolute;
            bottom: 0;
            display: block;
            background-color: white;
            width: 80%;
            height: 42px;
            right: 0;
        }

        .txt {
            padding-left: 25%;

            > span {
                padding: 0 0;
            }
        }
    }

    @media (min-width: @mediabreak_desktop) {
        .pic {
            display: table-cell;
            width: 50%;
            padding-right: 40px;

            .rb, .lb {
                position: absolute;
                bottom: 0;
                display: block;
                background-color: white;
            }

            .rb {
                width: 70px;
                height: 75%;
                right: 0;
            }

            .lb {
                left: 0;
                width: 67px;
                height: 38px;
            }
        }

        .txt {
            display: table-cell;
            width: 50%;
            vertical-align: middle;

            > span {
                padding: 16px 42px;
            }
        }
    }

    .pic {
        position: relative;

        img {
        }
    }

    .txt {
        > span {
            display: block;
            font-weight: lighter;
            font-size: 24px;
            line-height: 150%;
        }

        .cit {
            &.bot {
                float: right;
            }
        }
    }
}

.article-body .social-media {
    @media (max-width: (@mediabreak_desktop - 1)) {
        display: none;
    }
}


.ppt-belt {
    display: block;
    margin: 60px 0 0 0;

    a {
        text-decoration: none !important;
    }

    .ppt {
        float: left;

        > span {
            margin-top: 5px;
            margin-left: 17px;
            display: inline-block;
            line-height: 120%;
        }
    }

    .pdf, .print {
        float: right;
    }

    .print {
        margin: 7px 0 0 20px;
    }

    &:after {
        content: " ";
        display: block;
        clear: both;
    }

    @media (max-width: (@mediabreak_smart - 1)) {
        padding: 0 20px;
    }
}

.article-downloads {
    clear: both;
    font-weight: lighter;
    background-color: #171717;
    padding: 40px;
    position: relative;
    margin: 60px 0;


    a {
        text-decoration: none !important;
    }

    .dtitle {
        font-size: 28px;
        line-height: 120%;
    }

    .ditems {
        display: block;
        margin: 40px 0 20px 0;

        &:after {
            content: " ";
            display: block;
            clear: both;
        }

        .ditem {
            @media (max-width: (@mediabreak_smart - 1)) {
                width: 100%;
            }

            @media (min-width: @mediabreak_smart) {
                //width: 50%;
                width: 100%;
            }

            margin-left: auto;
            margin-right: auto;
            display: table;
            width: 100%;
            word-break: break-all;
            margin-bottom: 20px;

            > img {
                display: table-cell;
                width: 52px;
                min-width: 52px;
                max-width: 52px;
                filter: contrast(0) brightness(100);
            }

            .dititle {
                font-weight: normal;
                width: 100%;
                display: table-cell;
                line-height: 120%;
                vertical-align: middle;
                padding-left: 17px;

                .didesc {
                    display: block;
                    font-weight: lighter;
                }
            }

            .downlink {
                font-weight: bold;
                display: table-cell;
                text-align: right;
                width: 32px;
                vertical-align: middle;
                color: #d71925;
                white-space: nowrap;
                font-size: 18px;
            }
            // float: left;
        }
    }

    .download-all {
        @media (max-width: (@mediabreak_smart - 1)) {
            width: 100%;
        }

        @media (min-width: @mediabreak_smart) {
            width: 40%;
        }

        clear: both;
        display: block;
        background-color: black;
        color: white;
        padding: 7px 0;
        text-align: center;
        margin: 1px auto;
    }
}


.links-ad {
    @media (max-width: (@mediabreak_smart - 1)) {
        padding: 0 20px;
    }

    font-weight: lighter;
    margin-bottom: 60px;

    .lahead {
        font-size: 28px;
    }
    /*
    ul {
        margin-left: 10px;
        list-style-type: square;
        margin-top: 30px;
        font-size: 10px;
    }
    */
    li {
        a {
            font-size: 18px;
        }
    }
}



.nauka-lekcja {
    /*
    @media (max-width: 479px) {
        background-image: url('/Images/nauka-rotate.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 171px;
        width: 320px;
        iframe {
            display: none;
        }
    }
    @media (min-width: 479px) {
        iframe {
            width: 100%;
            height: 750px;
            overflow:hidden;
        }
    }
    */
    @media (max-width: 479px) {
        width: 100%;

        > div:nth-child(1) {
            height: 0;
            padding-bottom: 54%;
            position: relative;
            width: 100%;
            display: block;

            > div:nth-child(1) {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                background-image: url('/Images/nauka-rotate.png');
                background-repeat: no-repeat;
                background-size: 100% auto;

                iframe {
                    display: none;
                }
            }
        }
    }

    @media (min-width: 480px) {
        width: 100%;
        min-height: 750px;

        > div:nth-child(1) {
            > div:nth-child(1) {
                iframe {
                    width: 100%;
                    height: 750px;
                }
            }
        }
    }
    /*
    @media (min-width: 480px) {
        width: 100%;     
        min-height: 750px;
        > div:nth-child(1) {       
            height: 0;        
            //padding-bottom: 56.6%;
            padding-bottom: 80%;
            position: relative;      
            width: 100%;
            display: block;
            > div:nth-child(1) {                        
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;            
                z-index: 1;  
                min-height: 750px;              
                iframe {                
                    width: 100%;
                    height: 100%;
                  
                }
            }
        }      
    }
        */
}

/*
.game-ifr {
    display: block;
    width: 100%;
    text-align: center;
    iframe {
        width: 100%;
        height: 520px;
        max-width: 990px !important;     
    }
}
*/
.game-ifr {
    width: 100%;

    .inner {
        height: 0;
        padding-bottom: 52.6%;
        position: relative;
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
        display: block;

        > div:nth-child(1) {
            max-height: 520px !important;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.film-ludzie {

    &:before {
        font-weight: bold;
        border-bottom: 2px solid #aaa;
        width: 100%;
        display: block;
        font-size: 28px;
        margin-bottom: 0;
        padding-bottom: 7px;
    }

    &.Projekt {
        .back-obsada {
            padding: 10px 20px;
        }
    }

    @media (min-width: 1366px) {
        font-size: 14px;

        &:before {
            font-size: 18px;
        }
    }

    @media (max-width: 1365px) {
        font-size: 12px;

        &:before {
            font-size: 16px;
        }
    }

    &.ekipa:before {
        content: "EKIPA";
    }


    &.obsada {

        &:before {
            content: "OBSADA";
        }

        .fe-value {
            font-style: italic;
        }
    }

    display: block;
    width: 100%;
    margin-top: 60px;
    color: white;

    .back-obsada {
        background-color: #171717;
        padding-bottom: 10px;
        padding-right: 20px;
    }

    .fe-item {
        padding: 0 0 0 20px;

        &.section {
            padding: 10px 0 0 20px;
        }

        .fe-key {
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 10px;
        }

        .fe-value {
        }

        @media (max-width: 799px) {
            display: block;
            width: 100%;

            .fe-key {
                display: block;
            }

            .fe-value {
                margin-left: 10%;
                display: inline-block;
            }
        }

        @media (min-width: 800px) {
            display: table;

            .fe-key {
                display: table-cell;
                padding-right: 20px;
                min-width: 350px;
            }

            .fe-value {
                display: table-cell;
            }
        }
    }
}


.podstawowe-pojecia {

    &:before {
        font-weight: bold;
        border-bottom: 2px solid #aaa;
        width: 100%;
        display: block;
        margin-bottom: 0;
        padding-bottom: 7px;
        content: "PODSTAWOWE POJ\0118 CIA";
    }

    display: block;
    width: 100%;
    margin-top: 60px;

    .pp-inner {
        background-color: #f8f8f8;
        padding: 20px;
        font-size: 80%;
    }
}

.film-opis2 {
    margin-top: 80px;
}

.film-opis {
    @media (max-width: @mediabreak_smart) {
        padding: 0 20px;
    }

    .vpodpis {
        display: table;
        width: 100%;

        .vptext {
            display: table-cell;
            padding-right: 30px;
            padding-top: 6px;
            font-size: 120%;
        }

        .vpkategoria {
            display: table-cell;
            text-align: right;
            vertical-align: top;
            width: 70px;
        }
    }
}


.article-logotypy {
    margin-top: 162px !important;
}


.article-section {
    margin: 40px 0;

    .section-login {
        background-color: #171717;
        // border: 1px dotted white;
        padding: 20px;
        position: relative;
        min-height: 250px;

        .lock-title {
            font-weight: bold;
            border-bottom: 2px solid #aaa;
            width: 100%;
            display: block;
            font-size: 28px;
            padding-bottom: 7px;
            transition: all 0.3s;
        }

        .lock-lead {
            transition: all 0.3s;
        }

        .lock-link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-decoration: none;
            display: block;
            color: white;
            text-align: center;

            .lock-link-inner {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                padding-top: 60px;

                .faicon {
                    font-size: 100px;
                    display: block;
                    opacity: 0.3;
                    transition: all 0.3s;
                }

                .lock-info {
                    transition: all 0.3s;
                    opacity: 0;
                    word-break: break-word;

                    .smaler {
                        font-size: 0.7em;
                    }
                }
            }
        }

        &:hover {
            .lock-link {
                opacity: 1 !important;
            }

            .lock-title,
            .lock-lead {
                opacity: 0.2;
            }

            .lock-info {
                opacity: 1 !important;
            }

            .faicon {
                opacity: 1 !important;
            }
        }

        .section-access-denied {
        }
    }

    .section-title {
        font-weight: bold;
        border-bottom: 2px solid #aaa;
        width: 100%;
        display: block;
        font-size: 28px;
        padding-bottom: 7px;
    }

    .section-desc {
    }
}
