﻿/**/
.article {
  width: 100%;
  display: table;
  margin-bottom: 76px;
  margin-top: 10px;
  color: white;
}
@media (min-width: 1366px) {
  .article .article-body {
    font-size: 24px;
  }
  .article .article-body .opis {
    margin-top: 40px;
  }
  .article .article-body .article-lead,
  .article .article-body > p,
  .article .article-body > ul,
  .article .article-body > ol,
  .article .article-body > div {
    font-size: 20px;
  }
  .article .article-body .article-belt .field {
    font-size: 16px !important;
  }
  .article .article-body .macro-picture .rb,
  .article .article-body .mp-title {
    font-size: 16px !important;
  }
  .article .article-body .metadata {
    font-size: 16px !important;
  }
}
@media (max-width: 619px) {
  .article {
    display: block;
  }
  .article .article-body > p,
  .article .article-body > ul,
  .article .article-body > ol,
  .article .article-body .article-belt {
    padding-left: 20px;
    padding-right: 20px;
  }
  .article .article-body .article-lead {
    padding: 48px 20px;
  }
  .article .article-body .article-citation .txt {
    padding-right: 20px;
  }
  .article .article-body a {
    word-break: break-all;
  }
  .article .seealso {
    width: 100%;
  }
}
@media (max-width: 619px) and (max-width: 768px) {
  .article .article-body .article-lead table td {
    display: block;
  }
}
@media (min-width: 620px) {
  .article .article-body > p {
    margin-left: 0;
    margin-right: 0;
  }
  .article .article-lead {
    padding: 48px 20px;
  }
}
@media (min-width: 1280px) {
  .article .article-body {
    display: table-cell;
  }
  .article .seealso {
    display: table-cell;
    width: 409px;
    max-width: 409px;
    padding-left: 23px;
  }
}
.article .article-body {
  font-size: 16px;
}
.article .article-body ul li {
  position: relative;
  left: 20px;
  list-style: disc;
}
.article .article-body ol {
  margin-left: 1em;
}
.article .article-body iframe {
  max-width: 100%;
}
.article .article-body a {
  text-decoration: underline;
}
.article .article-body a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.article .article-body .main-photo img {
  width: 100%;
}
.article .article-body .main-umb-photo {
  position: relative;
  margin-bottom: 20px;
}
.article .article-body .main-umb-photo > img {
  width: 100%;
}
.article .article-body .main-umb-photo .head-img-orig-size {
  width: auto;
  display: block;
  margin: 0 auto 20px auto;
}
.article .article-body .main-umb-photo video {
  width: 100%;
}
.article .article-body .main-umb-photo .mp-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 13px 28px;
  background-color: white;
  font-size: 12px;
  font-weight: lighter;
}
.article .article-body .curiosities:before {
  content: "Ciekawostki";
  font-weight: bold;
  margin-top: 20px;
}
.article .seealso > .head {
  font-weight: lighter;
  font-size: 36px;
  margin-bottom: 22px;
  line-height: 120%;
}
@media (max-width: 619px) {
  .article .seealso > .head {
    padding: 7px 0 0 20px;
  }
}
@media (min-width: 620px) and (max-width: 1279px) {
  .article .seealso > .head {
    padding: 7px 0 0 0;
  }
}
@media (min-width: 1280px) {
  .article .seealso > .head {
    padding: 7px 0 0 23px;
  }
}
.Lasted ul li {
  grid-column-start: auto !important;
  grid-column-end: auto !important;
  grid-row-start: auto !important;
  grid-row-end: auto !important;
}
.article-belt {
  margin-bottom: 25px;
  display: block;
}
@media (min-width: 1280px) {
  .article-belt {
    margin-top: 12px;
  }
}
.article-belt.bottom {
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid black;
  margin: 12px 0 30px 0;
  padding-bottom: 10px;
}
.article-belt.bottom a {
  text-decoration: none !important;
}
.article-belt.bottom .right {
  filter: invert(1) brightness(100) contrast(1);
}
.article-belt ul li {
  position: static;
  left: 0 !important;
}
.article-belt ul li:before {
  display: none;
}
.article-belt .left {
  display: inline-block;
}
.article-belt .left .field {
  float: left;
  font-size: 14px;
  margin-right: 30px;
}
.article-belt .left .field .lbl {
  font-weight: bold;
}
.article-belt .left .field ul {
  display: inline-block;
}
.article-belt .left .field ul li {
  display: inline-block;
  padding-left: 4px;
}
@media (min-width: 1280px) {
  .article-belt .right {
    float: right;
  }
  .article-belt .right a {
    vertical-align: top;
    display: inline-block;
    margin-left: 28px;
    height: 38px;
  }
}
@media (max-width: 1279px) {
  .article-belt .right {
    display: none;
  }
}
.header .clpb {
  position: absolute;
  margin-left: 10px;
}
.header .clpb .add2clbp {
  display: inline-block;
  text-decoration: none !important;
  background: url('/Images/ulu_30px.png') center center no-repeat;
  width: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  transition: all 0.3s;
  filter: brightness(200%);
}
.header .clpb .add2clbp:hover {
  color: red;
  text-decoration: none;
}
.article-lead {
  margin: 0 0 25px 0;
  clear: both;
  background-color: #171717;
  position: relative;
  font-size: 16px;
}
.article-lead > p {
  margin: 0;
}
.article-lead ul li {
  position: relative;
  left: 20px;
}
.article-lead ul li:before {
  content: "\25aa";
  position: absolute;
  left: -20px;
}
.article-lead .tr,
.article-lead .bl {
  display: block;
  background-color: white;
  position: absolute;
  z-index: 1;
}
.article-lead .tr {
  top: 0;
  right: 0;
  width: 310px;
  height: 14px;
}
.article-lead .bl {
  bottom: 0;
  left: 0;
  width: 71px;
  height: 11px;
}
.article-lead ol {
  margin-left: 1em;
}
.article-video-lead {
  margin: 0 0 25px 0;
}
.seealso-list-rec {
  margin-bottom: 54px;
}
@media (min-width: 620px) {
  .seealso-list-rec {
    width: 386px;
    display: inline-block;
  }
  .seealso-list-rec .title {
    max-width: 310px;
  }
}
@media (max-width: 619px) {
  .seealso-list-rec {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .seealso-list-rec .title {
    max-width: 250px;
  }
}
@media (min-width: 620px) and (max-width: 1365px) {
  .seealso-list-rec {
    margin-right: 20px;
  }
}
.seealso-list-rec .title {
  float: left;
  margin-left: 20px;
  font-size: 28px;
  font-weight: lighter;
  line-height: 115%;
  margin-bottom: 15px;
}
.seealso-list-rec .add-to-clpb {
  text-decoration: none !important;
  display: block;
  float: right;
  font-size: 30px;
  line-height: 38px;
  width: 50px;
  height: 38px;
  text-align: center;
  text-decoration: none;
}
.seealso-list-rec .add-to-clpb:hover {
  color: red;
  background: url('/Images/ulu_30px.png') no-repeat;
}
.seealso-list-rec .pic {
  overflow: hidden;
  display: block;
  clear: both;
  width: 100%;
  min-height: 200px;
  position: relative;
}
.seealso-list-rec .pic .rt,
.seealso-list-rec .pic .bl {
  position: absolute;
  background-color: white;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 18px;
}
.seealso-list-rec .pic .rt {
  top: 0;
  right: 0;
}
.seealso-list-rec .pic .bl {
  bottom: 0;
  left: 0;
}
.seealso-list-rec .pic .lead {
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: -100%;
  bottom: -100%;
  background-color: #ffffff;
  color: black;
  font-size: 14px;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
  padding: 10px 20px;
  max-height: 210px;
}
.seealso-list-rec .pic:hover .lead {
  left: 0;
  bottom: 0;
}
.old-iframe {
  width: 100%;
  margin-bottom: 20px;
}
.old-iframe .player {
  height: 0;
  padding-bottom: 56.6%;
  position: relative;
  width: 100%;
  display: block;
}
.old-iframe .player > div:nth-child(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.old-iframe .player > div:nth-child(1) iframe {
  width: 100%;
  height: 100%;
}
.old-iframe > span {
  color: #777;
  font-size: 12px !important;
  padding: 12px 28px;
  text-align: right;
  width: 100%;
  display: block;
}
.lekcja-iframe {
  width: 100%;
  height: 750px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .lekcja-iframe {
    border: 1px solid red;
    position: relative;
  }
  .lekcja-iframe:after {
    content: "dddddddddddddddddddddd";
    background-image: url('/Images/nauka-rotate.png');
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100000;
    height: 100px;
    width: 100px;
  }
}
.article-citation {
  display: table;
  width: 100%;
}
@media (max-width: 1279px) {
  .article-citation .rb {
    position: absolute;
    bottom: 0;
    display: block;
    background-color: white;
    width: 80%;
    height: 42px;
    right: 0;
  }
  .article-citation .txt {
    padding-left: 25%;
  }
  .article-citation .txt > span {
    padding: 0 0;
  }
}
@media (min-width: 1280px) {
  .article-citation .pic {
    display: table-cell;
    width: 50%;
    padding-right: 40px;
  }
  .article-citation .pic .rb,
  .article-citation .pic .lb {
    position: absolute;
    bottom: 0;
    display: block;
    background-color: white;
  }
  .article-citation .pic .rb {
    width: 70px;
    height: 75%;
    right: 0;
  }
  .article-citation .pic .lb {
    left: 0;
    width: 67px;
    height: 38px;
  }
  .article-citation .txt {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
  .article-citation .txt > span {
    padding: 16px 42px;
  }
}
.article-citation .pic {
  position: relative;
}
.article-citation .txt > span {
  display: block;
  font-weight: lighter;
  font-size: 24px;
  line-height: 150%;
}
.article-citation .txt .cit.bot {
  float: right;
}
@media (max-width: 1279px) {
  .article-body .social-media {
    display: none;
  }
}
.ppt-belt {
  display: block;
  margin: 60px 0 0 0;
}
.ppt-belt a {
  text-decoration: none !important;
}
.ppt-belt .ppt {
  float: left;
}
.ppt-belt .ppt > span {
  margin-top: 5px;
  margin-left: 17px;
  display: inline-block;
  line-height: 120%;
}
.ppt-belt .pdf,
.ppt-belt .print {
  float: right;
}
.ppt-belt .print {
  margin: 7px 0 0 20px;
}
.ppt-belt:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 619px) {
  .ppt-belt {
    padding: 0 20px;
  }
}
.article-downloads {
  clear: both;
  font-weight: lighter;
  background-color: #171717;
  padding: 40px;
  position: relative;
  margin: 60px 0;
}
.article-downloads a {
  text-decoration: none !important;
}
.article-downloads .dtitle {
  font-size: 28px;
  line-height: 120%;
}
.article-downloads .ditems {
  display: block;
  margin: 40px 0 20px 0;
}
.article-downloads .ditems:after {
  content: " ";
  display: block;
  clear: both;
}
.article-downloads .ditems .ditem {
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 100%;
  word-break: break-all;
  margin-bottom: 20px;
}
@media (max-width: 619px) {
  .article-downloads .ditems .ditem {
    width: 100%;
  }
}
@media (min-width: 620px) {
  .article-downloads .ditems .ditem {
    width: 100%;
  }
}
.article-downloads .ditems .ditem > img {
  display: table-cell;
  width: 52px;
  min-width: 52px;
  max-width: 52px;
  filter: contrast(0) brightness(100);
}
.article-downloads .ditems .ditem .dititle {
  font-weight: normal;
  width: 100%;
  display: table-cell;
  line-height: 120%;
  vertical-align: middle;
  padding-left: 17px;
}
.article-downloads .ditems .ditem .dititle .didesc {
  display: block;
  font-weight: lighter;
}
.article-downloads .ditems .ditem .downlink {
  font-weight: bold;
  display: table-cell;
  text-align: right;
  width: 32px;
  vertical-align: middle;
  color: #d71925;
  white-space: nowrap;
  font-size: 18px;
}
.article-downloads .download-all {
  clear: both;
  display: block;
  background-color: black;
  color: white;
  padding: 7px 0;
  text-align: center;
  margin: 1px auto;
}
@media (max-width: 619px) {
  .article-downloads .download-all {
    width: 100%;
  }
}
@media (min-width: 620px) {
  .article-downloads .download-all {
    width: 40%;
  }
}
.links-ad {
  font-weight: lighter;
  margin-bottom: 60px;
  /*
    ul {
        margin-left: 10px;
        list-style-type: square;
        margin-top: 30px;
        font-size: 10px;
    }
    */
}
@media (max-width: 619px) {
  .links-ad {
    padding: 0 20px;
  }
}
.links-ad .lahead {
  font-size: 28px;
}
.links-ad li a {
  font-size: 18px;
}
.nauka-lekcja {
  /*
    @media (max-width: 479px) {
        background-image: url('/Images/nauka-rotate.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 171px;
        width: 320px;
        iframe {
            display: none;
        }
    }
    @media (min-width: 479px) {
        iframe {
            width: 100%;
            height: 750px;
            overflow:hidden;
        }
    }
    */
  /*
    @media (min-width: 480px) {
        width: 100%;     
        min-height: 750px;
        > div:nth-child(1) {       
            height: 0;        
            //padding-bottom: 56.6%;
            padding-bottom: 80%;
            position: relative;      
            width: 100%;
            display: block;
            > div:nth-child(1) {                        
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;            
                z-index: 1;  
                min-height: 750px;              
                iframe {                
                    width: 100%;
                    height: 100%;
                  
                }
            }
        }      
    }
        */
}
@media (max-width: 479px) {
  .nauka-lekcja {
    width: 100%;
  }
  .nauka-lekcja > div:nth-child(1) {
    height: 0;
    padding-bottom: 54%;
    position: relative;
    width: 100%;
    display: block;
  }
  .nauka-lekcja > div:nth-child(1) > div:nth-child(1) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('/Images/nauka-rotate.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .nauka-lekcja > div:nth-child(1) > div:nth-child(1) iframe {
    display: none;
  }
}
@media (min-width: 480px) {
  .nauka-lekcja {
    width: 100%;
    min-height: 750px;
  }
  .nauka-lekcja > div:nth-child(1) > div:nth-child(1) iframe {
    width: 100%;
    height: 750px;
  }
}
/*
.game-ifr {
    display: block;
    width: 100%;
    text-align: center;
    iframe {
        width: 100%;
        height: 520px;
        max-width: 990px !important;     
    }
}
*/
.game-ifr {
  width: 100%;
}
.game-ifr .inner {
  height: 0;
  padding-bottom: 52.6%;
  position: relative;
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  display: block;
}
.game-ifr .inner > div:nth-child(1) {
  max-height: 520px !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.game-ifr .inner > div:nth-child(1) iframe {
  width: 100%;
  height: 100%;
}
.film-ludzie {
  display: block;
  width: 100%;
  margin-top: 60px;
  color: white;
}
.film-ludzie:before {
  font-weight: bold;
  border-bottom: 2px solid #aaa;
  width: 100%;
  display: block;
  font-size: 28px;
  margin-bottom: 0;
  padding-bottom: 7px;
}
.film-ludzie.Projekt .back-obsada {
  padding: 10px 20px;
}
@media (min-width: 1366px) {
  .film-ludzie {
    font-size: 14px;
  }
  .film-ludzie:before {
    font-size: 18px;
  }
}
@media (max-width: 1365px) {
  .film-ludzie {
    font-size: 12px;
  }
  .film-ludzie:before {
    font-size: 16px;
  }
}
.film-ludzie.ekipa:before {
  content: "EKIPA";
}
.film-ludzie.obsada:before {
  content: "OBSADA";
}
.film-ludzie.obsada .fe-value {
  font-style: italic;
}
.film-ludzie .back-obsada {
  background-color: #171717;
  padding-bottom: 10px;
  padding-right: 20px;
}
.film-ludzie .fe-item {
  padding: 0 0 0 20px;
}
.film-ludzie .fe-item.section {
  padding: 10px 0 0 20px;
}
.film-ludzie .fe-item .fe-key {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
}
@media (max-width: 799px) {
  .film-ludzie .fe-item {
    display: block;
    width: 100%;
  }
  .film-ludzie .fe-item .fe-key {
    display: block;
  }
  .film-ludzie .fe-item .fe-value {
    margin-left: 10%;
    display: inline-block;
  }
}
@media (min-width: 800px) {
  .film-ludzie .fe-item {
    display: table;
  }
  .film-ludzie .fe-item .fe-key {
    display: table-cell;
    padding-right: 20px;
    min-width: 350px;
  }
  .film-ludzie .fe-item .fe-value {
    display: table-cell;
  }
}
.podstawowe-pojecia {
  display: block;
  width: 100%;
  margin-top: 60px;
}
.podstawowe-pojecia:before {
  font-weight: bold;
  border-bottom: 2px solid #aaa;
  width: 100%;
  display: block;
  margin-bottom: 0;
  padding-bottom: 7px;
  content: "PODSTAWOWE POJ\0118 CIA";
}
.podstawowe-pojecia .pp-inner {
  background-color: #f8f8f8;
  padding: 20px;
  font-size: 80%;
}
.film-opis2 {
  margin-top: 80px;
}
@media (max-width: 620px) {
  .film-opis {
    padding: 0 20px;
  }
}
.film-opis .vpodpis {
  display: table;
  width: 100%;
}
.film-opis .vpodpis .vptext {
  display: table-cell;
  padding-right: 30px;
  padding-top: 6px;
  font-size: 120%;
}
.film-opis .vpodpis .vpkategoria {
  display: table-cell;
  text-align: right;
  vertical-align: top;
  width: 70px;
}
.article-logotypy {
  margin-top: 162px !important;
}
.article-section {
  margin: 40px 0;
}
.article-section .section-login {
  background-color: #171717;
  padding: 20px;
  position: relative;
  min-height: 250px;
}
.article-section .section-login .lock-title {
  font-weight: bold;
  border-bottom: 2px solid #aaa;
  width: 100%;
  display: block;
  font-size: 28px;
  padding-bottom: 7px;
  transition: all 0.3s;
}
.article-section .section-login .lock-lead {
  transition: all 0.3s;
}
.article-section .section-login .lock-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
}
.article-section .section-login .lock-link .lock-link-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 60px;
}
.article-section .section-login .lock-link .lock-link-inner .faicon {
  font-size: 100px;
  display: block;
  opacity: 0.3;
  transition: all 0.3s;
}
.article-section .section-login .lock-link .lock-link-inner .lock-info {
  transition: all 0.3s;
  opacity: 0;
  word-break: break-word;
}
.article-section .section-login .lock-link .lock-link-inner .lock-info .smaler {
  font-size: 0.7em;
}
.article-section .section-login:hover .lock-link {
  opacity: 1 !important;
}
.article-section .section-login:hover .lock-title,
.article-section .section-login:hover .lock-lead {
  opacity: 0.2;
}
.article-section .section-login:hover .lock-info {
  opacity: 1 !important;
}
.article-section .section-login:hover .faicon {
  opacity: 1 !important;
}
.article-section .section-title {
  font-weight: bold;
  border-bottom: 2px solid #aaa;
  width: 100%;
  display: block;
  font-size: 28px;
  padding-bottom: 7px;
}