﻿body {
    /*color: white;*/
    .Authenticator {
        display: grid;
        grid-template-columns: 1fr 1fr;

        fieldset {
            background: white;

            .hide {
                display: none;
            }

            .TextBox {
                color: black;
                display: grid;
                grid-template-columns: 100px auto;
            }

            .CheckBox {
                color: black;
                display: inline-block;
            }

            input, textarea, button {
                color: black;
            }

            .field-validation-error {
                grid-column: 1/span 2;
                color: red;
            }
        }
    }
}

input[type=checkbox] {
    position: static;
}