﻿body {
  /*color: white;*/
}
body .Authenticator {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .Authenticator fieldset {
  background: white;
}
body .Authenticator fieldset .hide {
  display: none;
}
body .Authenticator fieldset .TextBox {
  color: black;
  display: grid;
  grid-template-columns: 100px auto;
}
body .Authenticator fieldset .CheckBox {
  color: black;
  display: inline-block;
}
body .Authenticator fieldset input,
body .Authenticator fieldset textarea,
body .Authenticator fieldset button {
  color: black;
}
body .Authenticator fieldset .field-validation-error {
  grid-column: 1 / span 2;
  color: red;
}
input[type=checkbox] {
  position: static;
}