﻿.submenu-mobile {
  min-height: 80px;
}
.checkout {
  color: white;
  margin-top: 40px;
}
.checkout input {
  color: black;
}
.checkout input.error {
  border: 2px solid red !important;
}
.checkout input[type="text"] {
  border: 1px solid #cccccc;
  font-size: 16px;
  height: 37px;
  line-height: 37px;
  text-indent: 15px;
}
.checkout input[type="text"]:focus {
  outline: 0;
}
.checkout label.error {
  color: #ff5656;
}
.checkout .aria_error {
  display: block;
  color: #ff5656;
}
.checkout .aria_error.hidden {
  font-size: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  white-space: nowrap;
  width: 1px;
}
.checkout .aria_error .req,
.checkout .aria_error .err {
  display: none;
}
.checkout .aria_error.visible_req .req {
  display: inline;
}
.checkout .aria_error.visible_err .err {
  display: inline;
}
.checkout .basket_shipment .head {
  font-size: 1.2em;
  padding-top: 40px;
  text-align: center;
}
.checkout .basket_shipment .head.error {
  color: #ff5656;
}
.checkout .basket_shipment .methods {
  text-align: center;
}
.checkout .basket_shipment .methods .method {
  display: inline-block;
}
.checkout .basket_shipment .methods .method a {
  margin-top: 20px;
  border: 1px solid #eee;
  display: inline-block;
  line-height: 60px;
  min-width: 250px;
  padding: 0 20px;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}
.checkout .basket_shipment .methods .method a:hover {
  background-color: #222;
}
.checkout .basket_shipment .methods .method a.selected {
  background-color: #666;
}
.checkout .basket_summary {
  text-align: right;
  margin: 60px 0 0 0;
}
.checkout .basket_summary .kodr-hdr {
  font-size: 1.2em;
}
.checkout .basket_summary .kodr-loading.hide {
  display: none;
}
.checkout .basket_summary .kodr-res1 {
  margin-top: 15px;
}
.checkout .basket_summary .kodr-res1.hide {
  display: none;
}
.checkout .basket_summary .kodr-res0 {
  margin-top: 15px;
  color: #ff5656;
}
.checkout .basket_summary .kodr-res0.hide {
  display: none;
}
.checkout .basket_summary .kodr {
  display: inline-block;
  clear: both;
  margin-bottom: 30px;
}
.checkout .basket_summary .kodr .submit {
  padding-top: 3px;
}
.checkout .basket_summary .kodr .input input {
  width: 150px;
}
.checkout .basket_summary #basket_total {
  text-align: right;
}
.checkout .basket_summary #basket_total .stotal {
  font-size: 25px;
  border-top: 1px solid #666;
  margin-top: 10px;
}
.checkout .basket_summary .accept {
  text-align: right;
}
.checkout .basket_summary .buy {
  text-align: right;
  margin-top: 30px;
}
.checkout .basket_summary .buy .buy_button {
  display: inline-block;
  line-height: 45px;
  text-align: center;
  padding: 0 40px;
  border: 1px solid #eee;
  text-decoration: none;
  transition: 0.3s;
  background-color: black;
}
.checkout .basket_summary .buy .buy_button:hover {
  background-color: #222;
  border: 1px solid #fff;
}
.checkout .checkout-footer {
  width: 100%;
  max-width: 500px;
  margin: 60px auto 0 auto;
  display: table;
}
.checkout .checkout-footer li {
  display: table-cell;
  padding: 0 15px;
  text-align: center;
}
.checkout .basket {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.checkout .basket-empty {
  font-size: 36px;
  width: 100%;
  text-align: center;
  margin: 80px 0;
  color: #777;
}
.basket_table {
  display: block;
  width: 100%;
  margin: 0 auto 30px 0;
}
@media (max-width: 500px) {
  .basket_table .c5 {
    display: table-cell;
    width: 100%;
    padding-bottom: 40px;
  }
  .basket_table .c1 .desc {
    display: none;
  }
  .basket_table .c1,
  .basket_table .c2,
  .basket_table .c3 {
    padding-bottom: 0 !important;
  }
}
@media (min-width: 501px) {
  .basket_table .c5 {
    display: none;
  }
  .basket_table .c1 .desc {
    display: inline-block;
  }
}
.basket_table a {
  text-decoration: none !important;
}
.basket_table .spacer {
  display: block;
  height: 15px;
}
.basket_table .basket_row {
  display: table;
  width: 100%;
}
.basket_table .hdr {
  height: 70px;
  border: none !important;
}
.basket_table .data {
  background-color: #f7f7f7;
  height: 200px;
}
.basket_table .c1,
.basket_table .c2,
.basket_table .c3 {
  border-top: 1px solid #666;
  display: table-cell;
  padding-bottom: 30px;
  vertical-align: top;
}
.basket_table .c1 {
  width: auto;
  min-width: 105px;
}
.basket_table .c1 a {
  display: inline-block;
  height: 105px;
}
.basket_table .c1 img {
  width: 105px;
  height: 105px;
  padding-right: 10px;
}
.basket_table .c1 .desc {
  min-width: 100px;
  font-size: 1.2em;
}
.basket_table .c2 {
  width: 100px;
  text-align: center;
}
.basket_table .c2 .q {
  display: block;
  width: 35px;
  margin: 0 auto;
}
.basket_table .c2 .q .qp {
  color: white;
  background-color: #616161;
  display: block;
  height: 35px;
  transition: 0.3s;
  font-size: 1.8em;
  line-height: 35px;
}
.basket_table .c2 .q .qp:hover {
  text-decoration: none !important;
  background-color: #888;
}
.basket_table .c2 .q .qt input {
  font-size: 1.7em;
  border: none !important;
  width: 100%;
  text-align: center;
  text-indent: 0 !important;
}
.basket_table .c3 {
  width: 150px;
  position: relative;
}
.basket_table .c3 .price span {
  display: inline-block;
  vertical-align: middle;
}
.basket_table .c3 .price > span:nth-child(1) {
  font-size: 1.7em;
  padding-right: 10px;
}
.basket_table .c3 .del {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.basket_table .c3 .del a {
  display: block;
  background-color: #616161;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 1.8em;
  line-height: 35px;
  transition: 0.3s;
}
.basket_table .c3 .del a:hover {
  text-decoration: none !important;
  background-color: #888;
}
.basket_table .c3 .del.red a {
  color: #ff5656;
}
.basket_table .c3 .all {
  position: absolute;
  right: 40px;
  top: 3px;
  white-space: nowrap;
}
.basket_checkout {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}
.basket_checkout .section_label {
  font-size: 1.2em;
}
.basket_checkout label,
.basket_checkout .adrlabel {
  margin-top: 10px;
  display: inline-block;
}
.basket_checkout .basket_address .left {
  float: left;
  margin: 40px 100px 40px 0;
}
.basket_checkout .basket_address .right {
  float: left;
  margin: 0 0 40px 0;
}
.basket_checkout .basket_address .postalcode {
  width: 80px !important;
}
.basket_checkout .basket_address .city {
  width: 215px !important;
}
.basket_checkout .basket_address input[type="text"] {
  width: 300px;
}
.basket_checkout #billing_address.hide input {
  background-color: #aaa !important;
}
.podsumowanie {
  color: white;
  margin: 40px 0;
}
.podsumowanie .podsumowanie-powrot {
  margin: 0 auto;
  border: 1px solid #eee;
  display: block;
  line-height: 60px;
  width: 200px;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}
.podsumowanie .podsumowanie-powrot:hover {
  background-color: #222;
}
.vod-payment-overlay {
  margin-top: 0;
  background-color: black;
  color: white;
  visibility: hidden;
}
.vod-payment-overlay.visible {
  visibility: visible;
}
.vod-payment-overlay .sekcja-shipment {
  padding: 40px;
  margin-top: 40px;
  max-width: 100%;
  min-width: 360px;
}
.vod-payment-overlay .sekcja-shipment .head.error {
  color: #ff5656;
}
.vod-payment-overlay .sekcja-shipment .methods .method {
  display: inline-block;
}
.vod-payment-overlay .sekcja-shipment .methods .method a {
  margin-top: 20px;
  border: 1px solid #eee;
  display: inline-block;
  line-height: 60px;
  min-width: 250px;
  padding: 0 20px;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}
.vod-payment-overlay .sekcja-shipment .methods .method a:hover {
  background-color: #222;
}
.vod-payment-overlay .sekcja-shipment .methods .method a.selected {
  background-color: #666;
}
.vod-payment-overlay .basket_summary {
  margin-top: 30px;
}
.vod-payment-overlay .kodr {
  margin-bottom: 15px !important;
}
.vod-payment-overlay .buy_button {
  font-size: inherit;
  /*
        float: right;
        display: inline-block;
        line-height: 45px;
        text-align: center;
        padding: 0 40px;
        border: 1px solid #eee;
        text-decoration: none;
        transition: 0.3s;
        background-color: black;


        &:hover {
            background-color: #222;
            border: 1px solid #fff;
        }
            */
}
.zamowienia {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.zamowienia .z_item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.zamowienia .z_item .z_num {
  width: 10%;
  padding-right: 3em;
}
.zamowienia .z_item .z_status {
  width: 25%;
  padding-right: 3em;
  position: relative;
  min-width: 160px;
}
.zamowienia .z_item .z_status .z_invstatus_1,
.zamowienia .z_item .z_status .z_invstatus_2,
.zamowienia .z_item .z_status .z_invstatus_3 {
  border-radius: 1px;
  text-align: center;
  padding: 1px 0;
  display: block;
  top: -1px;
}
.zamowienia .z_item .z_status .z_invstatus_1 {
  background-color: #6c6c6c;
}
.zamowienia .z_item .z_status .z_invstatus_2 {
  background-color: #ffffc3;
  color: black;
}
.zamowienia .z_item .z_status .z_invstatus_3 {
  background-color: darkgreen;
}
.zamowienia .z_item .z_dt {
  width: 20%;
  padding-right: 3em;
  white-space: nowrap;
}
.zamowienia .z_item .z_product .zp_item {
  display: block;
}
.zamowienia ~ .checkout-footer {
  display: none;
}