.submenu-mobile {
    min-height: 80px;
}

.checkout {
    color: white;
    margin-top: 40px;

    input {
        color: black;

        &.error {
            border: 2px solid red !important;
        }
    }

    input[type="text"] {
        border: 1px solid #cccccc;
        font-size: 16px;
        height: 37px;
        line-height: 37px;
        text-indent: 15px;

        &:focus {
            outline: 0;
        }
    }

    label.error {
        color: #ff5656;
    }

    .aria_error {
        &.hidden {
            font-size: 0;
            height: 1px;
            overflow: hidden;
            position: absolute;
            top: -10px;
            white-space: nowrap;
            width: 1px;
        }

        display: block;
        color: #ff5656;

        .req,
        .err {
            display: none;
        }

        &.visible_req .req {
            display: inline;
        }

        &.visible_err .err {
            display: inline;
        }
    }




    .basket_shipment {

        .head {
            font-size: 1.2em;
            padding-top: 40px;
            text-align: center;

            &.error {
                color: #ff5656;
            }
        }

        .methods {
            text-align: center;

            .method {
                display: inline-block;

                a {
                    margin-top: 20px;
                    border: 1px solid #eee;
                    display: inline-block;
                    line-height: 60px;
                    min-width: 250px;
                    padding: 0 20px;
                    text-align: center;
                    transition: 0.3s;
                    text-decoration: none;

                    &:hover {
                        background-color: #222;
                    }

                    &.selected {
                        background-color: #666;
                    }
                }
            }
        }
    }


    .basket_summary {
        text-align: right;
        margin: 60px 0 0 0;

        .kodr-hdr {
            font-size: 1.2em;
        }

        .kodr-loading {
            &.hide {
                display: none;
            }
        }

        .kodr-res1 {
            margin-top: 15px;

            &.hide {
                display: none;
            }
        }

        .kodr-res0 {
            margin-top: 15px;
            color: #ff5656;

            &.hide {
                display: none;
            }
        }

        .kodr {
            display: inline-block;
            clear: both;
            margin-bottom: 30px;

            .submit {
                padding-top: 3px;                
            }

            .input {                                
                input {
                    width: 150px;
                }
            }
        }

        #basket_total {
            text-align: right;

            .stotal {
                font-size: 25px;
                border-top: 1px solid #666;
                margin-top: 10px;
            }
        }

        .accept {
            text-align: right;
        }

        .buy {
            text-align: right;
            margin-top: 30px;

            .buy_button {
                display: inline-block;
                line-height: 45px;
                text-align: center;
                padding: 0 40px;
                border: 1px solid #eee;
                text-decoration: none;
                transition: 0.3s;
                background-color: black;

                &:hover {
                    background-color: #222;
                    border: 1px solid #fff;
                }
            }
        }
    }

    .checkout-footer {
        width: 100%;
        max-width: 500px;
        margin: 60px auto 0 auto;
        display: table;

        li {
            display: table-cell;
            padding: 0 15px;
            text-align: center;
        }
    }

    .basket {
        display: block;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    .basket-empty {
        font-size: 36px;
        width: 100%;
        text-align: center;
        margin: 80px 0;
        color: #777;
    }
}





.basket_table {
    display: block;
    width: 100%;
    margin: 0 auto 30px 0;

    @media (max-width: 500px) {
        .c5 {
            display: table-cell;
            width: 100%;
            padding-bottom: 40px;
        }

        .c1 .desc {
            display: none;
        }

        .c1, .c2, .c3 {
            padding-bottom: 0 !important;
        }
    }

    @media (min-width: 501px) {
        .c5 {
            display: none;
        }

        .c1 .desc {
            display: inline-block;
        }
    }

    a {
        text-decoration: none !important;
    }

    .spacer {
        display: block;
        height: 15px;
    }

    .basket_row {
        display: table;
        width: 100%;
    }

    .hdr {
        height: 70px;
        border: none !important;
    }

    .data {
        background-color: #f7f7f7;
        height: 200px;
    }

    .c1, .c2, .c3 {
        border-top: 1px solid #666;
        display: table-cell;
        padding-bottom: 30px;
        vertical-align: top;
    }

    .c1 {
        width: auto;
        min-width: 105px;


        a {
            display: inline-block;
            height: 105px;
        }

        img {
            width: 105px;
            height: 105px;
            padding-right: 10px;
        }

        .desc {
            min-width: 100px;
            font-size: 1.2em;
        }
    }

    .c2 {
        width: 100px;
        text-align: center;

        .q {
            display: block;
            width: 35px;
            margin: 0 auto;

            .qp {
                color: white;
                background-color: #616161;
                display: block;
                height: 35px;
                transition: 0.3s;

                &:hover {
                    text-decoration: none !important;
                    background-color: #888;
                }

                font-size: 1.8em;
                line-height: 35px;
            }

            .qt {
                input {
                    font-size: 1.7em;
                    border: none !important;                    
                    width: 100%;
                    text-align: center;
                    text-indent: 0 !important;
                }
            }
        }
    }

    .c3 {
        width: 150px;
        position: relative;

        .price {
            span {
                display: inline-block;
                vertical-align: middle;
            }

            > span:nth-child(1) {
                font-size: 1.7em;
                padding-right: 10px;
            }
        }

        .del {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            a {
                display: block;
                background-color: #616161;
                width: 35px;
                height: 35px;
                vertical-align: middle;
                text-align: center;
                color: white;
                font-size: 1.8em;
                line-height: 35px;
                transition: 0.3s;

                &:hover {
                    text-decoration: none !important;
                    background-color: #888;
                }
            }

            &.red a {
                color: #ff5656;
            }
        }

        .all {
            position: absolute;
            right: 40px;
            top: 3px;
            white-space: nowrap;
        }
    }
}

.basket_checkout {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;

    .section_label {
        font-size: 1.2em;
    }

    label, .adrlabel {
        margin-top: 10px;
        display: inline-block;
    }

    .basket_address {
        .left {
            float: left;
            margin: 40px 100px 40px 0;
        }

        .right {
            float: left;
            margin: 0 0 40px 0;
        }

        .postalcode {
            width: 80px !important;
        }

        .city {
            width: 215px !important;
        }

        input[type="text"] {
            width: 300px;
        }
    }

    #billing_address.hide {
        input {
            background-color: #aaa !important;
        }
    }
}

.podsumowanie {
    color: white;
    margin: 40px 0;

    .podsumowanie-powrot {        
        margin: 0 auto;
        border: 1px solid #eee;
        display: block;
        line-height: 60px;                
        width: 200px;
        text-align: center;
        transition: 0.3s;
        text-decoration: none;

        &:hover {
            background-color: #222;
        }        
    }
}

.vod-payment-overlay {
    margin-top: 0;
    background-color: black;
    color: white;
    visibility: hidden;

    &.visible {
        visibility: visible;
    }

    .sekcja-shipment {
        padding: 40px;
        margin-top: 40px;
        max-width: 100%;
        min-width: 360px;

        .head {
            &.error {
                color: #ff5656;
            }
        }

        .methods {
            .method {
                display: inline-block;

                a {
                    margin-top: 20px;
                    border: 1px solid #eee;
                    display: inline-block;
                    line-height: 60px;
                    min-width: 250px;
                    padding: 0 20px;
                    text-align: center;
                    transition: 0.3s;
                    text-decoration: none;

                    &:hover {
                        background-color: #222;
                    }

                    &.selected {
                        background-color: #666;
                    }
                }
            }
        }
    }

    .basket_summary {
        margin-top: 30px;
    }

    .kodr {
        margin-bottom: 15px !important;
    }

    .buy_button {
        font-size: inherit;
        /*
        float: right;
        display: inline-block;
        line-height: 45px;
        text-align: center;
        padding: 0 40px;
        border: 1px solid #eee;
        text-decoration: none;
        transition: 0.3s;
        background-color: black;


        &:hover {
            background-color: #222;
            border: 1px solid #fff;
        }
            */
    }
}

.zamowienia {
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    .z_item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;

        .z_num {
            width: 10%;
            padding-right: 3em;
        }

        .z_status {
            width: 25%;
            padding-right: 3em;
            position: relative;
            min-width: 160px;

            .z_invstatus_1,
            .z_invstatus_2,
            .z_invstatus_3 {
                border-radius: 1px;
                text-align: center;
                padding: 1px 0;
                display: block;
                top: -1px;
            }

            .z_invstatus_1 {
                background-color: #6c6c6c;
            }

            .z_invstatus_2 {
                background-color: #ffffc3;
                color: black;
            }

            .z_invstatus_3 {
                background-color: darkgreen;
            }
        }

        .z_dt {
            width: 20%;
            padding-right: 3em;
            white-space: nowrap;
        }

        .z_product {            
            .zp_item {
                display: block;
            }
        }
    }
}


.zamowienia ~ .checkout-footer {
    display: none;
}