﻿.combo {
  position: relative;
  display: table;
  /*min-width: 220px;*/
}
.combo .drop {
  display: block;
  border-bottom: 2px solid black;
  text-align: center;
  text-decoration: none;
  padding-bottom: 10px;
  font-size: 20px;
  margin-right: 25px;
}
.combo .drop i {
  font-size: 25px;
  position: absolute;
  /*top: -6px;*/
  right: 4px;
}
.combo .drop.selected-any {
  font-weight: bold;
}
.combo .list {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 100;
  background-color: #ebebeb;
  overflow: hidden;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
  font-weight: lighter;
}
.combo .list ul {
  padding: 15px 20px;
}
.combo .list ul li {
  white-space: normal;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 20px !important;
  cursor: pointer;
}
.combo .list ul li.selected {
  font-weight: bold;
}
.combo .list ul li:hover {
  color: #777;
}
.combo.up .dropimg {
  background: url('/Images/down.png') no-repeat center center;
}
.combo.up .list {
  max-height: 0;
}
.combo.down .dropimg {
  background: url('/Images/up.png') no-repeat center center;
}
.combo.down .list {
  max-height: 1000px;
}