@import "mixins.less";

.combo {
    position: relative;
    display: table;
    /*min-width: 220px;*/

    .drop {
        display: block;
        border-bottom: 2px solid black;
        text-align: center;
        text-decoration: none;
        padding-bottom: 10px;
        font-size: 20px;
        margin-right: 25px;

        i {
            font-size: 25px;
            position: absolute;
            /*top: -6px;*/
            right: 4px;
        }

        &.selected-any {
            font-weight: bold;
        }
    }

    .list {
        text-align: center;
        display: block;
        position: absolute;
        z-index: 100;
        background-color: #ebebeb;
        overflow: hidden;
        .transition-general(all 300ms);
        font-weight: lighter;

        ul {
            padding: 15px 20px;

            li {
                white-space: normal;
                text-decoration: none;
                text-transform: lowercase;
                font-size: 20px !important;
                cursor: pointer;

                &.selected {
                    font-weight: bold;
                }

                &:hover {
                    color: #777;
                }
            }
        }
    }

    &.up {
        .dropimg {
            background: url('/Images/down.png') no-repeat center center;
        }

        .list {
            max-height: 0;
        }
    }

    &.down {
        .dropimg {
            background: url('/Images/up.png') no-repeat center center;
        }

        .list {
            max-height: 1000px;
        }
    }
}
