﻿body .page_body {
  width: 100%;
}
body .page_body #ContactUs {
  background: white;
  color: black;
}
body .page_body #ContactUs h4 {
  text-align: center;
  font-size: 25px;
}
body .page_body #ContactUs .form-group input,
body .page_body #ContactUs .form-group textarea {
  margin-top: 10px;
  padding-bottom: 20px;
  width: calc(100% - 54px);
  line-height: 120%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: black;
}
body .page_body #ContactUs .form-group textarea {
  height: 300px;
  resize: none;
}
body .page_body #ContactUs .button {
  text-align: center;
  padding: 15px;
  color: black;
}
body .page_body #ContactUs .button .Name {
  margin-left: 10px;
}
body .page_body #ContactUs .button i {
  font-size: 25px;
}