﻿body {
    .page_body {
        width: 100%;

        #ContactUs {
            background:white;
            color:black;
            h4 {
                text-align: center;
                font-size: 25px;
            }

            .form-group {
                input, textarea {
                    margin-top: 10px;
                    padding-bottom: 20px;
                    width: calc(100% - 54px);
                    line-height: 120%;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                     border-bottom: 1px solid black; 
                    background-color: transparent;
                    text-align: center;
                    width: 100%;
                    font-size: 20px;
                    color:black;
                }

                textarea {
                    height: 300px;
                    resize: none;
                }
            }

            .button {
                text-align: center;
                padding: 15px;
                color:black;

                .Name {
                    margin-left: 10px;
                }

                i {
                    font-size: 25px;
                }
            }
        }
    }
}
