.epoki-outer {

    
    @media (max-width: 450px) {
        #slider {
            display: none;
        }
        .epoki {       
            height: 350px;     
            width: 320px;
            margin-left: auto;
            margin-right: auto;
            .epoka {
                width: 320px;
                height: 336px;
                margin-right: 0;
            }
        }
        .lt {
            font-size: 30px;    
            padding: 0 10px 7px 10px;
            line-height: 120%;
        }
        .rb {        
            font-size: 18px; 
            padding: 0 10px 3px 10px;
        }
    }
    @media (min-width: 451px) {
        #slider-mobile {
            display: none;
        }
        .epoki {     
            width: 100%;
            height: 450px;       
            .epoka {
                width: 409px;
                height: 430px;
                margin-right: 19px;
            }
        }
        .lt {
            font-size: 40px;  
            padding: 23px 25px;  
        }
        .rb {        
            font-size: 24px; 
            padding: 7px 10px 0 10px;
        }
    }


    margin-bottom: 30px;

    .epoki {
        border-top: 2px solid black;
        display: block;       
        position: relative;        
        padding-top: 20px;
        margin-bottom: 40px;
        overflow: hidden;
        .epoki-inner {
            position: absolute;
            display: block;        
            width: 2000px;                    
            .epoka {
                position: relative;
                display: inline-block;
                background-position: center bottom;
                background-repeat: no-repeat;
                .lt, .rb {
                    position: absolute;
                    background-color: white;            
                }
                .lt {     
                    font-weight: lighter;  
                    top: 0;
                    left: 0;
                   
                }
                .rb {
                    p {
                        margin: 0; 
                        padding: 0;
                    }                   
                    right: 0;
                    bottom: 0;
                    
                }
            }
        }
    }

    #slider {
       margin-left: 50px;
       margin-right: 55px;
    }

    #slider-mobile {       
       width: 280px;
       margin: 0 auto;
       height: 42px;       
       color: #aaa;
       .nav-prev,
       .nav-next
       {
           height: 42px;
           float: left;
           width: 50%;
           text-align: center;
           font-family: Tahoma;
           font-size: 20px;
           padding-top: 4px;
           cursor: pointer;      
           background-color: black;     
           &:hover {
               background-color: #333;
               color: white;
           }
       }
    }

    .ui-slider {            
        background-color: #ebebeb !important;
        border-radius: unset !important;
        border: none !important;
        .ui-slider-handle {
            top: -15px !important;        
            background-color: black !important;
            border: none !important;
            width: 101px !important;
            margin-left: -50px;
            height: 42px !important;
            border-radius: unset !important;
            font-weight: normal;
            font-family: Tahoma;
            &:before {
                content: "<";
                display: inline-block;
                padding-top: 8px;
                padding-left: 34px;                
            }
            &:after {
                content: ">";
                display: inline-block;
                padding-top: 8px;
                padding-left: 10px;
            }
        }
    }
}