﻿.epoki-outer {
  margin-bottom: 30px;
}
@media (max-width: 450px) {
  .epoki-outer #slider {
    display: none;
  }
  .epoki-outer .epoki {
    height: 350px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .epoki-outer .epoki .epoka {
    width: 320px;
    height: 336px;
    margin-right: 0;
  }
  .epoki-outer .lt {
    font-size: 30px;
    padding: 0 10px 7px 10px;
    line-height: 120%;
  }
  .epoki-outer .rb {
    font-size: 18px;
    padding: 0 10px 3px 10px;
  }
}
@media (min-width: 451px) {
  .epoki-outer #slider-mobile {
    display: none;
  }
  .epoki-outer .epoki {
    width: 100%;
    height: 450px;
  }
  .epoki-outer .epoki .epoka {
    width: 409px;
    height: 430px;
    margin-right: 19px;
  }
  .epoki-outer .lt {
    font-size: 40px;
    padding: 23px 25px;
  }
  .epoki-outer .rb {
    font-size: 24px;
    padding: 7px 10px 0 10px;
  }
}
.epoki-outer .epoki {
  border-top: 2px solid black;
  display: block;
  position: relative;
  padding-top: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}
.epoki-outer .epoki .epoki-inner {
  position: absolute;
  display: block;
  width: 2000px;
}
.epoki-outer .epoki .epoki-inner .epoka {
  position: relative;
  display: inline-block;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.epoki-outer .epoki .epoki-inner .epoka .lt,
.epoki-outer .epoki .epoki-inner .epoka .rb {
  position: absolute;
  background-color: white;
}
.epoki-outer .epoki .epoki-inner .epoka .lt {
  font-weight: lighter;
  top: 0;
  left: 0;
}
.epoki-outer .epoki .epoki-inner .epoka .rb {
  right: 0;
  bottom: 0;
}
.epoki-outer .epoki .epoki-inner .epoka .rb p {
  margin: 0;
  padding: 0;
}
.epoki-outer #slider {
  margin-left: 50px;
  margin-right: 55px;
}
.epoki-outer #slider-mobile {
  width: 280px;
  margin: 0 auto;
  height: 42px;
  color: #aaa;
}
.epoki-outer #slider-mobile .nav-prev,
.epoki-outer #slider-mobile .nav-next {
  height: 42px;
  float: left;
  width: 50%;
  text-align: center;
  font-family: Tahoma;
  font-size: 20px;
  padding-top: 4px;
  cursor: pointer;
  background-color: black;
}
.epoki-outer #slider-mobile .nav-prev:hover,
.epoki-outer #slider-mobile .nav-next:hover {
  background-color: #333;
  color: white;
}
.epoki-outer .ui-slider {
  background-color: #ebebeb !important;
  border-radius: unset !important;
  border: none !important;
}
.epoki-outer .ui-slider .ui-slider-handle {
  top: -15px !important;
  background-color: black !important;
  border: none !important;
  width: 101px !important;
  margin-left: -50px;
  height: 42px !important;
  border-radius: unset !important;
  font-weight: normal;
  font-family: Tahoma;
}
.epoki-outer .ui-slider .ui-slider-handle:before {
  content: "<";
  display: inline-block;
  padding-top: 8px;
  padding-left: 34px;
}
.epoki-outer .ui-slider .ui-slider-handle:after {
  content: ">";
  display: inline-block;
  padding-top: 8px;
  padding-left: 10px;
}