@import "settings.less";

.gallery {
    img {
        pointer-events: none;
    }

    @media (max-width:1999px) {
        &.fullscreen {
            .thumbnails-outer {
                margin-top: 0 !important;

                .nav {
                    .prev, .next {
                        filter: invert(1) contrast(100) brightness(1);
                        background-color: transparent;
                    }
                }
            }
        }
    }

    @media (min-width: @mediabreak_smart) {
        .thumb {
            height: 257px;
            width: 410px;

            img {
                max-height: 257px;
                max-width: 410px;
            }
        }
    }

    @media (max-width: (@mediabreak_smart - 1)) {
        .thumb {
            height: 200px;
            width: 320px;

            img {
                max-height: 200px;
                max-width: 320px;
            }
        }

        .ghead {
            .title {
                margin-left: 20px;
            }

            .show {
                margin-right: 20px;
            }
        }
    }

    font-weight: lighter;
    width: 100%;

    .ghead {
        .title {
            font-size: 28px;
            display: inline-block;
        }

        .show {
            background-color: black;
            padding: 10px 20px;
            color: white;
            float: right;
            cursor: pointer;
        }

        .close {
            display: none;
            cursor: pointer;
            max-width:30px;

            img {
                filter: invert(1);
            }
        }
    }

    .thumbnails-outer {
        text-align: left;
        clear: both;
        margin-top: 40px;
        position: relative;
        height: 257px;
        overflow: hidden;

        .counter {
            display: none;
        }

        .nav {
            display: none;

            &.visible {
                display: block;
                position: static;
            }

            .prev, .next {
                position: absolute;
                width: 44px;
                z-index: 1;
                cursor: pointer;
                top: calc(50% - 20px) !important;
                transform: translateY(-50%);
                height: 100%;

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 40px;
                }
            }

            .prev {
                left: 0;
                text-align: center;
            }

            .next {
                right: 0;
                text-align: center;
            }
        }
    }

    .thumbnails {
        position: absolute;
        width: 2000px;

        .thumb {
            cursor: pointer;
            display: block;
            float: left;
            position: relative;
            background-color: black;
            text-align: center;

            img {
            }

            .rb {
                font-size: 14px;
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: white;
                padding: 10px 15px;
                color: #555;
            }
        }

        .sep {
            width: 23px;
            display: block;
            float: left;
        }
    }


    &.fullscreen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 14;
        background-color: black;
        display: table;
        height: 100%;
        width: 100%;

        .overlay {
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            .fs-content {
                margin: 0 auto;
                /*width: 1024px;
                height: 600px;  
                    */
            }
        }

        .counter {
            background-color: white;
            display: inline;
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            padding: 8px 28px;
            font-size: 16px;

            .current {
                font-weight: normal;
                line-height: 24px;
                font-size: 24px;
                vertical-align: bottom;
            }

            .total {
                line-height: 16px;
                font-size: 16px;
                vertical-align: bottom;
            }
        }

        .ghead {
            text-align: left;

            .title {
            }

            .show {
                display: none;
            }

            .close {
                float: right;
                display: inline;
            }
        }

        .thumbnails-outer {
            margin-top: 20px;
            /*height: 500px; */
            .nav {
                .prev, .next {
                    /*top: 200px;*/
                    width: 46px;
                    height: 106px;
                    line-height: 116px;
                    color: white;
                }
            }
        }

        .sep {
            display: none;
        }
        /*
        .thumbnails {
            .thumb {                                                           
                img {                                                            
                }
            }
        } 
           */
    }
}
