﻿/**/
.gallery {
  font-weight: lighter;
  width: 100%;
}
.gallery img {
  pointer-events: none;
}
@media (max-width: 1999px) {
  .gallery.fullscreen .thumbnails-outer {
    margin-top: 0 !important;
  }
  .gallery.fullscreen .thumbnails-outer .nav .prev,
  .gallery.fullscreen .thumbnails-outer .nav .next {
    background-color: transparent;
  }
}
@media (min-width: 620px) {
  .gallery .thumb {
    height: 257px;
    width: 410px;
  }
  .gallery .thumb img {
    max-height: 257px;
    max-width: 410px;
  }
}
@media (max-width: 619px) {
  .gallery .thumb {
    height: 200px;
    width: 320px;
  }
  .gallery .thumb img {
    max-height: 200px;
    max-width: 320px;
  }
  .gallery .ghead .title {
    margin-left: 20px;
  }
  .gallery .ghead .show {
    margin-right: 20px;
  }
}
.gallery .ghead .title {
  font-size: 28px;
  display: inline-block;
}
.gallery .ghead .show {
  background-color: black;
  padding: 10px 20px;
  color: white;
  float: right;
  cursor: pointer;
}
.gallery .ghead .close {
  display: none;
  cursor: pointer;
  max-width: 30px;
}
.gallery .ghead .close img {
  filter: invert(1);
}
.gallery .thumbnails-outer {
  text-align: left;
  clear: both;
  margin-top: 40px;
  position: relative;
  height: 257px;
  overflow: hidden;
}
.gallery .thumbnails-outer .counter {
  display: none;
}
.gallery .thumbnails-outer .nav {
  display: none;
}
.gallery .thumbnails-outer .nav.visible {
  display: block;
  position: static;
}
.gallery .thumbnails-outer .nav .prev,
.gallery .thumbnails-outer .nav .next {
  position: absolute;
  width: 44px;
  z-index: 1;
  cursor: pointer;
  top: calc(50% - 20px) !important;
  transform: translateY(-50%);
  height: 100%;
}
.gallery .thumbnails-outer .nav .prev i,
.gallery .thumbnails-outer .nav .next i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
.gallery .thumbnails-outer .nav .prev {
  left: 0;
  text-align: center;
}
.gallery .thumbnails-outer .nav .next {
  right: 0;
  text-align: center;
}
.gallery .thumbnails {
  position: absolute;
  width: 2000px;
}
.gallery .thumbnails .thumb {
  cursor: pointer;
  display: block;
  float: left;
  position: relative;
  background-color: black;
  text-align: center;
}
.gallery .thumbnails .thumb .rb {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 10px 15px;
  color: #555;
}
.gallery .thumbnails .sep {
  width: 23px;
  display: block;
  float: left;
}
.gallery.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 14;
  background-color: black;
  display: table;
  height: 100%;
  width: 100%;
  /*
        .thumbnails {
            .thumb {                                                           
                img {                                                            
                }
            }
        } 
           */
}
.gallery.fullscreen .overlay {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.gallery.fullscreen .overlay .fs-content {
  margin: 0 auto;
  /*width: 1024px;
                height: 600px;  
                    */
}
.gallery.fullscreen .counter {
  background-color: white;
  display: inline;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 8px 28px;
  font-size: 16px;
}
.gallery.fullscreen .counter .current {
  font-weight: normal;
  line-height: 24px;
  font-size: 24px;
  vertical-align: bottom;
}
.gallery.fullscreen .counter .total {
  line-height: 16px;
  font-size: 16px;
  vertical-align: bottom;
}
.gallery.fullscreen .ghead {
  text-align: left;
}
.gallery.fullscreen .ghead .show {
  display: none;
}
.gallery.fullscreen .ghead .close {
  float: right;
  display: inline;
}
.gallery.fullscreen .thumbnails-outer {
  margin-top: 20px;
  /*height: 500px; */
}
.gallery.fullscreen .thumbnails-outer .nav .prev,
.gallery.fullscreen .thumbnails-outer .nav .next {
  /*top: 200px;*/
  width: 46px;
  height: 106px;
  line-height: 116px;
  color: white;
}
.gallery.fullscreen .sep {
  display: none;
}