@import "mixins.less";
@import "settings.less";

.header {
    @media (max-width: (@mediabreak_smart - 1)) {
        padding-left: 20px;
        padding-right: 20px;
    }

    margin: 22px 0 0;
    width: 100%;
    display: table;

    @media (max-width: (@mediabreak_desktop - 1)) {
        .right {
            margin-bottom: 15px;
            float: right;
        }

        .title {
            .haveLogo {
                position: absolute;
                top: 70px;
                z-index: 1;
                margin-left: 20px;
            }
        }

        .left .title img, .left .title .Beta {
            display: none;
        }
    }

    @media (min-width: @mediabreak_desktop) {
        .left {
            display: table-cell;
        }

        .right {
            display: table-cell;
            width: 580px;
            max-width: 580px;
            text-align: right;
        }
    }



    .left {
        .title {
            display: table;
            font-weight: lighter;
            margin-top: 6px;
            color: white;

            .Beta {
                left: 218px;
                top: 6px;
                font-size: 12px;
            }

            img {
                height: 50px;
                vertical-align: bottom;
                margin-bottom: 5px;
            }

            h1 {
                /*display: table-cell;*/
                width: 100%;
                font-size: 36px;
                line-height: 36px;

                a {
                    top: 10px;
                    position: relative;
                    filter: contrast(0) brightness(100);
                }

                .hcounter {
                    vertical-align: bottom;
                    line-height: 31px;
                    margin-left: 10px;
                    font-size: 70%;
                }
            }

            .clpb {
                /*
                display: none;
                width: 70px;
                min-width: 70px;
                max-width: 70px;
                text-align: right;
                */
            }
        }

        .back {
            color: #8f8f8f;
            display: block;
            font-size: 14px;
        }

        .topheader {
            color: #8f8f8f;
            display: block;
            font-size: 18px;
        }

        .topheader-line {
            border-top: 3px solid #d71925;
            width: 40px;
            display: block;
            margin-bottom: 4px;
        }
    }
}

/*
@media(max-width:600px) {

    .submenu-mobile {
        padding-left: 0 !important;
        margin-top: 0 !important;
    }
}
    */

.filter {
    min-height: 134px;
    padding: 0 35px 10px 35px;
    width: 100%;
    font-weight: lighter;
    display: block;
    text-align: center;

    &.grayscale {
        background-color: #ebebeb !important;
    }

    .label-img {
        padding-top: 46px;
        display: inline-block;
    }

    .label {
        display: inline-block;
        line-height: 100%;
        padding-top: 50px;
        vertical-align: top;
        margin-left: 27px;
        margin-right: 24px;
        font-size: 36px;
    }

    .clear-filter {
        line-height: 100%;
        margin-top: 60px;
        float: right;
        text-align: right;
        vertical-align: middle;
        font-size: 14px;
    }

    .field {
        &.total2 {
            @media (max-width: 1099px) {
                clear: both;
                display: block;

                .combo {
                    min-width: 250px;
                    margin: 0 auto 20px auto;
                }
            }

            @media (min-width: 1100px) {
                padding-top: 54px;
                padding-left: 27px;
            }
        }

        &.total3 {
            @media (max-width: 1299px) {
                clear: both;
                display: block;

                .combo {
                    min-width: 250px;
                    margin: 0 auto 20px auto;
                }
            }

            @media (min-width: 1300px) {
                padding-top: 54px;
                padding-left: 27px;
            }
        }

        display: inline-block;
    }
}


.header-line {
    border-top: 3px solid #757575;
    height: 2px;
    display: block;
    margin-bottom: 20px;
    clear: both;

    @media (max-width: (@mediabreak_desktop - 1)) {
        &.category {
            display: none;
        }
    }
}



.subcat-rec {
    width: 386px;
    height: 267px;
    display: block;
    position: relative;
    margin-bottom: 51px;
    font-weight: lighter;

    a {
        background-size: 100% auto;
        width: 386px;
        height: 267px;
        display: block;
        position: relative;
        transition: all 0.3s;

        &:hover {
            box-shadow: 0 1px 0 #d5d5d5, 0 0 0 1px rgba(0,0,0,0.02), 0 0 20px rgba(0,0,0,0.12);
            opacity: 0.8;
        }
    }

    .panel {
        display: block;
        height: 45px;
        line-height: 40px;
        border-top: 4px solid #05a081;
        font-size: 28px;
        padding: 0 20px;
        text-decoration: none;
        background-color: #535353;
        color: white;
        text-transform: uppercase;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}


.article_full_width {
    width: 100%;
}

.social-media {
    color: white;

    span {
        font-size: 12px;
        line-height: 24px;
    }

    i {
        margin-left: 18px;
        font-size: 24px;
    }
}



.def_checkbox (@img_h, @img_on, @img_off) {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    + label {
        padding-left: @img_h + (@img_h/2);
        min-height: @img_h;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center left;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(@img_off);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &:checked + label {
        background-image: url(@img_on);
    }
}


/*input[type=checkbox] {
    .def_checkbox(20px, '/Images/check_on.png', '/Images/check_off.png');
}*/


.macro-picture {
    width: 100%;
    position: relative;

    .rb {
        color: #777;
        font-size: 12px;
        padding: 12px 28px;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: white;
    }
}

/*.header {
    .add-to-clpb {
        bottom: 10px;
        right: 10px;
        position: absolute;
    }
}*/


.macro-document {
    width: 100%;
    padding-bottom: 100%;
    position: relative;

    .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;

        > iframe,
        .flashobj {
            width: 100%;
            height: 100%;
        }
    }
}

.macro-flash {
    margin: 0 auto;
}

.macro-video {
    width: 100%;

    .play-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        transition: all 0.3s;

        &:hover {
            //opacity: 0.8;
        }
    }

    .player {
        height: 0;
        padding-bottom: 56.3%;
        position: relative;
        width: 100%;
        display: block;

        > div:nth-child(1) {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;

            iframe, video, .stream-video-dimensions, .redplayer {
                width: 100% !important;
                height: 100% !important;

                .MovieLogo {
                    position: absolute;
                    z-index: 1;
                    top: 50px;
                    left: 50px;
                    width: 50px;
                    display: none;
                }
            }

            .atdsplayer-container {
                width: inherit !important;
                height: inherit !important;
            }
        }

        .rgpl {
            width: 100% !important;
            height: 100% !important;

            .rgpl-container {
                width: 100% !important;
                height: 100% !important;

                .rgpl-settings-choice-list {

                    li {
                        left: 0;
                        list-style: none;
                        position: static;
                    }
                }
            }
        }
    }

    .show_play {
        .rgpl-overlay-buttons {
            opacity: 1;
            pointer-events: all;

            * {
                cursor: pointer;
                pointer-events: all;
            }
        }
    }

    .text {
        color: #777;
        font-size: 12px;
        padding: 12px 28px;
        text-align: right;
    }

    .metadata {
        display: table;
        width: 100%;
        font-size: 14px;
        font-weight: lighter;
        line-height: 130%;

        @media (min-width: 480px) {
            .metadata_l,
            .metadata_r {
                display: table-cell;
                width: 50%;
            }
        }

        .metadata_l,
        .metadata_r {
            padding-left: 40px;
            padding-right: 20px;
        }


        .rec {
            display: table-row;

            .k {
                display: table-cell;
                white-space: nowrap;
                padding-right: 10px;
                font-weight: bold;
                text-transform: lowercase;
            }

            .v {
                display: table-cell;
            }
        }
    }
}


.child-list {
    margin: 0 auto;

    @media (min-width: 440px) {
        .list-rec {
            width: 386px;

            .title {
                //max-width: 310px;
            }

            .pic {
                min-height: 200px;



                .rt, .bl {
                    padding: 10px 15px;
                }

                .bl {
                    min-width: 80px;
                }
            }
        }
    }

    @media (max-width: 439px) {
        .list-rec {
            width: 320px;

            .add-to-clpb {
                display: none !important;
            }

            .title {
                //max-width: 250px;
            }

            .pic {
                min-height: 157px;

                .ovlay {
                    top: 49px;
                    left: 135px;
                }

                .lead {
                    display: none;
                }

                .rt, .bl {
                    padding: 0 18px 5px 11px;
                }
            }
        }
    }

    width: 100%;

    .list-rec {
        margin: 60px auto 0 auto;
        display: block;
        transition: all 0.3s;

        &:hover {
            border-radius: 3px;
            box-shadow: 0 1px 0 #d5d5d5, 0 0 0 1px rgba(0,0,0,0.02), 0 0 20px rgba(0,0,0,0.12);

            .pic {
                opacity: 0.8;
            }

            .ovlay-play, .ovlay-info {
                opacity: 0.7 !important;
            }
        }

        .under {
            //margin-top: 15px;
            padding: 15px 15px 10px 15px;
        }

        .title-top {
            border-top: 2px solid #aaa;
            color: #aaa;
            font-weight: bold;
            padding-top: 7px;
            display: block;
            text-transform: uppercase;
        }

        .title {
            font-size: 17px;
            font-weight: lighter;
            line-height: 115%;
            margin-bottom: 10px;
            display: block;
            height: 45px;
            margin-right: 30px;
            line-height: 23px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .desc {
            font-size: 14px;
            display: block;
        }

        .add-to-clpb {
            display: block;
            float: right;
            font-size: 24px;
            line-height: 30px;
            width: 30px;
            height: 30px;
            text-align: center;
            text-decoration: none;
            top: 18px;
            right: 10px;
            position: absolute;

            &:hover {
                color: red;
                background: url('/Images/ulu_30px.png') no-repeat;
            }
        }

        .del-from-clpb {
            top: -35px;
            right: -7px;
            position: relative;
            display: block;
            float: right;
            font-size: 30px;
            line-height: 38px;
            width: 50px;
            height: 38px;
            text-align: center;
            text-decoration: none;

            &:hover {
                color: red;
            }
        }

        .pic {
            overflow: hidden;
            display: block;
            clear: both;
            width: 100%;
            position: relative;
            background-size: 100% 100%;
            transition: all 0.3s;

            .Buttons {
                display: inline-block;
                height: 66px;
                top: calc(50% - 33px);
                position: absolute;
                left: calc(50% - 60px);
            }

            .ovlay-play, .ovlay-info {
                position: relative;
                opacity: 0;
                display: inline-block;

                img {
                    height: 58px;
                    width: 58px;
                }

                &:hover {
                    opacity: 1 !important;
                }

                transition: all 0.3s;
            }

            .rt, .bl {
                position: absolute;
                background-color: white;
                font-weight: lighter;
                font-size: 18px;
            }

            .rt {
                top: 0;
                right: 0;
            }

            .bl {
                bottom: 0;
                left: 0;
            }

            .lead {
                overflow: hidden;
                position: absolute;
                width: 100%;
                left: -100%;
                bottom: -100%;
                background-color: rgba(255,255,255, 1);
                color: black;
                font-size: 14px;
                .transition-general(all 300ms);
                padding: 10px 20px;
                max-height: 210px;
            }

            .link {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            &:hover {
                .lead {
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
}


//masonry grid
.child-list {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.children .grid-sizer,
.children .grid-item {
    @media (max-width: 910px) {
        width: 100%;
    }

    @media (min-width: 911px) and (max-width: 1300px) {
        width: 50%;
    }

    @media (min-width: 1301px) and (max-width: 1690px) {
        width: 33.33%;
    }

    @media (min-width: 1691px) {
        width: 25%;
    }
}

.subcat .grid-sizer,
.subcat .grid-item {

    @media (max-width: 910px) {
        width: 100%;
    }

    @media (min-width: 911px) and (max-width: (@mediabreak_desktop - 1)) {
        width: 50%;
    }

    @media (min-width: @mediabreak_desktop) and (max-width: 1300px) {
        width: 100%;
    }

    @media (min-width: 1301px) and (max-width: 1690px) {
        width: 50%;
    }

    @media (min-width: 1691px) {
        width: 33.33%;
    }

    box-sizing: border-box;
}

.home .grid-sizer,
.home .grid-item {
    @media (max-width: 910px) {
        width: 100%;
    }

    @media (min-width: 911px) and (max-width: 1300px) {
        width: 50%;
    }

    @media (min-width: 1301px) and (max-width: 1690px) {
        width: 33.33%;
    }

    @media (min-width: 1691px) {
        width: 25%;
    }
    //???    box-sizing: border-box;
}

.grid-item {
    float: left;
    display: inline-block;
    min-height: 310px;
}
//masonry grid
.child-list-panel {
    /*margin-bottom: 70px;*/
    &.loading {
        &:after {
            background: url('/Images/loading.gif') center bottom no-repeat;
            width: 100%;
            height: 150px;
            display: block;
            content: " ";
        }
    }

    .page-nav {
        @media (max-width: 439px) {
            .next-page,
            .prev-page {
                width: 100%;

                a {
                    width: 320px;
                }
            }

            .prev-page {
                margin-top: 47px;
            }

            .pages {
                margin: 47px 0;
            }
        }

        @media (min-width: 440px) and (max-width: 1300px) {
            .next-page,
            .prev-page {
                width: 100%;

                a {
                    width: 386px;
                }
            }

            .prev-page {
                margin-top: 47px;
            }

            .pages {
                margin: 47px 0;
            }
        }

        @media (min-width: 1301px) and (max-width: 1690px) {
            .next-page,
            .prev-page {
                display: table-cell;
                width: 33%;
                padding-top: 70px;

                a {
                    width: 386px;
                }
            }

            .pages {
                display: table-cell;
                padding-top: 92px;
            }
        }

        @media (min-width: 1691px) {
            .next-page,
            .prev-page {
                display: table-cell;
                width: 25%;
                padding-top: 70px;

                a {
                    width: 386px;
                }
            }

            .pages {
                display: table-cell;
                padding-top: 92px;
            }
        }

        text-align: center;
        width: 100%;
        display: table;
        display: none;

        .next-page,
        .prev-page {
            &.visible {
                a {
                    display: block;
                }
            }

            a {
                margin: 0 auto;
                display: none;
                padding: 21px 0;
                background-color: #ebebeb;
                border: 1px solid #ededed;
                color: black;
                font-size: 18px;
                text-align: center;

                &:hover {
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }

        .pages {
            text-align: center;
            visibility: hidden;

            &.visible {
                visibility: visible;
            }

            ul {
                li {
                    font-size: 18px;
                    width: 30px;
                    padding: 0 10px;
                    display: inline-block;
                    color: white;

                    &:hover {
                        font-weight: bold;
                    }

                    &.selected {
                        color: red;
                    }
                }
            }
        }
    }

    .Lasted {
        ul {
            grid-gap: 5px;

            @media(min-width:1900px) {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }

            @media(max-width:1899px) {
                .fake {
                    display: none;
                }
            }

            @media(min-width:1600px) and (max-width:1899px) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            @media(min-width:1200px) and (max-width:1599px) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @media(min-width:700px) and (max-width:1199px) {
                grid-template-columns: 1fr 1fr;
            }

            @media(max-width:699px) {
                grid-template-columns: 1fr;
            }

            li {
                width: auto;
                /*                margin: 5px;*/
            }
        }
    }
}

.price, .priceDisc {
    display: inline-block;
    padding: 0 5px;
}

.priceDisc {
    color: red;
}

.price {
    color: black;
}

.list-loader {
    width: 100%;
    padding: 20px 30px;
    text-align: center;
}


.empty-list {
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin: 80px 0;
    color: #777;
}


.film-body-size {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &.header {
        transform: none !important;
    }
}

@media(max-width:700px) {
    .film-opis {
        table {
            width: 100%;
            height: auto;
            display: block;

            tbody {
                tr {
                    display: block;
                    width: 100%;

                    td {
                        width: 100%;
                        display: inline-block;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.top-red-line {
    display: block;
    width: 40px;
    border-bottom: 3px solid red;
}

.img-separator {
    width: 100%;
    display: block;
    height: 40px;
    background: no-repeat center center;
}

.category-border-clr_do {
    border-color: #757575;
}

.category-border-clr_fa {
    border-color: #757575;
}

.category-border-clr_kr {
    border-color: #757575;
}

.category-border-clr_an {
    border-color: #757575;
}

.no-support {
    background-color: #f7f7f7;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    border: 1px dotted gray;

    &.show {
        visibility: visible;
        color: black;
    }

    .info {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        &:before {
            content: "i";
            font-size: 50px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 25px;
            border: 1px solid black;
            display: inline-block;
        }


        .title-txt {
            font-size: 200%;
            display: block;
        }

        .info-txt {
        }
    }
}

.searchWindow {
    .grid-item {
        .list-rec {
            max-width: 98%;
        }
    }
}

@media(min-width:@mediabreak_desktop) {
    .filter {
        position: fixed;
        width: 250px;
        padding: 0 5px 25px 5px;
        z-index: 1;



        .field {
            padding-left: 0 !important;

            .combo {
                .drop, .list {
                    font-size: 18px !important;
                }

                .drop {
                    border-top: 2px solid black;
                }
            }
        }

        .label {
            margin-left: 0;
            margin-right: 0;
        }

        .label-img {
            margin-left: 25px;
        }

        .clear-filter {
            margin: 60px 15px 0px 0px;
        }
    }

    .enter {
        border-bottom: 2px solid black;
    }

    .res {
        position: absolute;
    }

    .searchWindow {
        padding-left: 260px;
    }
}



@media(max-width:@mediabreak_desktop - 1) {
    .filter {
        padding: 0 35px 25px 35px;

        .clear-filter {
            margin-top: 0;
        }
    }
}


.social-icon {
    color: #757575;
    font-size: 24px;
}

.Lasted {
    margin-top: 15px;
    /*
    &.VOD {
        margin-top: 55px;
    }*/
    color: black;

    @media(min-width:1600px) {

        ul {
            grid-template-columns: auto auto auto auto auto auto;
        }
    }

    @media(min-width:1200px) and (max-width:1599px) {

        ul {
            grid-template-columns: auto auto auto;
        }
    }

    @media(min-width:768px) and (max-width:1199px) {

        ul {
            grid-template-columns: auto auto;
        }
    }

    @media(max-width:767px) {

        ul {
            grid-template-columns: auto;
        }
    }

    ul {
        display: grid;

        li {
            padding-top: 100%;
            width: 100%;
            background-size: auto 100% !important;
            background-repeat: no-repeat !important;
            position: relative;
            background-color: #1a1a1a !important;

            .Under {
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0;

                .Description {
                    position: absolute;
                    left: 20px;
                    right: 20px;
                    bottom: 10px;
                    padding: 10px 10px 15px;
                    background-color: white;
                    transition: all 0.3s ease-in;
                    opacity: .6;
                    font-weight: bold;

                    .title {
                        font-size: 16px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        height: 50px;
                    }

                    .title-top {
                        font-size: 12px;
                        text-transform: uppercase;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }

                    .desc {
                        font-size: 14px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;

                        p {
                            margin: 0;
                        }
                    }
                }
            }

            .add-to-clpb, .del-from-clpb {
                filter: brightness(30%);
            }

            .deleteLesson {
                bottom: 10px;
                right: 10px;
                position: relative;
                display: block;
                float: right;
                font-size: 30px;
                line-height: 38px;
                width: 50px;
                height: 38px;
                text-align: center;
                text-decoration: none;
                font-size: 20px;
                z-index: 1;

                &:hover {
                    color: red;
                }
            }

            .Icon {
                position: absolute;
                z-index: 1;
                right: 25px;
                bottom: 10px;
                transition: all 0.7s;
            }

            &:hover {
                .Description {
                    left: 5px;
                    right: 5px;
                    bottom: 5px;
                    padding: 10px 30px;
                    opacity: 0.8;
                }

                .ovlay-play, .ovlay-info {
                    opacity: 0.7 !important;
                }

                .Icon {
                    right: 10px;
                    bottom: 5px;
                }
            }

            .del-from-clpb {
                background: url(/Images/ulu_30px_filled.png) no-repeat;
                filter: brightness(0.5);
            }

            .Buttons {
                display: inline-block;
                height: 66px;
                top: calc(25% - 33px);
                position: absolute;
                left: calc(50% - 60px);
                z-index: 1;

                .ovlay-play, .ovlay-info {
                    position: relative;
                    opacity: 0;
                    display: inline-block;

                    img {
                        height: 58px;
                        width: 58px;
                    }

                    &:hover {
                        opacity: 1 !important;
                    }

                    transition: all 0.3s;
                }
            }
        }

        .Okladka {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            background-position: 50% 50% !important;
            background-size: 100% auto !important;
            background-color: #949599 !important;

            .UperName {
                position: absolute;
                top: 0;
                left: 30px;
                background: white;
                opacity: .8;
                padding: 5px;
                transition: all 0.5s;
            }

            .Description {
                padding: 10px !important;

                .desc {
                    font-size: 15px;

                    p {
                        margin: 0;
                    }
                }
            }

            &:hover {
                .UperName {
                    padding-top: 10px;
                }
            }
        }
    }

    .logo {
        display: inline-block;
        margin: 20px 0 20px 60px;

        img {
            height: 50px;
        }
    }
}

.fancy-cat-name {
    line-height: 100%;
    display: block;

    &.size_2 {
        font-size: 11px;

        .red {
            padding: 3px 0;
            margin: 0;
        }

        .black {
            padding: 3px 0;
        }
    }

    &.size_4 {
        font-size: 18px;

        .red {
            padding: 3px 0;
        }

        .black {
            padding: 3px 0;
        }
    }

    &.correct-strefa {
        .black {
            padding: 3px 3px;
        }
    }

    .red {
        font-weight: bold;
        color: red;
        display: inline-block;
    }

    .black {
        color: black;
        display: inline-block;
    }

    &.white {
        .black {
            color: white;
        }
    }
}


.filterV2 {
    /*    display: inline-block;
    float: right;*/
    text-align: center;
    font-weight: bold;

    .inner {
        font-size: 16px;
        margin-top: 5px;
        background-color: white;
        padding: 10px 30px 10px 30px;
        min-height: 40px;

        .label {
            font-weight: bold;
        }

        > :first-child {
            .js-combo {
                width: 250px;
            }
        }

        .filter-fields {
            display: inline-block;

            .field {
                display: inline-block;

                .filterAll {
                    margin-right: 20px;
                    cursor: pointer;
                }
            }
        }

        .combo {
            /*width: 140px !important;*/
            width: auto !important;
            margin-right: 20px;
            min-width: unset;

            .drop {
                border-bottom: none;
                font-size: 16px;
                text-transform: uppercase;
                padding-bottom: 0 !important;
            }

            .list {
                ul li {
                    font-size: 16px !important;
                    white-space: nowrap;
                }
            }

            .dropimg {
                height: 18px;
            }
        }

        .clear-filter {
            font-weight: bold;
            text-transform: uppercase;
        }


        @media(min-width: 808px) {
            /*float: right;*/
            /*width: 700px;*/
            .filter-fields {
                display: inline-block;
            }

            .label {
                width: 100px;
                display: inline-block;
            }
        }

        @media(max-width: 607px) {
            width: 100%;

            .filter-fields {
                display: block;
                width: 300px;
                margin: 5px auto;

                .field {
                    margin-top: 5px;

                    .filterAll {
                        margin: 0px !important;
                    }
                }
            }

            .label {
                display: block;
                width: 100%;
                text-align: center;
            }

            .clear-filter {
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }

    @media(max-width:1200px) {
        width: 100%;

        .inner {
            width: 100%;
            text-align: center;
        }
    }
}

.CollectionBaner {
    margin-top: 10px;

    img {
        margin: 10px auto;
        display: block;
    }
}

@mediabreak_receiver_toggle_smart: 800px;

.smart-receiver-toggle {
    background-color: white;
    margin-bottom: 5px;

    .receiver-toggle {
        width: 252px;
        margin: 0 auto;
    }

    @media (min-width: @mediabreak_receiver_toggle_smart) {
        display: none;
    }
}



.submenu-mobile {


    @media (min-width: @mediabreak_desktop) {
        display: none;
    }

    @media (max-width: (@mediabreak_desktop - 1)) {
        background-color: white;
        display: block;

        .sm-inner {
            padding: 26px 20px 16px 20px;
            display: inline-block;
            text-align: center;
        }

        .current {
            display: inline-block;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;

            img {
                height: 50px;
            }
        }

        .category {
            display: inline-block;

            .combo {
                //float: right;
                .list {
                    width: 100% !important;

                    li {
                        text-align: center;
                    }
                }

                .drop {
                    border-bottom: none;
                }
            }
        }

        .midsmart-receiver-toggle {
            float: right;
            height: 84px;
            padding: 21px 15px 21px 15px;
            line-height: 42px;

            li {
                display: table-cell;
                /*height: 84px;*/
                vertical-align: middle;

                a {
                    margin-right: 10px;
                }
            }

            .selected {
                font-weight: 900;
                color: red;
            }
        }
    }

    @media (max-width: (1050px)) {

        .midsmart-receiver-toggle {
            height: auto;

            li {
                display: table-cell;
                height: auto;
                font-size: 15px;

                a {
                    margin-right: 10px;
                }
            }

            .selected {
                font-weight: 900;
            }
        }

        .category {
        }
    }

    @media (max-width:330px) {
        .submenu-mobile {
            .midsmart-receiver-toggle {
                font-size: 19px;
            }
        }
    }
}

.add-to-clpb, .del-from-clpb {
    text-decoration: none !important;
    display: block;
    float: right;
    font-size: 25px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.7s;
    background: url(/Images/ulu_30px.png) no-repeat;
    background-size: 100% 100% !important;

    &.added {
        background: url(/Images/ulu_30px_filled.png) no-repeat;
    }
}

@keyframes play-first {
    from {
        transform: rotate(0deg);
        width: 160px;
        height: 160px;
        top: calc(50% - 80px);
        left: calc(50% - 80px);
    }

    to {
        transform: rotate(90deg);
        width: 80px;
        height: 80px;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
    }
}

@keyframes play-anim-logo {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes play-anim-btn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes play-anim-btn-pulse {
    0% {
        width: 100%;
        opacity: 1;
        height: 100%;
    }

    50% {
        width: 30%;
        opacity: 0.3;
        height: 30%;
    }

    100% {
        width: 100%;
        opacity: 1;
        height: 100%;
    }
}

@keyframes napis-anim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes background {
    from {
    }

    to {
        background: gray;
    }
}

.atdsplayer-container {
    .atdsplayer-btn-play-big {
        background-color: transparent;
        border-radius: 0;
        background: none;

        &:before {
            margin-left: 0;
            content: '';
            background: url(/Images/play-logo-btn.png);
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
            transform: rotate(90deg);
            opacity: 0;
            display: block;
        }

        &:hover {
            background-color: transparent;
        }
    }

    .atdsplayer-controls-bar {
    }

    .atdsplayer-settings-choice-list {
        /*background: red;*/
        ul {
            /*width: 139px;
            position: relative;*/
            li {
                left: auto;

                &:before {
                    display: none;
                }
            }
        }
    }
}

@keyframes pulse-play-anim-btn {
    0% {
        opacity: 0.3;
        // padding: 3px;
        transform: translate(-50%,-50%) scale(1);
    }

    50% {
        opacity: 1;
        // padding: 10px;
        transform: translate(-50%,-50%) scale(.3);
    }

    100% {
        opacity: 0.3;
        transform: translate(-50%,-50%) scale(1);
    }
}

@keyframes Show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.article-logotypy {
    background-color: white;
    padding: 0 0 10px 0;
    margin-top: 50px;

    .litems {
        display: block;
        text-align: center;

        .litem {
            display: block;


            img {
                max-height: 70px;
            }
        }

        @media(min-width:400px) {
            .litem {
                display: inline-block;

                &:last-child {
                    grid-column: ~"1/3";
                }
            }

            grid-template-columns: auto auto;
            display: grid;
            grid-template-columns: auto;
        }


        @media(min-width:@mediabreak_smart) {
            grid-template-columns: auto auto auto;

            .litem {
                &:last-child {
                    grid-column: ~"2/3";
                }
            }
        }

        @media(min-width:@mediabreak_desktop) {
            grid-template-columns: auto auto auto auto auto auto auto auto;

            .litem {
                grid-column: auto !important;
            }
        }
    }

    @media (min-width: 1360px) {
        .litem {
            min-width: 100px;
            margin: 18px 25px 0 25px;
        }
    }

    @media (min-width: 541px) and (max-width: 1359px) {
        .litem {
            min-width: 100px;
            margin: 18px 20px 0 20px;
        }
    }


    @media (max-width: 540px) {
        .litem {
            min-width: 80px;
            margin: 18px 5px 0 5px;
        }
    }
}

.intext-table {
    width: unset;

    td {
        padding-right: 15px;
    }
}

body {
    .child-list-panel {
        .Okladka2 {
            grid-column-start: auto;
            grid-column-end: auto;
            grid-row-start: auto;
            grid-row-end: auto;
        }
    }
}

.ck-content {
    height: 200px;
}

.avatar {
    border: 1px solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 40px;
    text-transform: uppercase;
    margin: auto;
}

.Pop {
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    background: transparent;
    z-index: -100;
    transition: all 0s;
    transition-delay: 2s;



    .form-horizontal {
        color: black;
        top: 50%;
        left: 50%;
        overflow: auto;
        max-width: 80%;
        width: 1000px;
        max-height: 80%;
        position: absolute;
        background: white;
        padding: 30px;
        z-index: 1;
        transition: all 1s;
        transition-delay: 0s;
        transform: translate(-50%, -500%);

        .tree-view {
            > ul {
                height: 300px;
                overflow: auto;
                border: 1px solid;
                padding: 10px;
                margin: 10px;

                .status {
                    margin-left: 20px;
                }
            }

            .lekcje {
                a {
                    display: block;
                    /*color: gray;*/
                }

                li {

                    .fa-chevron-down {
                        display: none;
                    }

                    span {
                        user-select: none;
                        margin-left: 15px;
                    }

                    ul {
                        margin-left: 40px;
                    }

                    .box {
                        cursor: pointer;
                        -webkit-user-select: none; /* Safari 3.1+ */
                        -moz-user-select: none; /* Firefox 2+ */
                        -ms-user-select: none; /* IE 10+ */
                        user-select: none;
                        display: flex;

                        &:before {
                            content: "\2610";
                            color: black;
                            display: inline-block;
                            margin-right: 6px;
                        }
                    }
                }

                .hidden {

                    .fa-chevron-down {
                        display: inline-block;
                    }

                    .fa-chevron-up {
                        display: none;
                    }

                    ul {
                        display: none;
                    }
                }

                .active {
                    background-color: lightgreen;
                }
            }

            .PupilButtons {
                display: inline-block;
                float: right;

                a {
                    margin-right: 5px;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }

        .hint {
            color: black;

            &:before {
                content: "* ";
            }
        }

        .form {
            margin-bottom: 10px;
        }

        .buttons, .close {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            gap: 10px;


            a {
                padding: 10px 30px;
                background-color: #b8b9bd;
                border: 1px solid #b8b9bd;
                color: black;
                font-size: 18px;
                text-align: center;
                position: relative;
                display: inline-block;
                margin-top: 10px;
                display: block;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    .close {
        display: block;
    }

    .background {
        width: 100%;
        height: 100%;
        opacity: 0;
        background: gray;
        transition: all 1s;
        transition-delay: 1s;
    }

    .hide {
        display: none !important;
    }

    .Ok {
        text-align: center;
        font-size: 20px;
        display: block;
    }

    h4 {
        margin-top: 15px;
        font-size: 23px;
        text-align: center;
    }

    #first, #secoond {
        display: block;
        overflow: hidden;
        border-bottom: 1px solid;
        padding-bottom: 10px;
        transition: 1s;
    }

    #first {
        height: 400px;
    }

    #secoond {
        height: 390px;
    }

    .Hidden {
        height: 0 !important;
    }
}

.Show {
    z-index: 101;
    opacity: 1;
    transition-delay: 0s;

    .background {
        transition-delay: 0s;
        opacity: 0.95;
    }

    .form-horizontal {
        transform: translate(-50%, -50%);
    }

    .form-group {
        border-bottom: 1px solid black;

        label {
            margin-top: 10px;
            padding-bottom: 20px;
            line-height: 120%;
            margin-right: 10px;
            display: inline-block;
            font-size: 18px;
        }
    }

    input, textarea {
        text-align: left;
        margin-top: 10px;
        padding-bottom: 20px;
        width: calc(100% - 54px);
        line-height: 120%;
        border: none;
        background-color: transparent;
        width: 100%;
        font-size: 20px;
        color: black;
        resize: none;
    }

    input[type=file] {
        border: 0;
    }

    input[type=date] {
        width: auto;
    }

    .active {
        .box::before {
            content: "\2611" !important;
        }
    }
}

.FooterHide {
    z-index: -1;
}

.ContentLock {
    height: 20px;
    margin-right: 5px;
    z-index: 1;
    transition: all 0.7s;
}

input[type="date"]::-webkit-color-datetime-edit {
    background: red;
}

.altColor {
    color: black;
    font-size: 20px !important;
}


::-moz-placeholder { /* Mozilla Firefox 19+ */
    line-height: 48px;
}

::-webkit-input-placeholder { /* Webkit */
    line-height: 48px;
}

:-ms-input-placeholder { /* IE */
    line-height: 48px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input[type="date"]:after {
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f133';
    position: relative;
    right: 21px;
    color: #999;
}

.MovieLogo {
    position: absolute;
    z-index: 1;
    top: 3%;
    left: 5%;
    width: 50px;
    max-width: 7%;
    display: none;
}
