﻿/**/
.header {
  margin: 22px 0 0;
  width: 100%;
  display: table;
}
@media (max-width: 619px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1279px) {
  .header .right {
    margin-bottom: 15px;
    float: right;
  }
  .header .title .haveLogo {
    position: absolute;
    top: 70px;
    z-index: 1;
    margin-left: 20px;
  }
  .header .left .title img,
  .header .left .title .Beta {
    display: none;
  }
}
@media (min-width: 1280px) {
  .header .left {
    display: table-cell;
  }
  .header .right {
    display: table-cell;
    width: 580px;
    max-width: 580px;
    text-align: right;
  }
}
.header .left .title {
  display: table;
  font-weight: lighter;
  margin-top: 6px;
  color: white;
}
.header .left .title .Beta {
  left: 218px;
  top: 6px;
  font-size: 12px;
}
.header .left .title img {
  height: 50px;
  vertical-align: bottom;
  margin-bottom: 5px;
}
.header .left .title h1 {
  /*display: table-cell;*/
  width: 100%;
  font-size: 36px;
  line-height: 36px;
}
.header .left .title h1 a {
  top: 10px;
  position: relative;
  filter: contrast(0) brightness(100);
}
.header .left .title h1 .hcounter {
  vertical-align: bottom;
  line-height: 31px;
  margin-left: 10px;
  font-size: 70%;
}
.header .left .title .clpb {
  /*
                display: none;
                width: 70px;
                min-width: 70px;
                max-width: 70px;
                text-align: right;
                */
}
.header .left .back {
  color: #8f8f8f;
  display: block;
  font-size: 14px;
}
.header .left .topheader {
  color: #8f8f8f;
  display: block;
  font-size: 18px;
}
.header .left .topheader-line {
  border-top: 3px solid #d71925;
  width: 40px;
  display: block;
  margin-bottom: 4px;
}
/*
@media(max-width:600px) {

    .submenu-mobile {
        padding-left: 0 !important;
        margin-top: 0 !important;
    }
}
    */
.filter {
  min-height: 134px;
  padding: 0 35px 10px 35px;
  width: 100%;
  font-weight: lighter;
  display: block;
  text-align: center;
}
.filter.grayscale {
  background-color: #ebebeb !important;
}
.filter .label-img {
  padding-top: 46px;
  display: inline-block;
}
.filter .label {
  display: inline-block;
  line-height: 100%;
  padding-top: 50px;
  vertical-align: top;
  margin-left: 27px;
  margin-right: 24px;
  font-size: 36px;
}
.filter .clear-filter {
  line-height: 100%;
  margin-top: 60px;
  float: right;
  text-align: right;
  vertical-align: middle;
  font-size: 14px;
}
.filter .field {
  display: inline-block;
}
@media (max-width: 1099px) {
  .filter .field.total2 {
    clear: both;
    display: block;
  }
  .filter .field.total2 .combo {
    min-width: 250px;
    margin: 0 auto 20px auto;
  }
}
@media (min-width: 1100px) {
  .filter .field.total2 {
    padding-top: 54px;
    padding-left: 27px;
  }
}
@media (max-width: 1299px) {
  .filter .field.total3 {
    clear: both;
    display: block;
  }
  .filter .field.total3 .combo {
    min-width: 250px;
    margin: 0 auto 20px auto;
  }
}
@media (min-width: 1300px) {
  .filter .field.total3 {
    padding-top: 54px;
    padding-left: 27px;
  }
}
.header-line {
  border-top: 3px solid #757575;
  height: 2px;
  display: block;
  margin-bottom: 20px;
  clear: both;
}
@media (max-width: 1279px) {
  .header-line.category {
    display: none;
  }
}
.subcat-rec {
  width: 386px;
  height: 267px;
  display: block;
  position: relative;
  margin-bottom: 51px;
  font-weight: lighter;
}
.subcat-rec a {
  background-size: 100% auto;
  width: 386px;
  height: 267px;
  display: block;
  position: relative;
  transition: all 0.3s;
}
.subcat-rec a:hover {
  box-shadow: 0 1px 0 #d5d5d5, 0 0 0 1px rgba(0, 0, 0, 0.02), 0 0 20px rgba(0, 0, 0, 0.12);
  opacity: 0.8;
}
.subcat-rec .panel {
  display: block;
  height: 45px;
  line-height: 40px;
  border-top: 4px solid #05a081;
  font-size: 28px;
  padding: 0 20px;
  text-decoration: none;
  background-color: #535353;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.article_full_width {
  width: 100%;
}
.social-media {
  color: white;
}
.social-media span {
  font-size: 12px;
  line-height: 24px;
}
.social-media i {
  margin-left: 18px;
  font-size: 24px;
}
/*input[type=checkbox] {
    .def_checkbox(20px, '/Images/check_on.png', '/Images/check_off.png');
}*/
.macro-picture {
  width: 100%;
  position: relative;
}
.macro-picture .rb {
  color: #777;
  font-size: 12px;
  padding: 12px 28px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: white;
}
/*.header {
    .add-to-clpb {
        bottom: 10px;
        right: 10px;
        position: absolute;
    }
}*/
.macro-document {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.macro-document .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
}
.macro-document .inner > iframe,
.macro-document .inner .flashobj {
  width: 100%;
  height: 100%;
}
.macro-flash {
  margin: 0 auto;
}
.macro-video {
  width: 100%;
}
.macro-video .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 0.3s;
}
.macro-video .player {
  height: 0;
  padding-bottom: 56.3%;
  position: relative;
  width: 100%;
  display: block;
}
.macro-video .player > div:nth-child(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.macro-video .player > div:nth-child(1) iframe,
.macro-video .player > div:nth-child(1) video,
.macro-video .player > div:nth-child(1) .stream-video-dimensions,
.macro-video .player > div:nth-child(1) .redplayer {
  width: 100% !important;
  height: 100% !important;
}
.macro-video .player > div:nth-child(1) iframe .MovieLogo,
.macro-video .player > div:nth-child(1) video .MovieLogo,
.macro-video .player > div:nth-child(1) .stream-video-dimensions .MovieLogo,
.macro-video .player > div:nth-child(1) .redplayer .MovieLogo {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 50px;
  width: 50px;
  display: none;
}
.macro-video .player > div:nth-child(1) .atdsplayer-container {
  width: inherit !important;
  height: inherit !important;
}
.macro-video .player .rgpl {
  width: 100% !important;
  height: 100% !important;
}
.macro-video .player .rgpl .rgpl-container {
  width: 100% !important;
  height: 100% !important;
}
.macro-video .player .rgpl .rgpl-container .rgpl-settings-choice-list li {
  left: 0;
  list-style: none;
  position: static;
}
.macro-video .show_play .rgpl-overlay-buttons {
  opacity: 1;
  pointer-events: all;
}
.macro-video .show_play .rgpl-overlay-buttons * {
  cursor: pointer;
  pointer-events: all;
}
.macro-video .text {
  color: #777;
  font-size: 12px;
  padding: 12px 28px;
  text-align: right;
}
.macro-video .metadata {
  display: table;
  width: 100%;
  font-size: 14px;
  font-weight: lighter;
  line-height: 130%;
}
@media (min-width: 480px) {
  .macro-video .metadata .metadata_l,
  .macro-video .metadata .metadata_r {
    display: table-cell;
    width: 50%;
  }
}
.macro-video .metadata .metadata_l,
.macro-video .metadata .metadata_r {
  padding-left: 40px;
  padding-right: 20px;
}
.macro-video .metadata .rec {
  display: table-row;
}
.macro-video .metadata .rec .k {
  display: table-cell;
  white-space: nowrap;
  padding-right: 10px;
  font-weight: bold;
  text-transform: lowercase;
}
.macro-video .metadata .rec .v {
  display: table-cell;
}
.child-list {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 440px) {
  .child-list .list-rec {
    width: 386px;
  }
  .child-list .list-rec .pic {
    min-height: 200px;
  }
  .child-list .list-rec .pic .rt,
  .child-list .list-rec .pic .bl {
    padding: 10px 15px;
  }
  .child-list .list-rec .pic .bl {
    min-width: 80px;
  }
}
@media (max-width: 439px) {
  .child-list .list-rec {
    width: 320px;
  }
  .child-list .list-rec .add-to-clpb {
    display: none !important;
  }
  .child-list .list-rec .pic {
    min-height: 157px;
  }
  .child-list .list-rec .pic .ovlay {
    top: 49px;
    left: 135px;
  }
  .child-list .list-rec .pic .lead {
    display: none;
  }
  .child-list .list-rec .pic .rt,
  .child-list .list-rec .pic .bl {
    padding: 0 18px 5px 11px;
  }
}
.child-list .list-rec {
  margin: 60px auto 0 auto;
  display: block;
  transition: all 0.3s;
}
.child-list .list-rec:hover {
  border-radius: 3px;
  box-shadow: 0 1px 0 #d5d5d5, 0 0 0 1px rgba(0, 0, 0, 0.02), 0 0 20px rgba(0, 0, 0, 0.12);
}
.child-list .list-rec:hover .pic {
  opacity: 0.8;
}
.child-list .list-rec:hover .ovlay-play,
.child-list .list-rec:hover .ovlay-info {
  opacity: 0.7 !important;
}
.child-list .list-rec .under {
  padding: 15px 15px 10px 15px;
}
.child-list .list-rec .title-top {
  border-top: 2px solid #aaa;
  color: #aaa;
  font-weight: bold;
  padding-top: 7px;
  display: block;
  text-transform: uppercase;
}
.child-list .list-rec .title {
  font-size: 17px;
  font-weight: lighter;
  line-height: 115%;
  margin-bottom: 10px;
  display: block;
  height: 45px;
  margin-right: 30px;
  line-height: 23px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.child-list .list-rec .desc {
  font-size: 14px;
  display: block;
}
.child-list .list-rec .add-to-clpb {
  display: block;
  float: right;
  font-size: 24px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  top: 18px;
  right: 10px;
  position: absolute;
}
.child-list .list-rec .add-to-clpb:hover {
  color: red;
  background: url('/Images/ulu_30px.png') no-repeat;
}
.child-list .list-rec .del-from-clpb {
  top: -35px;
  right: -7px;
  position: relative;
  display: block;
  float: right;
  font-size: 30px;
  line-height: 38px;
  width: 50px;
  height: 38px;
  text-align: center;
  text-decoration: none;
}
.child-list .list-rec .del-from-clpb:hover {
  color: red;
}
.child-list .list-rec .pic {
  overflow: hidden;
  display: block;
  clear: both;
  width: 100%;
  position: relative;
  background-size: 100% 100%;
  transition: all 0.3s;
}
.child-list .list-rec .pic .Buttons {
  display: inline-block;
  height: 66px;
  top: calc(50% - 33px);
  position: absolute;
  left: calc(50% - 60px);
}
.child-list .list-rec .pic .ovlay-play,
.child-list .list-rec .pic .ovlay-info {
  position: relative;
  opacity: 0;
  display: inline-block;
  transition: all 0.3s;
}
.child-list .list-rec .pic .ovlay-play img,
.child-list .list-rec .pic .ovlay-info img {
  height: 58px;
  width: 58px;
}
.child-list .list-rec .pic .ovlay-play:hover,
.child-list .list-rec .pic .ovlay-info:hover {
  opacity: 1 !important;
}
.child-list .list-rec .pic .rt,
.child-list .list-rec .pic .bl {
  position: absolute;
  background-color: white;
  font-weight: lighter;
  font-size: 18px;
}
.child-list .list-rec .pic .rt {
  top: 0;
  right: 0;
}
.child-list .list-rec .pic .bl {
  bottom: 0;
  left: 0;
}
.child-list .list-rec .pic .lead {
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: -100%;
  bottom: -100%;
  background-color: #ffffff;
  color: black;
  font-size: 14px;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
  padding: 10px 20px;
  max-height: 210px;
}
.child-list .list-rec .pic .link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.child-list .list-rec .pic:hover .lead {
  left: 0;
  bottom: 0;
}
.child-list:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 910px) {
  .children .grid-sizer,
  .children .grid-item {
    width: 100%;
  }
}
@media (min-width: 911px) and (max-width: 1300px) {
  .children .grid-sizer,
  .children .grid-item {
    width: 50%;
  }
}
@media (min-width: 1301px) and (max-width: 1690px) {
  .children .grid-sizer,
  .children .grid-item {
    width: 33.33%;
  }
}
@media (min-width: 1691px) {
  .children .grid-sizer,
  .children .grid-item {
    width: 25%;
  }
}
.subcat .grid-sizer,
.subcat .grid-item {
  box-sizing: border-box;
}
@media (max-width: 910px) {
  .subcat .grid-sizer,
  .subcat .grid-item {
    width: 100%;
  }
}
@media (min-width: 911px) and (max-width: 1279px) {
  .subcat .grid-sizer,
  .subcat .grid-item {
    width: 50%;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .subcat .grid-sizer,
  .subcat .grid-item {
    width: 100%;
  }
}
@media (min-width: 1301px) and (max-width: 1690px) {
  .subcat .grid-sizer,
  .subcat .grid-item {
    width: 50%;
  }
}
@media (min-width: 1691px) {
  .subcat .grid-sizer,
  .subcat .grid-item {
    width: 33.33%;
  }
}
@media (max-width: 910px) {
  .home .grid-sizer,
  .home .grid-item {
    width: 100%;
  }
}
@media (min-width: 911px) and (max-width: 1300px) {
  .home .grid-sizer,
  .home .grid-item {
    width: 50%;
  }
}
@media (min-width: 1301px) and (max-width: 1690px) {
  .home .grid-sizer,
  .home .grid-item {
    width: 33.33%;
  }
}
@media (min-width: 1691px) {
  .home .grid-sizer,
  .home .grid-item {
    width: 25%;
  }
}
.grid-item {
  float: left;
  display: inline-block;
  min-height: 310px;
}
.child-list-panel {
  /*margin-bottom: 70px;*/
}
.child-list-panel.loading:after {
  background: url('/Images/loading.gif') center bottom no-repeat;
  width: 100%;
  height: 150px;
  display: block;
  content: " ";
}
.child-list-panel .page-nav {
  text-align: center;
  width: 100%;
  display: table;
  display: none;
}
@media (max-width: 439px) {
  .child-list-panel .page-nav .next-page,
  .child-list-panel .page-nav .prev-page {
    width: 100%;
  }
  .child-list-panel .page-nav .next-page a,
  .child-list-panel .page-nav .prev-page a {
    width: 320px;
  }
  .child-list-panel .page-nav .prev-page {
    margin-top: 47px;
  }
  .child-list-panel .page-nav .pages {
    margin: 47px 0;
  }
}
@media (min-width: 440px) and (max-width: 1300px) {
  .child-list-panel .page-nav .next-page,
  .child-list-panel .page-nav .prev-page {
    width: 100%;
  }
  .child-list-panel .page-nav .next-page a,
  .child-list-panel .page-nav .prev-page a {
    width: 386px;
  }
  .child-list-panel .page-nav .prev-page {
    margin-top: 47px;
  }
  .child-list-panel .page-nav .pages {
    margin: 47px 0;
  }
}
@media (min-width: 1301px) and (max-width: 1690px) {
  .child-list-panel .page-nav .next-page,
  .child-list-panel .page-nav .prev-page {
    display: table-cell;
    width: 33%;
    padding-top: 70px;
  }
  .child-list-panel .page-nav .next-page a,
  .child-list-panel .page-nav .prev-page a {
    width: 386px;
  }
  .child-list-panel .page-nav .pages {
    display: table-cell;
    padding-top: 92px;
  }
}
@media (min-width: 1691px) {
  .child-list-panel .page-nav .next-page,
  .child-list-panel .page-nav .prev-page {
    display: table-cell;
    width: 25%;
    padding-top: 70px;
  }
  .child-list-panel .page-nav .next-page a,
  .child-list-panel .page-nav .prev-page a {
    width: 386px;
  }
  .child-list-panel .page-nav .pages {
    display: table-cell;
    padding-top: 92px;
  }
}
.child-list-panel .page-nav .next-page.visible a,
.child-list-panel .page-nav .prev-page.visible a {
  display: block;
}
.child-list-panel .page-nav .next-page a,
.child-list-panel .page-nav .prev-page a {
  margin: 0 auto;
  display: none;
  padding: 21px 0;
  background-color: #ebebeb;
  border: 1px solid #ededed;
  color: black;
  font-size: 18px;
  text-align: center;
}
.child-list-panel .page-nav .next-page a:hover,
.child-list-panel .page-nav .prev-page a:hover {
  font-weight: bold;
  text-decoration: none;
}
.child-list-panel .page-nav .pages {
  text-align: center;
  visibility: hidden;
}
.child-list-panel .page-nav .pages.visible {
  visibility: visible;
}
.child-list-panel .page-nav .pages ul li {
  font-size: 18px;
  width: 30px;
  padding: 0 10px;
  display: inline-block;
  color: white;
}
.child-list-panel .page-nav .pages ul li:hover {
  font-weight: bold;
}
.child-list-panel .page-nav .pages ul li.selected {
  color: red;
}
.child-list-panel .Lasted ul {
  grid-gap: 5px;
}
@media (min-width: 1900px) {
  .child-list-panel .Lasted ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1899px) {
  .child-list-panel .Lasted ul .fake {
    display: none;
  }
}
@media (min-width: 1600px) and (max-width: 1899px) {
  .child-list-panel .Lasted ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .child-list-panel .Lasted ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 700px) and (max-width: 1199px) {
  .child-list-panel .Lasted ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 699px) {
  .child-list-panel .Lasted ul {
    grid-template-columns: 1fr;
  }
}
.child-list-panel .Lasted ul li {
  width: auto;
  /*                margin: 5px;*/
}
.price,
.priceDisc {
  display: inline-block;
  padding: 0 5px;
}
.priceDisc {
  color: red;
}
.price {
  color: black;
}
.list-loader {
  width: 100%;
  padding: 20px 30px;
  text-align: center;
}
.empty-list {
  font-size: 36px;
  width: 100%;
  text-align: center;
  margin: 80px 0;
  color: #777;
}
.film-body-size {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.film-body-size.header {
  transform: none !important;
}
@media (max-width: 700px) {
  .film-opis table {
    width: 100%;
    height: auto;
    display: block;
  }
  .film-opis table tbody tr {
    display: block;
    width: 100%;
  }
  .film-opis table tbody tr td {
    width: 100%;
    display: inline-block;
    height: 100%;
  }
}
.top-red-line {
  display: block;
  width: 40px;
  border-bottom: 3px solid red;
}
.img-separator {
  width: 100%;
  display: block;
  height: 40px;
  background: no-repeat center center;
}
.category-border-clr_do {
  border-color: #757575;
}
.category-border-clr_fa {
  border-color: #757575;
}
.category-border-clr_kr {
  border-color: #757575;
}
.category-border-clr_an {
  border-color: #757575;
}
.no-support {
  background-color: #f7f7f7;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  border: 1px dotted gray;
}
.no-support.show {
  visibility: visible;
  color: black;
}
.no-support .info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.no-support .info:before {
  content: "i";
  font-size: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  border: 1px solid black;
  display: inline-block;
}
.no-support .info .title-txt {
  font-size: 200%;
  display: block;
}
.searchWindow .grid-item .list-rec {
  max-width: 98%;
}
@media (min-width: 1280px) {
  .filter {
    position: fixed;
    width: 250px;
    padding: 0 5px 25px 5px;
    z-index: 1;
  }
  .filter .field {
    padding-left: 0 !important;
  }
  .filter .field .combo .drop,
  .filter .field .combo .list {
    font-size: 18px !important;
  }
  .filter .field .combo .drop {
    border-top: 2px solid black;
  }
  .filter .label {
    margin-left: 0;
    margin-right: 0;
  }
  .filter .label-img {
    margin-left: 25px;
  }
  .filter .clear-filter {
    margin: 60px 15px 0px 0px;
  }
  .enter {
    border-bottom: 2px solid black;
  }
  .res {
    position: absolute;
  }
  .searchWindow {
    padding-left: 260px;
  }
}
@media (max-width: 1279px) {
  .filter {
    padding: 0 35px 25px 35px;
  }
  .filter .clear-filter {
    margin-top: 0;
  }
}
.social-icon {
  color: #757575;
  font-size: 24px;
}
.Lasted {
  margin-top: 15px;
  /*
    &.VOD {
        margin-top: 55px;
    }*/
  color: black;
}
@media (min-width: 1600px) {
  .Lasted ul {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .Lasted ul {
    grid-template-columns: auto auto auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .Lasted ul {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 767px) {
  .Lasted ul {
    grid-template-columns: auto;
  }
}
.Lasted ul {
  display: grid;
}
.Lasted ul li {
  padding-top: 100%;
  width: 100%;
  background-size: auto 100% !important;
  background-repeat: no-repeat !important;
  position: relative;
  background-color: #1a1a1a !important;
}
.Lasted ul li .Under {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0;
}
.Lasted ul li .Under .Description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 10px;
  padding: 10px 10px 15px;
  background-color: white;
  transition: all 0.3s ease-in;
  opacity: 0.6;
  font-weight: bold;
}
.Lasted ul li .Under .Description .title {
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 50px;
}
.Lasted ul li .Under .Description .title-top {
  font-size: 12px;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.Lasted ul li .Under .Description .desc {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.Lasted ul li .Under .Description .desc p {
  margin: 0;
}
.Lasted ul li .add-to-clpb,
.Lasted ul li .del-from-clpb {
  filter: brightness(30%);
}
.Lasted ul li .deleteLesson {
  bottom: 10px;
  right: 10px;
  position: relative;
  display: block;
  float: right;
  font-size: 30px;
  line-height: 38px;
  width: 50px;
  height: 38px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  z-index: 1;
}
.Lasted ul li .deleteLesson:hover {
  color: red;
}
.Lasted ul li .Icon {
  position: absolute;
  z-index: 1;
  right: 25px;
  bottom: 10px;
  transition: all 0.7s;
}
.Lasted ul li:hover .Description {
  left: 5px;
  right: 5px;
  bottom: 5px;
  padding: 10px 30px;
  opacity: 0.8;
}
.Lasted ul li:hover .ovlay-play,
.Lasted ul li:hover .ovlay-info {
  opacity: 0.7 !important;
}
.Lasted ul li:hover .Icon {
  right: 10px;
  bottom: 5px;
}
.Lasted ul li .del-from-clpb {
  background: url(/Images/ulu_30px_filled.png) no-repeat;
  filter: brightness(0.5);
}
.Lasted ul li .Buttons {
  display: inline-block;
  height: 66px;
  top: calc(25% - 33px);
  position: absolute;
  left: calc(50% - 60px);
  z-index: 1;
}
.Lasted ul li .Buttons .ovlay-play,
.Lasted ul li .Buttons .ovlay-info {
  position: relative;
  opacity: 0;
  display: inline-block;
  transition: all 0.3s;
}
.Lasted ul li .Buttons .ovlay-play img,
.Lasted ul li .Buttons .ovlay-info img {
  height: 58px;
  width: 58px;
}
.Lasted ul li .Buttons .ovlay-play:hover,
.Lasted ul li .Buttons .ovlay-info:hover {
  opacity: 1 !important;
}
.Lasted ul .Okladka {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  background-position: 50% 50% !important;
  background-size: 100% auto !important;
  background-color: #949599 !important;
}
.Lasted ul .Okladka .UperName {
  position: absolute;
  top: 0;
  left: 30px;
  background: white;
  opacity: 0.8;
  padding: 5px;
  transition: all 0.5s;
}
.Lasted ul .Okladka .Description {
  padding: 10px !important;
}
.Lasted ul .Okladka .Description .desc {
  font-size: 15px;
}
.Lasted ul .Okladka .Description .desc p {
  margin: 0;
}
.Lasted ul .Okladka:hover .UperName {
  padding-top: 10px;
}
.Lasted .logo {
  display: inline-block;
  margin: 20px 0 20px 60px;
}
.Lasted .logo img {
  height: 50px;
}
.fancy-cat-name {
  line-height: 100%;
  display: block;
}
.fancy-cat-name.size_2 {
  font-size: 11px;
}
.fancy-cat-name.size_2 .red {
  padding: 3px 0;
  margin: 0;
}
.fancy-cat-name.size_2 .black {
  padding: 3px 0;
}
.fancy-cat-name.size_4 {
  font-size: 18px;
}
.fancy-cat-name.size_4 .red {
  padding: 3px 0;
}
.fancy-cat-name.size_4 .black {
  padding: 3px 0;
}
.fancy-cat-name.correct-strefa .black {
  padding: 3px 3px;
}
.fancy-cat-name .red {
  font-weight: bold;
  color: red;
  display: inline-block;
}
.fancy-cat-name .black {
  color: black;
  display: inline-block;
}
.fancy-cat-name.white .black {
  color: white;
}
.filterV2 {
  /*    display: inline-block;
    float: right;*/
  text-align: center;
  font-weight: bold;
}
.filterV2 .inner {
  font-size: 16px;
  margin-top: 5px;
  background-color: white;
  padding: 10px 30px 10px 30px;
  min-height: 40px;
}
.filterV2 .inner .label {
  font-weight: bold;
}
.filterV2 .inner > :first-child .js-combo {
  width: 250px;
}
.filterV2 .inner .filter-fields {
  display: inline-block;
}
.filterV2 .inner .filter-fields .field {
  display: inline-block;
}
.filterV2 .inner .filter-fields .field .filterAll {
  margin-right: 20px;
  cursor: pointer;
}
.filterV2 .inner .combo {
  /*width: 140px !important;*/
  width: auto !important;
  margin-right: 20px;
  min-width: unset;
}
.filterV2 .inner .combo .drop {
  border-bottom: none;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 0 !important;
}
.filterV2 .inner .combo .list ul li {
  font-size: 16px !important;
  white-space: nowrap;
}
.filterV2 .inner .combo .dropimg {
  height: 18px;
}
.filterV2 .inner .clear-filter {
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 808px) {
  .filterV2 .inner {
    /*float: right;*/
    /*width: 700px;*/
  }
  .filterV2 .inner .filter-fields {
    display: inline-block;
  }
  .filterV2 .inner .label {
    width: 100px;
    display: inline-block;
  }
}
@media (max-width: 607px) {
  .filterV2 .inner {
    width: 100%;
  }
  .filterV2 .inner .filter-fields {
    display: block;
    width: 300px;
    margin: 5px auto;
  }
  .filterV2 .inner .filter-fields .field {
    margin-top: 5px;
  }
  .filterV2 .inner .filter-fields .field .filterAll {
    margin: 0px !important;
  }
  .filterV2 .inner .label {
    display: block;
    width: 100%;
    text-align: center;
  }
  .filterV2 .inner .clear-filter {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .filterV2 {
    width: 100%;
  }
  .filterV2 .inner {
    width: 100%;
    text-align: center;
  }
}
.CollectionBaner {
  margin-top: 10px;
}
.CollectionBaner img {
  margin: 10px auto;
  display: block;
}
.smart-receiver-toggle {
  background-color: white;
  margin-bottom: 5px;
}
.smart-receiver-toggle .receiver-toggle {
  width: 252px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .smart-receiver-toggle {
    display: none;
  }
}
@media (min-width: 1280px) {
  .submenu-mobile {
    display: none;
  }
}
@media (max-width: 1279px) {
  .submenu-mobile {
    background-color: white;
    display: block;
  }
  .submenu-mobile .sm-inner {
    padding: 26px 20px 16px 20px;
    display: inline-block;
    text-align: center;
  }
  .submenu-mobile .current {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }
  .submenu-mobile .current img {
    height: 50px;
  }
  .submenu-mobile .category {
    display: inline-block;
  }
  .submenu-mobile .category .combo .list {
    width: 100% !important;
  }
  .submenu-mobile .category .combo .list li {
    text-align: center;
  }
  .submenu-mobile .category .combo .drop {
    border-bottom: none;
  }
  .submenu-mobile .midsmart-receiver-toggle {
    float: right;
    height: 84px;
    padding: 21px 15px 21px 15px;
    line-height: 42px;
  }
  .submenu-mobile .midsmart-receiver-toggle li {
    display: table-cell;
    /*height: 84px;*/
    vertical-align: middle;
  }
  .submenu-mobile .midsmart-receiver-toggle li a {
    margin-right: 10px;
  }
  .submenu-mobile .midsmart-receiver-toggle .selected {
    font-weight: 900;
    color: red;
  }
}
@media (max-width: 1050px) {
  .submenu-mobile .midsmart-receiver-toggle {
    height: auto;
  }
  .submenu-mobile .midsmart-receiver-toggle li {
    display: table-cell;
    height: auto;
    font-size: 15px;
  }
  .submenu-mobile .midsmart-receiver-toggle li a {
    margin-right: 10px;
  }
  .submenu-mobile .midsmart-receiver-toggle .selected {
    font-weight: 900;
  }
}
@media (max-width: 330px) {
  .submenu-mobile .submenu-mobile .midsmart-receiver-toggle {
    font-size: 19px;
  }
}
.add-to-clpb,
.del-from-clpb {
  text-decoration: none !important;
  display: block;
  float: right;
  font-size: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  transition: all 0.7s;
  background: url(/Images/ulu_30px.png) no-repeat;
  background-size: 100% 100% !important;
}
.add-to-clpb.added,
.del-from-clpb.added {
  background: url(/Images/ulu_30px_filled.png) no-repeat;
}
@keyframes play-first {
  from {
    transform: rotate(0deg);
    width: 160px;
    height: 160px;
    top: calc(50% - 80px);
    left: calc(50% - 80px);
  }
  to {
    transform: rotate(90deg);
    width: 80px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
}
@keyframes play-anim-logo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes play-anim-btn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes play-anim-btn-pulse {
  0% {
    width: 100%;
    opacity: 1;
    height: 100%;
  }
  50% {
    width: 30%;
    opacity: 0.3;
    height: 30%;
  }
  100% {
    width: 100%;
    opacity: 1;
    height: 100%;
  }
}
@keyframes napis-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes background {
  to {
    background: gray;
  }
}
.atdsplayer-container .atdsplayer-btn-play-big {
  background-color: transparent;
  border-radius: 0;
  background: none;
}
.atdsplayer-container .atdsplayer-btn-play-big:before {
  margin-left: 0;
  content: '';
  background: url(/Images/play-logo-btn.png);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
  opacity: 0;
  display: block;
}
.atdsplayer-container .atdsplayer-btn-play-big:hover {
  background-color: transparent;
}
.atdsplayer-container .atdsplayer-settings-choice-list {
  /*background: red;*/
}
.atdsplayer-container .atdsplayer-settings-choice-list ul {
  /*width: 139px;
            position: relative;*/
}
.atdsplayer-container .atdsplayer-settings-choice-list ul li {
  left: auto;
}
.atdsplayer-container .atdsplayer-settings-choice-list ul li:before {
  display: none;
}
@keyframes pulse-play-anim-btn {
  0% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.3);
  }
  100% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes Show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.article-logotypy {
  background-color: white;
  padding: 0 0 10px 0;
  margin-top: 50px;
}
.article-logotypy .litems {
  display: block;
  text-align: center;
}
.article-logotypy .litems .litem {
  display: block;
}
.article-logotypy .litems .litem img {
  max-height: 70px;
}
@media (min-width: 400px) {
  .article-logotypy .litems {
    grid-template-columns: auto auto;
    display: grid;
    grid-template-columns: auto;
  }
  .article-logotypy .litems .litem {
    display: inline-block;
  }
  .article-logotypy .litems .litem:last-child {
    grid-column: 1/3;
  }
}
@media (min-width: 620px) {
  .article-logotypy .litems {
    grid-template-columns: auto auto auto;
  }
  .article-logotypy .litems .litem:last-child {
    grid-column: 2/3;
  }
}
@media (min-width: 1280px) {
  .article-logotypy .litems {
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }
  .article-logotypy .litems .litem {
    grid-column: auto !important;
  }
}
@media (min-width: 1360px) {
  .article-logotypy .litem {
    min-width: 100px;
    margin: 18px 25px 0 25px;
  }
}
@media (min-width: 541px) and (max-width: 1359px) {
  .article-logotypy .litem {
    min-width: 100px;
    margin: 18px 20px 0 20px;
  }
}
@media (max-width: 540px) {
  .article-logotypy .litem {
    min-width: 80px;
    margin: 18px 5px 0 5px;
  }
}
.intext-table {
  width: unset;
}
.intext-table td {
  padding-right: 15px;
}
body .child-list-panel .Okladka2 {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
}
.ck-content {
  height: 200px;
}
.avatar {
  border: 1px solid;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 40px;
  text-transform: uppercase;
  margin: auto;
}
.Pop {
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  background: transparent;
  z-index: -100;
  transition: all 0s;
  transition-delay: 2s;
}
.Pop .form-horizontal {
  color: black;
  top: 50%;
  left: 50%;
  overflow: auto;
  max-width: 80%;
  width: 1000px;
  max-height: 80%;
  position: absolute;
  background: white;
  padding: 30px;
  z-index: 1;
  transition: all 1s;
  transition-delay: 0s;
  transform: translate(-50%, -500%);
}
.Pop .form-horizontal .tree-view > ul {
  height: 300px;
  overflow: auto;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}
.Pop .form-horizontal .tree-view > ul .status {
  margin-left: 20px;
}
.Pop .form-horizontal .tree-view .lekcje a {
  display: block;
  /*color: gray;*/
}
.Pop .form-horizontal .tree-view .lekcje li .fa-chevron-down {
  display: none;
}
.Pop .form-horizontal .tree-view .lekcje li span {
  user-select: none;
  margin-left: 15px;
}
.Pop .form-horizontal .tree-view .lekcje li ul {
  margin-left: 40px;
}
.Pop .form-horizontal .tree-view .lekcje li .box {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  display: flex;
}
.Pop .form-horizontal .tree-view .lekcje li .box:before {
  content: "\2610";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.Pop .form-horizontal .tree-view .lekcje .hidden .fa-chevron-down {
  display: inline-block;
}
.Pop .form-horizontal .tree-view .lekcje .hidden .fa-chevron-up {
  display: none;
}
.Pop .form-horizontal .tree-view .lekcje .hidden ul {
  display: none;
}
.Pop .form-horizontal .tree-view .lekcje .active {
  background-color: lightgreen;
}
.Pop .form-horizontal .tree-view .PupilButtons {
  display: inline-block;
  float: right;
}
.Pop .form-horizontal .tree-view .PupilButtons a {
  margin-right: 5px;
}
.Pop .form-horizontal .tree-view .PupilButtons a i {
  margin-right: 5px;
}
.Pop .form-horizontal .hint {
  color: black;
}
.Pop .form-horizontal .hint:before {
  content: "* ";
}
.Pop .form-horizontal .form {
  margin-bottom: 10px;
}
.Pop .form-horizontal .buttons,
.Pop .form-horizontal .close {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 10px;
}
.Pop .form-horizontal .buttons a,
.Pop .form-horizontal .close a {
  padding: 10px 30px;
  background-color: #b8b9bd;
  border: 1px solid #b8b9bd;
  color: black;
  font-size: 18px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  display: block;
}
.Pop .form-horizontal .buttons a i,
.Pop .form-horizontal .close a i {
  margin-right: 10px;
}
.Pop .close {
  display: block;
}
.Pop .background {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: gray;
  transition: all 1s;
  transition-delay: 1s;
}
.Pop .hide {
  display: none !important;
}
.Pop .Ok {
  text-align: center;
  font-size: 20px;
  display: block;
}
.Pop h4 {
  margin-top: 15px;
  font-size: 23px;
  text-align: center;
}
.Pop #first,
.Pop #secoond {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  transition: 1s;
}
.Pop #first {
  height: 400px;
}
.Pop #secoond {
  height: 390px;
}
.Pop .Hidden {
  height: 0 !important;
}
.Show {
  z-index: 101;
  opacity: 1;
  transition-delay: 0s;
}
.Show .background {
  transition-delay: 0s;
  opacity: 0.95;
}
.Show .form-horizontal {
  transform: translate(-50%, -50%);
}
.Show .form-group {
  border-bottom: 1px solid black;
}
.Show .form-group label {
  margin-top: 10px;
  padding-bottom: 20px;
  line-height: 120%;
  margin-right: 10px;
  display: inline-block;
  font-size: 18px;
}
.Show input,
.Show textarea {
  text-align: left;
  margin-top: 10px;
  padding-bottom: 20px;
  width: calc(100% - 54px);
  line-height: 120%;
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
  color: black;
  resize: none;
}
.Show input[type=file] {
  border: 0;
}
.Show input[type=date] {
  width: auto;
}
.Show .active .box::before {
  content: "\2611" !important;
}
.FooterHide {
  z-index: -1;
}
.ContentLock {
  height: 20px;
  margin-right: 5px;
  z-index: 1;
  transition: all 0.7s;
}
input[type="date"]::-webkit-color-datetime-edit {
  background: red;
}
.altColor {
  color: black;
  font-size: 20px !important;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  line-height: 48px;
}
::-webkit-input-placeholder {
  /* Webkit */
  line-height: 48px;
}
:-ms-input-placeholder {
  /* IE */
  line-height: 48px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}
input[type="date"]:after {
  background: none;
  display: block;
  font-family: 'FontAwesome';
  content: '\f133';
  position: relative;
  right: 21px;
  color: #999;
}
.MovieLogo {
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 5%;
  width: 50px;
  max-width: 7%;
  display: none;
}