﻿/**/
body {
  background-color: black !important;
}
.home-top {
  display: table;
  margin: 0 auto;
}
@media (max-width: 439px) {
  .home-top {
    width: 100%;
  }
  .home-top .add-to-clpb {
    display: none !important;
  }
  .home-top .picture .title {
    max-width: 240px;
  }
  .home-top .picture .pic {
    height: 157px;
    position: relative;
  }
  .home-top .picture .pic .lead {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 619px) {
  .home-top {
    width: 100%;
    margin: 0 auto;
  }
  .home-top .picture .title {
    max-width: 310px;
  }
  .home-top .picture .pic {
    height: 200px;
    position: relative;
  }
}
@media (min-width: 620px) {
  .home-top {
    width: 100%;
  }
  .home-top .picture {
    padding-top: 42%;
  }
  .home-top .picture .picture_inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .home-top .picture .pic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
  }
}
.home-top .home-article {
  height: 100%;
  display: table-cell;
}
.home-top .home-article .ha-head {
  display: table;
  width: 100%;
}
.home-top .home-article .ha-head .title {
  display: table-cell;
  padding: 0 20px 25px 20px;
  font-size: 28px;
  font-weight: lighter;
  line-height: 115%;
  vertical-align: middle;
}
.home-top .home-article .ha-head .add-to-clpb {
  display: table-cell;
  font-size: 30px;
  line-height: 38px;
  width: 50px;
  height: 38px;
  text-align: center;
  text-decoration: none;
}
.home-top .home-article .ha-head .add-to-clpb:hover {
  color: red;
  background: url('/Images/dir.png') no-repeat;
}
.home-top .home-article .picture {
  width: 100%;
  display: table;
  height: 100%;
}
.home-top .home-article .picture .home-player {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}
.home-top .home-article .picture .home-player .home-vjs {
  flex-grow: 1;
  flex-basis: 75%;
}
.home-top .home-article .picture .home-player .home-vjs .vjs-big-play-button .vjs-icon-placeholder:before {
  /*top: 41%;*/
}
.home-top .home-article .picture .home-player .home-vjs .vjs-control-bar {
  bottom: 3px !important;
}
.home-top .home-article .picture .home-player .home-transinfo {
  flex-grow: 1;
  flex-basis: 25%;
  color: white;
  visibility: hidden;
  height: 100%;
  padding: 20px 0 40px 0;
  background-color: #171717;
}
.home-top .home-article .picture .home-player .home-transinfo .home-transinfo-hdr {
  position: absolute;
  display: block;
  width: 100%;
  padding: 15px;
  top: 0;
}
.home-top .home-article .picture .home-player .home-transinfo .home-transinfo-opis {
  overflow-y: auto;
  overflow-x: hidden;
  height: 101%;
  top: 35px;
  padding: 5px 15px 15px 30px;
}
.home-top .home-article .picture .home-player .home-transinfo .home-transinfo-opis::-webkit-scrollbar {
  background-color: #2e2e2e;
}
.home-top .home-article .picture .home-player .home-transinfo .home-transinfo-opis::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
}
.home-top .home-article .picture .home-player .home-transinfo .home-transinfo-opis::-webkit-scrollbar-thumb:hover {
  background-color: #c4c4c4;
}
.home-top .home-article .picture .home-player .home-transinfo .home-transinfo-opis p {
  margin: 0.5em 0;
}
.home-top .home-article .picture .home-player .home-transinfo .home-transinfo-opis ul {
  list-style-type: disc;
}
.home-top .home-article .picture .home-player .home-transinfo .home-transinfo-opis ul:after {
  content: '';
  border-bottom: 1px solid #6c6c6c;
  display: block;
  margin: 10px 0 0 -30px;
  width: 120%;
}
.home-top .home-article .picture .home-player .home-transinfo .home-transinfo-opis .teraz {
  font-size: 0.8em;
  color: red;
  font-weight: bold;
}
.home-top .home-article .picture .home-player .home-transinfo .home-transinfo-opis .teraz:after {
  display: none;
}
.home-top .home-article .picture .picture_inner {
  height: 100%;
}
.home-top .home-article .picture .pic-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 23%;
  background: white;
  opacity: 0.8;
  z-index: 2;
}
.home-top .home-article .picture .pic {
  height: 100%;
  overflow: hidden;
  display: block;
  clear: both;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  bottom: 0px !important;
}
.home-top .home-article .picture .pic .live-circle {
  background: #ec0120;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 7px 5px 0 0;
}
.home-top .home-article .picture .pic .rt,
.home-top .home-article .picture .pic .bl {
  position: absolute;
  background-color: white;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 18px;
  line-height: 134%;
}
.home-top .home-article .picture .pic .rt {
  top: 0;
  right: 0;
  min-width: 80px;
}
.home-top .home-article .picture .pic .bl {
  bottom: 0;
  left: 0;
  min-width: 80px;
}
.home-top .home-article .picture .pic .lead {
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: -100%;
  bottom: -100%;
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
  padding: 20px 40px;
}
.home-top .home-article .picture .pic:hover .lead {
  left: 0;
  bottom: 0;
}
@media (max-width: 1279px) {
  .home-top .sfpanel {
    display: none;
  }
}
@media (min-width: 1280px) {
  .home-top .sfpanel {
    display: table-cell;
    width: 409px;
    padding: 0 20px 0 23px;
  }
  .home-top .sfpanel .trans {
    position: relative;
    background-color: #ebebeb;
    margin-top: 68px;
    padding: 40px 30px;
  }
  .home-top .sfpanel .trans .rt,
  .home-top .sfpanel .trans .lb {
    position: absolute;
    z-index: 1;
    background-color: black;
    display: block;
  }
  .home-top .sfpanel .trans .rt {
    top: 0;
    right: 0;
    height: 14px;
    width: 181px;
  }
  .home-top .sfpanel .trans .lb {
    bottom: 0;
    left: 0;
    height: 11px;
    width: 71px;
  }
  .home-top .sfpanel .tlink {
    text-decoration: none;
  }
  .home-top .sfpanel .fhead {
    margin-top: 100px;
    padding: 0 0 0 23px;
    font-weight: lighter;
    font-size: 36px;
    margin-bottom: 22px;
    line-height: 120%;
  }
  .home-top .sfpanel input.enter {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    width: 290px;
    height: 39px;
    margin: 20px 0 0 23px;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
  }
  .home-top .sfpanel .submit-msearch {
    display: block;
    float: right;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 20px;
  }
  .home-top .sfpanel .combos .combo {
    margin-top: 40px;
    float: left;
    color: #777;
  }
  .home-top .sfpanel .combos .combo .drop {
    font-size: 14px !important;
    padding-bottom: 0;
    border-bottom: none;
    text-align: left;
  }
  .home-top .sfpanel .combos .combo .drop .dropimg {
    margin-left: 5px;
  }
  .home-top .sfpanel .combos .combo ul {
    padding: 7px 10px;
  }
  .home-top .sfpanel .combos .combo ul li {
    font-size: 14px;
  }
  .home-top .sfpanel .combos .combo.up .dropimg {
    background: url('/Images/up-s.png') no-repeat center center;
  }
  .home-top .sfpanel .combos .combo.down .dropimg {
    background: url('/Images/down-s.png') no-repeat center center;
  }
  .home-top .sfpanel .combos #fltType {
    margin-left: 23px;
    width: 125px;
    min-width: 125px;
  }
  .home-top .sfpanel .combos #fltEpoka {
    margin-left: 20px;
    width: 100px;
    min-width: 100px;
  }
  .home-top .sfpanel .filters {
    margin-top: 128px;
    position: relative;
    background-color: #ebebeb;
    padding: 40px 30px;
  }
  .home-top .sfpanel .filters .rt,
  .home-top .sfpanel .filters .lb {
    position: absolute;
    z-index: 1;
    background-color: white;
    display: block;
  }
  .home-top .sfpanel .filters .rt {
    top: 0;
    right: 0;
    height: 14px;
    width: 181px;
  }
  .home-top .sfpanel .filters .lb {
    bottom: 0;
    left: 0;
    height: 11px;
    width: 71px;
  }
  .home-top .sfpanel .filters img {
    margin-top: 10px;
    display: inline-block;
  }
  .home-top .sfpanel .filters .right {
    display: inline-block;
    margin-left: 10px;
  }
  .home-top .sfpanel .filters .right .title {
    font-size: 24px;
    font-weight: lighter;
    display: block;
    margin-bottom: 8px;
  }
  .home-top .sfpanel .filters .right .field {
    display: inline-block;
    font-size: 14px;
    font-weight: lighter;
    color: #777;
    cursor: pointer;
  }
  .home-top .sfpanel .filters .right .field.selected {
    color: red;
  }
  .home-top .sfpanel .filters .right .field.selected .wcag-selected {
    display: inline;
  }
  .home-top .sfpanel .filters .right .field.selected .wcag-pick {
    display: none;
  }
  .home-top .sfpanel .filters .right .field.notlast {
    margin-right: 18px;
  }
}
@media (min-width: 792px) {
  .home-list {
    margin: 45px 0;
  }
}
.baner {
  width: 100%;
  display: block;
  position: relative;
}
.baner img {
  width: 100%;
}
.baner .baner-panel {
  padding: 0;
}
@media (max-width: 300px) {
  .baner .baner-panel {
    display: none;
  }
}
@media (max-width: 570px) {
  .baner .baner-panel {
    font-size: 12px;
    position: relative;
    width: 300px;
    margin: 20px auto;
  }
  .baner .baner-panel .trans {
    padding: 2px 10px;
  }
}
@media (min-width: 571px) and (max-width: 790px) {
  .baner .baner-panel {
    font-size: 12px;
    right: 3%;
    width: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  .baner .baner-panel .trans {
    padding: 2px 10px;
  }
  .baner .baner-panel .trans .rt {
    width: 140px;
  }
  .baner .baner-panel .trans .lb {
    width: 200px;
  }
}
@media (min-width: 791px) and (max-width: 954px) {
  .baner .baner-panel {
    font-size: 12px;
    right: 7%;
    width: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  .baner .baner-panel .trans {
    padding: 2px 10px;
  }
  .baner .baner-panel .trans .rt {
    width: 140px;
  }
  .baner .baner-panel .trans .lb {
    width: 200px;
  }
}
@media (min-width: 955px) {
  .baner .baner-panel {
    right: 12%;
    width: 409px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  .baner .baner-panel .trans {
    padding: 10px 30px;
  }
  .baner .baner-panel .trans .rt {
    width: 228px;
  }
  .baner .baner-panel .trans .lb {
    width: 338px;
  }
}
.baner .baner-panel .trans {
  position: relative;
  background-color: #ebebeb;
}
.baner .baner-panel .trans .logo {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100px;
}
.home-body {
  /*.page_body {
        @media (max-width: 619px) {
            padding: 0 0 173px 0 !important;
        }

        @media (min-width: 620px) {
            padding: 0 0 173px 0 !important;
        }
    }*/
}
.EDU {
  margin-top: 40px;
}
.EDU .logo {
  margin-left: 67px;
}
.EDU .logo img {
  height: 25px;
}
/*.top-images {
    min-height: 48px;
    margin-top: 10px;

    .LiveTop {
        padding: 15px;
    }

    .Logo {
        height: 40px;
        float: right;
        margin-right: 50px;
    }

    .Beta {
        right: 55px;
        font-size: 10px;
        top: 5px;
    }

    @media(max-width:600px) {
        display: grid;
        grid-template-columns: auto;

        .LiveTop {
            text-align: center
        }
    }

    @media(max-width:@mediabreak_desktop - 1) {

        .Logo, .Beta {
            margin-left: calc(50% - 125px);
            display: none;
        }
    }
}*/
.play-animation {
  width: 160px;
  height: 160px;
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  transform: rotate(0deg);
  display: none;
}
.play-animation .alogo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*padding: 5px;*/
}
.play-animation .napis {
  position: absolute;
  bottom: -40px;
  left: -15px;
  /* padding: 5px; */
  width: 190px;
  max-width: 200px;
}
.play-animation .btn {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.play-animation .btn .btn-back-color {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.play-animation .btn .btn-back-color div {
  padding-top: 100%;
}
.play-animation .btn .btn-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 5px;
}
#projects_list_outer {
  /*background: black;*/
  margin-top: 50px;
}
#projects_list_outer #projects_list {
  background: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#projects_list_outer #projects_list .intproject_cell {
  height: 560px;
  background-size: cover !important;
  color: black;
  margin: 10px;
  position: relative;
}
#projects_list_outer #projects_list .intproject_cell .Under {
  bottom: 0;
  position: absolute;
  background: white;
  opacity: 0.9;
  left: 25px;
  right: 25px;
  bottom: 25px;
  transition: all 0.5s;
  height: 400px;
  padding: 10px;
}
#projects_list_outer #projects_list .intproject_cell .Under .project_lead {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;
}
@media (max-width: 1280px) {
  #projects_list_outer #projects_list .intproject_cell .Under img {
    margin-left: calc(50% - 100px);
  }
  #projects_list_outer #projects_list .intproject_cell .Under h3 {
    text-align: center;
  }
}
#projects_list_outer #projects_list .intproject_cell .Under h3 {
  font-size: 30px;
}
#projects_list_outer #projects_list .intproject_cell:hover .Under {
  left: 5px !important;
  right: 5px !important;
  bottom: 5px;
  padding: 10px 30px 30px 30px !important;
}
@media (max-width: 1000px) {
  #projects_list_outer #projects_list {
    grid-template-columns: 1fr;
  }
  #projects_list_outer #projects_list .Under {
    height: 200px !important;
  }
}
@media (max-width: 700px) {
  #projects_list_outer #projects_list .Under {
    height: 400px !important;
  }
}
#projects_list_outer .Projekty {
  font-weight: 900;
  color: white;
  font-size: 16px;
  margin-left: 50px;
  margin-bottom: 5px;
}
#projects_list_outer .Projekty .PRO {
  background: #ed021e;
  padding: 5px;
}
@media (min-width: 1216px) {
  .home-blur {
    display: block;
    position: absolute;
    top: 0;
    left: -20%;
    right: -20%;
    bottom: 0;
    overflow: hidden;
  }
  .home-blur .cb-slideshow-back .pic {
    opacity: 0;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0;
    left: 0;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
}
@media (max-width: 1215px) {
  .home-blur {
    visibility: hidden;
  }
}
.CategoryContainer {
  position: relative;
  margin-top: 55px;
}
.CategoryContainer .logo {
  display: inline-block;
  margin: 20px 0 20px 60px;
}
.CategoryContainer .logo .black {
  color: white;
}
.CategoryContainer .logo .black,
.CategoryContainer .logo .red {
  padding: 3px 3px;
}
.CategoryContainer .logo .red {
  font-weight: bold;
  color: red;
  display: inline-block;
}
.CategoryContainer .Movies {
  display: grid;
  grid-template-columns: 40px auto 40px;
  width: auto !important;
}
.CategoryContainer .Movies .btn {
  font-size: 80px;
  display: table;
  height: 100%;
  transition: background 1s, opacity 1s;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  opacity: 1;
  padding: 0 10px;
  /*            &:hover {
                background: rgba(0,0,0,0.3);
                opacity: 1;
            }*/
}
.CategoryContainer .Movies .btn .button {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.CategoryContainer .Movies .btn .button i {
  color: white;
  transition: color 1s;
}
.CategoryContainer .Movies .btn:first-child {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.64) 0%, transparent 100%);
}
.CategoryContainer .Movies .btn:last-child {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.64) 0%, transparent 100%);
}
.CategoryContainer .Movies .btn.Disabled {
  cursor: default;
  opacity: 0.5;
}
.CategoryContainer .Movies .btn.Disabled .button i {
  color: white !important;
}
.CategoryContainer .Movies .slider-frame {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.CategoryContainer .Movies .slider-frame .slider-container {
  transition: margin-left 1s ease, left 1s ease;
  transition-delay: 300ms;
  position: absolute;
  left: 0;
  z-index: 2;
}
.CategoryContainer .Movies .slider-frame .slider-container .slide {
  float: left;
  position: relative;
  top: 0;
  transition: width 1s ease, height 1s ease, top 1s ease;
  transition-delay: 300ms;
  margin-right: 0;
  background-size: auto 100% !important;
  background-repeat: no-repeat !important;
  background-position: center;
  background: black;
}
.CategoryContainer .Movies .slider-frame .slider-container .slide .Under {
  display: block;
  height: 100%;
}
.CategoryContainer .Movies .slider-frame .slider-container .slide .Description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 10px;
  padding: 10px 10px 15px;
  background-color: white;
  transition: all 0.3s ease-in;
  opacity: 0.6;
  font-weight: bold;
}
.CategoryContainer .Movies .slider-frame .slider-container .slide:hover .Description {
  left: 5px;
  right: 5px;
  bottom: 5px;
  padding: 10px 30px;
  opacity: 0.8;
}