@import "mixins.less";
@import "settings.less";

body {
    background-color: black !important;
}

.home-top {
    display: table;
    margin: 0 auto;


    @media (max-width: 439px) {
        width: 100%;


        .add-to-clpb {
            display: none !important;
        }

        .picture {
            .title {
                max-width: 240px;
            }

            .pic {
                height: 157px;
                position: relative;

                .lead {
                    display: none;
                }
            }
        }
    }

    @media (min-width: 440px) and (max-width: (@mediabreak_smart - 1)) {
        width: 100%;
        margin: 0 auto;

        .picture {
            .title {
                max-width: 310px;
            }

            .pic {
                height: 200px;
                position: relative;
            }
        }
    }

    @media (min-width: @mediabreak_smart) {
        width: 100%;

        .picture {
            //padding-top: 59.6%;
            padding-top: 42%;

            .picture_inner {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .pic {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0px;
            }
        }
    }

    .home-article {
        height: 100%;
        display: table-cell;

        .ha-head {
            display: table;
            width: 100%;

            .title {
                display: table-cell;
                padding: 0 20px 25px 20px;
                font-size: 28px;
                font-weight: lighter;
                line-height: 115%;
                vertical-align: middle;
            }

            .add-to-clpb {
                display: table-cell;
                font-size: 30px;
                line-height: 38px;
                width: 50px;
                height: 38px;
                text-align: center;
                text-decoration: none;

                &:hover {
                    color: red;
                    background: url('/Images/dir.png') no-repeat;
                }
            }
        }

        .picture {
            width: 100%;
            display: table;
            height: 100%;

            .home-player {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                flex-flow: row wrap;
                align-items: stretch;

                .home-vjs {
                    flex-grow: 1;
                    flex-basis: 75%;

                    .vjs-big-play-button .vjs-icon-placeholder:before {
                        /*top: 41%;*/
                    }

                    .vjs-control-bar {
                        bottom: 3px !important;
                    }
                }

                .home-transinfo {
                    flex-grow: 1;
                    flex-basis: 25%;
                    color: white;
                    visibility: hidden;
                    height: 100%;
                    padding: 20px 0 40px 0;
                    background-color: #171717;

                    .home-transinfo-hdr {
                        position: absolute;
                        display: block;
                        width: 100%;
                        padding: 15px;
                        top: 0;
                    }

                    .home-transinfo-opis {
                        &::-webkit-scrollbar {
                            background-color: #2e2e2e;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #b4b4b4;

                            &:hover {
                                background-color: #c4c4c4;
                            }
                        }

                        overflow-y: auto;
                        overflow-x: hidden;
                        height: 101%;
                        top: 35px;
                        padding: 5px 15px 15px 30px;

                        p {
                            margin: 0.5em 0;
                        }

                        ul {
                            //margin: 0 0 0 15px;
                            list-style-type: disc;

                            &:after {
                                content: '';
                                border-bottom: 1px solid #6c6c6c;
                                display: block;
                                margin: 10px 0 0 -30px;
                                width: 120%;
                            }
                        }

                        .teraz {
                            font-size: 0.8em;
                            color: red;
                            font-weight: bold;

                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }

            .picture_inner {
                height: 100%;
            }

            .pic-overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 23%;
                background: white;
                opacity: .8;
                z-index: 2;
            }

            .pic {
                height: 100%;
                overflow: hidden;
                display: block;
                clear: both;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                bottom: 0px !important;

                .live-circle {
                    background: #ec0120;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    margin: 7px 5px 0 0;
                }

                .rt, .bl {
                    position: absolute;
                    background-color: white;
                    padding: 10px 15px;
                    font-weight: lighter;
                    font-size: 18px;
                    line-height: 134%;
                }

                .rt {
                    top: 0;
                    right: 0;
                    min-width: 80px;
                }

                .bl {
                    bottom: 0;
                    left: 0;
                    min-width: 80px;
                }

                .lead {
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    left: -100%;
                    bottom: -100%;
                    background-color: rgba(255,255,255, 1);
                    color: black;
                    font-size: 16px;
                    .transition-general(all 300ms);
                    padding: 20px 40px;
                }

                &:hover {
                    .lead {
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }

    .sfpanel {

        @media (max-width: (@mediabreak_desktop - 1)) {
            display: none;
        }

        @media (min-width: @mediabreak_desktop) {
            display: table-cell;
            width: 409px;
            padding: 0 20px 0 23px;

            .trans {
                position: relative;
                background-color: #ebebeb;
                margin-top: 68px;
                padding: 40px 30px;

                .rt, .lb {
                    position: absolute;
                    z-index: 1;
                    background-color: black;
                    display: block;
                }

                .rt {
                    top: 0;
                    right: 0;
                    height: 14px;
                    width: 181px;
                }

                .lb {
                    bottom: 0;
                    left: 0;
                    height: 11px;
                    width: 71px;
                }
            }

            .tlink {
                text-decoration: none;
            }

            .fhead {
                margin-top: 100px;
                padding: 0 0 0 23px;
                font-weight: lighter;
                font-size: 36px;
                margin-bottom: 22px;
                line-height: 120%;
            }

            input.enter {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 3px solid black;
                background-color: transparent;
                width: 290px;
                height: 39px;
                margin: 20px 0 0 23px;
                font-weight: lighter;
                font-size: 18px;
                text-align: center;
            }

            .submit-msearch {
                display: block;
                float: right;
                font-size: 30px;
                font-weight: lighter;
                margin-top: 20px;
            }

            .combos {
                .combo {
                    margin-top: 40px;
                    float: left;
                    color: #777;

                    .drop {
                        font-size: 14px !important;
                        padding-bottom: 0;
                        border-bottom: none;
                        text-align: left;

                        .dropimg {
                            margin-left: 5px;
                        }
                    }

                    ul {
                        padding: 7px 10px;

                        li {
                            font-size: 14px;
                        }
                    }

                    &.up .dropimg {
                        background: url('/Images/up-s.png') no-repeat center center;
                    }

                    &.down .dropimg {
                        background: url('/Images/down-s.png') no-repeat center center;
                    }
                }

                #fltType {
                    margin-left: 23px;
                    width: 125px;
                    min-width: 125px;
                }

                #fltEpoka {
                    margin-left: 20px;
                    width: 100px;
                    min-width: 100px;
                }
            }

            .filters {
                margin-top: 128px;
                position: relative;
                background-color: #ebebeb;
                padding: 40px 30px;

                .rt, .lb {
                    position: absolute;
                    z-index: 1;
                    background-color: white;
                    display: block;
                }

                .rt {
                    top: 0;
                    right: 0;
                    height: 14px;
                    width: 181px;
                }

                .lb {
                    bottom: 0;
                    left: 0;
                    height: 11px;
                    width: 71px;
                }

                img {
                    margin-top: 10px;
                    display: inline-block;
                }

                .right {
                    display: inline-block;
                    margin-left: 10px;

                    .title {
                        font-size: 24px;
                        font-weight: lighter;
                        display: block;
                        margin-bottom: 8px;
                    }

                    .field {
                        display: inline-block;
                        font-size: 14px;
                        font-weight: lighter;
                        color: #777;
                        cursor: pointer;

                        &.selected {
                            color: red;

                            .wcag-selected {
                                display: inline;
                            }

                            .wcag-pick {
                                display: none;
                            }
                        }

                        &.notlast {
                            margin-right: 18px;
                        }
                    }
                }
            }
        }
    }
}

.home-list {
    @media (min-width: 792px) {
        margin: 45px 0;
    }
}

.baner {
    width: 100%;
    display: block;
    position: relative;

    img {
        width: 100%;
    }


    .baner-panel {
        @media (max-width: 300px) {
            display: none;
        }

        @media (max-width: 570px) {
            font-size: 12px;
            position: relative;
            width: 300px;
            margin: 20px auto;

            .trans {
                padding: 2px 10px;
            }
        }

        @media (min-width: 571px) and (max-width: 790px) {
            font-size: 12px;
            right: 3%;
            width: 300px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1000;

            .trans {
                padding: 2px 10px;

                .rt {
                    width: 140px;
                }

                .lb {
                    width: 200px;
                }
            }
        }

        @media (min-width: 791px) and (max-width: 954px) {
            font-size: 12px;
            right: 7%;
            width: 300px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1000;

            .trans {
                padding: 2px 10px;

                .rt {
                    width: 140px;
                }

                .lb {
                    width: 200px;
                }
            }
        }

        @media (min-width: 955px) {
            right: 12%;
            width: 409px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1000;

            .trans {
                padding: 10px 30px;

                .rt {
                    width: 228px;
                }

                .lb {
                    width: 338px;
                }
            }
        }

        padding: 0;

        .trans {
            position: relative;
            background-color: #ebebeb;

            .logo {
                position: absolute;
                right: 0;
                top: 0;
                max-width: 100px;
            }
        }
    }
}

.home-body {
    // background-color: black;
    /*.page_body {
        @media (max-width: 619px) {
            padding: 0 0 173px 0 !important;
        }

        @media (min-width: 620px) {
            padding: 0 0 173px 0 !important;
        }
    }*/
}



.EDU {
    margin-top: 40px;

    .logo {
        margin-left: 67px;

        img {
            height: 25px;
        }
    }
}

/*.top-images {
    min-height: 48px;
    margin-top: 10px;

    .LiveTop {
        padding: 15px;
    }

    .Logo {
        height: 40px;
        float: right;
        margin-right: 50px;
    }

    .Beta {
        right: 55px;
        font-size: 10px;
        top: 5px;
    }

    @media(max-width:600px) {
        display: grid;
        grid-template-columns: auto;

        .LiveTop {
            text-align: center
        }
    }

    @media(max-width:@mediabreak_desktop - 1) {

        .Logo, .Beta {
            margin-left: calc(50% - 125px);
            display: none;
        }
    }
}*/





.play-animation {
    width: 160px;
    height: 160px;
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 80px);
    transform: rotate(0deg);
    display: none;

    .alogo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*padding: 5px;*/
    }

    .napis {
        position: absolute;
        bottom: -40px;
        left: -15px;
        /* padding: 5px; */
        width: 190px;
        max-width: 200px;
    }

    .btn {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;

        .btn-back-color {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;

            div {
                padding-top: 100%;
            }
        }

        .btn-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;
            padding: 5px;
        }
    }
}



#projects_list_outer {
    /*background: black;*/
    margin-top: 50px;

    #projects_list {
        background: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .intproject_cell {
            height: 560px;
            background-size: cover !important;
            color: black;
            margin: 10px;
            position: relative;


            .Under {
                bottom: 0;
                position: absolute;
                background: white;
                opacity: .9;
                left: 25px;
                right: 25px;
                bottom: 25px;
                transition: all 0.5s;
                height: 400px;
                padding: 10px;

                .project_lead {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 9;
                    overflow: hidden;
                }

                @media(max-width:@mediabreak_desktop) {
                    img {
                        margin-left: calc(50% - 100px);
                    }

                    h3 {
                        text-align: center;
                    }
                }

                h3 {
                    font-size: 30px;
                }
            }

            &:hover {
                .Under {
                    left: 5px !important;
                    right: 5px !important;
                    bottom: 5px;
                    padding: 10px 30px 30px 30px !important;
                }
            }
        }

        @media(max-width:1000px) {
            grid-template-columns: 1fr;

            .Under {
                height: 200px !important;
            }
        }

        @media(max-width:700px) {
            .Under {
                height: 400px !important;
            }
        }
    }

    .Projekty {
        font-weight: 900;
        color: white;
        font-size: 16px;
        margin-left: 50px;
        margin-bottom: 5px;

        .PRO {
            background: #ed021e;
            padding: 5px;
        }
    }
}


.home-blur {

    @media(min-width: 1216px) {
        display: block;
        position: absolute;
        top: 0;
        left: -20%;
        right: -20%;
        bottom: 0;
        overflow: hidden;

        .cb-slideshow-back {
            .pic {
                opacity: 0;
                filter: blur(4px);
                -webkit-filter: blur(4px);
                display: block;
                position: absolute;
                top: 0;
                bottom: 0px;
                right: 0;
                left: 0;
                width: 100%;
                background-color: black;
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: center;
            }
        }
    }

    @media(max-width: 1215px) {
        visibility: hidden;
    }
}

.CategoryContainer {
    position: relative;
    margin-top: 55px;

    .logo {
        display: inline-block;
        margin: 20px 0 20px 60px;

        .black {
            color: white;
        }

        .black, .red {
            padding: 3px 3px;
        }

        .red {
            font-weight: bold;
            color: red;
            display: inline-block;
        }
    }

    .Movies {
        display: grid;
        grid-template-columns: 40px auto 40px;
        width: auto !important;

        .btn {
            font-size: 80px;
            display: table;
            height: 100%;
            transition: background 1s, opacity 1s;
            opacity: 0.5;
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 10;
            opacity: 1;
            padding: 0 10px;

            .button {
                text-align: center;
                display: table-cell;
                vertical-align: middle;

                i {
                    color: white;
                    transition: color 1s;
                }
            }
            /*            &:hover {
                background: rgba(0,0,0,0.3);
                opacity: 1;
            }*/
            &:first-child {
                left: 0;
                background: linear-gradient( to right,rgba(0,0,0,0.64) 0%,transparent 100% );
            }

            &:last-child {
                right: 0;
                background: linear-gradient( to left,rgba(0,0,0,0.64) 0%,transparent 100% );
            }

            &.Disabled {
                cursor: default;
                opacity: 0.5;

                .button {

                    i {
                        color: white !important;
                    }
                }
            }
        }


        .slider-frame {
            position: relative;
            margin: 0 auto;
            overflow: hidden;

            .slider-container {
                transition: margin-left 1s ease, left 1s ease;
                transition-delay: 300ms;
                position: absolute;
                left: 0;
                z-index: 2;

                .slide {
                    float: left;
                    position: relative;
                    top: 0;
                    transition: width 1s ease, height 1s ease, top 1s ease;
                    transition-delay: 300ms;
                    margin-right: 0;
                    background-size: auto 100% !important;
                    background-repeat: no-repeat !important;
                    background-position: center;
                    background: black;

                    .Under {
                        display: block;
                        height: 100%;
                    }

                    .Description {
                        position: absolute;
                        left: 20px;
                        right: 20px;
                        bottom: 10px;
                        padding: 10px 10px 15px;
                        background-color: white;
                        transition: all 0.3s ease-in;
                        opacity: 0.6;
                        font-weight: bold;
                    }

                    &:hover {
                        .Description {
                            left: 5px;
                            right: 5px;
                            bottom: 5px;
                            padding: 10px 30px;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}
