@import "settings.less";


.category-top {
    color: white;
    display: table;
    width: 100%;
    position:static;
    .left {
        display: table-cell;
    }

    .right {
        @media (min-width: @mediabreak_desktop) {
            display: table-cell;
            padding-left: 20px;
            width: 400px;
            padding-top: 60px;
        }

        @media (max-width: (@mediabreak_desktop - 1)) {
            display: none;
        }
    }
}

.Opis {
    background: black;
    color: white;
    padding: 20px 30px;
    margin-bottom: 30px;
}

.eduvideo {
    position: relative;

    @media (min-width: @mediabreak_desktop) {
        width: 100%;
        margin: 20px auto;
    }

    @media (max-width: (@mediabreak_desktop - 1)) {
        width: 100%;
        margin: 10px 0;
    }

    display: flex;

    .eduvleft {
    }

    .eduvright {
        height: 0;
        padding-bottom: 39.45%;
        position: relative;

        .inside {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;            

            &::-webkit-scrollbar {
                background-color: #2e2e2e;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #b4b4b4;

                &:hover {
                    background-color: #c4c4c4;
                }
            }

            > p:nth-child(1) {
                margin-top: 0;
            }
        }
    }

    @media (min-width: 801px) {
        .eduvleft {
            width: 70%;
        }

        .eduvright {
            width: 30%;

            .inside {
                padding: 0 25px 25px 25px;
            }
        }
    }

    @media (max-width: 800px) {
        flex-wrap: wrap;

        .eduvleft {
            width: 100%;
        }

        .eduvright {
            width: 100%;
            height: auto;
            padding-bottom: unset;

            .inside {
                position: static;
                padding: 30px 0;
            }
        }
    }
}

.Animacja {
    height: 700px;
    width: 100%;
    background: black;
    text-align: center;
    margin-top:10px;

    .Kontener {
        animation: 1.4s linear 6.6s 1 normal forwards gwd-gen-akqugwdanimation_gwd-keyframes;
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        display: none;

        .Teatroteka {
            position: absolute;
            height: 100%;
            top: 0px;
            right: 50%;
            opacity: 0;
            z-index: 1;
        }

        #zdj_11 {
            animation: 6.9s linear 1.1s 1 normal forwards gwd-gen-tmvzgwdanimation_gwd-keyframes;
        }

        #zdj_12 {
            animation: 6.7s linear 1.3s 1 normal forwards gwd-gen-1tqwgwdanimation_gwd-keyframes;
        }

        #zdj_13 {
            animation: 6.8s linear 1.2s 1 normal forwards gwd-gen-1mt3gwdanimation_gwd-keyframes;
        }

        #zdj_14 {
            animation: 6.5s linear 1.5s 1 normal forwards gwd-gen-9bivgwdanimation_gwd-keyframes;
        }

        #zdj_15 {
            animation: 6.3s linear 1.7s 1 normal forwards gwd-gen-1jh3gwdanimation_gwd-keyframes;
        }

        #zdj_1 {
            animation: 6.6s linear 1.4s 1 normal forwards gwd-gen-1pvzgwdanimation_gwd-keyframes;
        }

        #zdj_2 {
            animation: 6.9s linear 1.1s 1 normal forwards gwd-gen-1617gwdanimation_gwd-keyframes;
        }

        #zdj_3 {
            animation: 6.7s linear 1.3s 1 normal forwards gwd-gen-150vgwdanimation_gwd-keyframes;
        }

        #zdj_4 {
            animation: 6.6s linear 1.4s 1 normal forwards gwd-gen-6ueagwdanimation_gwd-keyframes;
        }

        #zdj_5 {
            animation: 6.9s linear 1.1s 1 normal forwards gwd-gen-5jvjgwdanimation_gwd-keyframes;
        }

        #zdj_6 {
            animation: 6.8s linear 1.2s 1 normal forwards gwd-gen-k465gwdanimation_gwd-keyframes;
        }

        #zdj_7 {
            animation: 6.8s linear 1.2s 1 normal forwards gwd-gen-14smgwdanimation_gwd-keyframes;
        }

        #zdj_8 {
            animation: 7s linear 1s 1 normal forwards gwd-gen-1d5zgwdanimation_gwd-keyframes;
        }

        #zdj_9 {
            animation: 6.9s linear 1.1s 1 normal forwards gwd-gen-k4yugwdanimation_gwd-keyframes;
        }

        #zdj_10 {
            animation: 7s linear 1s 1 normal forwards gwd-gen-1f86gwdanimation_gwd-keyframes;
        }

        #poglad {
            position: absolute;
            background-image: none;
            background-color: transparent;
            left: 560px;
            top: 0px;
            opacity: 0;
        }

        #dvds {
            animation: 4.6s linear 3.4s 1 normal forwards gwd-gen-e39sgwdanimation_gwd-keyframes;
        }

        #logo_teatroteka {
            animation: 3.2s linear 4.8s 1 normal forwards gwd-gen-pz42gwdanimation_gwd-keyframes;
        }

        #A2 {
            animation: 6.6s linear 1.4s 1 normal forwards gwd-gen-movkgwdanimation_gwd-keyframes;
        }

        #K {
            animation: 5.6s linear 2.4s 1 normal forwards gwd-gen-1vtrgwdanimation_gwd-keyframes;
        }

        #E2 {
            animation: 6.6s linear 1.4s 1 normal forwards gwd-gen-9nasgwdanimation_gwd-keyframes;
        }

        #T3 {
            animation: 5s linear 3s 1 normal forwards gwd-gen-1pe5gwdanimation_gwd-keyframes;
        }

        #O {
            animation: 6.2s linear 1.8s 1 normal forwards gwd-gen-1dqjgwdanimation_gwd-keyframes;
        }

        #R {
            animation: 5.2s linear 2.8s 1 normal forwards gwd-gen-1lucgwdanimation_gwd-keyframes;
        }

        #A {
            animation: 5.8s linear 2.2s 1 normal forwards gwd-gen-645hgwdanimation_gwd-keyframes;
        }

        #E {
            animation: 6.5s linear 1.5s 1 normal forwards gwd-gen-1oy4gwdanimation_gwd-keyframes;
        }

        #T {
            animation: 6.3s linear 1.7s 1 normal forwards gwd-gen-1geigwdanimation_gwd-keyframes;
        }

        #DokumentaryBackground {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: none;
            background-color: #e81919;
            /*left: 0px;*/
            top: 0px;
            z-index: 0;
            opacity: 1; //brak elementu na stronie
            animation: 7.2s linear .8s 1 normal forwards gwd-gen-gltbgwdanimation_gwd-keyframes;
        }

        #Prezentuje {
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, 50%) scale3d(2.5, 2.5, 1);
            height: 15%;
            animation: 2s linear 0s 1 normal forwards Napis;
            z-index: 1;
        }

        #dokumentary {
            animation: 7.2s linear .8s 1 normal forwards gwd-gen-dohbgwdanimation_gwd-keyframes;
        }

        #T2 {
            animation: 5s linear 3s 1 normal forwards gwd-gen-lpj7gwdanimation_gwd-keyframes;
        }

        #czlosc1 {
            position: absolute;
            height: 100%;
            opacity: 0;
            right: 50%;
            animation: 5.6s linear 7.6s 1 normal forwards gwd-gen-v0uigwdanimation_gwd-keyframes;
            z-index: 1;

            img {
                height: 100%;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-name: Okladki1;
                animation-timing-function: linear;
                animation-delay: 16s;
            }
        }

        #czlosc2, #czlosc3, #czlosc4 {
            height: 75%;
            right: 0%;
            position: absolute;
            opacity: 0;
            z-index: 1;
            margin: 4.4% 0;

            img {
                height: 100%;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-delay: 16s;
            }
        }

        #czlosc2 {
            animation: 3.5s linear 9.7s 1 normal forwards czlosc2;

            img {
                animation-name: Okladki2;
            }
        }

        #czlosc3 {
            animation: 3.5s linear 9.7s 1 normal forwards czlosc3;

            img {
                animation-name: Okladki3;
            }
        }

        #czlosc4 {
            animation: 3.5s linear 9.7s 1 normal forwards czlosc4;

            img {
                animation-name: Okladki4;
            }
        }

        #Napis1 {
            width: 100%;
            text-align: center;
            position: absolute;
            font-size: 32px;
            animation: 3.2s linear 9.7s normal forwards NapisGora;
            color: black;
            opacity: 0;
        }

        #Napis2 {
            width: 100%;
            text-align: center;
            position: absolute;
            font-size: 32px;
            animation: 2s linear 12.2s normal forwards NapisGora;
            color: black;
            opacity: 0;
        }

        #DuzyNapis {
            position: absolute;
            top: 10%;
            left: 10%;

            .Akapit {
                color: black;
                font-size: 26px;
                font-weight: bold;
                margin-bottom: 20px;
                animation: 1s linear;
                animation-name: NapisDuzy;
                animation-fill-mode: forwards;
                opacity: 0;


                &:nth-child(1) {
                    animation-delay: 15s;
                }

                &:nth-child(2) {
                    animation-delay: 15.5s;
                }

                &:nth-child(3) {
                    animation-delay: 16s;
                }

                &:nth-child(4) {
                    animation-delay: 16.5s;
                }

                &:nth-child(5) {
                    animation-delay: 17s;
                }

                &:nth-child(6) {
                    animation-delay: 17.5s;
                }
            }
        }

        #plyta {
            opacity: 0;
            height: 300px;
            right: 50px;
            position: absolute;
            top: calc(50% - 150px);
            z-index: 0;
            animation-delay: 14s;
            animation-direction: normal;
            animation-name: Plyta;
            animation-duration: 1s;
            animation-fill-mode: forwards;

            img {
                height: 100%;
                animation-delay: 14s;
                animation-direction: normal;
                animation-name: Obrot;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
    }

    @media(min-width:1301px) and (max-width:1500px) {
        height: 600px;

        .Kontener {
            #plyta {
                height: 255px;
                top: calc(50% - 124px);
                right: 45px;
            }
        }
    }

    @media(min-width:1101px) and (max-width:1300px) {
        height: 500px;

        .Kontener {
            #plyta {
                height: 220px;
                top: calc(50% - 110px);
                right: 29px;
            }

            #DuzyNapis {
                .Akapit {
                    font-size: 22px;
                }
            }

            #Napis1, #Napis2 {
                font-size: 17px;
            }
        }
    }

    @media(min-width:851px) and (max-width:1100px) {
        height: 400px;

        .Kontener {
            #plyta {
                height: 180px;
                top: calc(50% - 90px);
                right: 20px;
            }

            #DuzyNapis {
                .Akapit {
                    font-size: 17px;
                }
            }

            #Napis1, #Napis2 {
                font-size: 17px;
            }
        }
    }

    @media(min-width:601px) and (max-width:850px) {
        height: 300px;

        .Kontener {
            #plyta {
                height: 134px;
                top: calc(50% - 67px);
                right: 17px;
            }

            #DuzyNapis {
                top: 5%;
                left: 5%;

                .Akapit {
                    margin-bottom: 5px;
                    font-size: 17px;
                }
            }

            #Napis1, #Napis2 {
                font-size: 17px;
            }
        }
    }

    @media(min-width:431px) and (max-width:600px) {
        height: 200px;

        .Kontener {
            #plyta {
                height: 90px;
                top: calc(50% - 45px);
                right: 11px;
            }

            #DuzyNapis {
                top: 1%;
                left: 1%;

                .Akapit {
                    margin-bottom: 5px;
                    font-size: 11px;
                }
            }

            #Napis1, #Napis2 {
                font-size: 11px;
            }
        }
    }

    @media(max-width:430px) {
        height: 100px;

        .Kontener {
            #plyta {
                height: 45px;
                top: calc(50% - 15px);
                right: 5px;
            }

            #DuzyNapis {
                top: 1%;
                left: 1%;

                .Akapit {
                    margin-bottom: 3px;
                    font-size: 6px;
                }
            }

            #Napis1, #Napis2 {
                font-size: 6px;
            }
        }
    }
}

@media(min-width:1501px) {

    @keyframes Plyta {
        0% {
            opacity: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            right: 230px;
        }
    }

    @keyframes gwd-gen-gltbgwdanimation_gwd-keyframes {
        0% {
            width: 100%;
            height: 100%;
            top: 0px;
            opacity: 1;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in
        }

        9.7222% {
            width: 259px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        97.2222% {
            width: 259px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        100% {
            width: 259px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 0;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@media(min-width:1301px) and (max-width:1500px) {

    @keyframes Plyta {
        0% {
            opacity: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            right: 195px;
        }
    }

    @keyframes gwd-gen-gltbgwdanimation_gwd-keyframes {
        0% {
            width: 100%;
            height: 100%;
            top: 0px;
            opacity: 1;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in
        }

        9.7222% {
            width: 223px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        97.2222% {
            width: 223px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        100% {
            width: 223px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 0;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@media(min-width:1101px) and (max-width:1300px) {

    @keyframes Plyta {
        0% {
            opacity: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            right: 162px;
        }
    }

    @keyframes gwd-gen-gltbgwdanimation_gwd-keyframes {
        0% {
            width: 100%;
            height: 100%;
            top: 0px;
            opacity: 1;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in
        }

        9.7222% {
            width: 186px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        97.2222% {
            width: 186px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        100% {
            width: 186px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 0;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@media(min-width:851px) and (max-width:1100px) {
    @keyframes Plyta {
        0% {
            opacity: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            right: 128px;
        }
    }

    @keyframes gwd-gen-gltbgwdanimation_gwd-keyframes {
        0% {
            width: 100%;
            height: 100%;
            top: 0px;
            opacity: 1;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in
        }

        9.7222% {
            width: 149px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        97.2222% {
            width: 149px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        100% {
            width: 149px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 0;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@media(min-width:601px) and (max-width:850px) {
    @keyframes Plyta {
        0% {
            opacity: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            right: 96px;
        }
    }

    @keyframes gwd-gen-gltbgwdanimation_gwd-keyframes {
        0% {
            width: 100%;
            height: 100%;
            top: 0px;
            opacity: 1;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in
        }

        9.7222% {
            width: 112px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        97.2222% {
            width: 112px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        100% {
            width: 112px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 0;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@media(min-width:431px) and (max-width:600px) {
    @keyframes Plyta {
        0% {
            opacity: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            right: 65px;
        }
    }

    @keyframes gwd-gen-gltbgwdanimation_gwd-keyframes {
        0% {
            width: 100%;
            height: 100%;
            top: 0px;
            opacity: 1;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in
        }

        9.7222% {
            width: 75px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        97.2222% {
            width: 75px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        100% {
            width: 75px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 0;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@media(max-width:430px) {
    @keyframes Plyta {
        0% {
            opacity: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            right: 32px;
        }
    }

    @keyframes gwd-gen-gltbgwdanimation_gwd-keyframes {
        0% {
            width: 100%;
            height: 100%;
            top: 0px;
            opacity: 1;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in
        }

        9.7222% {
            width: 38px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        97.2222% {
            width: 38px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        100% {
            width: 38px;
            height: 33%;
            right: 50%;
            top: 0px;
            opacity: 0;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@keyframes Napis{
    from {
        opacity: 1;
        right: 50%;
        top: 50%;
        transform: translate(50%, 50%) scale3d(1.5, 1.5, 1);
    }
    to {
        opacity: 0;
        top: 0;
        right: 50%;
        transform: translate(0%, 0%) scale3d(1,1,1);
    }
}

@keyframes Okladki1 {
    0% {
        opacity: 1;
    }

    12.5% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Okladki2 {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    37.5% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    62.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Okladki3 {
    0% {
        opacity: 0;
    }

    37.5% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    62.5% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Okladki4 {
    0% {
        opacity: 0;
    }

    62.5% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    87.5% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes czlosc2 {
    0% {
        opacity: 1;
        right: 0;
    }

    16.67% { //.5s
        opacity: 1;
        right: 0%;
    }

    33.3333% { //1s
        right: 50%;
        opacity: 1;
    }

    83.3333% {
        right: 50%;
        opacity: 1;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes czlosc3 {
    0% {
        opacity: 1;
        right: 0%;
    }

    33.333% { //1s
        opacity: 1;
        right: 0%;
    }

    50% { //1.5s
        right: 25%;
        opacity: 1;
    }

    83.333% {
        right: 25%;
        opacity: 1;
    }

    100% {
        right: 0%;
        opacity: 1;
    }
}

@keyframes czlosc4 {
    0% {
        opacity: 1;
        right: 0%;
    }

    75% { //1.5s
        opacity: 1;
        right: 0%;
    }

    100% { //2s
        right: 0%;
        opacity: 1;
    }
}

@keyframes NapisGora {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes NapisDuzy {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Obrot {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}


@keyframes gwd-gen-v0uigwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        height: 100%;
        animation-timing-function: linear;
        right: 50%;
        margin-top: 0%;
    }

    3.571% { //0.2s
        opacity: 1;
        height: 100%;
        animation-timing-function: ease-in-out;
        right: 50%;
        margin-top: 0%;
    }

    28.571% { //1.6s
        opacity: 1;
        height: 75%;
        animation-timing-function: linear;
        right: 0%;
        margin: 4.4% 0;
    }

    37.5% { //2,1s
        opacity: 1;
        height: 75%;
        animation-timing-function: linear;
        right: 0%;
        margin: 4.4% 0;
    }

    46.429% { //2.6s
        opacity: 1;
        right: 75%;
        height: 75%;
        animation-timing-function: linear;
        margin: 4.4% 0;
    }

    91.071% {
        opacity: 1;
        right: 75%;
        height: 75%;
        animation-timing-function: linear;
        margin: 4.4% 0;
    }

    100% {
        opacity: 1;
        right: 0%;
        height: 75%;
        animation-timing-function: linear;
        margin: 4.4% 0;
    }
}

/*@media(max-width:1300px) {
    @keyframes gwd-gen-gltbgwdanimation_gwd-keyframes {
        0% {
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            opacity: 1;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in
        }

        9.7222% {
            height: 33%;
            right:70%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 370px;
        }

        97.2222% {
            height: 33%;
            right:70%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 370px;
        }

        100% {
            height: 33%;
            right:70%;
            top: 0px;
            opacity: 0;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 370px;
        }
    }

    @keyframes gwd-gen-v0uigwdanimation_gwd-keyframes {
        0% {
            opacity: 0;
            transform: scale3d(1, 1, 1);
            -webkit-transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            right: calc(70% - 265px);
        }

        3.571% { //0.2s
            opacity: 1;
            transform: scale3d(1, 1, 1);
            -webkit-transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            animation-timing-function: ease-in-out;
            -webkit-animation-timing-function: ease-in-out;
            -moz-animation-timing-function: ease-in-out;
            right: calc(70% - 265px);
        }

        28.571% { //1.6s
            opacity: 1;
            transform: scale3d(.75, .75, 1);
            -webkit-transform: scale3d(.75, .75, 1);
            -moz-transform: scale3d(.75, .75, 1);
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            right: 0%;
        }

        37.5% { //2,1s
            opacity: 1;
            transform: scale3d(.75, .75, 1);
            -webkit-transform: scale3d(.75, .75, 1);
            -moz-transform: scale3d(.75, .75, 1);
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            right: 0%;
        }

        46.429% { //2.6s
            opacity: 1;
            right: 75%;
            transform: scale3d(.75, .75, 1);
            -webkit-transform: scale3d(.75, .75, 1);
            -moz-transform: scale3d(.75, .75, 1);
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        91.071% {
            opacity: 1;
            right: 75%;
            transform: scale3d(.75, .75, 1);
            -webkit-transform: scale3d(.75, .75, 1);
            -moz-transform: scale3d(.75, .75, 1);
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }

        100% {
            opacity: 1;
            right: 0%;
            transform: scale3d(.75, .75, 1);
            -webkit-transform: scale3d(.75, .75, 1);
            -moz-transform: scale3d(.75, .75, 1);
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }

    @keyframes Plyta {
        0% {
            opacity: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            right: 200px;
        }
    }
}

@media(max-width:1050px) {

    @keyframes gwd-gen-gltbgwdanimation_gwd-keyframes {
        0% {
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            opacity: 1;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in
        }

        9.7222% {
            height: 33%;
            left: 0%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 370px;
        }

        97.2222% {
            height: 33%;
            left: 0%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 370px;
        }

        100% {
            height: 33%;
            left: 0%;
            top: 0px;
            opacity: 0;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 370px;
        }
    }
}

@media(max-width:800px) {
    @keyframes gwd-gen-gltbgwdanimation_gwd-keyframes {
        0% {
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            opacity: 1;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in
        }

        9.7222% {
            height: 33%;
            left: 0%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 222px;
        }

        97.2222% {
            height: 33%;
            left: 0%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 222px;
        }

        100% {
            height: 33%;
            left: 0%;
            top: 0px;
            opacity: 0;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 222px;
        }
    }

    @keyframes gwd-gen-v0uigwdanimation_gwd-keyframes {
        0% {
            opacity: 0;
            transform: scale3d(1, 1, 1);
            -webkit-transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear
        }

        12.5% {
            opacity: 1;
            transform: scale3d(1, 1, 1);
            -webkit-transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            animation-timing-function: ease-in-out;
            -webkit-animation-timing-function: ease-in-out;
            -moz-animation-timing-function: ease-in-out
        }

        100% {
            opacity: 1;
            transform: scale3d(.75, .75, 1);
            -webkit-transform: scale3d(.75, .75, 1);
            -moz-transform: scale3d(.75, .75, 1);
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            right: -55px;
        }
    }
}

@media(max-width:500px) {
    @keyframes gwd-gen-gltbgwdanimation_gwd-keyframes {
        0% {
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            opacity: 1;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in
        }

        9.7222% {
            height: 33%;
            left: 0%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 148px;
        }

        97.2222% {
            height: 33%;
            left: 0%;
            top: 0px;
            opacity: 1;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 148px;
        }

        100% {
            height: 33%;
            left: 0%;
            top: 0px;
            opacity: 0;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            width: 148px;
        }
    }

    @keyframes gwd-gen-v0uigwdanimation_gwd-keyframes {
        0% {
            opacity: 0;
            transform: scale3d(1, 1, 1);
            -webkit-transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear
        }

        12.5% {
            opacity: 1;
            transform: scale3d(1, 1, 1);
            -webkit-transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            animation-timing-function: ease-in-out;
            -webkit-animation-timing-function: ease-in-out;
            -moz-animation-timing-function: ease-in-out
        }

        100% {
            opacity: 1;
            transform: scale3d(.75, .75, 1);
            -webkit-transform: scale3d(.75, .75, 1);
            -moz-transform: scale3d(.75, .75, 1);
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            right: -38px;
        }
    }
}*/
            @keyframes gwd-gen-dohbgwdanimation_gwd-keyframes {
                0% {
                    height: 185%;
                    right: 110%;
                    top: 17%;
                    transform: translate3d(-6px, 24px, 0);
                    -webkit-transform: translate3d(-6px, 24px, 0);
                    -moz-transform: translate3d(-6px, 24px, 0);
                    opacity: 1;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in;
                }

                9.7222% {
                    height: 100%;
                    right: 50%;
                    top: 0px;
                    transform: translate3d(0, 0, 0);
                    -webkit-transform: translate3d(0, 0, 0);
                    -moz-transform: translate3d(0, 0, 0);
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear;
                }

                97.2222% {
                    height: 100%;
                    right: 50%;
                    top: 0px;
                    transform: translate3d(0, 0, 0);
                    -webkit-transform: translate3d(0, 0, 0);
                    -moz-transform: translate3d(0, 0, 0);
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear;
                }

                100% {
                    height: 100%;
                    right: 50%;
                    top: 0px;
                    transform: translate3d(0, 0, 0);
                    -webkit-transform: translate3d(0, 0, 0);
                    -moz-transform: translate3d(0, 0, 0);
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear;
                }
            }

            @keyframes gwd-gen-1f86gwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                51.4286% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.1429% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-k4yugwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                59.4203% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.1014% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1d5zgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                68.5714% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.1429% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-14smgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                79.4118% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.0588% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-k465gwdanimation_gwd-keyframes {
                0% {
                    opacity: 0.01;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                44.1176% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.0588% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-5jvjgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                33.3333% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.1014% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-6ueagwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                63.6364% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.9697% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-150vgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                76.1194% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.0149% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1617gwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                62.3188% {
                    opacity: 0.99;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.1014% {
                    opacity: 0.99;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1pvzgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                39.3939% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.9697% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1jh3gwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                65.0794% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.8254% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-9bivgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                87.6923% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.9231% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1mt3gwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                52.9412% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.0588% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1tqwgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                79.1045% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.0149% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-tmvzgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                71.0145% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.1014% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1geigwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                49.2063% {
                    opacity: 0.99;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.8254% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1oy4gwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                41.5385% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.9231% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-645hgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                55.1724% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.5517% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-lpj7gwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                48% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1lucgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                34.6154% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.1538% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1dqjgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                67.7419% {
                    opacity: 0.99;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.7742% {
                    opacity: 0.99;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-9nasgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                63.6364% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.9697% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1pe5gwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                32% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-1vtrgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                57.1429% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.4286% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-movkgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                54.5455% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                96.9697% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-pz42gwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease;
                    -webkit-animation-timing-function: ease;
                    -moz-animation-timing-function: ease
                }

                50% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                93.5% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-e39sgwdanimation_gwd-keyframes {
                0% {
                    opacity: 0;
                    animation-timing-function: ease;
                    -webkit-animation-timing-function: ease;
                    -moz-animation-timing-function: ease
                }

                43.4783% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                95.522% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-akqugwdanimation_gwd-keyframes {
                0% {
                    background-color: #000;
                    animation-timing-function: ease-in;
                    -webkit-animation-timing-function: ease-in;
                    -moz-animation-timing-function: ease-in
                }

                100% {
                    background-color: #727272;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-gen-7g3zgwdanimation_gwd-keyframes {
                0% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                97.5% {
                    opacity: 1;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }

                100% {
                    opacity: 0;
                    animation-timing-function: linear;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear
                }
            }

            @keyframes gwd-empty-animation {
                0% {
                    opacity: 0.001
                }

                100% {
                    opacity: 0
                }
            }
