﻿@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
.loginPage * {
  box-sizing: border-box;
}
.loginPage .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.loginPage .login {
  border-radius: 2px 2px 0px 0px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 500px;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.loginPage .login.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.loginPage .login.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.loginPage .login.ok button {
  background-color: #8bc34a;
}
.loginPage .login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.loginPage .login input:not(input[type="checkbox"]) {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: black;
}
.loginPage .login input:not(input[type="checkbox"]) + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.loginPage .login input:not(input[type="checkbox"]):focus {
  outline: none;
  color: #444;
  border-color: red;
  border-left-width: 35px;
}
.loginPage .login input:not(input[type="checkbox"]):focus + i.fa {
  opacity: 1;
  left: calc(15px - 4px);
  transition: all 0.25s ease-out;
  top: calc(24px - 8px);
}
.loginPage .login a {
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.loginPage .login a:hover {
  color: red;
}
.loginPage .login .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.loginPage .login button,
.loginPage .login .button {
  padding: 10px 30px;
  background-color: #b8b9bd;
  border: 1px solid #b8b9bd;
  color: black;
  font-size: 18px;
  text-align: center;
  position: relative;
  display: table;
  margin: 20px auto 0px auto;
}
.loginPage .login button:hover,
.loginPage .login .button:hover {
  text-decoration: underline;
}
.loginPage .login button .spinner,
.loginPage .login .button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.loginPage .login .block {
  display: block;
}
.loginPage .login:not(.loading) button:focus {
  border-bottom-width: 4px;
}
.loginPage .login .more {
  transition: all 1s;
  max-height: 1000px;
  overflow: hidden;
}
.loginPage .login .more.hidden {
  max-height: 0;
}
.loginPage .login .important {
  display: flex;
  justify-content: space-around;
}
.loginPage .login .important a {
  font-size: 18px;
}
.loginPage .login-footer {
  display: block;
  padding-top: 25px;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  width: 90%;
  max-width: 500px;
  color: black;
  background-color: lightgray;
  border-radius: 0px 0px 5px 5px;
}
.loginPage .login-footer a,
.loginPage .login-footer a:link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.loginPage label {
  display: block;
  margin-bottom: 10px;
}
.loginPage .custom-select {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 10px;
  position: relative;
}
.loginPage .custom-select select {
  display: none;
}
.loginPage .custom-select.up .select-items {
  top: unset;
  bottom: 100%;
}
.loginPage .select-selected {
  background: white;
  border-radius: 2px;
  border: 1px solid #dddddd;
  color: black;
  max-height: 48px;
  padding: 15px 10px;
  transition: border-width 0.2s ease;
  width: 100%;
}
.loginPage .select-selected:hover {
  border: 1px solid red;
}
.loginPage .select-selected:after {
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(calc(-50% + 3px));
  width: 0;
}
.loginPage .select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  transform: translateY(calc(-50% - 3px));
}
.loginPage .select-items {
  background-color: white;
  left: 0;
  max-height: 200px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
}
.loginPage .select-items div {
  background: white;
  border-radius: 2px;
  border: 1px solid #dddddd;
  color: black;
  max-height: 48px;
  padding: 15px 10px;
  transition: border-width 0.2s ease;
  width: 100%;
}
.loginPage .select-items div:hover {
  border: 1px solid red;
}
.loginPage .select-hide {
  display: none;
}
.loginPage .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.loginPage .ok {
  background-color: lightgreen;
  padding: 10px;
  border-radius: 5px;
}
.loginPage .error {
  background-color: red;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
.loginPage .external .btn-social {
  padding: 0.375rem 0.75rem;
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  border-radius: 0.15rem;
  border: none !important;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 1.5;
}
.loginPage .external .btn-social.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}
.loginPage .external .btn-social.btn-google:hover {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}
.loginPage .external .btn-social.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.loginPage .external .btn-social i {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.loginPage .external .btn-block + .btn-block {
  margin-top: 0.5rem;
}
.field-validation-error {
  background: red;
  color: white;
  padding: 5px;
  border-radius: 41px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 13px;
}
.field-validation-error:before {
  border: 10px solid transparent;
  border-bottom: 10px solid red;
  content: " ";
  position: absolute;
  top: -20px;
  left: 17px;
}
.TeacherInfo {
  background-color: lightskyblue;
  color: black;
  padding: 5px;
  border-radius: 41px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 13px;
}
.TeacherInfo:before {
  border: 10px solid transparent;
  border-bottom: 10px solid lightskyblue;
  content: " ";
  position: absolute;
  top: -20px;
  left: 17px;
}