﻿.MainSLider {
    .slides {
        overflow: hidden;
        position: relative;
        transition: height 0.4s;
        z-index: 0;

        .slide.prev {
            z-index: 1;
        }

        .active {
            z-index: 2;
        }
    }

    .slide {
        display: flex;
        min-height: 40vw;
        height: 40vw;
        max-height: 50vh;
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 0;

        > figure {
            background-size: 100% auto;
            background-position: center;
            bottom: 0;
            left: 0;
            margin: 0;
            opacity: 1;
            position: absolute;
            right: 0;
            top: 0;
            transition: opacity 0.4s;
            background-repeat: no-repeat;

            img.hidden {
                clip: rect(0 0 0 0);
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                padding: 0;
                width: auto;
            }
        }
    }

    .js {
        .slide {
            position: absolute;

            > figure {
                img.hidden {
                    border: 0;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    position: absolute;
                    padding: 0;
                    width: 1px;
                }
            }
        }

        .dots {
            display: block;
        }

        .arrows {
            display: block;
        }
    }

    .slide-description {
        align-self: flex-end;
        padding: 64px 64px 64px 136px;
        position: relative;
        transition: opacity 0.4s;
        max-width: 612px;
        z-index: 0;

        &:after {
            background-color: rgba(0, 0, 0, 0.6);
            bottom: 32px;
            content: "";
            left: 104px;
            position: absolute;
            right: 32px;
            top: 32px;
            z-index: -1;
        }

        h3 {
            border-left: 6px solid #000;
            color: #fff;
            font-weight: 100;
            font-size: 24px;
            letter-spacing: 0.5px;
            line-height: 32px;
            margin: 0 0 16px 0;
            padding: 4px 0 0 24px;
        }

        p {
            color: #fff;
            font-size: 16px;
            line-height: 24px;
            margin: 0;
            word-spacing: 1px;
        }
    }

    .dots {
        bottom: 32px;
        display: none;
        font-size: 0;
        letter-spacing: 4px;
        position: absolute;
        right: 24px;
        z-index: 999;
        max-width: 200px;

        .active {
            background-color: #fff;
        }

        .loading {
            opacity: 0;
        }

        .active.error {
            background: #f22613;
        }
    }

    .dot {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 16px;
        margin-top: 8px;
        transition: background-color 0.6s ease, opacity 0.6s ease;
        width: 16px;

        &:hover {
            background-color: #000;
        }
    }

    .arrows {
        display: none;

        .arrow-prev {
            background-color: rgba(0,0,0,0);
            border: none;
            color: #fff;
            cursor: pointer;
            display: block;
            font-weight: bold;
            position: absolute;
            padding: 16px;
            top: 50%;
            transform: translate(0, -50%);
            transition: background-color 0.6s ease;
            z-index: 3;
            left: -10vw;
            height: 50%;
            font-size: 80px;

            &:hover {
                background-color: rgba(0,0,0,0);
            }
        }

        .arrow-next {
            background-color: rgba(0,0,0,0);
            border: none;
            color: #fff;
            cursor: pointer;
            display: block;
            font-weight: bold;
            position: absolute;
            padding: 16px;
            top: 50%;
            transform: translate(0, -50%);
            transition: background-color 0.6s ease;
            z-index: 3;
            right: -10vw;
            height: 50%;
            font-size: 80px;

            &:hover {
                background-color: rgba(0,0,0,0);
            }
        }
    }

    .first {
        figure {
            transition: unset;
        }

        .slide-description {
            transition: unset;
        }
    }

    .slides.zip {
        figure {
            transform: translate(0, -100%);
        }

        .slide-description {
            transform: translate(0, 100%);
        }

        .active {
            figure {
                transform: translate(0, 0);
                transition: transform 0.4s ease;
            }

            .slide-description {
                transform: translate(0, 0);
                transition: transform 0.4s 0.4s ease;
            }
        }

        .prev {
            figure {
                transition: transform 0.2s 0.8s;
            }

            .slide-description {
                transition: transform 0.2s 0.8s;
            }
        }
    }

    .slides.chain {
        figure {
            transform: translate(-100%, 0);
        }

        .slide-description {
            transform: translate(-100%, 0);
        }

        .active {
            figure {
                transform: translate(0, 0);
                transition: transform 0.4s ease;
            }

            .slide-description {
                transform: translate(0, 0);
                transition: transform 0.4s 0.4s ease;
            }
        }

        .prev {
            figure {
                transition: transform 0.2s 0.8s;
            }

            .slide-description {
                transition: transform 0.2s 0.8s;
            }
        }
    }

    .slides.fade {
        .slide {
            figure {
                transform: translate(0, 0);
            }

            .slide-description {
                transform: translate(0, 0);
            }

            opacity: 0;
        }

        .slide.active {
            opacity: 1;
            transition: opacity 0.4s;
            z-index: 2;
        }

        .slide.prev {
            transition: opacity 0.4s 0.4s;
            z-index: 1;
        }
    }

    .slider-content {
        overflow: hidden;
        width: 100%;
    }

    .slides.tape {
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: unset;
        margin: 0 auto;
        max-width: 80vw;

        .slide {
            box-sizing: border-box;
            flex: 0 0 auto;
            flex-basis: 100%;
            max-width: 100%;
            overflow: hidden;
            position: relative;
            transition: margin-left 0.4s;

            figure {
                opacity: 0.3;
                transition: opacity 0.4s;
                bottom: -12px;
                left: -12px;
                right: -12px;
                top: -12px;
            }

            .slide-description {
                opacity: 0.3;
                transition: opacity 0.4s;
            }

            .Description {
                position: absolute;
                left: 40px;
                bottom: 40px;
                padding: 10px 10px 15px;
                background-color: white;
                transition: all 0.3s ease-in;
                opacity: 0.2;
                font-weight: bold;
                max-width: 70%;
                width: 500px;
                font-size: 14px;

                .title {
                    font-size: 16px;
                }
            }
        }

        .slide.first {
            transition: unset;
        }

        .slide.active {
            figure {
                opacity: 1;
            }

            .slide-description {
                opacity: 1;
            }

            .Description {
                opacity: 0.6;
            }
            /*&:hover {
                .Description {
                    left: 30px;
                    right: 30px;
                    bottom: 30px;
                    padding: 10px 30px;
                }
            }*/
        }

        @media(max-width:500px) {

            .arrows {
                .arrow-prev {
                    left: -5vw;
                    font-size: 50px;
                }

                .arrow-next {
                    right: -5vw;
                    font-size: 50px;
                }
            }
        }
    }

    @media screen and (max-width: 980px) {
        .js {
            .dots {
                display: none;
            }
        }

        .slide {
            justify-content: center;
        }

        .slide-description {
            padding: 74px;

            &:after {
                left: 50px;
                right: 50px;
            }

            h3 {
                border-left: 0;
                padding: 0;
            }
        }
    }
}
