﻿.MainSLider .slides {
  overflow: hidden;
  position: relative;
  transition: height 0.4s;
  z-index: 0;
}
.MainSLider .slides .slide.prev {
  z-index: 1;
}
.MainSLider .slides .active {
  z-index: 2;
}
.MainSLider .slide {
  display: flex;
  min-height: 40vw;
  height: 40vw;
  max-height: 50vh;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 0;
}
.MainSLider .slide > figure {
  background-size: 100% auto;
  background-position: center;
  bottom: 0;
  left: 0;
  margin: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.4s;
  background-repeat: no-repeat;
}
.MainSLider .slide > figure img.hidden {
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  padding: 0;
  width: auto;
}
.MainSLider .js .slide {
  position: absolute;
}
.MainSLider .js .slide > figure img.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  padding: 0;
  width: 1px;
}
.MainSLider .js .dots {
  display: block;
}
.MainSLider .js .arrows {
  display: block;
}
.MainSLider .slide-description {
  align-self: flex-end;
  padding: 64px 64px 64px 136px;
  position: relative;
  transition: opacity 0.4s;
  max-width: 612px;
  z-index: 0;
}
.MainSLider .slide-description:after {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 32px;
  content: "";
  left: 104px;
  position: absolute;
  right: 32px;
  top: 32px;
  z-index: -1;
}
.MainSLider .slide-description h3 {
  border-left: 6px solid #000;
  color: #fff;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 32px;
  margin: 0 0 16px 0;
  padding: 4px 0 0 24px;
}
.MainSLider .slide-description p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  word-spacing: 1px;
}
.MainSLider .dots {
  bottom: 32px;
  display: none;
  font-size: 0;
  letter-spacing: 4px;
  position: absolute;
  right: 24px;
  z-index: 999;
  max-width: 200px;
}
.MainSLider .dots .active {
  background-color: #fff;
}
.MainSLider .dots .loading {
  opacity: 0;
}
.MainSLider .dots .active.error {
  background: #f22613;
}
.MainSLider .dot {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin-top: 8px;
  transition: background-color 0.6s ease, opacity 0.6s ease;
  width: 16px;
}
.MainSLider .dot:hover {
  background-color: #000;
}
.MainSLider .arrows {
  display: none;
}
.MainSLider .arrows .arrow-prev {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: bold;
  position: absolute;
  padding: 16px;
  top: 50%;
  transform: translate(0, -50%);
  transition: background-color 0.6s ease;
  z-index: 3;
  left: -10vw;
  height: 50%;
  font-size: 80px;
}
.MainSLider .arrows .arrow-prev:hover {
  background-color: rgba(0, 0, 0, 0);
}
.MainSLider .arrows .arrow-next {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: bold;
  position: absolute;
  padding: 16px;
  top: 50%;
  transform: translate(0, -50%);
  transition: background-color 0.6s ease;
  z-index: 3;
  right: -10vw;
  height: 50%;
  font-size: 80px;
}
.MainSLider .arrows .arrow-next:hover {
  background-color: rgba(0, 0, 0, 0);
}
.MainSLider .first figure {
  transition: unset;
}
.MainSLider .first .slide-description {
  transition: unset;
}
.MainSLider .slides.zip figure {
  transform: translate(0, -100%);
}
.MainSLider .slides.zip .slide-description {
  transform: translate(0, 100%);
}
.MainSLider .slides.zip .active figure {
  transform: translate(0, 0);
  transition: transform 0.4s ease;
}
.MainSLider .slides.zip .active .slide-description {
  transform: translate(0, 0);
  transition: transform 0.4s 0.4s ease;
}
.MainSLider .slides.zip .prev figure {
  transition: transform 0.2s 0.8s;
}
.MainSLider .slides.zip .prev .slide-description {
  transition: transform 0.2s 0.8s;
}
.MainSLider .slides.chain figure {
  transform: translate(-100%, 0);
}
.MainSLider .slides.chain .slide-description {
  transform: translate(-100%, 0);
}
.MainSLider .slides.chain .active figure {
  transform: translate(0, 0);
  transition: transform 0.4s ease;
}
.MainSLider .slides.chain .active .slide-description {
  transform: translate(0, 0);
  transition: transform 0.4s 0.4s ease;
}
.MainSLider .slides.chain .prev figure {
  transition: transform 0.2s 0.8s;
}
.MainSLider .slides.chain .prev .slide-description {
  transition: transform 0.2s 0.8s;
}
.MainSLider .slides.fade .slide {
  opacity: 0;
}
.MainSLider .slides.fade .slide figure {
  transform: translate(0, 0);
}
.MainSLider .slides.fade .slide .slide-description {
  transform: translate(0, 0);
}
.MainSLider .slides.fade .slide.active {
  opacity: 1;
  transition: opacity 0.4s;
  z-index: 2;
}
.MainSLider .slides.fade .slide.prev {
  transition: opacity 0.4s 0.4s;
  z-index: 1;
}
.MainSLider .slider-content {
  overflow: hidden;
  width: 100%;
}
.MainSLider .slides.tape {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: unset;
  margin: 0 auto;
  max-width: 80vw;
}
.MainSLider .slides.tape .slide {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  transition: margin-left 0.4s;
}
.MainSLider .slides.tape .slide figure {
  opacity: 0.3;
  transition: opacity 0.4s;
  bottom: -12px;
  left: -12px;
  right: -12px;
  top: -12px;
}
.MainSLider .slides.tape .slide .slide-description {
  opacity: 0.3;
  transition: opacity 0.4s;
}
.MainSLider .slides.tape .slide .Description {
  position: absolute;
  left: 40px;
  bottom: 40px;
  padding: 10px 10px 15px;
  background-color: white;
  transition: all 0.3s ease-in;
  opacity: 0.2;
  font-weight: bold;
  max-width: 70%;
  width: 500px;
  font-size: 14px;
}
.MainSLider .slides.tape .slide .Description .title {
  font-size: 16px;
}
.MainSLider .slides.tape .slide.first {
  transition: unset;
}
.MainSLider .slides.tape .slide.active {
  /*&:hover {
                .Description {
                    left: 30px;
                    right: 30px;
                    bottom: 30px;
                    padding: 10px 30px;
                }
            }*/
}
.MainSLider .slides.tape .slide.active figure {
  opacity: 1;
}
.MainSLider .slides.tape .slide.active .slide-description {
  opacity: 1;
}
.MainSLider .slides.tape .slide.active .Description {
  opacity: 0.6;
}
@media (max-width: 500px) {
  .MainSLider .slides.tape .arrows .arrow-prev {
    left: -5vw;
    font-size: 50px;
  }
  .MainSLider .slides.tape .arrows .arrow-next {
    right: -5vw;
    font-size: 50px;
  }
}
@media screen and (max-width: 980px) {
  .MainSLider .js .dots {
    display: none;
  }
  .MainSLider .slide {
    justify-content: center;
  }
  .MainSLider .slide-description {
    padding: 74px;
  }
  .MainSLider .slide-description:after {
    left: 50px;
    right: 50px;
  }
  .MainSLider .slide-description h3 {
    border-left: 0;
    padding: 0;
  }
}