﻿.Tags {
  width: 100%;
  background: white;
  display: inline-block;
  margin: 5px 0 0 -4px;
  height: 40px;
  left: 4px;
  line-height: 43px;
  padding-left: 10px;
  color: black;
  font-size: 15px;
}
.Tags .smartSubTitle {
  display: inline-block;
  height: 40px;
}
.blog {
  /*    color: white;*/
  margin-bottom: 76px;
}
article .post {
  background: white;
  padding: 20px;
  font-size: 20px;
}
article .post .herader {
  text-align: center;
}
article .post h3 {
  font-size: 26px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  height: 49px;
  border-bottom: 1px solid;
  margin-bottom: 5px;
}
article .post h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
article .post .PostInfo {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}
article .post .PostInfo .Date {
  /*                border-left: 1px solid;*/
  padding: 0px 5px 0 0;
  margin: 0 5px;
  display: inline-block;
  border-right: 1px solid;
}
article .post .PostInfo .Category {
  display: inline-block;
}
.postList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1279px) {
  .postList {
    grid-template-columns: 1fr;
  }
}
.postList .post {
  border: solid 1px;
  padding: 10px;
  background: white;
}
.postList .post .grid {
  display: grid;
  grid-template-columns: auto auto;
  /*            grid-gap: 15px;*/
}
.postList .post .grid .PostImage {
  height: 330px;
  width: 244px;
}
.postList .post .grid .PostInfo {
  border-top: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  height: 295px;
  font-size: 20px;
  text-align: left;
  padding: 0 0 0 20px;
  border-bottom: 0;
  margin-top: 2px;
}
.postList .post .grid .PostInfo p {
  margin: 0;
  padding: 0;
}
.postList .post .footerPost {
  font-size: 15px;
  padding-left: 20px;
  margin-top: 8px;
  border-top: 1px solid;
}
.postList .post .footerPost .commentsInfo {
  display: inline-block;
  float: right;
}
.postList .post .footerPost .Info {
  display: inline-block;
}
.postList .post .footerPost .Info .authorLink {
  margin-right: 10px;
}
.postList .AuthorInfo {
  padding: 15px;
  grid-column: 1 / 3;
}
a {
  font-weight: bold;
}
.pagination {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 0;
}
.pagination .pageFirst,
.pagination .pageItem,
.pagination .pageLast {
  display: none;
}
.pagination .pagePrev,
.pagination .pageNext,
.pagination .pageCurrent {
  padding-top: 70px;
  padding: 21px 0;
  background-color: #ebebeb;
  border: 1px solid #ededed;
  color: black;
  font-size: 18px;
  text-align: center;
}
.pagination .pageCurrent {
  position: relative;
  z-index: -9999;
  background-color: transparent;
  border: 0;
  display: block;
}
.pagination span {
  display: none;
}
.pagingSummary {
  display: none;
}
#commentForm input,
#commentForm textarea {
  margin-top: 10px;
  padding-bottom: 20px;
  width: calc(100% - 54px);
  line-height: 120%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: black;
}
#commentForm #submitButton {
  margin-top: 15px;
  padding: 21px 0;
  background-color: #ebebeb;
  border: 1px solid #ededed;
  color: black;
  font-size: 18px;
  text-align: center;
  width: 33%;
  position: relative;
  left: 33%;
}
#commentForm .double {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
#commentsContainer .comment {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}
#commentsContainer .comment .commentTop {
  font-size: 15px;
  font-weight: bold;
}
#commentsContainer .comment .commentTop .commentName {
  display: inline-block;
}
#commentsContainer .comment .commentTop .commentDate {
  display: inline-block;
}
#commentsContainer .comment .commentComment {
  font-size: 20px;
}
.comentsCount {
  float: right;
  margin-right: 10px;
}
li a {
  font-weight: normal;
}
.smartTag {
  font-weight: normal;
  margin-left: 5px;
}
.selected {
  font-weight: bold;
}
.selected a {
  font-weight: bold;
}
.CommentHeader {
  font-size: 18px;
}
.AuthorInfo {
  text-align: center;
  background: white;
  padding-bottom: 15px;
}
.AuthorInfo h2 {
  font-size: 26px;
}
.AuthorInfo .AuthorImg img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.AuthorInfo .AuthorSocial {
  margin-top: 15px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  /*    border-radius: 4px;*/
}
.btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  /*    border-radius: 6px;*/
}
.btn-block {
  display: inline-block;
  width: 360px;
}