﻿
.Tags {
    width: 100%;
    background: white;
    display: inline-block;
    margin: 5px 0 0 -4px;
    height: 40px;
    left: 4px;
    line-height: 43px;
    padding-left: 10px;
    color: black;
    font-size: 15px;

    .smartSubTitle {
        display: inline-block;
        height: 40px;
    }
}

.blog {
    /*    color: white;*/
    margin-bottom: 76px;
}

article {
    .post {
        background: white;
        padding: 20px;
        font-size: 20px;

        .herader {
            text-align: center;
        }

        h3 {
            font-size: 26px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            height: 49px;
            border-bottom: 1px solid;
            margin-bottom: 5px;
        }

        h1 {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .PostInfo {
            border-top: 1px solid;
            border-bottom: 1px solid;
            padding: 5px;
            font-size: 16px;
            text-align: center;

            .Date {
/*                border-left: 1px solid;*/
                padding: 0px 5px 0 0;
                margin: 0 5px;
                display: inline-block;
                border-right: 1px solid;
            }

            .Category {
                display: inline-block;
            }
        }
    }
}

.postList {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media(max-width:1279px) {
        grid-template-columns: 1fr;
    }

    .post {
        border: solid 1px;
        padding: 10px;
        background: white;

        .grid {
            display: grid;
            grid-template-columns: auto auto;
            /*            grid-gap: 15px;*/
            .PostImage {
                height: 330px;
                width: 244px;
            }

            .PostInfo {
                border-top: 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                overflow: hidden;
                height: 295px;
                font-size: 20px;
                text-align: left;
                padding: 0 0 0 20px;
                border-bottom:0;
                margin-top:2px;

                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .footerPost {
            font-size: 15px;
            padding-left: 20px;
            margin-top: 8px;
            border-top: 1px solid;

            .commentsInfo {
                display: inline-block;
                float: right;
            }

            .Info {
                display: inline-block;

                .authorLink {
                    margin-right: 10px;
                }
            }
        }
    }

    .AuthorInfo {
        padding: 15px;
        grid-column: 1 e("/") 3;
    }
}

a {
    font-weight: bold;
}

.pagination {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0;

    .pageFirst, .pageItem, .pageLast {
        display: none;
    }

    .pagePrev, .pageNext, .pageCurrent {
        padding-top: 70px;
        padding: 21px 0;
        background-color: #ebebeb;
        border: 1px solid #ededed;
        color: black;
        font-size: 18px;
        text-align: center;
    }

    .pageCurrent {
        position: relative;
        z-index: -9999;
        background-color: transparent;
        border: 0;
        display: block;
    }

    span {
        display: none;
    }
}

.pagingSummary {
    display: none;
}

#commentForm {
    input, textarea {
        margin-top: 10px;
        padding-bottom: 20px;
        width: calc(100% - 54px);
        line-height: 120%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        background-color: transparent;
        text-align: center;
        width: 100%;
        font-size: 20px;
        color: black;
    }

    #submitButton {
        margin-top:15px;
        padding: 21px 0;
        background-color: #ebebeb;
        border: 1px solid #ededed;
        color: black;
        font-size: 18px;
        text-align: center;
        width: 33%;
        position: relative;
        left: 33%;
    }

    .double {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}

#commentsContainer {

    .comment {
        border: 1px solid;
        padding: 10px;
        margin: 10px;

        .commentTop {
            font-size: 15px;
            font-weight: bold;

            .commentName {
                display: inline-block;
            }

            .commentDate {
                display: inline-block;
            }
        }

        .commentComment {
            font-size: 20px;
        }
    }
}

.comentsCount {
    float: right;
    margin-right: 10px;
}

li, {
    a {
        font-weight: normal;
    }
}

.smartTag {
    font-weight: normal;
    margin-left: 5px;
}

.selected {
    font-weight: bold;

    a {
        font-weight: bold;
    }
}

.CommentHeader {
    font-size: 18px;
}

.AuthorInfo {
    text-align: center;
    background: white;
    padding-bottom: 15px;

    h2 {
        font-size: 26px;
    }

    .AuthorImg {
        img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
        }
    }

    .AuthorSocial {
        margin-top: 15px;
    }
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
/*    border-radius: 4px;*/
}
.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
/*    border-radius: 6px;*/
}
.btn-block {
    display: inline-block;
    width: 360px;
}