﻿/**/
@keyframes Live {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
html,
body {
  font-size: 16px;
  line-height: 1.6;
}
html.stop {
  overflow: hidden;
}
@media (max-width: 1279.5px) {
  html.stop .home-transinfo-opis {
    overflow: hidden !important;
  }
}
@media (max-width: 1279.5px) and (min-width: 1280px) {
  html.stop {
    overflow: auto;
  }
}
body {
  /*height:auto;*/
  /*min-height: 100%;*/
  font-family: 'Montserrat', sans-serif;
  background: black;
  vertical-align: baseline;
  /*height: 100%;*/
  min-width: 320px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input,
textarea,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: white;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
}
/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}
/* IE 10+ */
:focus {
  outline: none;
}
.outline {
  outline: 2px solid red;
  outline-offset: -2px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:active {
  color: inherit;
  text-decoration: underline;
}
p {
  margin: 1em 0;
}
.rte_text ul li {
  position: relative;
  left: 20px;
}
.rte_text ul li:before {
  content: "\2013";
  position: absolute;
  left: -20px;
}
.wcag_hide {
  font-size: 0 !important;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  white-space: nowrap;
  width: 1px;
}
.wcag-selected {
  display: none;
}
.wcag-pick {
  display: inline;
}
::-webkit-input-placeholder {
  color: black;
}
:-moz-placeholder {
  color: black;
  opacity: 1;
}
::-moz-placeholder {
  color: black;
  opacity: 1;
}
:-ms-input-placeholder {
  color: black;
}
.skip_links {
  font-size: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -2000px;
  white-space: nowrap;
  width: 1px;
}
.skip_links .link:focus {
  outline: 2px solid red;
  outline-offset: -2px;
  background: #000;
  color: #fff;
  font-size: 20px;
  position: fixed;
  top: 0;
  white-space: nowrap;
  z-index: 10000;
  padding: 2px 10px 2px 10px;
}
.filter-choise {
  background-color: rgba(220, 0, 0, 0.9);
  display: block;
  position: absolute;
  padding-bottom: 50px;
  left: 0;
  right: 0;
  z-index: 500;
  color: white;
  font-weight: lighter;
}
@media (max-width: 619px) {
  .filter-choise {
    top: 100px;
  }
}
@media (min-width: 620px) {
  .filter-choise {
    top: 126px;
  }
}
@media (min-width: 1280px) {
  .filter-choise .labels {
    width: 300px;
    display: table-cell;
    text-align: right;
  }
  .filter-choise .buttons {
    display: table-cell;
  }
  .filter-choise .cnt {
    clear: both;
    width: 900px;
  }
  .filter-choise .lastone {
    margin-left: 80px;
  }
  .filter-choise .buttons .inner {
    padding-bottom: 60px;
  }
  .filter-choise .seealso {
    margin-top: 80px;
  }
  .filter-choise .guide {
    padding: 70px 60px 0 90px;
  }
  .filter-choise .guide span {
    padding: 10px 0 0 40px;
  }
}
@media (min-width: 800px) and (max-width: 1279px) {
  .filter-choise .labels {
    width: 300px;
    display: table-cell;
    text-align: right;
  }
  .filter-choise .buttons {
    display: table-cell;
  }
  .filter-choise .cnt {
    clear: both;
    width: 720px;
  }
  .filter-choise .buttons .inner {
    margin-left: 50px;
    padding-bottom: 20px;
  }
  .filter-choise .seealso {
    margin-top: 85px;
  }
  .filter-choise .guide {
    padding: 70px 60px 0 50px;
  }
  .filter-choise .guide img {
    padding-top: 10px;
  }
  .filter-choise .guide span {
    padding-left: 40px;
  }
}
@media (max-width: 799px) {
  .filter-choise .close {
    z-index: 100000;
    display: block !important;
    position: absolute;
    right: 20px;
    top: 0;
    float: unset !important;
    line-height: 100% !important;
    margin-right: 0 !important;
    font-size: 80px !important;
    text-decoration: none;
  }
  .filter-choise .labels {
    margin-top: 20px;
    text-align: left;
  }
  .filter-choise .labels .info,
  .filter-choise .labels .title {
    float: unset !important;
    padding-left: 20px;
    display: block;
  }
  .filter-choise .labels .title {
    font-size: 36px !important;
    margin-right: 70px;
  }
  .filter-choise .labels .info {
    padding-top: 20px;
  }
  .filter-choise .cnt {
    width: 100%;
  }
  .filter-choise .buttons .inner {
    float: unset !important;
    width: 100%;
  }
  .filter-choise .buttons .inner a {
    display: block !important;
    margin: 10px auto;
  }
  .filter-choise .seealso {
    float: none !important;
    margin: 20px 0 0 20px;
    font-size: 18px;
  }
  .filter-choise .guide {
    padding: 15px 60px 0 20px;
  }
  .filter-choise .guide img {
    padding-top: 10px;
  }
  .filter-choise .guide span {
    vertical-align: middle;
    padding-left: 40px;
  }
}
.filter-choise.grayscale {
  background-color: rgba(50, 50, 50, 0.9);
}
.filter-choise .close {
  cursor: pointer;
  font-weight: lighter;
  float: right;
  display: inline-block;
  margin-right: 40px;
  font-size: 125px;
  line-height: 160px;
  color: white;
  text-decoration: none;
}
.filter-choise .cnt {
  clear: both;
  display: block;
  margin: 0 auto;
}
.filter-choise .cnt .choise-tab {
  clear: both;
  display: table;
  width: 100%;
}
.filter-choise .cnt .choise-tab .choise-tab-row {
  display: table-row;
}
.filter-choise .cnt .choise-tab .labels .title {
  font-size: 46px;
  line-height: 120%;
  display: block;
  float: right;
}
.filter-choise .cnt .choise-tab .labels .info {
  clear: both;
  font-size: 18px;
  float: right;
  margin-bottom: 25px;
}
.filter-choise .cnt .choise-tab .labels .seealso {
  font-size: 18px;
  clear: both;
  float: right;
}
.filter-choise .cnt .choise-tab .buttons .inner {
  border-bottom: 2px solid white;
  float: right;
}
.filter-choise .cnt .choise-tab .buttons .inner a {
  width: 212px;
  display: inline-block;
  text-align: center;
}
.filter-choise .cnt .choise-tab .buttons .inner a span {
  font-size: 46px;
  display: block;
  text-align: center;
}
.filter-choise .cnt .choise-tab .buttons .guide {
  clear: both;
  display: table;
  font-size: 26px;
}
.filter-choise .cnt .choise-tab .buttons .guide img {
  display: table-cell;
  width: 68px;
}
.filter-choise .cnt .choise-tab .buttons .guide span {
  line-height: 120%;
  display: table-cell;
}
.content {
  min-height: 100%;
  position: static;
}
.top-belt {
  color: white;
  vertical-align: top;
}
@media (max-width: 619px) {
  .top-belt {
    display: none;
  }
}
@media (min-width: 620px) {
  .top-belt {
    background-color: #000;
    width: 100%;
    display: table;
    font-size: 12px;
    line-height: 38px;
    padding-left: 50px;
  }
  .top-belt a {
    vertical-align: top;
    padding: 0 15px 0 0;
    display: table-cell;
  }
  .top-belt a.mz {
    text-decoration: underline !important;
  }
  .top-belt ul {
    float: left;
  }
  .top-belt ul li {
    display: table-cell;
  }
}
@media (min-width: 620px) and (max-width: 799px) {
  .top-belt .login {
    display: none;
  }
}
@media (min-width: 620px) and (min-width: 800px) {
  .top-belt .login {
    float: right;
    padding-right: 20px;
  }
  .top-belt .login .logging_on {
    color: #bbb;
    display: none;
  }
  .top-belt .login a {
    padding-right: 0;
    vertical-align: middle;
    display: inline;
  }
}
.Beta {
  display: none;
  position: absolute;
  color: red;
  z-index: 1;
  font-weight: bold;
}
@media (min-width: 1900px) {
  .Col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }
}
.page_body {
  position: static;
}
@media (max-width: 949px) {
  .page_body {
    padding: 0 30px 210px 30px;
  }
}
@media (min-width: 950px) {
  .page_body {
    padding: 0 70px 215px 70px;
  }
}
@media (max-width: 789px) {
  .page_body {
    padding: 0 10px 300px 10px;
  }
}
@media (max-width: 540px) {
  .page_body {
    padding: 0 10px 325px 10px;
  }
}
@media (max-width: 430px) {
  .page_body {
    padding: 0 10px 330px 10px;
  }
}
.page_body .socials {
  background: white;
  display: inline-block;
  margin: 5px 0 0 -4px;
  height: 40px;
  left: 4px;
  line-height: 43px;
  padding-left: 10px;
  color: black;
  font-size: 15px;
}
.page_body .socials span {
  line-height: 43px;
}
.page_body .socials a {
  display: inline-block;
  height: 100%;
  line-height: 51px;
}
@media (min-width: 1000px) {
  .page_body .socials {
    font-size: 12px;
    padding-left: 47px;
  }
}
@media (max-width: 1200px) {
  .page_body .socials {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
.footer {
  height: 178px;
  padding: 28px 65px 0 65px;
  background-color: #6e6f71;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
  display: table;
  z-index: 1;
  /*
    @media(max-width:540px) {
        .menu {
            grid-template-columns: auto auto !important;
        }
    }*/
}
@media (max-width: 1279px) {
  .footer {
    height: 207px;
  }
  .footer .logo {
    display: block;
    position: absolute;
    bottom: 5px;
    /*left: 0;*/
    right: 0;
    max-width: 100%;
  }
  .footer .logo img {
    display: block;
    margin: 0 auto;
  }
  .footer .disc {
    display: block;
    margin-bottom: 40px;
  }
  .footer .right {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    top: 5px;
    text-align: center;
    z-index: 1;
  }
  .footer .right .socials {
    margin: 20px auto 10px auto !important;
  }
  .footer .right .disc {
    margin: auto !important;
  }
}
.footer .logo {
  position: absolute;
  right: 65px;
  bottom: 28px;
}
.footer .right .menu {
  font-size: 14px;
}
.footer .right .menu li {
  display: table-cell;
  padding-right: 15px;
}
.footer .right .socials {
  background: black;
  padding: 10px;
  color: white;
  margin: 20px 0 10px 0;
  /*width: 300px;*/
  text-align: center;
}
.footer .right .disc {
  display: block;
  width: 300px;
  /*text-align: center;*/
}
.footer .right-smart {
  display: none;
}
.footer .right .menu {
  text-transform: uppercase;
  font-weight: bold;
}
.footer .disc {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.footer .logo img {
  width: 570px;
  padding: 0 15px;
}
@media (max-width: 600px) {
  .footer .disc {
    font-size: 13px;
  }
}
@media (max-width: 789px) {
  .footer {
    padding: 28px 15px 0 15px;
  }
  .footer .right {
    display: block;
  }
  .footer .right .menu {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
  }
  .footer .right .menu li {
    padding-right: 0;
  }
  .footer .right .disc {
    margin-bottom: 0;
  }
  .footer .logo {
    position: static;
    float: right;
    width: auto;
    margin: 10px 10px 25px 0px;
  }
  .footer .logo img {
    padding: 0;
  }
}
@media (max-width: 650px) {
  .footer .menu li {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .footer .menu {
    grid-template-columns: auto !important;
  }
  .footer .disc {
    margin-bottom: 10px !important;
  }
}
.socials {
  margin: 30px 0 14px 0;
  text-transform: uppercase;
  display: inline-block;
  line-height: 25px;
  font-weight: bold;
}
.socials .fa {
  font-size: 25px;
  margin: 0 10px;
}
@media (max-width: 946px) {
  .socials {
    margin: 15px 0 5px 0;
  }
}
#master-search {
  display: none;
}
.search-popup {
  position: absolute;
  top: 0;
  background-color: #ffffff;
  font-weight: lighter;
  z-index: 1000;
  right: 0;
  margin: 5px;
  padding: 5px 0;
}
.search-popup .cnt {
  display: block;
  max-width: 768px;
  margin: 0 auto 0 auto;
}
.search-popup .cnt .close {
  text-align: center;
  display: block;
  margin-top: 0px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 30px;
  transform: translate(50%, -50%);
}
.search-popup .cnt .close .Btn {
  /*left: 50%;*/
  box-sizing: border-box;
  display: block;
  top: 10px;
}
.search-popup .cnt .close .Btn:before {
  transform: rotate(-50deg);
}
.search-popup .cnt .close .Btn:after {
  transform: rotate(50deg);
}
.search-popup .cnt .close .Btn:before,
.search-popup .cnt .close .Btn:after {
  cursor: pointer;
  border-radius: 1px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
  width: 20px;
  height: 1px;
}
.search-popup .cnt .head {
  clear: both;
  font-size: 80px;
  padding-right: 0;
  text-align: center;
}
.search-popup .cnt .enter {
  width: 100vw;
  margin-right: 60px;
  max-width: 500px;
  border: none;
}
.search-popup .cnt .enter input[type=text] {
  font-size: 18px;
  width: calc(100% - 54px);
  line-height: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  /*border-bottom: 3px solid black;*/
  background-color: transparent;
  text-align: center;
  color: black;
  border: none;
}
.search-popup .cnt .enter a {
  margin-left: 0;
  display: inline-block;
}
.search-popup .cnt .enter a .md {
  font-size: 25px;
  position: relative;
  top: 5px;
}
.search-popup .cnt .filters {
  margin-top: 33px;
  text-align: center;
}
.search-popup .cnt .filters > div > a {
  font-size: 16px;
  display: inline-block;
  padding: 7px 19px;
  text-align: center;
}
.search-popup .cnt .filters > div > a.selected {
  background-color: black;
  color: white;
}
.search-popup .cnt .filters > div > span {
  font-size: 14px;
  display: inline-block;
  padding: 7px 19px 7px 19px;
}
.search-popup .cnt .filters .combo {
  margin-top: 7px;
  /*display: inline-block;*/
  margin: 7px auto 0 auto;
  min-width: 50px;
}
.search-popup .cnt .filters .combo .drop {
  font-size: 14px;
  padding-bottom: 0;
  border: none;
}
.search-popup .cnt .filters .combo .list {
  background-color: #fff;
}
.search-popup .cnt .filters .combo .list ul {
  padding: 3px 10px;
}
.search-popup .cnt .filters .combo .list ul li {
  font-size: 14px;
}
@media (max-width: 768px) {
  .search-popup {
    left: 2%;
    right: 2%;
  }
  .search-popup .cnt {
    max-width: 100%;
  }
  .search-popup .cnt .close {
    right: 15px;
  }
  .search-popup .cnt .enter {
    margin-right: 30px;
    max-width: calc(100% - 30px);
  }
}
.mobile-search {
  max-height: 0;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
}
.mobile-search.visible {
  max-height: 500px;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
}
.mobile-search.no-overflow {
  overflow: hidden;
}
.mobile-search .enter input[type=text] {
  padding-bottom: 20px;
  font-size: 18px;
  width: 100%;
  line-height: 120%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  background-color: transparent;
  text-align: center;
}
.mobile-search .filters {
  margin-top: 22px;
  font-size: 16px;
  color: #666;
  font-weight: lighter;
  text-align: center;
}
.mobile-search .filters > div > a {
  display: block;
  padding: 7px 19px;
  text-align: center;
  color: #ccc;
}
.mobile-search .filters > div > a.selected {
  background-color: black;
}
.mobile-search .filters > div > span {
  text-align: center;
  display: block;
  padding: 3px 19px;
  margin: 10px 0;
}
.mobile-search .filters #fltSPTypeM {
  z-index: 101;
}
.mobile-search .filters .combo {
  margin: 10px 0;
  display: block;
  min-width: 50px;
  background-color: #ebebeb;
  width: 100% !important;
}
.mobile-search .filters .combo .drop {
  padding-bottom: 0;
  border: none;
  padding: 5px 0;
  font-size: 16px;
}
.mobile-search .filters .combo .list {
  width: 100% !important;
  background-color: #fff;
}
.mobile-search .filters .combo .list ul {
  padding: 3px 10px;
}
.mobile-search .filters .combo .list ul li {
  text-align: center;
  font-size: 16px;
}
.mobile-search .submit-msearch {
  padding: 10px 0 3px 0;
  background-color: black;
  color: #ccc;
  width: 100%;
  margin: 19px auto 40px auto;
  display: block;
  text-align: center;
  vertical-align: top;
}
.mobile-search .submit-msearch span {
  display: inline-block;
  line-height: 100%;
  margin-right: 10px;
}
/*
.sticky-menu {
    @media (max-width: 1249px) {
        display: none;
    }

    @media (min-width: 1250px) {
        position: fixed;
        top: -100px;
        left: 0;
        width: 100%;
        height: 84px;
        background-color: #ebebeb;
        z-index: 1;
        .transition-general(top 300ms);

        .logo {
            margin: 18px 66px 0 48px;
            display: block;
            float: left;
        }

        .smleft {
            padding-top: 4px;
            float: left;

            a {
                text-decoration: none;
            }

            li {
                line-height: 74px;
                display: table-cell;
                padding-right: 24px;

                &.last {
                    padding-right: 0;
                }

                &:hover {
                    font-weight: bold;
                }
            }

            .selected {
                font-weight: bold;
            }
        }

        .smright {
            float: right;


            li {
                display: table-cell;
            }

            .selected {
                .tp_button {
                    background-color: #ed021e;
                    background-position: center center;
                    color: white;
                }

                .arrow-down {
                    display: block;
                }

                &.teacher .arrow-down {
                    margin-left: 22px;
                }

                &.pupil .arrow-down {
                    margin-left: 22px;
                }

                &.student .arrow-down {
                    margin-left: 22px;
                }

                .wcag-selected {
                    display: inline;
                }

                .wcag-pick {
                    display: none;
                }
            }

            .tp_button {
                display: block;
                width: 83px;
                height: 84px;
                background-position: center 12px;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            .arrow-down {
                display: none;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 15px solid #ed021e;
            }

            .pupil .tp_button {
                background-image: url('/Images/pupil.png');
            }

            .pupil.selected .tp_button {
                background-image: url('/Images/pupil.png');
            }

            .teacher .tp_button {
                background-image: url('/Images/teacher.png');
            }

            .teacher.selected .tp_button {
                background-image: url('/Images/teacher.png');
            }

            .student .tp_button {
                background-image: url('/Images/teacher.png');
            }

            .student.selected .tp_button {
                background-image: url('/Images/teacher.png');
            }

            .scenariusze .tp_button {
                background-image: url('/Images/scenariusze_black.png');
            }


            .clipboard {
                padding: 25px 26px 0 13px;
                vertical-align: top;

                a {
                    display: inline-block;
                    color: #ed021e;
                    font-weight: bold;
                    background-image: url('/Images/ulu_30px.png');
                    background-repeat: no-repeat;
                    width: 50px;
                    height: 38px;
                    text-align: center;
                    line-height: 42px;
                }
            }

            .separator {
                font-weight: lighter;
                font-size: 44px;
                color: #bbb;
                vertical-align: top;
            }

            .smsearch {
                padding: 25px 25px 0 25px;
                vertical-align: top;
            }

            &.grayscale {
                .clipboard a {
                    color: black;
                }

                .arrow-down {
                    border-top-color: black;
                }

                .selected span {
                    background-color: black;
                }
            }
        }
    }
}
*/
.login_reload {
  position: fixed;
  z-index: 10001;
  display: none;
  padding: 5px 30px 5px 30px;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background-color: black;
  opacity: 0.75;
  color: white;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}
.login_reload .link_img {
  display: inline-block;
}
.text-danger {
  color: red;
}
.Ok {
  color: green;
}
.EmailShare {
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  background: transparent;
  z-index: -100;
  transition: all 0s;
  transition-delay: 2s;
}
.EmailShare .form-horizontal {
  width: 500px;
  height: 300px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 250px);
  background: white;
  padding: 30px;
  z-index: 1;
  transform: translatey(-300%);
  transition: all 1s;
  transition-delay: 0s;
}
.EmailShare .form-horizontal h4 {
  text-align: center;
  margin: 10px 0;
}
.EmailShare .form-horizontal .form-group div {
  width: 100%;
}
.EmailShare .form-horizontal .form-group div input,
.EmailShare .form-horizontal .form-group div textarea {
  max-width: 100%;
  resize: none;
  padding-bottom: 20px;
  font-size: 18px;
  width: 100%;
  line-height: 120%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  text-align: center;
  color: black;
}
.EmailShare .form-horizontal .button {
  font-size: 25px;
  margin: 5px 35px;
  display: inline-block;
  float: right;
}
.EmailShare .form-horizontal .send {
  float: left;
}
.EmailShare .form-horizontal .send a {
  float: left;
}
.EmailShare .background {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: gray;
  transition: all 1s;
  transition-delay: 1s;
}
.EmailShareDisplay {
  z-index: 10;
  opacity: 1;
  transition-delay: 0s;
}
.EmailShareDisplay .form-horizontal {
  transform: translatey(0);
  transition-delay: 1s;
}
.EmailShareDisplay .background {
  transition-delay: 0s;
  opacity: 0.95;
}
.container {
  /*position: relative;*/
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100%;
}
.container .footer {
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.container .other {
  position: static;
  vertical-align: inherit;
  margin-top: 165px;
  /*transform: translateX(-118px);
        padding-left: 118px;
        width: calc(100% + 118px);*/
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
  height: 100%;
}
@media (max-width: 1279px) {
  .container .other {
    transition-delay: 0s;
    margin-top: 60px;
  }
  .container .footer {
    transition-delay: 0s;
  }
  .container .content {
    padding: 0 50px 266px px 50px;
  }
  .container .content .footer {
    /*bottom: 88px;*/
  }
  .container .menu {
    /*margin: 0 30px 5px 14px;*/
  }
}
@media (min-width: 1280px) {
  .container .other {
    margin-top: 135px;
  }
  .container .content .page_body .submenu-mobile {
    /*max-width: calc(100% - 20px);
                        transform: translateX(20px);*/
    transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .container .content .page_body .header {
    /*width: calc(100% - 60px);
                        transform: translateX(60px);*/
    transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
@media (max-width: 1279px) {
  .containerOpen .other,
  .containerOpen .footer {
    transition-delay: 0.5s !important;
  }
}
body.popup-active.show-fade:before {
  opacity: 0.8;
}
body.popup-active {
  overflow: hidden;
}
body.popup-active:before {
  width: 100%;
  height: 100%;
  transition: all 500ms;
  position: fixed;
  content: " ";
  background-color: white;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 101;
}
body .splash {
  display: none;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 25px;
  color: white;
  z-index: 103;
  position: fixed;
}
body.loading:before {
  position: fixed;
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  transition: all 300ms;
  left: 0;
  top: 0;
  z-index: 102;
  background: url("/Images/loading.gif") center center no-repeat white;
  filter: invert(1);
  opacity: 0.5;
}
body.loading .splash {
  display: inline;
}
body.black:before {
  opacity: 1;
}
.CookiePopup {
  position: fixed;
  background: #555;
  padding: 15px 50px 15px;
  border-top: 1px solid red;
  bottom: 0;
  /* opacity: 0.7; */
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  z-index: 10;
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  margin: 0 4% 15px;
}
.CookiePopup .MoreCookie {
  font-weight: bold;
}
.Live {
  animation: Live 2s linear infinite 0s;
}
.Live,
.Vod {
  background: #ed2024;
  padding: 4px;
  color: white;
  margin: 0 2px;
}
.Vod {
  margin-left: 4px;
}
.Close {
  text-align: center;
  display: block;
  margin-top: 0px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
}
.Close .Btn {
  /*left: 50%;*/
  box-sizing: border-box;
  display: block;
  top: 13px;
}
.Close .Btn:before {
  transform: rotate(-50deg);
}
.Close .Btn:after {
  transform: rotate(50deg);
}
.Close .Btn:before,
.Close .Btn:after {
  cursor: pointer;
  border-radius: 1px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  width: 25px;
  height: 1px;
}
.receiver-toggle li {
  display: table-cell;
}
.receiver-toggle .selected .tp_button {
  background-color: #b8b8b3;
  background-position: center center;
  color: white;
}
.receiver-toggle .selected .wcag-selected {
  display: inline;
}
.receiver-toggle .selected .wcag-pick {
  display: none;
}
.receiver-toggle .tp_button {
  display: block;
  cursor: pointer;
}
.Anim .atdsplayer .atdsplayer-btn-play-big {
  animation-name: pulse-play-anim-btn;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: 0;
}
.Anim .atdsplayer .atdsplayer-btn-play-big:before {
  opacity: 1;
}
@media (max-width: 768px) {
  .Anim .atdsplayer .atdsplayer-btn-play-big {
    height: 35px;
    width: 35px;
  }
}
.Anim .atdsplayer .atdsplayer-btn-play-big.hidden {
  display: none;
}
.Anim .atdsplayer .atdsplayer-spinner {
  opacity: 0.4;
  height: 30px;
  width: 30px;
  margin: -15px 0;
}
.Anim .atdsplayer .atdsplayer-spinner:before {
  height: 30px;
  width: 30px;
}
.Anim .video-js .vjs-big-play-button {
  animation-name: pulse-play-anim-btn;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
.Anim .play-animation {
  animation-name: play-first;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.Anim .play-animation .alogo {
  animation-name: play-anim-logo;
  animation-delay: 2s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.Anim .play-animation .napis {
  animation-name: napis-anim;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.Anim .play-animation .btn {
  animation-name: play-anim-btn;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.Anim .play-animation .btn .btn-back-color {
  /*
                animation-delay: 2s;
                animation-name: play-anim-btn-pulse;
                animation-duration: 5s;
                animation-iteration-count: infinite;

                div {
                    animation-name: background;
                    animation-delay: 3s;
                    animation-duration: 1s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }
                    */
}
.Anim .play-animation .btn .btn-img {
  animation-delay: 2s;
  animation-name: play-anim-btn-pulse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.Anim .Animacja .Kontener {
  display: block;
}
.login-frame {
  /*   position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 700px;
    height: 700px;
    z-index: 10000;
    padding: 30px;*/
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  transform: none;
  max-width: 500px;
  max-height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
}
.login-frame iframe {
  min-width: 300px;
  height: 100%;
  width: 100%;
}
.login-frame a {
  /*position: absolute;*/
  /*        top: 0;
        right: 10px;*/
  width: 20px;
  /*top: 30px;
        right: 20px;*/
  float: right;
}
.LockLogin {
  top: 6px !important;
  height: 25px !important;
  margin-left: 10px;
}
.topMenu {
  top: 0;
  left: 0;
  right: 0;
  z-index: 13;
  position: fixed;
  max-height: 51px;
  overflow: hidden;
  transition: all 1s;
}
.topMenu .bold {
  font-weight: bold;
  color: red;
}
.topMenu .Left {
  padding: 10px 15px 0;
}
.topMenu .Left .ham {
  /*            position: relative;
            width: 30px;
            height: 30px;
            display: inline-block;
            overflow: hidden;
            margin-right: 15px;*/
  position: relative;
  top: 0;
  left: 0;
  z-index: 300;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
  /*&:hover {
                div {
                    &:before {
                        width: 15px;
                    }

                    &:after {
                        margin-left: 15px;
                    }
                }
            }*/
}
.topMenu .Left .ham div,
.topMenu .Left .ham div:before,
.topMenu .Left .ham div:after {
  /*                cursor: pointer;
                border-radius: 1px;
                background: white;
                transition: all 0.55s;
                position: relative;
                display: block;
                content: '';
                width: 25px;
                height: 0.05em;
                box-sizing: border-box;*/
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: white;
  opacity: 1;
  transition: transform 0.55s ease-in-out 0s, right 0.55s ease-in-out 0s, top 0.5s ease-in-out 0s, width 0.45s ease-in-out 0s;
  margin-right: 20px;
}
.topMenu .Left .ham div {
  top: 50%;
  transform: translateY(-50%);
}
.topMenu .Left .ham div:before {
  top: -8px;
}
.topMenu .Left .ham div:after {
  top: 8px;
}
.topMenu .Left .ham div:before,
.topMenu .Left .ham div:after {
  width: 25px;
}
.topMenu .Left .ham.MainLink {
  width: auto;
}
.topMenu .Left img {
  max-width: 150px;
}
.topMenu .scroll {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  background: black;
}
.topMenu .scroll > *:not(:first-child) {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  display: none;
  border: none;
}
.topMenu .scroll * > ul > li {
  /*padding: 5px 30px;*/
  border-bottom: 1px solid black;
  position: relative;
}
.topMenu .scroll * > ul > li > a,
.topMenu .scroll * > ul > li > span {
  display: block;
}
.topMenu .scroll * > ul > li i {
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 20px;
  transform: translateY(50%);
  pointer-events: none;
}
.topMenu .scroll * > ul > li ul {
  margin-left: 25px;
  color: black;
  transition: all 0.5s ease;
  left: 0;
  border: none;
}
.topMenu .scroll * > ul > li ul > li {
  border: none;
}
.topMenu .scroll ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.topMenu .scroll ul li {
  /*display: inline-block;*/
  cursor: pointer;
  text-transform: uppercase;
  background: #2C2C2C;
  color: white;
}
.topMenu .scroll ul li li:hover > span,
.topMenu .scroll ul li li:hover > a {
  border-bottom: 1px solid;
  text-decoration: none;
}
.topMenu .scroll ul > li {
  /*color: black;*/
}
.topMenu .scroll ul > li > a,
.topMenu .scroll ul > li > span {
  padding: 15px 40px;
}
.topMenu .scroll ul > li .fa-caret-up {
  display: none;
}
.topMenu .scroll ul > li.Show {
  color: red;
}
.topMenu .scroll ul > li.Show .fa-caret-up {
  display: inline-block;
}
.topMenu .scroll ul > li.Show .fa-caret-down {
  display: none;
}
.topMenu .scroll ul > li.Show ul {
  max-height: 1000px;
  visibility: visible;
  opacity: 1;
  display: block;
}
.topMenu .scroll ul > li ul {
  overflow: hidden;
  max-height: 0;
}
.topMenu .Bottom {
  grid-row: 2/4;
}
.topMenu .Right {
  /*grid-row: ~"3/4";*/
}
.topMenu .Right ul li {
  text-transform: lowercase !important;
}
.topMenu .Right ul li.clipboard,
.topMenu .Right ul li.sklep {
  position: relative;
}
.topMenu .Right ul li.clipboard .clipboard-text,
.topMenu .Right ul li.sklep .clipboard-text,
.topMenu .Right ul li.clipboard .sklep-text,
.topMenu .Right ul li.sklep .sklep-text {
  display: inline-block;
  position: relative;
}
.topMenu .Right ul li.clipboard .clipboard-text .sklep-img,
.topMenu .Right ul li.sklep .clipboard-text .sklep-img,
.topMenu .Right ul li.clipboard .sklep-text .sklep-img,
.topMenu .Right ul li.sklep .sklep-text .sklep-img,
.topMenu .Right ul li.clipboard .clipboard-text .js-clpb-counter,
.topMenu .Right ul li.sklep .clipboard-text .js-clpb-counter,
.topMenu .Right ul li.clipboard .sklep-text .js-clpb-counter,
.topMenu .Right ul li.sklep .sklep-text .js-clpb-counter {
  text-align: center;
  /*position: absolute;*/
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 1px 0 0;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  color: #fff;
  opacity: 1;
  background-color: #f41414;
  transition: opacity 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s, top 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0.3s;
  line-height: 17px;
  display: block;
  float: right;
  margin-left: 10px;
}
.topMenu .Right ul li.clipboard .clipboard-img,
.topMenu .Right ul li.sklep .clipboard-img {
  display: inline-block;
}
.topMenu.Show {
  max-height: 100%;
  overflow: auto;
}
.topMenu.Show .scroll {
  overflow: auto;
}
.topMenu.Show .scroll > *:not(:first-child):not(script):not(.fake):not(.fake2):not(.share) {
  visibility: visible;
  opacity: 1;
  display: block;
}
.topMenu.Show .Left a div {
  width: 0;
}
.topMenu.Show .Left a div:before {
  transform: rotate(-405deg) !important;
  /*width: 25px;
                        top: auto;
                        bottom: 0;*/
  transform: rotate(-45deg);
}
.topMenu.Show .Left a div:after {
  transform: rotate(405deg) !important;
  /*margin-left: 0;
                        bottom: 0;*/
  /*transform: rotate(45deg);*/
}
.topMenu.Show .Left a div:before,
.topMenu.Show .Left a div:after {
  top: 0;
  width: 30px;
}
.topMenu .share {
  padding: 0;
  opacity: 0;
  display: block;
  visibility: visible;
  background: #2C2C2C;
}
.topMenu .share ul {
  text-align: center;
  display: block;
  margin: auto;
  /*width: 300px;*/
}
.topMenu .share ul li {
  display: inline-block;
  /*padding: 5px 15px;*/
  border-bottom: none;
}
.topMenu .share ul li a {
  padding: 15px 27px;
}
.topMenu .share ul li a i {
  position: static;
  transform: none;
}
.topMenu .share > a {
  display: none;
}
.topMenu .fake,
.topMenu .fake2 {
  height: 30px;
  transform-origin: top center;
  background: #2C2C2C;
}
@media (min-width: 700px) {
  .topMenu .scroll {
    grid-template-columns: 225px auto;
    background: black;
    height: auto !important;
    position: static;
  }
  .topMenu .scroll .Left {
    padding: 10px 0 0 10px;
  }
  .topMenu .scroll .Bottom {
    grid-column: 1/3;
    grid-row: auto;
    background: transparent;
  }
  .topMenu .scroll .Right {
    visibility: visible;
    opacity: 1;
    display: block;
    margin: 0;
    font-size: 14px;
    margin-right: 5px;
    text-align: right;
  }
  .topMenu .scroll .Right > ul > li {
    cursor: pointer;
    padding: 5px 8px;
    height: 55px;
    display: inline-block;
    position: relative;
    color: white;
    border: none;
    background: transparent !important;
    opacity: 1;
    transform: none;
  }
  .topMenu .scroll .Right > ul > li i {
    display: none !important;
  }
  .topMenu .scroll .Right > ul > li.clipboard .js-clpb-counter,
  .topMenu .scroll .Right > ul > li.sklep .js-clpb-counter,
  .topMenu .scroll .Right > ul > li.clipboard .sklep-img,
  .topMenu .scroll .Right > ul > li.sklep .sklep-img {
    top: -10px;
    position: absolute;
    right: -18px;
  }
  .topMenu .scroll .Right > ul > li.clipboard .sklep-opis,
  .topMenu .scroll .Right > ul > li.sklep .sklep-opis {
    display: none;
  }
  .topMenu .scroll .Right > ul > li.clipboard ion-icon,
  .topMenu .scroll .Right > ul > li.sklep ion-icon {
    font-size: 19px;
  }
  .topMenu .scroll .Right > ul > li ul {
    color: black;
    position: absolute;
    transition: all 0.5s ease;
    left: unset;
    right: 0;
    margin-left: 0;
    font-weight: normal;
    z-index: 10;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    background: transparent;
  }
  .topMenu .scroll .Right > ul > li ul:before {
    content: " ";
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    display: block;
    background: #2C2C2C;
    opacity: 0.75;
  }
  .topMenu .scroll .Right > ul > li ul li {
    padding: 0;
    display: list-item;
    height: auto;
    white-space: nowrap;
    text-align: center;
    color: white;
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  .topMenu .scroll .Right > ul > li ul li a {
    padding: 5px;
    border-bottom: 1px solid transparent;
  }
  .topMenu .scroll .Right > ul > li:hover {
    color: red !important;
  }
  .topMenu .scroll .Right > ul > li:hover > ul {
    max-height: 1000px;
    padding: 5px;
  }
  .topMenu .scroll .Right > ul > li:hover li:hover {
    color: red !important;
    border-bottom: 1px solid red;
  }
  .topMenu .scroll .Right > ul > li a {
    display: block;
    text-decoration: none;
    padding: 10px;
  }
  .topMenu .scroll .share {
    visibility: visible;
    opacity: 1;
    display: block;
    position: absolute;
    right: 0px;
    width: 55px;
    padding: 0;
    top: 50px;
    background: transparent;
    transform: none;
    background: lightgray;
    color: black;
  }
  .topMenu .scroll .share ul {
    display: inline-block;
    position: relative;
    /*right: -60px;*/
    transition: 0.5s all;
    width: auto;
    top: 50px;
    position: absolute;
    max-height: 0;
    overflow: hidden;
  }
  .topMenu .scroll .share ul li {
    display: list-item;
    opacity: 1;
    padding: 0;
    background-color: #2C2C2C;
  }
  .topMenu .scroll .share ul li a {
    display: block;
    width: 55px;
    padding: 0;
  }
  .topMenu .scroll .share ul li a i {
    color: white;
    position: static;
    font-size: 25px;
    padding: 10px 15px;
    transform: none;
  }
  .topMenu .scroll .share a.showShare {
    background-color: #2C2C2C;
    color: white;
    font-size: 25px;
    padding: 10px 15px 0px 15px;
    display: inline-block;
    vertical-align: top;
  }
  .topMenu .scroll .share:hover > a {
    animation: invert 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  .topMenu .scroll .share:hover li a {
    color: black;
  }
  .topMenu .scroll .share:hover li:hover {
    animation: invert 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1;
  }
  .topMenu .scroll .share:hover a .showShare {
    right: 55px;
  }
  .topMenu .scroll .share:hover ul {
    right: 0;
    max-height: 1000px;
  }
  .topMenu.Show .share {
    display: none !important;
  }
  .topMenu .fake,
  .topMenu .fake2 {
    display: none;
  }
}
@media (min-width: 1279.5px) {
  .topMenu {
    background: black;
    max-height: none !important;
    overflow: visible;
  }
  .topMenu .scroll {
    display: grid;
    grid-template-columns: 310px auto;
    color: white;
    background: black;
    padding: 15px 65px 0 0px;
    overflow: visible !important;
  }
  .topMenu .scroll .Left {
    margin-left: 65px;
  }
  .topMenu .scroll .Left img {
    max-width: 236px;
  }
  .topMenu .scroll .Left a {
    display: none;
  }
  .topMenu .scroll .Left a.MainLink {
    display: inline-block;
    width: auto;
    height: auto;
  }
  .topMenu .scroll ul li {
    display: inline-block;
    cursor: pointer;
  }
  .topMenu .scroll > ul > li {
    background: transparent !important;
  }
  .topMenu .scroll .Right {
    text-align: right;
    margin-right: 10px;
  }
  .topMenu .scroll .Right ul > li {
    padding: 5px 10px;
    height: 55px;
    display: inline-block;
    position: relative;
  }
  .topMenu .scroll .Right ul > li i {
    display: none !important;
  }
  .topMenu .scroll .Right ul > li.sklep a {
    text-decoration: none;
    padding-right: 40px;
  }
  .topMenu .scroll .Right ul > li.sklep .sklep-text {
    display: inline-block;
  }
  .topMenu .scroll .Right ul > li.sklep .sklep-text:hover {
    text-decoration: underline !important;
  }
  .topMenu .scroll .Right ul > li.sklep a {
    padding: 0;
  }
  .topMenu .scroll .Right ul > li.sklep a ion-icon {
    font-size: 28px;
  }
  .topMenu .scroll .Bottom {
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    visibility: visible;
    opacity: 1;
    display: block;
    background: black;
    position: static;
  }
  .topMenu .scroll .Bottom * {
    text-decoration: none;
  }
  .topMenu .scroll .Bottom nav {
    font-family: monospace;
  }
  .topMenu .scroll .Bottom ul li {
    color: #fff;
    display: inline-block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    background: black;
    opacity: 1;
  }
  .topMenu .scroll .Bottom ul li i {
    display: none !important;
  }
  .topMenu .scroll .Bottom ul li > span,
  .topMenu .scroll .Bottom ul li > a {
    padding: 10px 15px;
    color: white;
  }
  .topMenu .scroll .Bottom ul li ul {
    margin-left: 10px;
    color: black;
    min-width: 11rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    z-index: 1;
    max-height: 0px;
    visibility: visible;
    display: block;
    opacity: 1;
    overflow: hidden;
  }
  .topMenu .scroll .Bottom ul li ul:before {
    content: " ";
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    display: block;
    background: #2C2C2C;
    opacity: 0.75;
  }
  .topMenu .scroll .Bottom ul li ul:hover,
  .topMenu .scroll .Bottom ul li ul:focus {
    /*visibility: visible;
                                opacity: 1;
                                display: block;*/
  }
  .topMenu .scroll .Bottom ul li ul li {
    float: none;
    background: transparent;
    width: 100%;
    padding: 0px;
  }
  .topMenu .scroll .Bottom ul li ul li a {
    color: white;
    padding: 5px;
    border-bottom: 1px solid transparent;
  }
  .topMenu .scroll .Bottom ul li ul li:hover a {
    border-bottom: 1px solid red;
  }
  .topMenu .scroll .Bottom ul li:hover {
    border: none;
  }
  .topMenu .scroll .Bottom ul li:hover > a {
    /*background-color: white;*/
    color: red;
  }
  .topMenu .scroll .Bottom ul li:hover > ul {
    padding: 5px;
    max-height: 1000px;
  }
  .topMenu .scroll .Bottom ul li:focus-within {
    cursor: pointer;
  }
  .topMenu .scroll .Bottom ul li:focus-within > ul {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .topMenu .scroll .Bottom ul li:focus-within a {
    outline: none;
  }
  .topMenu .scroll .Bottom > ul > li {
    border-bottom: 1px solid;
  }
  .topMenu .scroll .Bottom > ul > li:hover {
    border-bottom: 1px solid;
  }
  .topMenu .scroll .Bottom .bold {
    font-weight: bold;
  }
  .topMenu .scroll .share {
    top: 87px;
    animation-name: shareAnim;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    transform: translateX(100%);
  }
}
.breadcrumbs-block {
  color: white;
  margin-left: 65px;
  text-transform: uppercase;
  font-size: 12px;
}
.breadcrumbs-block .breadcrumb {
  display: inline-block;
}
.LessonOption a {
  background: white;
  background-color: white;
  padding: 10px 15px 10px 15px;
  display: inline-block;
  vertical-align: top;
  min-width: 55px;
}
.LessonOption a span {
  margin-left: 5px;
}
.LessonOption a:hover {
  background-color: lightgray !important;
}
@media (min-width: 1280px) {
  .LessonOption {
    position: fixed;
    left: 0;
    top: 25%;
    width: 55px;
  }
  .LessonOption a {
    font-size: 25px;
  }
  .LessonOption a span {
    display: none;
  }
}
ion-icon {
  pointer-events: none;
}
@keyframes invert {
  0% {
    -webkit-filter: invert(0);
    opacity: 1;
  }
  100% {
    -webkit-filter: invert(1);
  }
}
@keyframes shareAnim {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.atdsplayer {
  width: 100%;
  height: 100%;
}
.topMenu .menu {
  position: relative;
  text-align: center;
  display: inline-block;
  margin-top: 0px;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear, fill 0.2s linear, opacity 0.2s linear, border-color 0.2s linear;
  width: 25px;
  height: 25px;
  margin: 0 10px 4px 0;
  overflow: hidden;
  /*&:hover {
        .menuHam {
            &:before {
                width: 15px;
            }

            &:after {
                margin-left: 15px;
            }
        }
    }*/
}
.topMenu .menu .menuHam {
  /*left: 50%;*/
  box-sizing: border-box;
  display: block;
  top: 13px;
}
.topMenu .menu .menuHam:before {
  top: -8px;
}
.topMenu .menu .menuHam:after {
  bottom: -8px;
}
.topMenu .menu .menuHam,
.topMenu .menu .menuHam:before,
.topMenu .menu .menuHam:after {
  cursor: pointer;
  border-radius: 1px;
  background: white;
  transition: all 0.55s;
  position: relative;
  display: block;
  content: '';
  width: 25px;
  height: 0.05em;
}
.topMenu.Show .menuHam {
  background-color: transparent;
}
.topMenu.Show .menuHam:before {
  backface-visibility: hidden;
  top: 0px !important;
  transform: rotate(-410deg) !important;
}
.topMenu.Show .menuHam:after {
  backface-visibility: hidden;
  transform: rotate(410deg) !important;
  bottom: 1px !important;
}
.topMenu.Show:hover .menuHam:before {
  width: 25px;
}
.topMenu.Show:hover .menuHam:after {
  margin-left: 0px;
}
@media (max-width: 768px) {
  .topMenu .MainLink {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}