﻿/**/
.submenu {
  background-color: white;
}
.submenu .arrow-up {
  border-bottom-color: #f2f2f2;
  left: 30px;
}
.filter {
  background-color: #e3a6b6;
}
.subcat-rec {
  background-color: #ebebeb;
}