﻿/**/
.submenu {
  background-color: #fff;
  padding: 0 50px 0px 35px;
}
.submenu .arrow-up {
  border-bottom-color: #f2f2f2;
  left: 30px;
}
.submenu .smleft {
  float: right;
  padding-right: 30px;
}
.submenu .smleft .Logo {
  padding: 0 10px !important;
}
.submenu .smleft .Logo img {
  height: 60px;
  top: 6px;
}
.submenu .smright {
  float: left;
  right: auto;
}
.submenu .smright li a {
  margin: 4px 10px;
}
.submenu .smright .Image {
  position: relative;
  top: -2px;
  font-size: 20px;
}
@media (max-width: 1370px) {
  .submenu {
    /*.smright {
            .Image {
                top: -5px;
            }
        }*/
  }
  .submenu .smleft {
    padding-right: 0;
  }
  .submenu .smleft .Logo {
    padding: 0 !important;
  }
}
.submenu-mobile .sm-inner {
  float: right;
}
@media (max-width: 1050px) {
  .submenu-mobile .sm-inner {
    float: none;
  }
}
.submenu-mobile .midsmart-receiver-toggle {
  float: none;
}
.filter {
  background-color: #f2f2f2;
}
.subcat-rec {
  background-color: #ebebeb;
}
@media (max-width: 1050px) {
  .submenu-mobile {
    text-align: center;
  }
  .submenu-mobile .sm-inner {
    display: block;
  }
  .submenu-mobile .midsmart-receiver-toggle {
    float: none;
    display: inline-block;
    padding: 0;
  }
}
@media (max-width: 700px) {
  .submenu-mobile .midsmart-receiver-toggle {
    padding-left: 0;
    padding-right: 0;
  }
}