/**/
.submenu {
    background-color: #fff;
    padding: 0 50px 0px 35px;

    .arrow-up {
        border-bottom-color: #f2f2f2;
        left: 30px;
    }

    .smleft {
        float: right;
        padding-right: 30px;

        .Logo {
            padding: 0 10px !important;

            img {
                height: 60px;
                top: 6px;
            }
        }
    }

    .smright {
        float: left;
        right: auto;

        li {
            a {
                margin: 4px 10px
            }
        }

        .Image {
            position: relative;
            top: -2px;
            font-size: 20px;
        }
    }

    @media(max-width:1370px) {
        .smleft {
            padding-right: 0;

            .Logo {
                padding: 0 !important;
            }
        }
        /*.smright {
            .Image {
                top: -5px;
            }
        }*/
    }
}

.submenu-mobile {
    .sm-inner {
        float: right;

        @media(max-width:1050px) {
            float: none;
        }
    }

    .midsmart-receiver-toggle {
        float: none;
    }
}

.filter {
    background-color: #f2f2f2;
}

.subcat-rec {
    background-color: #ebebeb;
}

@media(max-width:1050px) {
    .submenu-mobile {
        text-align: center;

        .sm-inner {
            display: block;
        }

        .midsmart-receiver-toggle {
            float: none;
            display: inline-block;
            padding: 0;
        }
    }
}

@media(max-width:700px) {
    .submenu-mobile {

        .midsmart-receiver-toggle {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
