﻿body {

    .Collection {
        display: grid;
        grid-template-columns: 400px 500px auto;
        grid-template-rows: 400px;
        margin-top: 80px;

        .left {
            .priceLabel {
                background: white;
                padding: 10px;
                margin-top: 10px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                position: absolute;
                left: 5px;
                bottom: 5px;
                right: 5px;
            }

            .UpperName {
                position: absolute;
                left: 25px;
                background: white;
                padding: 5px;
            }
        }

        .center {
            color: white;
            padding: 20px;
            overflow: auto;

            .Playlist {
                display: grid;
                grid-template-columns: auto auto;

                a {
                    text-decoration: underline;
                }
            }
        }

        .Right {
            background: white;
            display: grid;
            grid-template-columns: auto 200px;
            padding: 0 20px 20px;
            overflow: auto;

            .Polecane {
                .Lasted {
                    ul {
                        display: grid;
                        grid-template-columns: auto;
                        grid-gap: 10px;

                        li {
                            grid-column-start: auto;
                            grid-column-end: auto;
                            grid-row-start: auto;
                            grid-row-end: auto;
                        }
                    }
                }
            }
        }

        @media(max-width:1550px) and (min-width:999px) {
            grid-template-columns: 400px auto;
            grid-template-rows: 400px auto;

            .Right {
                grid-column-start: 1;
                grid-column-end: 3;
                margin-top: 10px;
            }
        }

        @media(max-width:998px) {
            grid-template-columns: auto;
            grid-template-rows: auto;

            .Right {
                margin-top: 10px;
                display: block;

                .Polecane {
                    .Lasted {
                        ul {
                            grid-template-columns: 1fr 1fr;

                            li {
                            }
                        }
                    }
                }
            }

            .left {
                .UpperName {
                    left: calc((100% - 400px)/2 + 20px);
                }

                img {
                    width: 400px;
                    margin-left: calc((100% - 400px)/2);
                }
            }
        }

        @media(max-width:419px) {
            .left {
                width: 100%;

                img {
                    width: 100%;
                    margin-left: 0;
                }

                .UpperName {
                    left: 20px;
                }
            }
        }

        @media(max-width:344px) {
            .left {
                width: 300px;
            }
        }
    }
}
