﻿body .Collection {
  display: grid;
  grid-template-columns: 400px 500px auto;
  grid-template-rows: 400px;
  margin-top: 80px;
}
body .Collection .left .priceLabel {
  background: white;
  padding: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  left: 5px;
  bottom: 5px;
  right: 5px;
}
body .Collection .left .UpperName {
  position: absolute;
  left: 25px;
  background: white;
  padding: 5px;
}
body .Collection .center {
  color: white;
  padding: 20px;
  overflow: auto;
}
body .Collection .center .Playlist {
  display: grid;
  grid-template-columns: auto auto;
}
body .Collection .center .Playlist a {
  text-decoration: underline;
}
body .Collection .Right {
  background: white;
  display: grid;
  grid-template-columns: auto 200px;
  padding: 0 20px 20px;
  overflow: auto;
}
body .Collection .Right .Polecane .Lasted ul {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}
body .Collection .Right .Polecane .Lasted ul li {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
}
@media (max-width: 1550px) and (min-width: 999px) {
  body .Collection {
    grid-template-columns: 400px auto;
    grid-template-rows: 400px auto;
  }
  body .Collection .Right {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 10px;
  }
}
@media (max-width: 998px) {
  body .Collection {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  body .Collection .Right {
    margin-top: 10px;
    display: block;
  }
  body .Collection .Right .Polecane .Lasted ul {
    grid-template-columns: 1fr 1fr;
  }
  body .Collection .left .UpperName {
    left: calc((100% - 400px)/2 + 20px);
  }
  body .Collection .left img {
    width: 400px;
    margin-left: calc((100% - 400px)/2);
  }
}
@media (max-width: 419px) {
  body .Collection .left {
    width: 100%;
  }
  body .Collection .left img {
    width: 100%;
    margin-left: 0;
  }
  body .Collection .left .UpperName {
    left: 20px;
  }
}
@media (max-width: 344px) {
  body .Collection .left {
    width: 300px;
  }
}