﻿.def_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10002;
  background-color: white;
  opacity: 0;
  color: #373737;
  transform: translate(-50%, -50%);
}
.def_popup .close-button {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 17px;
  font-size: 60px;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  opacity: 0.7;
}
.def_popup .close-button:hover {
  opacity: 1;
}
.def_popup.visible {
  opacity: 1;
}
@media screen and (max-width: 500px) {
  .def_popup {
    width: 100% !important;
  }
  .def_popup .def_input {
    width: 100%;
  }
}
body.popup-active:before {
  transition: all 500ms;
  position: fixed;
  content: " ";
  background-color: white;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 101;
}
body.popup-active.show-fade:before {
  opacity: 0.6;
}
.filminfo-form {
  padding: 60px 60px 0 60px;
  display: block;
  transition: all 500ms;
}
.filminfo-form.def_popup {
  width: 700px;
}
.filminfo-form .fi-title {
  font-size: 120%;
  font-weight: bold;
  line-height: 130%;
}
.filminfo-form .fi-lead-container {
  overflow: auto;
}
.filminfo-form .footer-logo {
  position: relative;
  left: -20px;
  max-width: 100px;
}
.scenariusze-form {
  width: 700px;
  max-width: 90%;
  display: block;
  text-align: center;
  border: 1px dotted gray;
}
.scenariusze-form .scinner {
  margin: 80px 0 50px 0;
}
.scenariusze-form .scinner:before {
  content: "i";
  font-size: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  border: 1px solid black;
  display: inline-block;
}
.scenariusze-form .scinner .sctitle {
  font-size: 200%;
  display: block;
}