﻿/**/
.pozostale {
  color: white;
  margin-bottom: 76px;
}
@media (min-width: 1366px) {
  .pozostale .content,
  .pozostale .lead {
    font-size: 24px;
  }
  .pozostale .content .article-lead,
  .pozostale .lead .article-lead,
  .pozostale .content > p,
  .pozostale .lead > p,
  .pozostale .content > ul,
  .pozostale .lead > ul,
  .pozostale .content > ol,
  .pozostale .lead > ol,
  .pozostale .content > div,
  .pozostale .lead > div {
    font-size: 20px;
  }
  .pozostale .content .article-belt .field,
  .pozostale .lead .article-belt .field {
    font-size: 16px !important;
  }
  .pozostale .content .macro-picture .rb,
  .pozostale .lead .macro-picture .rb,
  .pozostale .content .mp-title,
  .pozostale .lead .mp-title {
    font-size: 16px !important;
  }
  .pozostale .content .metadata,
  .pozostale .lead .metadata {
    font-size: 16px !important;
  }
}
@media (max-width: 619px) {
  .pozostale .lead,
  .pozostale .bottom-belt,
  .pozostale .social-media,
  .pozostale .faqNns .fhead,
  .pozostale .content > p {
    padding: 0 20px;
  }
  .pozostale .faqNns .faq-single {
    padding: 22px 20px;
  }
}
@media (min-width: 620px) {
  .pozostale .faqNns .faq-single {
    padding: 22px 35px;
  }
}
.pozostale .content .kontakt {
  display: table;
}
.pozostale .content .kontakt .kontakt-left {
  display: table-cell;
}
.pozostale .content .kontakt .kontakt-right {
  display: table-cell;
  text-align: center;
}
.pozostale .content .kontakt .kontakt-right .input-container {
  background-color: #fff;
  width: 320px;
  height: 55px;
  padding: 18px 20px 0 0;
  border: 1px solid #333;
  display: block;
  margin: 20px 0;
}
.pozostale .content .kontakt .kontakt-right .input-container input[type=text],
.pozostale .content .kontakt .kontakt-right .input-container textarea {
  text-indent: 20px;
  font-size: 16px;
  width: 100%;
  border: none;
}
.pozostale .content .kontakt .kontakt-right .submit {
  border: none;
  background-color: #333;
  padding: 18px;
  display: block;
  width: 100px;
  color: white;
}