@import "settings.less";
@import "mixins.less";

.pozostale {
    color: white;
    @media (min-width: 1366px) {
        .content,
        .lead {
            font-size: 24px;

            .article-lead,
            > p,
            > ul,
            > ol,
            > div {
                font-size: 20px;
            }

            .article-belt .field {
                font-size: 16px !important;
            }

            .macro-picture .rb,
            .mp-title {
                font-size: 16px !important;
            }

            .metadata {
                font-size: 16px !important;
            }
        }
    }

    @media (max-width: (@mediabreak_smart - 1)) {
        .lead,
        .bottom-belt,
        .social-media,
        .faqNns .fhead,
        .content > p {
            padding: 0 20px;
        }

        .faqNns .faq-single {
            padding: 22px 20px;
        }
    }

    @media (min-width: @mediabreak_smart) {
        .faqNns .faq-single {
            padding: 22px 35px;
        }
    }

    margin-bottom: 76px;

    .lead {
    }

    .content {
        .kontakt {
            display: table;

            .kontakt-left {
                display: table-cell;
            }

            .kontakt-right {
                display: table-cell;
                text-align: center;

                .input-container {
                    background-color: #fff;
                    width: 320px;
                    height: 55px;
                    padding: 18px 20px 0 0;
                    border: 1px solid #333;
                    display: block;
                    margin: 20px 0;

                    input[type=text], textarea {
                        text-indent: 20px;
                        font-size: 16px;
                        width: 100%;
                        border: none;
                    }
                }

                .submit {
                    border: none;
                    background-color: #333;
                    padding: 18px;
                    display: block;
                    width: 100px;
                    color: white;
                }
            }
        }
    }
}
