﻿.filter {
  background-color: #ebebeb;
}
.submenu {
  background-color: white;
}
.js-clear-clipboard {
  text-decoration: none;
  margin-left: 20px;
  font-size: 24px;
  line-height: 34px;
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #ebebeb;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.js-clear-clipboard:hover {
  font-weight: normal;
  background-color: #fed3d3;
  text-decoration: none;
}
.js-clear-clipboard:before {
  margin-left: 11px;
  font-size: 30px;
  content: "\00D7";
}