@import "settings.less";

.search-head {
    margin-top: 40px;

    .enter {

        @media (max-width: (@mediabreak_smart - 1)) {
            padding: 0 30px;

            .desktop {
                display: none;
            }

            .smart {
                display: block;
                width: 100%;
                padding: 5px 0;
/*                background-color: black;*/
                color: white;
                text-align: center;
                font-weight: lighter;
                text-align: center;
                margin-top: 20px;
            }
        }

        @media (min-width: @mediabreak_smart) {
            .desktop {
                display: table-cell;
                padding-left: 40px;
                vertical-align: bottom;
                width: 100px;
            }

            .smart {
                display: none;
            }
        }

        display: table;
        width: 100%;
        margin-bottom: 24px;

        input[type=text] {
            display: table-cell;
            padding-bottom: 20px;
            font-size: 36px;
            line-height: 120%;
            border-top: none;
            border-left: none;
            border-right: none;
            /*border-bottom: 2px solid black;*/
            background-color: transparent;
            text-align: center;
            width: 100%;
            color: white;
        }
    }

    .res {
        color: white;

        @media (max-width: (@mediabreak_smart - 1)) {
            padding: 0 30px;
        }

        .res-label {
            font-size: 28px;
            font-weight: lighter;
        }

        .res-val {
            margin-left: 10px;
            font-size: 28px;
            font-weight: bold;
        }
    }

    .filter {
        @media (min-width: 1100px) {
        }

        @media (max-width: 1099px) {
            .combo {
                width: 100% !important;
            }

            #fltSearchType {
                margin-top: 20px;
                z-index: 10000;
            }
        }

        margin: 24px 0;
        background-color: #ebebeb;
    }

    .submit-msearch {
        filter: contrast(0) brightness(100);
    }
}

.combo {
    .list {
        ul {
            li {
                text-align: center;
            }
        }
    }
}



