﻿/**/
.search-head {
  margin-top: 40px;
}
.search-head .enter {
  display: table;
  width: 100%;
  margin-bottom: 24px;
}
@media (max-width: 619px) {
  .search-head .enter {
    padding: 0 30px;
  }
  .search-head .enter .desktop {
    display: none;
  }
  .search-head .enter .smart {
    display: block;
    width: 100%;
    padding: 5px 0;
    /*                background-color: black;*/
    color: white;
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
  }
}
@media (min-width: 620px) {
  .search-head .enter .desktop {
    display: table-cell;
    padding-left: 40px;
    vertical-align: bottom;
    width: 100px;
  }
  .search-head .enter .smart {
    display: none;
  }
}
.search-head .enter input[type=text] {
  display: table-cell;
  padding-bottom: 20px;
  font-size: 36px;
  line-height: 120%;
  border-top: none;
  border-left: none;
  border-right: none;
  /*border-bottom: 2px solid black;*/
  background-color: transparent;
  text-align: center;
  width: 100%;
  color: white;
}
.search-head .res {
  color: white;
}
@media (max-width: 619px) {
  .search-head .res {
    padding: 0 30px;
  }
}
.search-head .res .res-label {
  font-size: 28px;
  font-weight: lighter;
}
.search-head .res .res-val {
  margin-left: 10px;
  font-size: 28px;
  font-weight: bold;
}
.search-head .filter {
  margin: 24px 0;
  background-color: #ebebeb;
}
@media (max-width: 1099px) {
  .search-head .filter .combo {
    width: 100% !important;
  }
  .search-head .filter #fltSearchType {
    margin-top: 20px;
    z-index: 10000;
  }
}
.search-head .submit-msearch {
  filter: contrast(0) brightness(100);
}
.combo .list ul li {
  text-align: center;
}