﻿.forum {
    background: white;
    padding: 10px;

    .page-header {
        h1 {
            font-size: 40px;
        }
    }

    .forum-info {
        .page-header {
            font-size: 25px;
            text-align: center;
        }
    }

    .forum-intro {
        text-align: center;
    }

    .forum-posts {
        border: 1px solid black;
        margin: 0px 0 5px 0px;

        .PostsHeader {
            display: grid;
            grid-template-columns: auto 60px 180px;
            text-align: center;
        }

        .post-summay {
            display: grid;
            grid-template-columns: auto 120px 130px;
            padding: 10px;
            min-height: 125px;
            grid-gap: 50px;

            .post-title {
                padding: 10px;

                a {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .post-count {
                position: relative;
                text-align: center;

                > div {
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    width: 100%;
                }
            }

            .post-last {
                text-align: center;
                position: relative;

                > div {
                    width: 100%;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            &:nth-child(even) {
                background: #b8b9bd
            }

            @media(max-width:1280px) {
                grid-template-columns: auto 130px;

                .post-count {
                    display: none;
                }
            }
        }
    }

    .forum-list {
        .table {
            border: 1px solid black;
            margin: 0px 0 5px 0px;

            .subForumHeader {
                display: grid;
                grid-template-columns: 60px auto 105px 130px;
                text-align: center;
            }

            .subForum {
                display: grid;
                grid-template-columns: 60px auto 120px 130px;
                padding: 10px;
                min-height: 125px;
                grid-gap: 50px;

                .subForumName {
                    padding: 10px;

                    a {
                        font-size: 20px;
                    }
                }

                .subForumCount {
                    position: relative;
                    text-align: center;

                    > div {
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        width: 100%;
                    }
                }

                .subForumLast {
                    text-align: center;
                    position: relative;

                    > div {
                        width: 100%;
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }

                .iconForum {
                    line-height: 100px;
                    font-size: 40px;
                    text-align: center;
                }

                &:nth-child(even) {
                    background: #b8b9bd
                }

                .iconForum {
                    height: 100%;
                }

                @media(max-width:1280px) {
                    grid-template-columns: auto 130px;

                    .iconForum, .subForumCount {
                        display: none;
                    }
                }
            }
        }
    }

    .forum-post-thread {
        ul.forum-thread {
            list-style: none;
            padding: 0;
        }

        li.post-detail {
            margin-bottom: 2em;
            min-height: 80px;
        }

        .post-detail-info {
            display: inline-block;
            max-width: 90px;
            width: 10%;

            .post-author {
                /*                background-color: lightgray;*/
                border-radius: 0.2em;
                padding: 0.3em;
                text-align: center;
            }

            .gravatar-image {
                display: block;
                margin: 0 auto;
                max-width: 80px;
                padding-bottom: 4px;
                width: 99%;
            }
        }

        .post-detail-body {
            display: inline-block;
            padding: 0 1em;
            width: 77%;
        }

        .post-detail-meta {
            display: inline-block;
            text-align: center;
            width: 12%;
        }

        .post-detail {
            .post-author {
                font-size: 0.8em;
            }

            .post-date {
                color: #808080;
                font-size: 0.75em;
                font-weight: normal;
            }
            .table{
                td{
                    border:solid 1px black;
                    padding:10px;
                }
            }
        }

        .post-title {
            h3 {
                margin: 0;
                padding: 0;
            }
        }

        .post-body {
            border-top: 1px solid lightgray;
            padding-top: 0.5em;
        }

        .post-tools {
            list-style: none;
            padding: 1.2em 0 0;
            text-align: left;

            a {
                cursor: pointer;
            }
        }

        a.post-delete {
            color: darkred;
        }

        a.post-edit {
            color: darkgreen;
        }
    }


    .form-group {
        margin: 10px 12% 0 90px;
        /*        border-top: 1px solid;*/
        padding: 10px;
    }

    legend {
        margin-left: 90px;
        font-size: 20px;
    }

    .submitBTN {
        color: black;

        input {
            padding: 21px 0;
            background-color: #b8b9bd;
            border: 1px solid #b8b9bd;
            color: black;
            font-size: 18px;
            text-align: center;
            width: 33%;
            position: relative;
            left: 33%;
        }
    }
}


.Create {
    padding: 10px 30px;
    background-color: #b8b9bd;
    border: 1px solid #b8b9bd;
    color: black;
    font-size: 18px;
    text-align: center;
    /* width: 33%; */
    position: relative;
    /* left: 33%; */
    display: inline-block;
    margin-top: 10px;
}

input[type=text] {
    margin-top: 10px;
    padding-bottom: 20px;
    width: calc(100% - 54px);
    line-height: 120%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: black;
}

.SubForumHeader {
    background: #b8b9bd;
    padding: 10px;
    font-size: 20px;
}
.ck-toolbar {
    background: #b8b9bd !important;
}
.PostCount {
    font-size: 32px;
}