﻿.forum {
  background: white;
  padding: 10px;
}
.forum .page-header h1 {
  font-size: 40px;
}
.forum .forum-info .page-header {
  font-size: 25px;
  text-align: center;
}
.forum .forum-intro {
  text-align: center;
}
.forum .forum-posts {
  border: 1px solid black;
  margin: 0px 0 5px 0px;
}
.forum .forum-posts .PostsHeader {
  display: grid;
  grid-template-columns: auto 60px 180px;
  text-align: center;
}
.forum .forum-posts .post-summay {
  display: grid;
  grid-template-columns: auto 120px 130px;
  padding: 10px;
  min-height: 125px;
  grid-gap: 50px;
}
.forum .forum-posts .post-summay .post-title {
  padding: 10px;
}
.forum .forum-posts .post-summay .post-title a {
  font-size: 20px;
  font-weight: bold;
}
.forum .forum-posts .post-summay .post-count {
  position: relative;
  text-align: center;
}
.forum .forum-posts .post-summay .post-count > div {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.forum .forum-posts .post-summay .post-last {
  text-align: center;
  position: relative;
}
.forum .forum-posts .post-summay .post-last > div {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.forum .forum-posts .post-summay:nth-child(even) {
  background: #b8b9bd;
}
@media (max-width: 1280px) {
  .forum .forum-posts .post-summay {
    grid-template-columns: auto 130px;
  }
  .forum .forum-posts .post-summay .post-count {
    display: none;
  }
}
.forum .forum-list .table {
  border: 1px solid black;
  margin: 0px 0 5px 0px;
}
.forum .forum-list .table .subForumHeader {
  display: grid;
  grid-template-columns: 60px auto 105px 130px;
  text-align: center;
}
.forum .forum-list .table .subForum {
  display: grid;
  grid-template-columns: 60px auto 120px 130px;
  padding: 10px;
  min-height: 125px;
  grid-gap: 50px;
}
.forum .forum-list .table .subForum .subForumName {
  padding: 10px;
}
.forum .forum-list .table .subForum .subForumName a {
  font-size: 20px;
}
.forum .forum-list .table .subForum .subForumCount {
  position: relative;
  text-align: center;
}
.forum .forum-list .table .subForum .subForumCount > div {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.forum .forum-list .table .subForum .subForumLast {
  text-align: center;
  position: relative;
}
.forum .forum-list .table .subForum .subForumLast > div {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.forum .forum-list .table .subForum .iconForum {
  line-height: 100px;
  font-size: 40px;
  text-align: center;
}
.forum .forum-list .table .subForum:nth-child(even) {
  background: #b8b9bd;
}
.forum .forum-list .table .subForum .iconForum {
  height: 100%;
}
@media (max-width: 1280px) {
  .forum .forum-list .table .subForum {
    grid-template-columns: auto 130px;
  }
  .forum .forum-list .table .subForum .iconForum,
  .forum .forum-list .table .subForum .subForumCount {
    display: none;
  }
}
.forum .forum-post-thread ul.forum-thread {
  list-style: none;
  padding: 0;
}
.forum .forum-post-thread li.post-detail {
  margin-bottom: 2em;
  min-height: 80px;
}
.forum .forum-post-thread .post-detail-info {
  display: inline-block;
  max-width: 90px;
  width: 10%;
}
.forum .forum-post-thread .post-detail-info .post-author {
  /*                background-color: lightgray;*/
  border-radius: 0.2em;
  padding: 0.3em;
  text-align: center;
}
.forum .forum-post-thread .post-detail-info .gravatar-image {
  display: block;
  margin: 0 auto;
  max-width: 80px;
  padding-bottom: 4px;
  width: 99%;
}
.forum .forum-post-thread .post-detail-body {
  display: inline-block;
  padding: 0 1em;
  width: 77%;
}
.forum .forum-post-thread .post-detail-meta {
  display: inline-block;
  text-align: center;
  width: 12%;
}
.forum .forum-post-thread .post-detail .post-author {
  font-size: 0.8em;
}
.forum .forum-post-thread .post-detail .post-date {
  color: #808080;
  font-size: 0.75em;
  font-weight: normal;
}
.forum .forum-post-thread .post-detail .table td {
  border: solid 1px black;
  padding: 10px;
}
.forum .forum-post-thread .post-title h3 {
  margin: 0;
  padding: 0;
}
.forum .forum-post-thread .post-body {
  border-top: 1px solid lightgray;
  padding-top: 0.5em;
}
.forum .forum-post-thread .post-tools {
  list-style: none;
  padding: 1.2em 0 0;
  text-align: left;
}
.forum .forum-post-thread .post-tools a {
  cursor: pointer;
}
.forum .forum-post-thread a.post-delete {
  color: darkred;
}
.forum .forum-post-thread a.post-edit {
  color: darkgreen;
}
.forum .form-group {
  margin: 10px 12% 0 90px;
  /*        border-top: 1px solid;*/
  padding: 10px;
}
.forum legend {
  margin-left: 90px;
  font-size: 20px;
}
.forum .submitBTN {
  color: black;
}
.forum .submitBTN input {
  padding: 21px 0;
  background-color: #b8b9bd;
  border: 1px solid #b8b9bd;
  color: black;
  font-size: 18px;
  text-align: center;
  width: 33%;
  position: relative;
  left: 33%;
}
.Create {
  padding: 10px 30px;
  background-color: #b8b9bd;
  border: 1px solid #b8b9bd;
  color: black;
  font-size: 18px;
  text-align: center;
  /* width: 33%; */
  position: relative;
  /* left: 33%; */
  display: inline-block;
  margin-top: 10px;
}
input[type=text] {
  margin-top: 10px;
  padding-bottom: 20px;
  width: calc(100% - 54px);
  line-height: 120%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: black;
}
.SubForumHeader {
  background: #b8b9bd;
  padding: 10px;
  font-size: 20px;
}
.ck-toolbar {
  background: #b8b9bd !important;
}
.PostCount {
  font-size: 32px;
}