.buy_button {
    border: none;
    width: 30px;
    height: 30px;
    background-image: url('/Images/basket-plus.png');
    filter: none !important;
    top: -3px;

    &.basketadded {
        background-image: url('/Images/basket-added.png');
    }

    button {
        border: none !important;
        width: 30px;
        height: 30px;
        background-color: transparent;
    }
}




.sklep-rules {
    color: white;
    margin-top: 50px;
    >a {
        margin-right: 40px;
    }
}


.sklep-pozycja {
    color: white;
}

.sklep-regulamin {
    color: white;
}

.price-discount {
    text-decoration: line-through;
    margin-right: 5px;
}

.props {

    .props-left, .props-right {
        display: table;

        .prop-it {
            display: table-row;

            .prop-it-key {
                width: 30%;
                text-align: left;
                display: table-cell;
                padding-right: 10px;
            }

            .prop-it-val {
                width: 70%;
                text-align: left;
                display: table-cell;
            }
        }
    }

    .clear {
        clear: both;
        margin-bottom: 40px;
    }

    @media (min-width: 800px) {
        .props-left, .props-right {
            width: 48%;
        }

        .props-left {
            float: left;
        }

        .props-right {
            float: right;
        }
    }

    @media (max-width: 799px) {
        .props-left, .props-right {
            width: 80%;
            margin: 0 auto;
        }
    }
}


.pozycja-buy-button {
    background-image: url(/Images/basket-white.png);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    background-position: 220px;
    display: block;
    width: 280px;
    color: white;
    border: 1px solid #eee;
    line-height: 60px;
    padding: 0 20px 0 0;
    text-align: center;
    transition: 0.3s;
    text-decoration: none !important;
    margin: 0 auto 20px auto;

    &:hover {
        background-color: #222;
        color: white;
    }

    &:active {
        background-color: #555;        
    }
}