﻿.buy_button {
  border: none;
  width: 30px;
  height: 30px;
  background-image: url('/Images/basket-plus.png');
  filter: none !important;
  top: -3px;
}
.buy_button.basketadded {
  background-image: url('/Images/basket-added.png');
}
.buy_button button {
  border: none !important;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.sklep-rules {
  color: white;
  margin-top: 50px;
}
.sklep-rules > a {
  margin-right: 40px;
}
.sklep-pozycja {
  color: white;
}
.sklep-regulamin {
  color: white;
}
.price-discount {
  text-decoration: line-through;
  margin-right: 5px;
}
.props .props-left,
.props .props-right {
  display: table;
}
.props .props-left .prop-it,
.props .props-right .prop-it {
  display: table-row;
}
.props .props-left .prop-it .prop-it-key,
.props .props-right .prop-it .prop-it-key {
  width: 30%;
  text-align: left;
  display: table-cell;
  padding-right: 10px;
}
.props .props-left .prop-it .prop-it-val,
.props .props-right .prop-it .prop-it-val {
  width: 70%;
  text-align: left;
  display: table-cell;
}
.props .clear {
  clear: both;
  margin-bottom: 40px;
}
@media (min-width: 800px) {
  .props .props-left,
  .props .props-right {
    width: 48%;
  }
  .props .props-left {
    float: left;
  }
  .props .props-right {
    float: right;
  }
}
@media (max-width: 799px) {
  .props .props-left,
  .props .props-right {
    width: 80%;
    margin: 0 auto;
  }
}
.pozycja-buy-button {
  background-image: url(/Images/basket-white.png);
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: 220px;
  display: block;
  width: 280px;
  color: white;
  border: 1px solid #eee;
  line-height: 60px;
  padding: 0 20px 0 0;
  text-align: center;
  transition: 0.3s;
  text-decoration: none !important;
  margin: 0 auto 20px auto;
}
.pozycja-buy-button:hover {
  background-color: #222;
  color: white;
}
.pozycja-buy-button:active {
  background-color: #555;
}