﻿body {
    .Poster {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;

        .cb-slideshow {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 0;


            li {
                span {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    color: transparent;
                    background-size: auto !important;
                    background-position: 50% 50% !important;
                    background-repeat: no-repeat !important;
                    opacity: 0;
                    z-index: 0;
                    background-size: 100% auto !important;

                    a {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;

                        .Description {
                            position: absolute;
                            left: 20px;
                            right: 20px;
                            bottom: 5%;
                            padding: 10px 10px 15px;
                            background-color: white;
                            transition: all 0.3s ease-in;
                            opacity: 0.6;
                            font-weight: bold;
                            color: black;
                            transform: scale(0.9);
                        }
                    }
                }
            }

            &:hover {
                li {
                    span {
                        a {
                            .Description {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}

.TransInfo {
    z-index: 1;
    color: white;
    transition: all 1s;
    width: 100%;
    z-index: 2;

    .ShowInfo {
        text-align: center;

        :first-child {
            display: block;
            background-color: black;
            padding: 10px;
            border: 1px solid white;
            border-radius: 3px;
        }
    }

    .baner-panel {
        visibility: collapse;
        display: inline-block;
        overflow: hidden;
        height: 0px;
        width: 1px;
        background-color: black;
        transition: all 1s;

        .trans .logo {
            position: absolute;
            right: 10px;
            top: -14px;
            width: 20%;
        }
    }

    .Close {
        opacity: 0;
        transition: all 0.55s;

        .Btn {

            &:before {
                transition: all 0.55s;
            }

            &:after {
                transition: all 0.55s;
            }
        }

        &:hover {
            .Btn {
                &:before {
                    transform: rotate(-90deg) !important;
                }

                &:after {
                    transform: rotate(0deg) !important;
                }
            }
        }
    }

    @media(max-width:699px) {
        .baner-panel {
            width: 100%;
        }
    }

    @media(max-height:599px) {
        .baner-panel {
            width: 100%;
        }
    }

    @media(min-width:700px) and (min-height:600px) {
        transform: rotate(90deg);
        position: absolute;
        bottom: calc(100% - 450px);
        right: -190px;
        width: 450px;
        padding-right: 100px;

        .Close {
            right: 120px;
        }

        .baner-panel {
            position: absolute;
            top: -135px;
            left: 174px;
            transform: rotate(-90deg);
            height: 350px;
        }
    }
}

.TransInfoOpen {

    .Close {
        opacity: 1;
    }

    .ShowInfo {
        :first-child {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .baner-panel {
        background-color: black;
        padding: 10px;
        visibility: visible;
        overflow: auto;
        border: 1px solid white;

        .trans .logo {
        }
    }

    @media(max-width:699px) {
        .baner-panel {
            height: 350px;
        }
    }

    @media(max-height:599px) {
        .baner-panel {
            height: 350px;
        }
    }

    @media(min-width:700px) and (min-height:600px) {
        right: -150px;

        .baner-panel {
            width: 100%;
            right: -200px;
            top: 97px;
            left: -50px;
        }
    }
}
