﻿body .Poster {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
body .Poster .cb-slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
body .Poster .cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: auto !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  opacity: 0;
  z-index: 0;
  background-size: 100% auto !important;
}
body .Poster .cb-slideshow li span a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
body .Poster .cb-slideshow li span a .Description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 5%;
  padding: 10px 10px 15px;
  background-color: white;
  transition: all 0.3s ease-in;
  opacity: 0.6;
  font-weight: bold;
  color: black;
  transform: scale(0.9);
}
body .Poster .cb-slideshow:hover li span a .Description {
  opacity: 0.8;
}
.TransInfo {
  z-index: 1;
  color: white;
  transition: all 1s;
  width: 100%;
  z-index: 2;
}
.TransInfo .ShowInfo {
  text-align: center;
}
.TransInfo .ShowInfo :first-child {
  display: block;
  background-color: black;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
}
.TransInfo .baner-panel {
  visibility: collapse;
  display: inline-block;
  overflow: hidden;
  height: 0px;
  width: 1px;
  background-color: black;
  transition: all 1s;
}
.TransInfo .baner-panel .trans .logo {
  position: absolute;
  right: 10px;
  top: -14px;
  width: 20%;
}
.TransInfo .Close {
  opacity: 0;
  transition: all 0.55s;
}
.TransInfo .Close .Btn:before {
  transition: all 0.55s;
}
.TransInfo .Close .Btn:after {
  transition: all 0.55s;
}
.TransInfo .Close:hover .Btn:before {
  transform: rotate(-90deg) !important;
}
.TransInfo .Close:hover .Btn:after {
  transform: rotate(0deg) !important;
}
@media (max-width: 699px) {
  .TransInfo .baner-panel {
    width: 100%;
  }
}
@media (max-height: 599px) {
  .TransInfo .baner-panel {
    width: 100%;
  }
}
@media (min-width: 700px) and (min-height: 600px) {
  .TransInfo {
    transform: rotate(90deg);
    position: absolute;
    bottom: calc(100% - 450px);
    right: -190px;
    width: 450px;
    padding-right: 100px;
  }
  .TransInfo .Close {
    right: 120px;
  }
  .TransInfo .baner-panel {
    position: absolute;
    top: -135px;
    left: 174px;
    transform: rotate(-90deg);
    height: 350px;
  }
}
.TransInfoOpen .Close {
  opacity: 1;
}
.TransInfoOpen .ShowInfo :first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.TransInfoOpen .baner-panel {
  background-color: black;
  padding: 10px;
  visibility: visible;
  overflow: auto;
  border: 1px solid white;
}
@media (max-width: 699px) {
  .TransInfoOpen .baner-panel {
    height: 350px;
  }
}
@media (max-height: 599px) {
  .TransInfoOpen .baner-panel {
    height: 350px;
  }
}
@media (min-width: 700px) and (min-height: 600px) {
  .TransInfoOpen {
    right: -150px;
  }
  .TransInfoOpen .baner-panel {
    width: 100%;
    right: -200px;
    top: 97px;
    left: -50px;
  }
}