﻿body {
    .Poster {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;

        .cb-slideshow {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 0;


            li {
                span {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    color: transparent;
                    background-size: auto !important;
                    background-position: 50% 50% !important;
                    background-repeat: no-repeat !important;
                    opacity: 0;
                    z-index: 0;
                    background-size: 100% 100% !important;
                }
            }
        }
    }
}

.TransInfo {
    z-index: 2;
    color: black;
    transition: all 1s;
    width: 100%;

    .ShowInfo {
        text-align: center;
        color: black;

        :first-child {
            display: block;
            background: white;
            padding: 10px;
            border: 1px solid white;
            border-radius: 3px;
        }
    }

    .baner-panel {
        visibility: collapse;
        display: inline-block;
        overflow: hidden;
        height: 0px;
        width: 1px;
        background: white;
        color: black;
        transition: all 1s;

        .trans .logo {
            position: absolute;
            right: 10px;
            top: -14px;
            width: 20%;            
        }
    }

    .Close {
        opacity: 0;
        transition: all 0.55s;

        .Btn {

            &:before {
                transition: all 0.55s;
                background: black;
            }

            &:after {
                background: black;
                transition: all 0.55s;
            }
        }

        &:hover {
            .Btn {
                &:before {
                    transform: rotate(-90deg) !important;
                }

                &:after {
                    transform: rotate(0deg) !important;
                }
            }
        }
    }

    @media(max-width:699px) {
        .baner-panel {
            width: 100%;
        }
    }

    @media(min-width:700px) {
        transform: rotate(90deg);
        position: absolute;
        top: calc(50% + 25px);
        right: -190px;
        width: 450px;
        padding-right: 100px;

        .Close {
            right: 120px;
        }

        .baner-panel {
            position: absolute;
            top: -135px;
            left: 174px;
            transform: rotate(-90deg);
            height: 350px;
        }
    }
}

.TransInfoOpen {

    .Close {
        opacity: 1;
    }

    .ShowInfo {
        :first-child {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .baner-panel {
        background: white;
        padding: 10px;
        visibility: visible;
        overflow: auto;

        .trans .logo {
            
        }
    }

    @media(max-width:699px) {
        .baner-panel {
            height: 350px;
        }
    }

    @media(min-width:700px) {
        right: -150px;

        .baner-panel {
            width: 100%;
            right: -200px;
            top: 97px;
            left: -50px;
        }
    }
}
.mobi{
    @media(min-width:700px){
        display:none;
    }
}
.pc{
    @media(max-width:699px){
        display:none;
    }
}



