@media (min-width: 1366px) {
    /**umb_name:Nagłówek 1*/
    .Naglowek1 {
        font-size: 34px;
    }

    /**umb_name:Nagłowek 2*/
    .Naglowek2 {
        font-size: 28px;
    }

    /**umb_name:Nagłówek 3*/
    .Naglowek3 {
        font-weight: bold;
        color: red;
    }
}
@media (max-width: 1365px) {
    /**umb_name:Nagłówek 1*/
    .Naglowek1 {
        font-size: 30px;
    }

    /**umb_name:Nagłowek 2*/
    .Naglowek2 {
        font-size: 24px;
    }

    /**umb_name:Nagłówek 3*/
    .Naglowek3 {
        font-weight: bold;
        color: red;
    }
}