﻿body {
    tree-view {
        > ul {
            margin: 0;
            padding: 0;

            li {
                span {
                    cursor: pointer;
                    user-select: none;

                    &:before {
                        content: "\2610";
                        color: black;
                        display: inline-block;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}
