﻿body tree-view > ul {
  margin: 0;
  padding: 0;
}
body tree-view > ul li span {
  cursor: pointer;
  user-select: none;
}
body tree-view > ul li span:before {
  content: "\2610";
  color: black;
  display: inline-block;
  margin-right: 6px;
}