﻿/**/
body #Welcome,
body #NoRole {
  background: #757575;
  position: fixed;
  padding: 100px;
  top: 50%;
  right: 0;
  left: 0;
  opacity: 0.9;
  z-index: 11;
  margin: 10px 4% 0;
  color: white;
  transform: translateY(-50%);
}
body #Welcome > div,
body #NoRole > div {
  /*display:table-cell;*/
  text-align: center;
}
body #Welcome .Text,
body #NoRole .Text {
  font-size: 30px;
}
body #Welcome ul,
body #NoRole ul {
  height: 100%;
  display: inline-block;
}
body #Welcome ul .teacher .tp_button,
body #NoRole ul .teacher .tp_button {
  background-image: url('/Images/teacher_white.png');
}
body #Welcome ul .pupil .tp_button,
body #NoRole ul .pupil .tp_button {
  background-image: url(/Images/pupil_white.png);
}
body #Welcome ul li,
body #NoRole ul li {
  height: 100%;
  display: table-cell;
  padding: 19px;
  cursor: pointer;
}
body #Welcome ul li .tp_button,
body #NoRole ul li .tp_button {
  display: block;
  width: 100px;
  height: 100px;
  background-position: center 12px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 100% 100%;
}
body #Welcome ul li .Who,
body #NoRole ul li .Who {
  margin-top: 10px;
  font-size: 20px;
  display: block;
}
body #Welcome ul li:hover .Who,
body #NoRole ul li:hover .Who {
  text-decoration: underline;
}
body #Welcome .buttons,
body #NoRole .buttons {
  margin-top: 100px;
  font-size: 30px;
}
@media (max-width: 1279px) {
  body #Welcome,
  body #NoRole {
    padding: 50px;
  }
  body #Welcome .buttons,
  body #NoRole .buttons {
    margin-top: 50px;
  }
}
@media (max-width: 700px) {
  body #Welcome,
  body #NoRole {
    padding: 25px;
  }
  body #Welcome .buttons,
  body #NoRole .buttons {
    margin-top: 25px;
  }
}
.waiting {
  overflow: hidden;
}
.waiting:before {
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: " ";
  z-index: 11;
  opacity: 0.7;
}