﻿@import "settings.less";

body {
    #Welcome, #NoRole {
        background: #757575;
        position: fixed;
        padding: 100px;
        top: 50%;
        right: 0;
        left: 0;
        opacity: .9;
        z-index: 11;
        margin: 10px 4% 0;
        color: white;
        transform: translateY(-50%);

        > div {
            /*display:table-cell;*/
            text-align: center;
        }

        .Text {
            font-size: 30px;
        }

        ul {
            height: 100%;
            display: inline-block;

            .teacher .tp_button {
                background-image: url('/Images/teacher_white.png');
            }

            .pupil {
                .tp_button {
                    background-image: url(/Images/pupil_white.png);
                }
            }

            li {
                height: 100%;
                display: table-cell;
                padding: 19px;
                cursor: pointer;

                .tp_button {
                    display: block;
                    width: 100px;
                    height: 100px;
                    background-position: center 12px;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    background-size: 100% 100%;
                }

                .Who {
                    margin-top: 10px;
                    font-size: 20px;
                    display: block;
                }

                &:hover {

                    .Who {
                        text-decoration: underline;
                    }
                }
            }
        }

        .buttons {
            margin-top: 100px;
            font-size: 30px;
        }

        @media(max-width:@mediabreak_desktop - 1) {
            padding: 50px;

            .buttons {
                margin-top: 50px;
            }
        }

        @media(max-width:700px) {
            padding: 25px;

            .buttons {
                margin-top: 25px;
            }
        }
    }
}

.waiting {
    &:before {
        background: black;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: " ";
        z-index: 11;
        opacity: 0.7;
    }
    overflow:hidden;
}
