﻿/**/
.submenu {
  background-color: #d1c4e9;
}
.submenu .arrow-up {
  border-bottom-color: #d1c4e9;
  left: 165px;
}
.filter {
  background-color: #d1c4e9;
}
.subcat-rec {
  background-color: #ebebeb;
}